<div class="variant-popup__container" data-js-tlh-067-variant-popup>
	<div class="variant-popup__heading-container">
		<h2 class="variant-popup__heading">
			Spare mit unseren Bundles
		</h2>
		<svg class="variant-popup__close-button" data-js-close-button width="20" height="21" viewBox="0 0 20 21" fill="none">
			<path d="M5 15.5L15 5.5M5 5.5L15 15.5" stroke="#525252" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</div>
	
	<ul class="variant-popup__variant-list {% if product.options_with_values[0].values.size > 2 %} variant-popup__variant-list--big {% endif %}" data-js-variant-list>
		{%- for option in product.options_with_values -%}
			{%- for value in option.values -%}
				{% unless forloop.first %}
					{% for variant in product.variants %}                            
						{% if variant.option1 == value %}
							{% assign variant_savings = '' %}
							{% assign variant_price = variant.price %}
							{% if variant.compare_at_price > variant.price %}
								{% assign variant_savings = variant.compare_at_price |  minus: variant.price %}
								{% assign compare_at_price_percent = variant.price |  times: 1.0 |  divided_by: variant.compare_at_price |  times: 100 |  minus: 100 | times: -1 |  round %}
							{% endif %}

							{% case request.locale.iso_code %}
								{% when 'de' %}                                                            
									{% if variant.price > 4900 %}
										{% assign free_shipping = true %}
									{% endif %}

								{% when 'at' %}                                                            
									{% if variant.price > 6900 %}
										{% assign free_shipping = true %}
									{% endif %}

								{% when 'ch' %}                                                            
									{% if variant.price > 12900 %}
										{% assign free_shipping = true %}
									{% endif %}
							{% endcase %}
						{% endif %}
					{% endfor %}

					<li 
						class="variant-popup__variant-list-item {% if forloop.index == 2 %}variant-popup__variant-list-item--selected{% endif %}"
						data-js-variant-list-item 
						{% if variant_price != blank %} data-js-price="{{ variant_price | money }}" {% endif %}
						{% if compare_at_price_percent != blank %} data-js-savings-percent="{{ compare_at_price_percent }}" {% endif %}
						{% if variant_savings != blank %} data-js-savings-amount="{{ variant_savings | money }}" {% endif %}
						data-js-option-value="{{ value | escape }}"
						{% if free_shipping != blank %} data-js-free-shipping="{{ free_shipping }}" {% endif %}
						>
							<svg class="variant-popup__circle" width="12" height="13" viewBox="0 0 12 13" fill="none">
								<circle cx="6" cy="6.5" r="5.5" fill="white"/>
								<circle cx="6" cy="6.5" r="4"/>
							</svg>
							<div class="variant-list-item__text-container">
								<p class="variant-popup__variant-prefix" data-js-option-prefix>
								</p>
								<p class="variant-popup__variant-suffix" data-js-option-suffix>
								</p>
							</div>
							<div class="variant-popup__variant-image-container" data-js-image-container data-js-src="{{ product.metafields.custom.tlh_067_variant_popup_image |  image_url: width:1000 }}">
							</div>
							{% if compare_at_price_percent != blank %}
								<p class="variant-popup__variant-savings">
									-{{ compare_at_price_percent }}%
								</p>
							{% endif %}
						</li>
				{% endunless %}
			{%- endfor -%}
		{%- endfor -%}
	</ul>
	<div class="variant-popup__usp-container">
		<h2 class="variant-popup__usp-heading">
			Deine Vorteile:
		</h2>
		<ul class="variant-popup__usps" data-js-usp-list>

		</ul>
	</div>
	<div class="variant-popup__button-container">
		<div class="Button Button--primary Button--full variant-popup__button-confirm"data-js-confirm-button data-js-selected-option-value="{{ product.options_with_values[0].values[1] }}">
			Aktualisieren & sparen
		</div>
		<div class="Button Button--secondary Button--full variant-popup__deny" data-js-deny-button data-js-selected-option-value="{{ product.options_with_values[0].values[0] }}">
			Nein, danke
		</div>
	</div>
</div>
