{%- liquid
  assign benefits_two_content = product.metafields.content.benefits.value
  assign benefits_two_items = benefits_two_content.items  
-%}

{%- if benefits_two_items.size > 0 -%}
  <section class="Section -Secondary Section--spacingNormal" data-js-tlh-058-slider>
    <div class="Container">
      <header class="SectionHeader SectionHeader--center">
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h2>
      </header>
      <div class="SectionContent">
        <div class="BenefitsTwo swiper swiper-container">
          <div class="swiper-wrapper">
            {%- for item in benefits_two_items -%}
              <div class="Benefits__Item BenefitItem swiper-slide">
                <div class="BenefitItem__Image">
                  <img
                    class="Image Image--lazyLoad Image--fadeIn"
                    src="{{ images[item.image.filename] | img_url: 'master' }}"
                    alt="{{ item.image.alt | escape }}"
                    loading="lazy"
                  >
                </div>
                <h2 class="BenefitItem__Title Heading u-h3">{{ item.title }}</h2>
                <p class="BenefitItem__Text">{{ item.text }}</p>
              </div>
            {%- endfor -%}
          </div>
        </div>
        
        <div class="swiper-pagination-benefits-two"></div>
      </div>
    </div>
  </section>
{%- endif -%}