{% assign quantity_per_unit = product.metafields.custom.usage_quantity | default: 40 %}
{% assign quantity_per_day = 1 %}

{% assign months = quantity_per_unit | divided_by: quantity_per_day | divided_by: 30 | round %}

{% case months %}
    {% when 0 %}
        {% assign months_text = "1/2 Monat" %}
    {% when 1 %}
        {% assign months_text = "1 Monat" %}
    {% else %}
        {% assign months_text = months | append: " Monate" %}
{% endcase %}

{% assign dailyUse = product.metafields.custom.tlh_060_daily_use_small %}            
{% assign roundedDailyUse = dailyUse | round %}

<div class="bs-amount-calculator-popup__bg-container" data-bs-tlh-060-popup>
    <div class="bs-amount-calculator-popup">
        <div class="bs-amount-calculator-popup__header">
            <h3 class="bs-amount-calculator-popup__title">
                Die richtige Menge finden
            </h3>
            {% render 'bs-icon-close' %}
        </div>
        <div class="bs-amount-calculator-popup__main">
            <h4 class="bs-amount-calculator-popup__main__title">
                Wie groß ist dein Hund?
            </h4>
            <div class="bs-amount-calculator-popup__image">
                <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/20241104_jb_hundegroessen_1.png?v=1730945541" alt="dog">
            </div>
            <div class="bs-amount-calculator-popup__progress-bar">
                <div class="bs-amount-calculator-popup__progress-bar__thumb">
                    <div class="bs-amount-calculator-popup__progress-bar__thumb-active"></div>
                </div>
                <div class="bs-amount-calculator-popup__progress-bar__bullet active" id="1" data-active-thumb-width="10"></div>
                <div class="bs-amount-calculator-popup__progress-bar__bullet" id="2" data-active-thumb-width="30"></div>
                <div class="bs-amount-calculator-popup__progress-bar__bullet" id="3" data-active-thumb-width="50"></div>
                <div class="bs-amount-calculator-popup__progress-bar__bullet" id="4" data-active-thumb-width="70"></div>
                <div class="bs-amount-calculator-popup__progress-bar__bullet" id="5" data-active-thumb-width="100"></div>
            </div>
            <div class="bs-amount-calculator-popup__metrics-card">
                <h5 class="bs-amount-calculator-popup__metrics-card__title">
                    Wir empfehlen dir
                </h5>
                <div class="bs-amount-calculator-popup__metrics-card__daily-amount">
                    <span class="bs-amount-calculator-popup__metrics-card__value"><span>{% if dailyUse == roundedDailyUse %}{{ roundedDailyUse }}{% else %}{{ dailyUse }}{% endif %}</span><span class="bs-amount-calculator-popup__metrics-card__unit">Stück</span></span>
                    <span>pro Tag</span>
                </div>
                <span class="bs-amount-calculator-popup__metrics-card__info">1 Dose reicht für ca. <span>{{ months_text }}</span></span>
            </div>
        </div>
    </div>
</div>

<script>
    const dailyUnit = {{ product.metafields.custom.product_daily_unit | json }};
    const usageQuantity = {{ product.metafields.custom.usage_quantity | json }};
    const productPrice = {{ product.price | json }}
</script>