{%- assign like_badge = shop.metafields.product.like_badge.value -%}

{%- if product.metafields.meta.pet_icons contains ',' -%}
  {%- assign pet_icon = product.metafields.meta.pet_icons | split: ', ' | first -%}
{%- else -%}
  {%- assign pet_icon = product.metafields.meta.pet_icons -%}
{%- endif -%}

{%- if pet_icon != blank and like_badge.pets[pet_icon].pet != blank -%}
  {%- assign like_badge_pet = like_badge.pets[pet_icon].pet -%}
{%- else -%}
  {%- assign like_badge_pet = like_badge.default_pet -%}
{%- endif -%}

{%- assign like_badge_text = like_badge.pet_text -%}

{%- capture random_number -%}{%- render 'random-number', min: like_badge.like_range.min, max: like_badge.like_range.max -%}{%- endcapture -%}

{% assign random_number = 44 %}

{%- capture like_badge_names -%}
  {%- for dog in like_badge.dogs -%}
    {{ dog.name }}{% unless forloop.last %}, {% endunless %}
  {%- endfor -%}
{%- endcapture -%}

{%- assign like_badge_names = like_badge_names | strip_newlines -%}

<div class="LikeBadge{% if classes %} {{ classes }}{% endif %}">
  <div class="LikeBadge__Wrapper">
    <div class="LikeBadge__Images">
      {%- if like_badge.pets[product.metafields.meta.pet_icons].images != blank -%}
        {%- for pet_image in like_badge.pets[product.metafields.meta.pet_icons].images -%}
          <img
            class="LikeBadge__Image Image--lazyLoad Image--fadeIn"
            data-src="{{ pet_image.filename | file_url }}"
            alt="{{ pet_image.alt | escape }}"
            loading="lazy"
          >
        {%- endfor -%}
      {%- else -%}
        {%- for dog in like_badge.dogs -%}
          <img
            class="LikeBadge__Image Image--lazyLoad Image--fadeIn"
            data-src="{{ images[dog.image.filename] | img_url: 'master' }}"
            alt="{{ dog.image.alt | escape }}"
            loading="lazy"
          >
        {%- endfor -%}
      {%- endif -%}
    </div>
    <p class="LikeBadge__Text">{{ like_badge_text | replace: '%s', like_badge_names | replace: '%d', random_number | replace: '%a', like_badge_pet }}</p>
  </div>
</div>
