{%- assign like_badge = shop.metafields.product.like_badge.value -%}

{%- if product.metafields.meta.pet_icons != blank and like_badge.pets[product.metafields.meta.pet_icons].pet != blank -%}
  {%- assign like_badge_pet = like_badge.pets[product.metafields.meta.pet_icons].pet -%}
{%- else -%}
  {%- assign like_badge_pet = like_badge.default_pet -%}
{%- endif -%}

{%- assign like_badge_text = like_badge.pet_text | replace: '%a', like_badge_pet -%}

{%- capture random_number -%}{%- render 'random-number', min: like_badge.like_range.min, max: like_badge.like_range.max -%}{%- endcapture -%}

{%- capture like_badge_names -%}
  {%- for dog in like_badge.dogs -%}
    {{ dog.name }}{% unless forloop.last %}, {% endunless %}
  {%- endfor -%}
{%- endcapture -%}

{%- assign like_badge_names = like_badge_names | strip_newlines -%}

<div class="LikeBadge{% if classes %} {{ classes }}{% endif %}">
  <div class="LikeBadge__Wrapper">
    <div class="LikeBadge__Images">
      {%- for dog in like_badge.dogs -%}
        <img
          class="LikeBadge__Image Image--lazyLoad Image--fadeIn"
          data-src="{{ images[dog.image.filename] | img_url: 'master' }}"
          alt="{{ dog.image.alt | escape }}"
        >
      {%- endfor -%}
    </div>
    <p class="LikeBadge__Text">{{ like_badge_text | replace: '%s', like_badge_names | replace: '%d', random_number }}</p>
  </div>
</div>

<div style="border: 2px solid red;" class="LikeBadge{% if classes %} {{ classes }}{% endif %}">
  <div class="LikeBadge__Wrapper">
    <div class="LikeBadge__Images">
      {%- if like_badge.pets[product.metafields.meta.pet_icons].images != blank -%}
        {%- for pet_image in like_badge.pets[product.metafields.meta.pet_icons].images -%}
          <img
            class="LikeBadge__Image Image--lazyLoad Image--fadeIn"
            data-src="{{ images[pet_image.filename] | img_url: 'master' }}"
            alt="{{ pet_image.alt | escape }}"
          >
        {%- endfor -%}
      {%- endif -%}
    </div>
    <p class="LikeBadge__Text">{{ like_badge_text | replace: '%s', like_badge_names | replace: '%d', random_number }}</p>
  </div>
</div>
