{% assign product = all_products['dentalspray'] %}
{% assign productName = product.title %}
{% assign variants = product.variants %}
{% capture productData %}
{
  "productName": "{{ productName }}",
  "variants": [
    {% for variant in variants %}
      {
        "id": "{{ variant.id }}",
        "price": "{{ variant.price | money }}"
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
{% endcapture %}

<script type="application/json" id="product-data">
  {{ productData | strip_newlines | strip }}
</script>

{% schema %}
{
  "name": "ACC_TL_BlogPage_7",
  "settings": [],
  "class": "ACC_TL_BlogPage_7_blog"
}
{% endschema %}







{% comment %} {% assign productName = all_products['dentalspray'].title %}
<div class="acc-tl-blog-page-7-title">{{ productName }}</div>
{% assign variantOneID = all_products['dentalspray'].variants[0].id %}
<div class="acc-tl-blog-page-7-variant-one-id">{{ variantOneID }}</div>
{% assign variantTwoID = all_products['dentalspray'].variants[0].id %}
<div class="acc-tl-blog-page-7-variant-two-id">{{ variantTwoID }}</div>
{% assign variantOnePrice = all_products['dentalspray'].variants[0].price %}
<div class="acc-tl-blog-page-7-variant-one-id">{{ variantOnePrice | money }}</div>
{% assign variantTwoPrice = all_products['dentalspray'].variants[1].price %}
<div class="acc-tl-blog-page-7-variant-two-id">{{ variantTwoPrice | money }}</div>
{% schema %}
  {
    "name": "ACC_TL_BlogPage_7",
    "settings": [],
    "class": "ACC_TL_BlogPage_7_blog"
  }
{% endschema %}
 {% endcomment %}



