{{ "bs-bild.css" | asset_url | stylesheet_tag }}

<style>
    .Bild__image {
        width: {{ section.settings.bild_image_size_mobile }}%;
    }

    @media (min-width: 768px) {
        .Bild__image {
            width: {{ section.settings.bild_image_size_desktop }}%;
        }    
    }
</style>

<div class="Bild {% if section.settings.horizontal_alignment %}Bild--{{ section.settings.horizontal_alignment }}{% endif %}">
    {{ section.settings.bild_image | image_url: width: 4000 | image_tag: class: "Bild__image" }}
</div>

{% schema %}
    {
        "name": "Bild",
        "settings": [
            {
                "type": "image_picker",
                "id": "bild_image",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "horizontal_alignment",
                "label": "Horizontal alignment",
                "options": [
                        {
                        "value": "left",
                        "label": "Left"
                        },
                        {
                        "value": "middle",
                        "label": "Middle"
                        },
                        {
                        "value": "right",
                        "label": "Right"
                        }
                    ],
                "default": "middle"
            },
            {
                "type": "range",
                "id": "bild_image_size_mobile",
                "label": "Image size mobile",
                "min": 10,
                "max": 100,
                "step": 10,
                "unit": "%",
                "default": 50
            },
            {
                "type": "range",
                "id": "bild_image_size_desktop",
                "label": "Image size desktop",
                "min": 10,
                "max": 100,
                "step": 10,
                "unit": "%",
                "default": 50
            }
        ],
        "presets": [
            {
            "name": "Bild"
            }
        ]
    }
{% endschema %}