{{ 'bs-hero-black-week.css' | asset_url | stylesheet_tag }}

<script src="{{ "bs-hero-black-week.js" |  asset_url }}" defer></script>

<link rel="preload" href="{{ section.settings.background_image_mobile |  image_url: width: 800 }}" as="image">
<link rel="preload" href="{{ section.settings.background_image_desktop |  image_url: width: 1920 }}" as="image">

<section class="bs-hero-black-week">
	<div class="bs-hero-black-week__banner">
		{% if section.settings.background_image_mobile %}
			{{ section.settings.background_image_mobile | image_url: width: 1920 | image_tag: class: 'bs-hero-black-week__background bs-hero-black-week__background--mobile' }}
		{% endif %}
		{% if section.settings.background_image_desktop %}
			{{ section.settings.background_image_desktop | image_url: width: 1920 | image_tag: class: 'bs-hero-black-week__background bs-hero-black-week__background--desktop' }}
		{% endif %}

		<div class="bs-hero-black-week__wrapper">
			<div class="bs-hero-black-week-info">
				{% if section.settings.black_week_headline_image %}
					<div class="bs-hero-black-week__info-headline">
						{{ section.settings.black_week_headline_image | image_url: width: 500 | image_tag: class: 'bs-hero-black-week__headline' }}

						<div class="bs-hero-black-week__countdown">
							<span> Sale endet in </span>
							<span class="bs-hero-black-week__countdown-counter">
								<span class="bs-hero-black-week__countdown-counter-days"></span> : <span class="bs-hero-black-week__countdown-counter-hours"></span> : <span class="bs-hero-black-week__countdown-counter-minutes"></span> :
								<span class="bs-hero-black-week__countdown-counter-seconds"></span>
							</span>
						</div>
					</div>
				{% endif %}
			</div>

			<div class="bs-hero-black-week__content">
				<div class="bs-hero-black-week__swiper swiper">
					<div class="bs-hero-black-week__swiper-wrapper swiper-wrapper">
						<div class="swiper-slide bs-hero-black-week__product">
							<div class="bs-hero-black-week__discount">
								<img src="{{ "black-week-discount-10.svg" | asset_url }}" alt="">
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_300x.png?v=1722318868" alt="Dentalspray">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Titel</div>
								<div class="bs-hero-black-week__product-description">Das 100% natürliche Leckerchen</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<div class="bs-hero-black-week__discount">
								<img src="{{ "black-week-discount-10.svg" | asset_url }}" alt="">
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_300x.png?v=1722318868" alt="Dentalspray">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Chillout Drops</div>
								<div class="bs-hero-black-week__product-description">Das 100% natürliche Leckerchen</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<div class="bs-hero-black-week__discount">
								<img src="{{ "black-week-discount-10.svg" | asset_url }}" alt="">
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_300x.png?v=1722318868" alt="Dentalspray">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Titel</div>
								<div class="bs-hero-black-week__product-description">Das 100% natürliche Leckerchen</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<div class="bs-hero-black-week__discount">
								<img src="{{ "black-week-discount-10.svg" | asset_url }}" alt="">
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_300x.png?v=1722318868" alt="Dentalspray">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Titel</div>
								<div class="bs-hero-black-week__product-description">Das 100% natürliche Leckerchen</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<div class="bs-hero-black-week__discount">
								<img src="{{ "black-week-discount-10.svg" | asset_url }}" alt="">
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_300x.png?v=1722318868" alt="Dentalspray">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Titel</div>
								<div class="bs-hero-black-week__product-description">Das 100% natürliche Leckerchen</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product bs-hero-black-week__product--all">
							<div class="bs-hero-black-week__discount bs-hero-black-week__discount--all">
								<img src="{{ "black-week-discount-all.svg" | asset_url }}" alt="">
							</div>
							{% comment %} <div class="bs-hero-black-week__product-image">
								<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_300x.png?v=1722318868" alt="Dentalspray">
							</div> {% endcomment %}
							<div class="bs-hero-black-week__product-button">
								<a href="">Alle ansehen</a>
							</div>
						</div>
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
				<div class="swiper-button-prev swiper-button-disabled"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "BS Hero Black Week",
	"settings": [
		{
			"type": "image_picker",
			"id": "black_week_headline_image",
			"label": "Black week headline image"
		},
		{
			"type": "image_picker",
			"id": "background_image_mobile",
			"label": "Background image mobile"
		},
		{
			"type": "image_picker",
			"id": "background_image_desktop",
			"label": "Background image desktop"
		}
	],
	"presets": [
		{
			"name": "BS Hero Black Week"
		}
	]
}
{% endschema %}
