<link rel="preload" href="{{ section.settings.background_image_mobile_b | image_url: width: 800 }}" as="image">
<link rel="preload" href="{{ section.settings.background_image_desktop_b | image_url: width: 1920 }}" as="image">

<script src="{{ 'bs-hero-black-week.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'bs-hero-black-week.css' | asset_url }}">

<section class="bs-hero-black-week">
	<div class="bs-hero-black-week__banner bs-hero-black-week--b">
		{% if section.settings.background_image_mobile_b %}
			{{ section.settings.background_image_mobile_b | image_url: width: 800 | image_tag: class: 'bs-hero-black-week__background bs-hero-black-week__background--mobile tlh-057--b' }}
		{% endif %}

		{% if section.settings.background_image_desktop_b %}
			{{ section.settings.background_image_desktop_b | image_url: width: 1920 | image_tag: class: 'bs-hero-black-week__background bs-hero-black-week__background--desktop tlh-057--b' }}
		{% endif %}

		<div class="bs-hero-black-week__wrapper">
			<div class="bs-hero-black-week-info">
				<div class="bs-hero-black-week__info-headline">
					{% if section.settings.black_week_headline_image_b %}
						{{ section.settings.black_week_headline_image_b | image_url: width: 500 | image_tag: class: 'bs-hero-black-week__headline tlh-057--b' }}
					{% endif %}

					<div class="bs-hero-black-week__countdown">
						<span> Sale endet in </span>
						<span class="bs-hero-black-week__countdown-counter">
							<span class="bs-hero-black-week__countdown-counter-days"></span> : <span class="bs-hero-black-week__countdown-counter-hours"></span> : <span class="bs-hero-black-week__countdown-counter-minutes"></span> :
							<span class="bs-hero-black-week__countdown-counter-seconds"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="bs-hero-black-week__content">
				<div class="bs-hero-black-week__swiper swiper">
					<div class="bs-hero-black-week__swiper-wrapper swiper-wrapper">
						<div class="swiper-slide bs-hero-black-week__product">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount">
								<svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1180)">
									<rect x="11.4951" width="82.9278" height="80.1587" rx="40.0794" transform="rotate(8.24502 11.4951 0)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M25.7433 42.4736L25.2649 45.7751L16.5717 44.5154L17.0501 41.2139L25.7433 42.4736ZM26.8499 50.8064L27.2285 48.1937C28.696 47.5495 29.9576 46.932 31.0132 46.3413C32.0688 45.7506 32.9366 45.1731 33.6166 44.6087C34.3124 44.0467 34.8452 43.4934 35.2152 42.9488C35.5851 42.4042 35.8102 41.8548 35.8905 41.3006C35.9777 40.6989 35.8679 40.1737 35.561 39.7251C35.2723 39.2629 34.7796 38.9814 34.0829 38.8804C33.3387 38.7726 32.7205 38.9659 32.2285 39.4605C31.7388 39.9392 31.4024 40.6988 31.2193 41.7393L27.8827 40.1645C28.0841 38.9973 28.5035 38.0557 29.1408 37.3397C29.7939 36.626 30.6083 36.1378 31.5841 35.875C32.5621 35.5964 33.637 35.5419 34.8088 35.7117C35.8381 35.8609 36.703 36.1398 37.4036 36.5485C38.1224 36.9437 38.6837 37.4211 39.0876 37.9808C39.4938 38.5247 39.7642 39.1135 39.8987 39.7474C40.0513 40.3677 40.0829 40.9866 39.9934 41.6042C39.8465 42.6176 39.4476 43.5298 38.7966 44.3408C38.1478 45.136 37.265 45.873 36.1481 46.5519C35.0493 47.2172 33.7357 47.8594 32.2071 48.4786L32.2036 48.5023C32.4751 48.5255 32.7941 48.5556 33.1606 48.5925C33.5271 48.6295 33.9082 48.6766 34.3041 48.734C34.7023 48.7755 35.0597 48.8192 35.3764 48.8651L39.0579 49.3986L38.6071 52.5101L26.8499 50.8064ZM47.1876 53.9959C45.0499 53.6862 43.5255 52.7701 42.6144 51.2477C41.7191 49.7276 41.4642 47.6374 41.8497 44.9772C42.2352 42.317 43.0729 40.3852 44.3628 39.1817C45.6686 37.9806 47.3903 37.5349 49.5279 37.8446C51.6656 38.1544 53.1821 39.0693 54.0774 40.5894C54.9884 42.1118 55.2513 44.2031 54.8658 46.8633C54.4803 49.5235 53.6347 51.4542 52.3289 52.6554C51.039 53.8588 49.3252 54.3057 47.1876 53.9959ZM47.6487 50.8132C48.2346 50.8981 48.7326 50.8086 49.1427 50.5446C49.5551 50.2649 49.8921 49.7802 50.1537 49.0906C50.4334 48.3874 50.6582 47.45 50.828 46.2782C50.9977 45.1064 51.0472 44.1517 50.9763 43.4139C50.9235 42.6625 50.7379 42.1021 50.4196 41.7327C50.1036 41.3474 49.6526 41.1123 49.0668 41.0274C48.4967 40.9448 47.9976 41.0422 47.5694 41.3197C47.1593 41.5836 46.8144 42.0671 46.5346 42.7703C46.273 43.4599 46.0573 44.3906 45.8876 45.5623C45.7178 46.7341 45.6593 47.6956 45.7121 48.447C45.783 49.1848 45.9765 49.7463 46.2925 50.1316C46.6266 50.5034 47.0787 50.7306 47.6487 50.8132ZM59.0161 55.4674L72.1932 41.3472L75.281 41.7946L62.1039 55.9149L59.0161 55.4674ZM62.2959 39.6947C63.1985 39.8255 63.9468 40.128 64.541 40.6021C65.1533 41.0626 65.5933 41.6518 65.8612 42.3697C66.129 43.0875 66.1975 43.8977 66.0667 44.8003C65.9359 45.7028 65.6403 46.4603 65.1797 47.0726C64.7191 47.6848 64.1288 48.1328 63.4087 48.4165C62.7067 48.6866 61.9044 48.7563 61.0018 48.6255C60.1151 48.497 59.3656 48.2025 58.7533 47.7419C58.1591 47.2678 57.7202 46.6707 57.4366 45.9505C57.1687 45.2327 57.1002 44.4225 57.231 43.5199C57.3618 42.6174 57.6575 41.8599 58.118 41.2477C58.5944 40.6377 59.1836 40.1976 59.8856 39.9275C60.6057 39.6438 61.4092 39.5663 62.2959 39.6947ZM61.9036 42.4025C61.6027 42.3589 61.339 42.3934 61.1125 42.5061C60.8883 42.6029 60.7013 42.7779 60.5514 43.0311C60.4039 43.2684 60.3026 43.577 60.2475 43.957C60.1947 44.3212 60.2043 44.646 60.2761 44.9312C60.3479 45.2165 60.4764 45.4453 60.6616 45.6176C60.8491 45.7741 61.0933 45.8742 61.3942 45.9178C61.7109 45.9636 61.9813 45.9382 62.2055 45.8413C62.432 45.7286 62.6202 45.5457 62.77 45.2926C62.9199 45.0395 63.0212 44.7308 63.074 44.3666C63.129 43.9866 63.1195 43.6619 63.0454 43.3924C62.9735 43.1072 62.8439 42.8863 62.6564 42.7298C62.4712 42.5575 62.2202 42.4484 61.9036 42.4025ZM73.2443 48.6534C74.1311 48.7819 74.8794 49.0844 75.4894 49.5608C76.1017 50.0213 76.5418 50.6105 76.8096 51.3284C77.0774 52.0462 77.1459 52.8564 77.0152 53.759C76.8844 54.6615 76.5887 55.419 76.1281 56.0312C75.6676 56.6435 75.0772 57.0915 74.3571 57.3751C73.6393 57.643 72.837 57.7126 71.9502 57.5841C71.0635 57.4557 70.314 57.1611 69.7017 56.7006C69.0917 56.2242 68.6528 55.627 68.385 54.9092C68.1172 54.1914 68.0486 53.3812 68.1794 52.4786C68.3102 51.576 68.6059 50.8186 69.0665 50.2063C69.527 49.5941 70.1162 49.154 70.8341 48.8862C71.5542 48.6025 72.3576 48.5249 73.2443 48.6534ZM72.852 51.3611C72.5511 51.3175 72.2795 51.3509 72.0372 51.4613C71.813 51.5582 71.626 51.7332 71.4761 51.9863C71.3286 52.2236 71.2272 52.5322 71.1722 52.9123C71.1194 53.2765 71.1289 53.6012 71.2008 53.8864C71.2726 54.1717 71.4011 54.4005 71.5863 54.5728C71.7897 54.7316 72.0417 54.8328 72.3426 54.8764C72.6593 54.9223 72.9297 54.8968 73.1539 54.8C73.3805 54.6873 73.5686 54.5044 73.7185 54.2513C73.8683 53.9981 73.9696 53.6895 74.0224 53.3253C74.0775 52.9453 74.0679 52.6205 73.9938 52.3511C73.922 52.0659 73.7923 51.845 73.6048 51.6885C73.4196 51.5161 73.1687 51.407 72.852 51.3611Z" fill="#FDF3F0"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1180" x="0" y="0" width="95.4587" height="93.1154" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.89278" dy="1.89278"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1180"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1180" result="shape"/>
									</filter>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img src="//tierliebhaber.de/cdn/shop/files/20240705_Tierliebhaber2408_250x.jpg?v=1724057171" alt="Chillout Drops">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Chillout Drops</div>
								<div class="bs-hero-black-week__product-description">Entspannt & angstfrei durchs Silvester Feuerwerk.</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/beruhigung/products/chillout-drops">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount">
								<svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1180)">
									<rect x="11.4951" width="82.9278" height="80.1587" rx="40.0794" transform="rotate(8.24502 11.4951 0)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M25.7433 42.4736L25.2649 45.7751L16.5717 44.5154L17.0501 41.2139L25.7433 42.4736ZM26.8499 50.8064L27.2285 48.1937C28.696 47.5495 29.9576 46.932 31.0132 46.3413C32.0688 45.7506 32.9366 45.1731 33.6166 44.6087C34.3124 44.0467 34.8452 43.4934 35.2152 42.9488C35.5851 42.4042 35.8102 41.8548 35.8905 41.3006C35.9777 40.6989 35.8679 40.1737 35.561 39.7251C35.2723 39.2629 34.7796 38.9814 34.0829 38.8804C33.3387 38.7726 32.7205 38.9659 32.2285 39.4605C31.7388 39.9392 31.4024 40.6988 31.2193 41.7393L27.8827 40.1645C28.0841 38.9973 28.5035 38.0557 29.1408 37.3397C29.7939 36.626 30.6083 36.1378 31.5841 35.875C32.5621 35.5964 33.637 35.5419 34.8088 35.7117C35.8381 35.8609 36.703 36.1398 37.4036 36.5485C38.1224 36.9437 38.6837 37.4211 39.0876 37.9808C39.4938 38.5247 39.7642 39.1135 39.8987 39.7474C40.0513 40.3677 40.0829 40.9866 39.9934 41.6042C39.8465 42.6176 39.4476 43.5298 38.7966 44.3408C38.1478 45.136 37.265 45.873 36.1481 46.5519C35.0493 47.2172 33.7357 47.8594 32.2071 48.4786L32.2036 48.5023C32.4751 48.5255 32.7941 48.5556 33.1606 48.5925C33.5271 48.6295 33.9082 48.6766 34.3041 48.734C34.7023 48.7755 35.0597 48.8192 35.3764 48.8651L39.0579 49.3986L38.6071 52.5101L26.8499 50.8064ZM47.1876 53.9959C45.0499 53.6862 43.5255 52.7701 42.6144 51.2477C41.7191 49.7276 41.4642 47.6374 41.8497 44.9772C42.2352 42.317 43.0729 40.3852 44.3628 39.1817C45.6686 37.9806 47.3903 37.5349 49.5279 37.8446C51.6656 38.1544 53.1821 39.0693 54.0774 40.5894C54.9884 42.1118 55.2513 44.2031 54.8658 46.8633C54.4803 49.5235 53.6347 51.4542 52.3289 52.6554C51.039 53.8588 49.3252 54.3057 47.1876 53.9959ZM47.6487 50.8132C48.2346 50.8981 48.7326 50.8086 49.1427 50.5446C49.5551 50.2649 49.8921 49.7802 50.1537 49.0906C50.4334 48.3874 50.6582 47.45 50.828 46.2782C50.9977 45.1064 51.0472 44.1517 50.9763 43.4139C50.9235 42.6625 50.7379 42.1021 50.4196 41.7327C50.1036 41.3474 49.6526 41.1123 49.0668 41.0274C48.4967 40.9448 47.9976 41.0422 47.5694 41.3197C47.1593 41.5836 46.8144 42.0671 46.5346 42.7703C46.273 43.4599 46.0573 44.3906 45.8876 45.5623C45.7178 46.7341 45.6593 47.6956 45.7121 48.447C45.783 49.1848 45.9765 49.7463 46.2925 50.1316C46.6266 50.5034 47.0787 50.7306 47.6487 50.8132ZM59.0161 55.4674L72.1932 41.3472L75.281 41.7946L62.1039 55.9149L59.0161 55.4674ZM62.2959 39.6947C63.1985 39.8255 63.9468 40.128 64.541 40.6021C65.1533 41.0626 65.5933 41.6518 65.8612 42.3697C66.129 43.0875 66.1975 43.8977 66.0667 44.8003C65.9359 45.7028 65.6403 46.4603 65.1797 47.0726C64.7191 47.6848 64.1288 48.1328 63.4087 48.4165C62.7067 48.6866 61.9044 48.7563 61.0018 48.6255C60.1151 48.497 59.3656 48.2025 58.7533 47.7419C58.1591 47.2678 57.7202 46.6707 57.4366 45.9505C57.1687 45.2327 57.1002 44.4225 57.231 43.5199C57.3618 42.6174 57.6575 41.8599 58.118 41.2477C58.5944 40.6377 59.1836 40.1976 59.8856 39.9275C60.6057 39.6438 61.4092 39.5663 62.2959 39.6947ZM61.9036 42.4025C61.6027 42.3589 61.339 42.3934 61.1125 42.5061C60.8883 42.6029 60.7013 42.7779 60.5514 43.0311C60.4039 43.2684 60.3026 43.577 60.2475 43.957C60.1947 44.3212 60.2043 44.646 60.2761 44.9312C60.3479 45.2165 60.4764 45.4453 60.6616 45.6176C60.8491 45.7741 61.0933 45.8742 61.3942 45.9178C61.7109 45.9636 61.9813 45.9382 62.2055 45.8413C62.432 45.7286 62.6202 45.5457 62.77 45.2926C62.9199 45.0395 63.0212 44.7308 63.074 44.3666C63.129 43.9866 63.1195 43.6619 63.0454 43.3924C62.9735 43.1072 62.8439 42.8863 62.6564 42.7298C62.4712 42.5575 62.2202 42.4484 61.9036 42.4025ZM73.2443 48.6534C74.1311 48.7819 74.8794 49.0844 75.4894 49.5608C76.1017 50.0213 76.5418 50.6105 76.8096 51.3284C77.0774 52.0462 77.1459 52.8564 77.0152 53.759C76.8844 54.6615 76.5887 55.419 76.1281 56.0312C75.6676 56.6435 75.0772 57.0915 74.3571 57.3751C73.6393 57.643 72.837 57.7126 71.9502 57.5841C71.0635 57.4557 70.314 57.1611 69.7017 56.7006C69.0917 56.2242 68.6528 55.627 68.385 54.9092C68.1172 54.1914 68.0486 53.3812 68.1794 52.4786C68.3102 51.576 68.6059 50.8186 69.0665 50.2063C69.527 49.5941 70.1162 49.154 70.8341 48.8862C71.5542 48.6025 72.3576 48.5249 73.2443 48.6534ZM72.852 51.3611C72.5511 51.3175 72.2795 51.3509 72.0372 51.4613C71.813 51.5582 71.626 51.7332 71.4761 51.9863C71.3286 52.2236 71.2272 52.5322 71.1722 52.9123C71.1194 53.2765 71.1289 53.6012 71.2008 53.8864C71.2726 54.1717 71.4011 54.4005 71.5863 54.5728C71.7897 54.7316 72.0417 54.8328 72.3426 54.8764C72.6593 54.9223 72.9297 54.8968 73.1539 54.8C73.3805 54.6873 73.5686 54.5044 73.7185 54.2513C73.8683 53.9981 73.9696 53.6895 74.0224 53.3253C74.0775 52.9453 74.0679 52.6205 73.9938 52.3511C73.922 52.0659 73.7923 51.845 73.6048 51.6885C73.4196 51.5161 73.1687 51.407 72.852 51.3611Z" fill="#FDF3F0"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1180" x="0" y="0" width="95.4587" height="93.1154" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.89278" dy="1.89278"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1180"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1180" result="shape"/>
									</filter>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img src="//tierliebhaber.de/cdn/shop/files/20240705_Tierliebhaber2471_250x.jpg?v=1724057725" alt="Darmpflege Drops">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Darm&shy;pflege Drops</div>
								<div class="bs-hero-black-week__product-description">Für festen Kot & regelmäßigen Stuhlgang.</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/darmpflege/products/darmpflege-drops">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount">
								<svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1178)">
									<rect x="11.4954" width="82.93" height="80.1587" rx="40.0794" transform="rotate(8.24502 11.4954 0)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M28.2189 42.8322L27.7405 46.1337L19.0473 44.8741L19.5257 41.5725L28.2189 42.8322ZM32.5761 51.6361L33.884 42.6103C33.9437 42.1986 34.0045 41.779 34.0664 41.3515C34.1465 40.9104 34.2198 40.4603 34.2863 40.0011C33.695 40.4004 33.0562 40.7363 32.37 41.0087C31.6862 41.2653 30.9867 41.4064 30.2716 41.4321L30.3803 38.0043C30.7966 38.0323 31.247 37.9924 31.7314 37.8848C32.2317 37.7795 32.7298 37.6334 33.2257 37.4466C33.7216 37.2598 34.1723 37.0502 34.5778 36.818C34.9856 36.5699 35.3052 36.3171 35.5365 36.0596L38.7905 36.5311L36.5189 52.2074L32.5761 51.6361ZM45.0272 53.6828C43.6655 53.4855 42.5157 53.0521 41.578 52.3827C40.6585 51.6998 39.9454 50.7073 39.4389 49.4052L43.2836 48.1435C43.366 48.8021 43.5697 49.349 43.8946 49.7841C44.2354 50.2215 44.7938 50.4964 45.5697 50.6088C46.0606 50.68 46.4928 50.6537 46.8664 50.53C47.24 50.4063 47.5459 50.1919 47.7841 49.8869C48.0404 49.5684 48.2042 49.1637 48.2753 48.6728C48.3441 48.1978 48.3065 47.7881 48.1623 47.4439C48.0341 47.102 47.8072 46.8266 47.4818 46.6178C47.1587 46.3931 46.7358 46.2429 46.2133 46.1672C45.8333 46.1121 45.4871 46.1024 45.1747 46.138C44.8647 46.1577 44.5727 46.2205 44.2987 46.3263C44.0428 46.4185 43.797 46.5527 43.5614 46.7287L40.5562 45.7112L42.8204 37.1151L52.7012 38.5468L52.2434 41.7059L45.3316 40.7043L44.4735 43.7811L44.3472 44.1508L44.3709 44.1542C44.7404 43.8359 45.2239 43.623 45.8215 43.5156C46.4191 43.4082 47.0662 43.405 47.763 43.5059C48.7922 43.6551 49.6412 43.9883 50.3099 44.5055C50.9787 45.0228 51.4593 45.6664 51.752 46.4363C52.0446 47.2062 52.1243 48.0504 51.9912 48.9688C51.8513 49.9347 51.5634 50.7498 51.1276 51.4142C50.71 52.065 50.1749 52.5776 49.5225 52.9519C48.8859 53.3285 48.1795 53.5737 47.4031 53.6876C46.6426 53.8037 45.8506 53.8021 45.0272 53.6828ZM56.2728 55.0698L69.4499 40.9496L72.5377 41.397L59.3605 55.5173L56.2728 55.0698ZM59.5526 39.2971C60.4551 39.4279 61.2035 39.7304 61.7977 40.2045C62.4099 40.665 62.85 41.2542 63.1178 41.9721C63.3856 42.6899 63.4542 43.5001 63.3234 44.4027C63.1926 45.3052 62.8969 46.0627 62.4363 46.675C61.9758 47.2872 61.3854 47.7352 60.6653 48.0189C59.9633 48.289 59.161 48.3587 58.2585 48.2279C57.3717 48.0994 56.6222 47.8048 56.0099 47.3443C55.4158 46.8702 54.9769 46.2731 54.6932 45.5529C54.4254 44.8351 54.3569 44.0249 54.4877 43.1223C54.6184 42.2198 54.9141 41.4623 55.3747 40.8501C55.8511 40.2401 56.4403 39.8 57.1423 39.5299C57.8624 39.2462 58.6658 39.1686 59.5526 39.2971ZM59.1602 42.0049C58.8593 41.9613 58.5957 41.9958 58.3692 42.1085C58.145 42.2053 57.9579 42.3803 57.8081 42.6335C57.6605 42.8707 57.5592 43.1794 57.5042 43.5594C57.4514 43.9236 57.4609 44.2484 57.5327 44.5336C57.6046 44.8189 57.7331 45.0477 57.9183 45.22C58.1058 45.3765 58.35 45.4766 58.6508 45.5201C58.9675 45.566 59.238 45.5406 59.4622 45.4437C59.6887 45.331 59.8768 45.1481 60.0267 44.895C60.1765 44.6419 60.2779 44.3332 60.3306 43.969C60.3857 43.589 60.3762 43.2643 60.302 42.9948C60.2302 42.7096 60.1005 42.4887 59.913 42.3322C59.7278 42.1599 59.4769 42.0508 59.1602 42.0049ZM70.501 48.2558C71.3877 48.3843 72.1361 48.6868 72.7461 49.1632C73.3584 49.6237 73.7984 50.2129 74.0662 50.9307C74.3341 51.6486 74.4026 52.4588 74.2718 53.3613C74.141 54.2639 73.8453 55.0213 73.3848 55.6336C72.9242 56.2459 72.3339 56.6939 71.6137 56.9775C70.8959 57.2454 70.0936 57.315 69.2069 57.1865C68.3202 57.0581 67.5706 56.7635 66.9584 56.303C66.3484 55.8266 65.9095 55.2294 65.6416 54.5116C65.3738 53.7938 65.3053 52.9836 65.4361 52.081C65.5669 51.1784 65.8626 50.421 66.3231 49.8087C66.7837 49.1965 67.3729 48.7564 68.0907 48.4886C68.8108 48.2049 69.6143 48.1273 70.501 48.2558ZM70.1086 50.9635C69.8078 50.9199 69.5362 50.9533 69.2938 51.0637C69.0696 51.1606 68.8826 51.3356 68.7328 51.5887C68.5852 51.826 68.4839 52.1346 68.4288 52.5147C68.3761 52.8789 68.3856 53.2036 68.4574 53.4888C68.5293 53.7741 68.6578 54.0029 68.843 54.1752C69.0463 54.334 69.2984 54.4352 69.5993 54.4788C69.916 54.5247 70.1864 54.4992 70.4106 54.4024C70.6371 54.2897 70.8253 54.1068 70.9751 53.8537C71.125 53.6005 71.2263 53.2919 71.2791 52.9277C71.3341 52.5477 71.3246 52.2229 71.2505 51.9535C71.1786 51.6683 71.049 51.4474 70.8615 51.2909C70.6763 51.1185 70.4253 51.0094 70.1086 50.9635Z" fill="#FDF3F0"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1178" x="0" y="0" width="95.4609" height="93.1157" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.89278" dy="1.89278"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1178"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1178" result="shape"/>
									</filter>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img class="" src="//tierliebhaber.de/cdn/shop/files/dentalspray_1_vergleich_250x.png?v=1722318868" alt="Dentalspray">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Dental&shy;spray</div>
								<div class="bs-hero-black-week__product-description">Entfernt Zahnbelag & Maulgeruch 100% natürlich.</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/zahnpflege/products/dentalspray">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount">
								<svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1178)">
									<rect x="11.4954" width="82.93" height="80.1587" rx="40.0794" transform="rotate(8.24502 11.4954 0)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M28.2189 42.8322L27.7405 46.1337L19.0473 44.8741L19.5257 41.5725L28.2189 42.8322ZM32.5761 51.6361L33.884 42.6103C33.9437 42.1986 34.0045 41.779 34.0664 41.3515C34.1465 40.9104 34.2198 40.4603 34.2863 40.0011C33.695 40.4004 33.0562 40.7363 32.37 41.0087C31.6862 41.2653 30.9867 41.4064 30.2716 41.4321L30.3803 38.0043C30.7966 38.0323 31.247 37.9924 31.7314 37.8848C32.2317 37.7795 32.7298 37.6334 33.2257 37.4466C33.7216 37.2598 34.1723 37.0502 34.5778 36.818C34.9856 36.5699 35.3052 36.3171 35.5365 36.0596L38.7905 36.5311L36.5189 52.2074L32.5761 51.6361ZM45.0272 53.6828C43.6655 53.4855 42.5157 53.0521 41.578 52.3827C40.6585 51.6998 39.9454 50.7073 39.4389 49.4052L43.2836 48.1435C43.366 48.8021 43.5697 49.349 43.8946 49.7841C44.2354 50.2215 44.7938 50.4964 45.5697 50.6088C46.0606 50.68 46.4928 50.6537 46.8664 50.53C47.24 50.4063 47.5459 50.1919 47.7841 49.8869C48.0404 49.5684 48.2042 49.1637 48.2753 48.6728C48.3441 48.1978 48.3065 47.7881 48.1623 47.4439C48.0341 47.102 47.8072 46.8266 47.4818 46.6178C47.1587 46.3931 46.7358 46.2429 46.2133 46.1672C45.8333 46.1121 45.4871 46.1024 45.1747 46.138C44.8647 46.1577 44.5727 46.2205 44.2987 46.3263C44.0428 46.4185 43.797 46.5527 43.5614 46.7287L40.5562 45.7112L42.8204 37.1151L52.7012 38.5468L52.2434 41.7059L45.3316 40.7043L44.4735 43.7811L44.3472 44.1508L44.3709 44.1542C44.7404 43.8359 45.2239 43.623 45.8215 43.5156C46.4191 43.4082 47.0662 43.405 47.763 43.5059C48.7922 43.6551 49.6412 43.9883 50.3099 44.5055C50.9787 45.0228 51.4593 45.6664 51.752 46.4363C52.0446 47.2062 52.1243 48.0504 51.9912 48.9688C51.8513 49.9347 51.5634 50.7498 51.1276 51.4142C50.71 52.065 50.1749 52.5776 49.5225 52.9519C48.8859 53.3285 48.1795 53.5737 47.4031 53.6876C46.6426 53.8037 45.8506 53.8021 45.0272 53.6828ZM56.2728 55.0698L69.4499 40.9496L72.5377 41.397L59.3605 55.5173L56.2728 55.0698ZM59.5526 39.2971C60.4551 39.4279 61.2035 39.7304 61.7977 40.2045C62.4099 40.665 62.85 41.2542 63.1178 41.9721C63.3856 42.6899 63.4542 43.5001 63.3234 44.4027C63.1926 45.3052 62.8969 46.0627 62.4363 46.675C61.9758 47.2872 61.3854 47.7352 60.6653 48.0189C59.9633 48.289 59.161 48.3587 58.2585 48.2279C57.3717 48.0994 56.6222 47.8048 56.0099 47.3443C55.4158 46.8702 54.9769 46.2731 54.6932 45.5529C54.4254 44.8351 54.3569 44.0249 54.4877 43.1223C54.6184 42.2198 54.9141 41.4623 55.3747 40.8501C55.8511 40.2401 56.4403 39.8 57.1423 39.5299C57.8624 39.2462 58.6658 39.1686 59.5526 39.2971ZM59.1602 42.0049C58.8593 41.9613 58.5957 41.9958 58.3692 42.1085C58.145 42.2053 57.9579 42.3803 57.8081 42.6335C57.6605 42.8707 57.5592 43.1794 57.5042 43.5594C57.4514 43.9236 57.4609 44.2484 57.5327 44.5336C57.6046 44.8189 57.7331 45.0477 57.9183 45.22C58.1058 45.3765 58.35 45.4766 58.6508 45.5201C58.9675 45.566 59.238 45.5406 59.4622 45.4437C59.6887 45.331 59.8768 45.1481 60.0267 44.895C60.1765 44.6419 60.2779 44.3332 60.3306 43.969C60.3857 43.589 60.3762 43.2643 60.302 42.9948C60.2302 42.7096 60.1005 42.4887 59.913 42.3322C59.7278 42.1599 59.4769 42.0508 59.1602 42.0049ZM70.501 48.2558C71.3877 48.3843 72.1361 48.6868 72.7461 49.1632C73.3584 49.6237 73.7984 50.2129 74.0662 50.9307C74.3341 51.6486 74.4026 52.4588 74.2718 53.3613C74.141 54.2639 73.8453 55.0213 73.3848 55.6336C72.9242 56.2459 72.3339 56.6939 71.6137 56.9775C70.8959 57.2454 70.0936 57.315 69.2069 57.1865C68.3202 57.0581 67.5706 56.7635 66.9584 56.303C66.3484 55.8266 65.9095 55.2294 65.6416 54.5116C65.3738 53.7938 65.3053 52.9836 65.4361 52.081C65.5669 51.1784 65.8626 50.421 66.3231 49.8087C66.7837 49.1965 67.3729 48.7564 68.0907 48.4886C68.8108 48.2049 69.6143 48.1273 70.501 48.2558ZM70.1086 50.9635C69.8078 50.9199 69.5362 50.9533 69.2938 51.0637C69.0696 51.1606 68.8826 51.3356 68.7328 51.5887C68.5852 51.826 68.4839 52.1346 68.4288 52.5147C68.3761 52.8789 68.3856 53.2036 68.4574 53.4888C68.5293 53.7741 68.6578 54.0029 68.843 54.1752C69.0463 54.334 69.2984 54.4352 69.5993 54.4788C69.916 54.5247 70.1864 54.4992 70.4106 54.4024C70.6371 54.2897 70.8253 54.1068 70.9751 53.8537C71.125 53.6005 71.2263 53.2919 71.2791 52.9277C71.3341 52.5477 71.3246 52.2229 71.2505 51.9535C71.1786 51.6683 71.049 51.4474 70.8615 51.2909C70.6763 51.1185 70.4253 51.0094 70.1086 50.9635Z" fill="#FDF3F0"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1178" x="0" y="0" width="95.4609" height="93.1157" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.89278" dy="1.89278"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1178"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1178" result="shape"/>
									</filter>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img src="//tierliebhaber.de/cdn/shop/files/gk1_39cbb471-f595-4ad2-bff2-5cbf615ed0e7_250x.jpg?v=1716366416" alt="Gras- &amp; Kotfresser Drops">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Gras- & Kotfresser Drops</div>
								<div class="bs-hero-black-week__product-description">Beruhigt den Magen bei Sodbrennen.</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/kundenlieblinge/products/gras-kotfresser-drops-2">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount">
								<svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1178)">
									<rect x="11.4954" width="82.93" height="80.1587" rx="40.0794" transform="rotate(8.24502 11.4954 0)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M28.2189 42.8322L27.7405 46.1337L19.0473 44.8741L19.5257 41.5725L28.2189 42.8322ZM32.5761 51.6361L33.884 42.6103C33.9437 42.1986 34.0045 41.779 34.0664 41.3515C34.1465 40.9104 34.2198 40.4603 34.2863 40.0011C33.695 40.4004 33.0562 40.7363 32.37 41.0087C31.6862 41.2653 30.9867 41.4064 30.2716 41.4321L30.3803 38.0043C30.7966 38.0323 31.247 37.9924 31.7314 37.8848C32.2317 37.7795 32.7298 37.6334 33.2257 37.4466C33.7216 37.2598 34.1723 37.0502 34.5778 36.818C34.9856 36.5699 35.3052 36.3171 35.5365 36.0596L38.7905 36.5311L36.5189 52.2074L32.5761 51.6361ZM45.0272 53.6828C43.6655 53.4855 42.5157 53.0521 41.578 52.3827C40.6585 51.6998 39.9454 50.7073 39.4389 49.4052L43.2836 48.1435C43.366 48.8021 43.5697 49.349 43.8946 49.7841C44.2354 50.2215 44.7938 50.4964 45.5697 50.6088C46.0606 50.68 46.4928 50.6537 46.8664 50.53C47.24 50.4063 47.5459 50.1919 47.7841 49.8869C48.0404 49.5684 48.2042 49.1637 48.2753 48.6728C48.3441 48.1978 48.3065 47.7881 48.1623 47.4439C48.0341 47.102 47.8072 46.8266 47.4818 46.6178C47.1587 46.3931 46.7358 46.2429 46.2133 46.1672C45.8333 46.1121 45.4871 46.1024 45.1747 46.138C44.8647 46.1577 44.5727 46.2205 44.2987 46.3263C44.0428 46.4185 43.797 46.5527 43.5614 46.7287L40.5562 45.7112L42.8204 37.1151L52.7012 38.5468L52.2434 41.7059L45.3316 40.7043L44.4735 43.7811L44.3472 44.1508L44.3709 44.1542C44.7404 43.8359 45.2239 43.623 45.8215 43.5156C46.4191 43.4082 47.0662 43.405 47.763 43.5059C48.7922 43.6551 49.6412 43.9883 50.3099 44.5055C50.9787 45.0228 51.4593 45.6664 51.752 46.4363C52.0446 47.2062 52.1243 48.0504 51.9912 48.9688C51.8513 49.9347 51.5634 50.7498 51.1276 51.4142C50.71 52.065 50.1749 52.5776 49.5225 52.9519C48.8859 53.3285 48.1795 53.5737 47.4031 53.6876C46.6426 53.8037 45.8506 53.8021 45.0272 53.6828ZM56.2728 55.0698L69.4499 40.9496L72.5377 41.397L59.3605 55.5173L56.2728 55.0698ZM59.5526 39.2971C60.4551 39.4279 61.2035 39.7304 61.7977 40.2045C62.4099 40.665 62.85 41.2542 63.1178 41.9721C63.3856 42.6899 63.4542 43.5001 63.3234 44.4027C63.1926 45.3052 62.8969 46.0627 62.4363 46.675C61.9758 47.2872 61.3854 47.7352 60.6653 48.0189C59.9633 48.289 59.161 48.3587 58.2585 48.2279C57.3717 48.0994 56.6222 47.8048 56.0099 47.3443C55.4158 46.8702 54.9769 46.2731 54.6932 45.5529C54.4254 44.8351 54.3569 44.0249 54.4877 43.1223C54.6184 42.2198 54.9141 41.4623 55.3747 40.8501C55.8511 40.2401 56.4403 39.8 57.1423 39.5299C57.8624 39.2462 58.6658 39.1686 59.5526 39.2971ZM59.1602 42.0049C58.8593 41.9613 58.5957 41.9958 58.3692 42.1085C58.145 42.2053 57.9579 42.3803 57.8081 42.6335C57.6605 42.8707 57.5592 43.1794 57.5042 43.5594C57.4514 43.9236 57.4609 44.2484 57.5327 44.5336C57.6046 44.8189 57.7331 45.0477 57.9183 45.22C58.1058 45.3765 58.35 45.4766 58.6508 45.5201C58.9675 45.566 59.238 45.5406 59.4622 45.4437C59.6887 45.331 59.8768 45.1481 60.0267 44.895C60.1765 44.6419 60.2779 44.3332 60.3306 43.969C60.3857 43.589 60.3762 43.2643 60.302 42.9948C60.2302 42.7096 60.1005 42.4887 59.913 42.3322C59.7278 42.1599 59.4769 42.0508 59.1602 42.0049ZM70.501 48.2558C71.3877 48.3843 72.1361 48.6868 72.7461 49.1632C73.3584 49.6237 73.7984 50.2129 74.0662 50.9307C74.3341 51.6486 74.4026 52.4588 74.2718 53.3613C74.141 54.2639 73.8453 55.0213 73.3848 55.6336C72.9242 56.2459 72.3339 56.6939 71.6137 56.9775C70.8959 57.2454 70.0936 57.315 69.2069 57.1865C68.3202 57.0581 67.5706 56.7635 66.9584 56.303C66.3484 55.8266 65.9095 55.2294 65.6416 54.5116C65.3738 53.7938 65.3053 52.9836 65.4361 52.081C65.5669 51.1784 65.8626 50.421 66.3231 49.8087C66.7837 49.1965 67.3729 48.7564 68.0907 48.4886C68.8108 48.2049 69.6143 48.1273 70.501 48.2558ZM70.1086 50.9635C69.8078 50.9199 69.5362 50.9533 69.2938 51.0637C69.0696 51.1606 68.8826 51.3356 68.7328 51.5887C68.5852 51.826 68.4839 52.1346 68.4288 52.5147C68.3761 52.8789 68.3856 53.2036 68.4574 53.4888C68.5293 53.7741 68.6578 54.0029 68.843 54.1752C69.0463 54.334 69.2984 54.4352 69.5993 54.4788C69.916 54.5247 70.1864 54.4992 70.4106 54.4024C70.6371 54.2897 70.8253 54.1068 70.9751 53.8537C71.125 53.6005 71.2263 53.2919 71.2791 52.9277C71.3341 52.5477 71.3246 52.2229 71.2505 51.9535C71.1786 51.6683 71.049 51.4474 70.8615 51.2909C70.6763 51.1185 70.4253 51.0094 70.1086 50.9635Z" fill="#FDF3F0"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1178" x="0" y="0" width="95.4609" height="93.1157" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.89278" dy="1.89278"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1178"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1178" result="shape"/>
									</filter>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img src="//tierliebhaber.de/cdn/shop/files/zsn1_cd3565d1-f686-4c6e-9907-937e9c43bf7b_250x.jpg?v=1716364314" alt="Z-Snack">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Z-Snack</div>
								<div class="bs-hero-black-week__product-description">Ungestört durch Wiesen und Wälder spazieren.</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/z-produkte/products/z-snack">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount">
								<svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1176)">
									<rect x="11.4954" width="82.93" height="80.1587" rx="40.0794" transform="rotate(8.24502 11.4954 0)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M27.2291 42.6889L26.7507 45.9904L18.0575 44.7307L18.5359 41.4292L27.2291 42.6889ZM31.5864 51.4928L32.8942 42.467C32.9539 42.0553 33.0147 41.6357 33.0767 41.2082C33.1567 40.7671 33.2301 40.317 33.2966 39.8578C32.7052 40.2571 32.0664 40.593 31.3803 40.8654C30.6964 41.1219 29.997 41.2631 29.2819 41.2888L29.3906 37.861C29.8069 37.889 30.2572 37.8491 30.7417 37.7415C31.2419 37.6362 31.74 37.4901 32.236 37.3033C32.7319 37.1164 33.1826 36.9069 33.5881 36.6747C33.9959 36.4266 34.3154 36.1738 34.5467 35.9163L37.8008 36.3878L35.5292 52.0641L31.5864 51.4928ZM44.8926 53.6634C42.7549 53.3536 41.2305 52.4376 40.3194 50.9152C39.4242 49.3951 39.1693 47.3049 39.5547 44.6447C39.9402 41.9845 40.7779 40.0526 42.0678 38.8492C43.3736 37.648 45.0953 37.2023 47.233 37.5121C49.3706 37.8218 50.8871 38.7368 51.7824 40.2569C52.6935 41.7793 52.9563 43.8706 52.5708 46.5308C52.1853 49.191 51.3397 51.1217 50.034 52.3229C48.744 53.5263 47.0302 53.9732 44.8926 53.6634ZM45.3538 50.4806C45.9396 50.5655 46.4376 50.476 46.8477 50.2121C47.2601 49.9324 47.5971 49.4477 47.8587 48.7581C48.1384 48.0549 48.3632 47.1174 48.533 45.9457C48.7028 44.7739 48.7522 43.8191 48.6813 43.0813C48.6285 42.33 48.4429 41.7696 48.1246 41.4001C47.8086 41.0148 47.3576 40.7797 46.7718 40.6948C46.2017 40.6122 45.7026 40.7097 45.2744 40.9871C44.8643 41.251 44.5194 41.7346 44.2397 42.4377C43.9781 43.1274 43.7624 44.058 43.5926 45.2298C43.4228 46.4016 43.3643 47.3631 43.4171 48.1144C43.488 48.8522 43.6815 49.4138 43.9975 49.7991C44.3316 50.1709 44.7837 50.398 45.3538 50.4806ZM56.7211 55.1349L69.8983 41.0146L72.986 41.4621L59.8089 55.5823L56.7211 55.1349ZM60.0009 39.3622C60.9035 39.493 61.6519 39.7955 62.246 40.2696C62.8583 40.7301 63.2983 41.3193 63.5662 42.0371C63.834 42.755 63.9025 43.5652 63.7717 44.4677C63.6409 45.3703 63.3453 46.1278 62.8847 46.74C62.4241 47.3523 61.8338 47.8003 61.1137 48.0839C60.4117 48.3541 59.6094 48.4237 58.7068 48.2929C57.8201 48.1645 57.0706 47.8699 56.4583 47.4094C55.8641 46.9353 55.4252 46.3381 55.1416 45.618C54.8737 44.9002 54.8052 44.09 54.936 43.1874C55.0668 42.2848 55.3625 41.5274 55.823 40.9151C56.2994 40.3051 56.8886 39.8651 57.5906 39.595C58.3108 39.3113 59.1142 39.2337 60.0009 39.3622ZM59.6086 42.0699C59.3077 42.0263 59.044 42.0609 58.8175 42.1736C58.5933 42.2704 58.4063 42.4454 58.2564 42.6985C58.1089 42.9358 58.0076 43.2445 57.9525 43.6245C57.8997 43.9887 57.9093 44.3134 57.9811 44.5987C58.0529 44.8839 58.1815 45.1127 58.3667 45.2851C58.5542 45.4416 58.7983 45.5416 59.0992 45.5852C59.4159 45.6311 59.6863 45.6056 59.9105 45.5088C60.137 45.3961 60.3252 45.2132 60.4751 44.9601C60.6249 44.7069 60.7262 44.3983 60.779 44.0341C60.8341 43.6541 60.8245 43.3293 60.7504 43.0599C60.6786 42.7747 60.5489 42.5538 60.3614 42.3973C60.1762 42.2249 59.9253 42.1158 59.6086 42.0699ZM70.9494 48.3209C71.8361 48.4494 72.5845 48.7518 73.1944 49.2282C73.8067 49.6888 74.2468 50.278 74.5146 50.9958C74.7824 51.7137 74.851 52.5239 74.7202 53.4264C74.5894 54.329 74.2937 55.0864 73.8331 55.6987C73.3726 56.311 72.7822 56.759 72.0621 57.0426C71.3443 57.3104 70.542 57.3801 69.6553 57.2516C68.7685 57.1231 68.019 56.8286 67.4067 56.368C66.7967 55.8916 66.3578 55.2945 66.09 54.5767C65.8222 53.8589 65.7537 53.0487 65.8844 52.1461C66.0152 51.2435 66.3109 50.4861 66.7715 49.8738C67.232 49.2615 67.8212 48.8215 68.5391 48.5536C69.2592 48.27 70.0626 48.1924 70.9494 48.3209ZM70.557 51.0286C70.2561 50.985 69.9845 51.0184 69.7422 51.1288C69.518 51.2257 69.331 51.4006 69.1811 51.6538C69.0336 51.8911 68.9323 52.1997 68.8772 52.5798C68.8244 52.9439 68.8339 53.2687 68.9058 53.5539C68.9776 53.8392 69.1061 54.068 69.2913 54.2403C69.4947 54.3991 69.7468 54.5003 70.0476 54.5439C70.3643 54.5898 70.6348 54.5643 70.859 54.4675C71.0855 54.3548 71.2736 54.1719 71.4235 53.9187C71.5733 53.6656 71.6746 53.357 71.7274 52.9928C71.7825 52.6127 71.773 52.288 71.6988 52.0186C71.627 51.7333 71.4973 51.5125 71.3098 51.356C71.1246 51.1836 70.8737 51.0745 70.557 51.0286Z" fill="#FDF3F0"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1176" x="0" y="0" width="95.4609" height="93.1157" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.89278" dy="1.89278"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1176"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1176" result="shape"/>
									</filter>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-content">
								<div class="bs-hero-black-week__product-image">
									<img src="//tierliebhaber.de/cdn/shop/files/20240705_Tierliebhaber2456_250x.jpg?v=1724057955" alt="Darmwohl Sticks">
								</div>
								<div class="bs-hero-black-week__product-reviews"></div>
								<div class="bs-hero-black-week__product-title">Darmwohl Sticks</div>
								<div class="bs-hero-black-week__product-description">Natürlicher Darmaufbau & fester Kot.</div>
							</div>

							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/darmpflege/products/darmwohl-sticks">Zum Produkt</a>
							</div>
						</div>
						<div class="swiper-slide bs-hero-black-week__product bs-hero-black-week__product--all">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
								<path d="M17.7432 25.5322L23.8795 29.2435C25.0032 29.9237 26.3783 28.9182 26.0826 27.6466L24.4561 20.6676L29.8826 15.9656C30.8733 15.108 30.341 13.4816 29.0398 13.378L21.8981 12.7718L19.1035 6.17722C18.6008 4.97954 16.8856 4.97954 16.3829 6.17722L13.5883 12.757L6.44664 13.3633C5.14547 13.4668 4.61317 15.0932 5.60383 15.9508L11.0303 20.6528L9.40386 27.6319C9.10814 28.9035 10.4832 29.9089 11.607 29.2287L17.7432 25.5322Z" fill="#F4D056"/>
							</svg>
							<div class="bs-hero-black-week__discount bs-hero-black-week__discount--all">
								<svg width="144" height="125" viewBox="0 0 144 125" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_8101_1208)">
									<rect x="31" y="15.0376" width="82.134" height="79.7052" rx="39.8526" transform="rotate(-0.0262263 31 15.0376)" fill="#F1AF9E" shape-rendering="crispEdges"/>
									<path d="M51.1279 55.4328L51.1294 58.7111L42.4974 58.7151L42.4959 55.4368L51.1279 55.4328ZM53.382 63.3799L53.3809 60.7856C54.7169 59.9516 55.8565 59.1728 56.7996 58.4491C57.7426 57.7254 58.5049 57.0411 59.0864 56.3962C59.6835 55.7513 60.1235 55.1378 60.4063 54.556C60.689 53.9741 60.8303 53.408 60.83 52.8577C60.8297 52.2602 60.6487 51.765 60.2869 51.3721C59.9408 50.9634 59.4218 50.7593 58.73 50.7596C57.991 50.7599 57.4173 51.0353 57.0087 51.5858C56.6001 52.1206 56.3804 52.9069 56.3494 53.9446L52.882 52.8849C52.9129 51.7214 53.1876 50.7464 53.7061 49.96C54.2403 49.1736 54.9633 48.5836 55.8751 48.1901C56.7868 47.7809 57.8245 47.576 58.988 47.5755C60.01 47.575 60.8906 47.724 61.6297 48.0224C62.3845 48.3051 62.9979 48.69 63.4698 49.1772C63.9417 49.6487 64.2879 50.1831 64.5083 50.7805C64.7444 51.3622 64.8626 51.9596 64.8629 52.5728C64.8633 53.5791 64.6043 54.5226 64.0859 55.4033C63.5674 56.2683 62.8131 57.1099 61.8229 57.9279C60.8484 58.7303 59.6617 59.5406 58.2627 60.3588L58.2627 60.3824C58.53 60.3665 58.8445 60.3507 59.2061 60.3348C59.5677 60.3189 59.9451 60.3109 60.3381 60.3107C60.7312 60.2948 61.085 60.2868 61.3995 60.2866L65.0551 60.2849L65.0565 63.3745L53.382 63.3799ZM73.6109 63.6065C71.4883 63.6074 69.8763 62.9321 68.7751 61.5804C67.6896 60.2287 67.1462 58.2321 67.145 55.5906C67.1438 52.9491 67.6853 50.952 68.7696 49.5993C69.8696 48.2466 71.4809 47.5698 73.6036 47.5688C75.7262 47.5678 77.3303 48.2432 78.4158 49.5949C79.517 50.9466 80.0682 52.9432 80.0695 55.5847C80.0707 58.2262 79.5213 60.2233 78.4213 61.576C77.337 62.9287 75.7335 63.6055 73.6109 63.6065ZM73.6094 60.4461C74.1912 60.4458 74.6628 60.2884 75.0243 59.9738C75.3858 59.6434 75.645 59.1244 75.8019 58.4168C75.9745 57.6935 76.0606 56.75 76.06 55.5865C76.0595 54.423 75.9726 53.4875 75.7993 52.7801C75.6418 52.0569 75.3821 51.5381 75.0203 51.2238C74.6585 50.8938 74.1868 50.7289 73.605 50.7292C73.039 50.7294 72.5673 50.8947 72.1901 51.2251C71.8286 51.5397 71.5616 52.0587 71.389 52.7821C71.2321 53.4897 71.1539 54.4253 71.1544 55.5888C71.1549 56.7523 71.234 57.6956 71.3915 58.4188C71.5648 59.1263 71.8324 59.645 72.1941 59.9751C72.5716 60.2894 73.0434 60.4464 73.6094 60.4461ZM85.3219 63.3653L96.1402 47.7708L99.2062 47.7694L88.3879 63.3639L85.3219 63.3653ZM86.2817 47.563C87.1779 47.5626 87.9484 47.7509 88.5932 48.128C89.2538 48.4893 89.765 49.0001 90.1269 49.6603C90.4889 50.3205 90.67 51.0987 90.6705 51.9949C90.6709 52.8912 90.4904 53.6696 90.1291 54.3301C89.7677 54.9906 89.257 55.5097 88.5968 55.8874C87.9523 56.2493 87.1819 56.4305 86.2857 56.4309C85.4052 56.4313 84.6347 56.2508 83.9742 55.8895C83.3293 55.5124 82.8181 54.9938 82.4404 54.3336C82.0785 53.6734 81.8973 52.8952 81.8969 51.999C81.8965 51.1027 82.077 50.3244 82.4383 49.6638C82.8154 49.0033 83.3261 48.492 83.9706 48.1301C84.6308 47.7525 85.4012 47.5634 86.2817 47.563ZM86.2829 50.2517C85.9841 50.2518 85.7326 50.3227 85.5283 50.4643C85.3239 50.5902 85.1668 50.7868 85.0568 51.0541C84.9469 51.3057 84.892 51.6202 84.8922 51.9976C84.8924 52.3592 84.9475 52.6737 85.0577 52.9409C85.1679 53.2082 85.3252 53.4125 85.5297 53.5539C85.7341 53.6796 85.9857 53.7424 86.2845 53.7422C86.599 53.7421 86.8584 53.6791 87.0627 53.5532C87.267 53.4116 87.4242 53.2071 87.5341 52.9398C87.6441 52.6724 87.6989 52.3579 87.6988 51.9963C87.6986 51.619 87.6434 51.3045 87.5332 51.053C87.4231 50.7857 87.2657 50.5893 87.0613 50.4636C86.8568 50.3222 86.5974 50.2515 86.2829 50.2517ZM98.1953 54.7273C99.0758 54.7269 99.8463 54.9153 100.507 55.2923C101.167 55.6536 101.679 56.1644 102.041 56.8246C102.402 57.4848 102.584 58.263 102.584 59.1593C102.584 60.0555 102.404 60.8339 102.043 61.4944C101.681 62.155 101.171 62.6741 100.51 63.0517C99.8502 63.4136 99.0798 63.5948 98.1993 63.5952C97.3188 63.5956 96.5483 63.4152 95.8878 63.0538C95.2272 62.6768 94.716 62.1581 94.354 61.4979C93.9921 60.8377 93.8109 60.0595 93.8105 59.1633C93.8101 58.2671 93.9906 57.4887 94.3519 56.8281C94.7132 56.1676 95.224 55.6564 95.8842 55.2944C96.5444 54.9168 97.3148 54.7277 98.1953 54.7273ZM98.1965 57.416C97.8977 57.4161 97.6383 57.487 97.4183 57.6286C97.2139 57.7545 97.0568 57.9511 96.9469 58.2185C96.8369 58.4701 96.782 58.7846 96.7822 59.1619C96.7824 59.5236 96.8375 59.838 96.9477 60.1052C97.0579 60.3725 97.2152 60.5768 97.4197 60.7182C97.6399 60.8439 97.8993 60.9067 98.1981 60.9066C98.5125 60.9064 98.772 60.8434 98.9763 60.7175C99.1806 60.5759 99.3378 60.3714 99.4477 60.1041C99.5576 59.8368 99.6125 59.5223 99.6124 59.1606C99.6122 58.7833 99.557 58.4688 99.4468 58.2173C99.3367 57.9501 99.1793 57.7536 98.9749 57.6279C98.7704 57.4865 98.5109 57.4159 98.1965 57.416Z" fill="#FDF3F0"/>
									</g>
									<g filter="url(#filter1_d_8101_1208)">
									<rect x="93.8862" y="59" width="52.5216" height="52.1084" rx="26.0542" transform="rotate(17.7504 93.8862 59)" fill="white" shape-rendering="crispEdges"/>
									<rect x="93.8862" y="59" width="52.5216" height="52.1084" rx="26.0542" transform="rotate(17.7504 93.8862 59)" fill="url(#paint0_linear_8101_1208)" shape-rendering="crispEdges"/>
									<path d="M99.3196 88.4216L98.667 90.4603L93.2989 88.7419L93.9515 86.7032L99.3196 88.4216ZM101.144 94.4549L102.928 88.8815C103.01 88.6273 103.093 88.3681 103.177 88.1041C103.275 87.8335 103.369 87.5564 103.459 87.2728C103.043 87.4629 102.603 87.6078 102.14 87.7074C101.68 87.7974 101.222 87.8126 100.767 87.7531L101.199 85.5953C101.46 85.6571 101.749 85.6796 102.067 85.6628C102.395 85.6492 102.725 85.6095 103.059 85.5438C103.392 85.4781 103.7 85.3933 103.981 85.2893C104.266 85.1755 104.495 85.0494 104.668 84.9109L106.678 85.5542L103.579 95.2342L101.144 94.4549ZM108.807 97.0695C107.966 96.8003 107.284 96.4042 106.762 95.8813C106.252 95.3516 105.906 94.648 105.724 93.7702L108.291 93.3792C108.273 93.8047 108.344 94.1724 108.503 94.4822C108.673 94.7951 108.997 95.0282 109.476 95.1816C109.779 95.2786 110.055 95.3078 110.305 95.2691C110.555 95.2304 110.771 95.1272 110.954 94.9594C111.15 94.785 111.296 94.5462 111.393 94.2431C111.487 93.9498 111.507 93.6865 111.452 93.4534C111.407 93.2234 111.293 93.0251 111.109 92.8585C110.928 92.6821 110.677 92.5422 110.354 92.4389C110.119 92.3638 109.901 92.321 109.7 92.3104C109.502 92.29 109.31 92.2988 109.125 92.3367C108.954 92.368 108.784 92.4268 108.616 92.5133L106.822 91.5509L109.166 86.3507L115.267 88.3038L114.643 90.2545L110.375 88.8883L109.506 90.7445L109.387 90.9651L109.401 90.9698C109.669 90.8075 109.997 90.724 110.387 90.7193C110.777 90.7147 111.186 90.7812 111.617 90.9189C112.252 91.1224 112.754 91.4232 113.123 91.8214C113.491 92.2196 113.727 92.6779 113.831 93.1961C113.934 93.7144 113.895 94.257 113.714 94.8242C113.523 95.4206 113.254 95.906 112.908 96.2802C112.575 96.6479 112.182 96.9156 111.729 97.0833C111.287 97.2542 110.813 97.3345 110.31 97.3243C109.816 97.3172 109.315 97.2323 108.807 97.0695ZM115.777 99.1389L125.612 91.5992L127.519 92.2095L117.683 99.7493L115.777 99.1389ZM119.524 89.5047C120.081 89.6831 120.523 89.9538 120.848 90.3168C121.187 90.6731 121.403 91.0926 121.497 91.5753C121.59 92.058 121.548 92.578 121.369 93.1353C121.191 93.6926 120.923 94.1406 120.567 94.4793C120.211 94.818 119.79 95.0389 119.304 95.1422C118.831 95.2387 118.316 95.1978 117.758 95.0194C117.211 94.8441 116.768 94.5783 116.429 94.2219C116.103 93.8589 115.889 93.4345 115.786 92.9488C115.692 92.4661 115.735 91.9461 115.913 91.3888C116.092 90.8314 116.359 90.3834 116.715 90.0447C117.081 89.7092 117.501 89.4931 117.974 89.3966C118.46 89.2934 118.976 89.3294 119.524 89.5047ZM118.989 91.1767C118.803 91.1172 118.632 91.1111 118.477 91.1585C118.325 91.196 118.188 91.2869 118.066 91.4312C117.948 91.5658 117.851 91.7504 117.776 91.985C117.704 92.2099 117.675 92.4164 117.691 92.6046C117.706 92.7927 117.763 92.9511 117.862 93.0798C117.964 93.1987 118.108 93.2879 118.294 93.3474C118.489 93.41 118.663 93.4225 118.815 93.385C118.971 93.3377 119.109 93.2418 119.231 93.0975C119.352 92.9532 119.449 92.7686 119.521 92.5437C119.596 92.3091 119.625 92.1025 119.606 91.9242C119.591 91.7361 119.532 91.5825 119.43 91.4636C119.331 91.3349 119.184 91.2393 118.989 91.1767ZM125.503 96.3343C126.051 96.5096 126.492 96.7803 126.828 97.1465C127.167 97.5028 127.383 97.9223 127.476 98.405C127.569 98.8876 127.527 99.4076 127.349 99.965C127.17 100.522 126.903 100.97 126.546 101.309C126.19 101.648 125.769 101.869 125.283 101.972C124.801 102.065 124.285 102.024 123.738 101.849C123.19 101.674 122.747 101.408 122.409 101.052C122.073 100.685 121.859 100.261 121.765 99.7784C121.672 99.2958 121.714 98.7758 121.893 98.2184C122.071 97.6611 122.338 97.2131 122.695 96.8744C123.051 96.5357 123.471 96.3197 123.953 96.2262C124.439 96.123 124.956 96.1591 125.503 96.3343ZM124.968 98.0064C124.782 97.9469 124.607 97.9392 124.442 97.9834C124.29 98.021 124.153 98.1119 124.031 98.2562C123.913 98.3907 123.816 98.5753 123.741 98.81C123.669 99.0349 123.64 99.2414 123.655 99.4295C123.671 99.6177 123.728 99.7761 123.827 99.9048C123.939 100.027 124.087 100.118 124.273 100.177C124.469 100.24 124.643 100.252 124.795 100.215C124.95 100.167 125.088 100.072 125.21 99.9272C125.332 99.7829 125.429 99.5983 125.501 99.3734C125.576 99.1387 125.604 98.9322 125.586 98.7539C125.57 98.5657 125.512 98.4122 125.41 98.2933C125.311 98.1646 125.164 98.069 124.968 98.0064Z" fill="#F1AF9E"/>
									</g>
									<g filter="url(#filter2_dd_8101_1208)">
									<rect y="22.4473" width="45.0864" height="43.5562" rx="21.7781" transform="rotate(-29.8593 0 22.4473)" fill="white" shape-rendering="crispEdges"/>
									<rect y="22.4473" width="45.0864" height="43.5562" rx="21.7781" transform="rotate(-29.8593 0 22.4473)" fill="url(#paint1_linear_8101_1208)" shape-rendering="crispEdges"/>
									<path d="M20.8933 35.1962L21.7803 36.7413L17.7119 39.0769L16.8249 37.5318L20.8933 35.1962ZM25.6258 37.4599L23.2009 33.2359C23.0903 33.0432 22.9776 32.8469 22.8627 32.6468C22.751 32.435 22.6335 32.2217 22.5101 32.0068C22.3932 32.3695 22.2354 32.7211 22.0368 33.0618C21.834 33.395 21.5866 33.6848 21.2945 33.9313L20.2105 32.4549C20.3947 32.3295 20.5708 32.1643 20.7389 31.9594C20.9145 31.7503 21.0756 31.5248 21.2225 31.2828C21.3693 31.0409 21.4897 30.8043 21.5835 30.573C21.6732 30.3344 21.7241 30.1228 21.7365 29.9384L23.2594 29.0641L27.4711 36.4006L25.6258 37.4599ZM31.9331 33.9869C30.9326 34.5612 29.9901 34.6786 29.1055 34.3391C28.2283 33.9954 27.4323 33.201 26.7176 31.956C26.0029 30.711 25.7183 29.6231 25.8637 28.6922C26.0166 27.7571 26.5933 27.0024 27.5937 26.4281C28.5941 25.8538 29.5329 25.7385 30.4101 26.0823C31.2947 26.4218 32.0944 27.214 32.8091 28.459C33.5238 29.704 33.8048 30.794 33.6519 31.7291C33.5064 32.66 32.9335 33.4126 31.9331 33.9869ZM31.0779 32.4974C31.3521 32.34 31.5319 32.1382 31.6173 31.8922C31.6984 31.6387 31.6803 31.3239 31.5629 30.9479C31.4487 30.5602 31.2342 30.0922 30.9194 29.5438C30.6046 28.9954 30.3107 28.5779 30.0378 28.2912C29.768 27.9929 29.5053 27.8185 29.2498 27.7682C28.99 27.7104 28.723 27.7602 28.4488 27.9176C28.182 28.0708 28.0044 28.2762 27.9159 28.5339C27.8305 28.78 27.8449 29.0969 27.9591 29.4846C28.0764 29.8606 28.2925 30.3228 28.6073 30.8712C28.9221 31.4195 29.2144 31.8429 29.4843 32.1413C29.7572 32.4279 30.0236 32.6002 30.2834 32.6579C30.5463 32.704 30.8112 32.6505 31.0779 32.4974ZM37.3889 30.707L38.273 20.4304L39.718 19.6008L38.8339 29.8774L37.3889 30.707ZM33.5691 22.9977C33.9915 22.7553 34.4057 22.6357 34.8116 22.6391C35.2207 22.6309 35.5998 22.7335 35.9489 22.9469C36.298 23.1603 36.5939 23.4782 36.8363 23.9006C37.0788 24.323 37.2042 24.7387 37.2124 25.1478C37.2207 25.5569 37.1202 25.9397 36.9111 26.2963C36.7051 26.6411 36.3909 26.9348 35.9685 27.1773C35.5535 27.4156 35.1415 27.5388 34.7324 27.547C34.3264 27.5436 33.9452 27.4373 33.5887 27.2282C33.2395 27.0148 32.9437 26.6969 32.7012 26.2745C32.4587 25.8521 32.3334 25.4363 32.3251 25.0272C32.3243 24.6139 32.4269 24.2348 32.6329 23.8899C32.842 23.5334 33.1541 23.236 33.5691 22.9977ZM34.2966 24.265C34.1558 24.3458 34.0563 24.4472 33.9983 24.5692C33.936 24.6838 33.9151 24.819 33.9355 24.9747C33.9517 25.1231 34.0109 25.2862 34.113 25.464C34.2108 25.6345 34.3218 25.7678 34.446 25.864C34.5702 25.9602 34.6996 26.014 34.8343 26.0254C34.9646 26.0294 35.1002 25.9909 35.241 25.9101C35.3892 25.825 35.4945 25.7252 35.5568 25.6106C35.6148 25.4886 35.6336 25.3497 35.6132 25.1939C35.5927 25.0382 35.5336 24.8751 35.4357 24.7046C35.3336 24.5268 35.2226 24.3935 35.1027 24.3047C34.9785 24.2085 34.8512 24.1584 34.7208 24.1544C34.5862 24.143 34.4448 24.1799 34.2966 24.265ZM41.1226 23.1544C41.5375 22.9161 41.9517 22.7966 42.3651 22.7958C42.7742 22.7875 43.1533 22.8901 43.5024 23.1035C43.8515 23.3169 44.1473 23.6348 44.3898 24.0572C44.6323 24.4796 44.7577 24.8954 44.7659 25.3045C44.7741 25.7135 44.6737 26.0964 44.4645 26.4529C44.2512 26.802 43.937 27.0957 43.522 27.3339C43.107 27.5722 42.6949 27.6954 42.2858 27.7036C41.8725 27.7045 41.4913 27.5982 41.1421 27.3848C40.793 27.1714 40.4972 26.8535 40.2547 26.4311C40.0122 26.0087 39.8868 25.5929 39.8786 25.1838C39.8704 24.7748 39.973 24.3956 40.1864 24.0465C40.3955 23.69 40.7076 23.3926 41.1226 23.1544ZM41.85 24.4216C41.7092 24.5024 41.6061 24.6059 41.5406 24.7322C41.4783 24.8468 41.4574 24.982 41.4779 25.1377C41.4941 25.2861 41.5532 25.4492 41.6553 25.627C41.7532 25.7975 41.8642 25.9308 41.9884 26.027C42.1126 26.1232 42.242 26.177 42.3766 26.1884C42.5144 26.1881 42.6537 26.1476 42.7945 26.0667C42.9427 25.9816 43.048 25.8818 43.1103 25.7672C43.1683 25.6452 43.1871 25.5063 43.1667 25.3506C43.1462 25.1948 43.0871 25.0317 42.9892 24.8613C42.8871 24.6834 42.7761 24.5501 42.6561 24.4613C42.5319 24.3651 42.4047 24.315 42.2743 24.311C42.1397 24.2996 41.9982 24.3365 41.85 24.4216Z" fill="#F1AF9E"/>
									</g>
									<defs>
									<filter id="filter0_d_8101_1208" x="31" y="15" width="84.0838" height="81.6561" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.9134" dy="1.9134"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1208"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1208" result="shape"/>
									</filter>
									<filter id="filter1_d_8101_1208" x="78" y="59" width="67.1571" height="66.8895" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.24937" dy="1.24937"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1208"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8101_1208" result="shape"/>
									</filter>
									<filter id="filter2_dd_8101_1208" x="-0.863151" y="-0.863151" width="62.6896" height="62.1244" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="1.03986" dy="1.03986"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.870588 0 0 0 0 0.498039 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8101_1208"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="-0.863151" dy="-0.863151"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.945098 0 0 0 0 0.686275 0 0 0 0 0.619608 0 0 0 1 0"/>
									<feBlend mode="normal" in2="effect1_dropShadow_8101_1208" result="effect2_dropShadow_8101_1208"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_8101_1208" result="shape"/>
									</filter>
									<linearGradient id="paint0_linear_8101_1208" x1="146.408" y1="85.0542" x2="93.8862" y2="85.0542" gradientUnits="userSpaceOnUse">
									<stop stop-color="#D4AF37" stop-opacity="0.15"/>
									<stop offset="1" stop-color="#D4AF37" stop-opacity="0.05"/>
									</linearGradient>
									<linearGradient id="paint1_linear_8101_1208" x1="45.0864" y1="44.2254" x2="0" y2="44.2254" gradientUnits="userSpaceOnUse">
									<stop stop-color="#D4AF37" stop-opacity="0.15"/>
									<stop offset="1" stop-color="#D4AF37" stop-opacity="0.05"/>
									</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="bs-hero-black-week__product-button">
								<a href="https://tierliebhaber.de/collections/alle-produkte-1">Alle ansehen</a>
							</div>
						</div>
					</div>
					<div class="bs-hero-black-week__swiper-scrollbar swiper-scrollbar"></div>
				</div>
				<div class="swiper-button-prev swiper-button-disabled"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "BS Hero Black Week",
	"settings": [
		{
			"type": "image_picker",
			"id": "black_week_headline_image_b",
			"label": "Black week headline image"
		},
		{
			"type": "image_picker",
			"id": "background_image_mobile_b",
			"label": "Background image mobile"
		},
		{
			"type": "image_picker",
			"id": "background_image_desktop_b",
			"label": "Background image desktop"
		}
	],
	"presets": [
		{
			"name": "BS Hero Black Week"
		}
	]
}
{% endschema %}
