{{ "bs-hero-black-week.css" |  asset_url |  stylesheet_tag }}
{{ "bs-hero-black-week.js" |  asset_url |  stylesheet_tag }}

<link rel="preload" href="{{ section.settings.background_image_mobile |  image_url: width: 800 }}" as="image">
<link rel="preload" href="{{ section.settings.background_image_desktop |  image_url: width: 1920 }}" as="image">

<section class="bs-hero-black-week">
	<div class="bs-hero-black-week__banner">
		{% if section.settings.background_image_mobile %}
			{{ section.settings.background_image_mobile |  image_url: width: 1920 |  image_tag: class: "bs-hero-black-week__background bs-hero-black-week__background--mobile" }}
		{% endif %}
		{% if section.settings.background_image_desktop %}
			{{ section.settings.background_image_desktop |  image_url: width: 1920 |  image_tag: class: "bs-hero-black-week__background bs-hero-black-week__background--desktop" }}
		{% endif %}

		<div class="bs-hero-black-week-info">
			{% if section.settings.black_week_headline_image %}
				<div class="bs-hero-black-week__info-headline">
					 {{ section.settings.black_week_headline_image |  image_url: width: 500 |  image_tag: class: "bs-hero-black-week__headline" }}
				</div>
			{% endif %}

			<div class="bs-hero-black-week__info-countdown">
				{% comment %} COUNT DOWN {% endcomment %}
				 COUNTDOWN
			</div>
		</div>

		<div class="bs-hero-black-week__content">

			<div class="bs-hero-black-week__swiper swiper">
				<div class="bs-hero-black-week__swiper-wrapper swiper-wrapper">
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
					</div>
				</div>
			</div>
			{% comment %} SWIPER {% endcomment %}
		</div>
	</div>
</section>


{% schema %}
	{
		"name": "BS Hero Black Week",
		"settings": [
			{
				"type": "image_picker",
				"id": "background_image_mobile",
				"label": "Background image mobile"
			},
			{
				"type": "image_picker",
				"id": "background_image_desktop",
				"label": "Background image desktop"
			},
			{
				"type": "image_picker",
				"id": "black_week_headline_image",
				"label": "Black week headline image"
			},
		],
		"presets": [
			{
				"name": "BS Hero Black Week"
			}
		]
	}
{% endschema %}
