{{ 'bs-cart-drawer.css' | asset_url | stylesheet_tag }}



{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<script>
	window.cartDrawerEnableGift = {{ section.settings.enable_gift }};
	window.cartDrawerMinPriceForGift = {{ section.settings.gift_min_price }};
	window.cartDrawerGiftVariantId = {{ section.settings.gift_product.selected_or_first_available_variant.id }};
	window.cartDrawerGiftPrice = parseInt({{ section.settings.gift_product.selected_or_first_available_variant.price }}) / 100;
	{% comment %} window.cartDrawerEnableGiftCampaign = {{ section.settings.enable_gift_campaign }}; {% endcomment %}
</script>

<div id="sidebar-cart" class="Drawer Drawer--fromRight" aria-hidden="true" selected_variant data-section-id="cart" data-section-type="cart" data-section-settings='{{ section_settings }}' data-js-tlh-052>
  <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
      <span class="Drawer__Title Heading u-h4">{{ 'cart.general.title' | t }}</span>

		<button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.close_cart' | t }}">
			{%- render 'icon' with 'close' -%}
		</button>
	</div>

	<!-- Steps message -->
	<div class="CartMessage__Steps" style="opacity: 0;">
		<div class="CartMessage__Steps__Text">
			<div class="CartMessage__Steps__Text-left">
				{{ section.settings['message_delivery_text-first'] -}}
				<span class="js-cart-drawer-delivery-left-value"></span>{{ section.settings['message_delivery_text-last'] }}
			</div>

			<div class="CartMessage__Steps__Text-final" style="display: none">
				{{ section.settings.message_final_text }}
			</div>
		</div>
		<div class="CartMessage__StepsLines__Container">
			<div class="CartMessage__StepsLines">
				{%- assign message_line_percentage = cart.total_price | divided_by: 71.48934 | times: 100 -%}
				<span
					class="CartMessage__StepsLines__Active"
					data-free-delivery-amount="{{ section.settings.free_delivery_amount }}"
				></span>
			</div>

			<span class="CartMessage__StepsLines__Delivery {{ section.settings.enable_gift }}">
				<img
					src="{{ section.settings.message_delivery_icon | img_url: '32x32' }}"
					alt="{{ section.settings.message_delivery_icon.alt | escape }}"
				>
			</span>

			<span class="CartMessage__StepsLines__Gift" style="right: 0px;">
				<span>Gratis Geschenk (13.90€)</span>
			</span>
		</div>
	</div>
	<!-- /Steps message -->


	<form class="Cart Drawer__Content" action="{{ routes.cart_url }}" method="POST" novalidate>
		<input
			type="hidden"
			class="Cart__values"
			data-cart-total-price="{{ cart.total_price }}"
			data-cart-total-price-float="{{ cart.total_price | divided_by: 100.00 }}"
		>

		<div class="Drawer__Main" data-scrollable>
			{%- if settings.cart_show_free_shipping_threshold -%}
				{%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
				{%- assign contains_free_shipping_variant = false -%}

				{%- for line_item in cart.items -%}
					{%- assign has_free_shipping = line_item.variant.metafields.shipping.has_free_shipping -%}

					{%- if has_free_shipping -%}
						{%- assign contains_free_shipping_variant = true -%}
						{%- break -%}
					{%- endif -%}
				{%- endfor -%}

				<div class="Cart__ShippingNotice Text--subdued">
					<div class="Drawer__Container">
						{%- if cart.total_price >= threshold_in_cents or contains_free_shipping_variant -%}
							<p>{{- 'cart.general.free_shipping' | t -}}</p>
						{%- else -%}
							{%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
							<p>{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
						{%- endif -%}
					</div>
				</div>
			{%- endif -%}

			{%- assign free_delivery_amount = section.settings.free_delivery_amount | times: 100 -%}

			{%- if cart.item_count == 0 -%}
				<p class="Cart__Empty Heading u-h5">{{ 'cart.general.empty' | t }}</p>
			{%- else -%}
				<div class="Drawer__Container cartDrawer__cheering--a">
					<div class="Cheering">
						<p class="Cheering__Title">
							{{ 'cart.cheering.title' | t }}
						</p>
						<p class="Cheering__Text">
							{{ 'cart.cheering.text' | t }}
						</p>
					</div>
				</div>

				{% comment %}
					Black Week Badge
				{% endcomment %}
				{% if settings.cart_black_week_badge == true %}
					{%- unless cart.item_count == 0 -%}
						{% liquid
							assign black_week_savings = 0
			
							for line_item in cart.items 
								for variant in line_item.product.variants
									if line_item.id == variant.id
										if variant.compare_at_price > variant.price
											assign item_savings =  variant.compare_at_price | minus: variant.price | times: line_item.quantity
											assign black_week_savings = black_week_savings | plus: item_savings
										endif
									endif
								endfor
							endfor
			
							assign black_week_savings = black_week_savings | plus: cart.total_discount
						%}

						<div class="BlackWeekSale__BadgeContainer" data-js-black-week-badge data-js-black-week-cart-savings="{{ black_week_savings |  money_with_currency }}">
							<svg class="Badge__Icon" width="36" height="30" viewBox="0 0 36 30" fill="none">
								<g clip-path="url(#clip0_7107_17)">
								<mask id="path-1-outside-1_7107_17" maskUnits="userSpaceOnUse" x="0.842169" y="7.92696" width="22.3288" height="22.3288" fill="black">
								<rect fill="white" x="0.842169" y="7.92696" width="22.3288" height="22.3288"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5456 13.9707C17.5796 14.4903 17.1806 14.9398 16.655 14.9743C16.1293 15.0087 15.675 14.6151 15.641 14.0956C15.6069 13.5761 16.0059 13.1263 16.5316 13.0919C17.0572 13.0574 17.5115 13.4512 17.5456 13.9707ZM6.7533 16.546L3.80369 19.8698C3.10814 20.6536 3.18625 21.8451 3.97818 22.5313C4.78087 23.2269 5.18658 23.5786 5.55909 23.9015C6.25854 24.5078 6.84092 25.0126 9.71431 27.5021C10.5062 28.1884 11.7118 28.1093 12.4074 27.3255C18.0733 20.9408 18.2589 20.7317 19.3084 19.5495C19.6957 19.1132 20.2007 18.5443 21.1423 17.4835C21.3088 17.2949 21.3931 17.0493 21.3767 16.799L21.0021 11.0853C20.934 10.0463 20.0124 9.04611 18.9611 9.11504L13.1788 9.49413C12.9265 9.51067 12.6981 9.73179 12.5306 9.92046C11.8723 10.7121 11.5735 11.0782 11.2683 11.4389C10.6765 12.1387 10.0611 12.8185 6.7533 16.546ZM13.4944 15.8715L10.0439 21.7909L10.9887 21.729L14.4392 15.8096L13.4944 15.8715ZM10.7618 16.1628C10.5299 16.0457 10.2593 15.9973 9.95007 16.0176C9.64659 16.0375 9.38464 16.1208 9.16424 16.2675C8.94383 16.4143 8.77852 16.612 8.66831 16.8607C8.56383 17.1091 8.5221 17.3936 8.54312 17.7143C8.56415 18.035 8.64267 18.3116 8.77868 18.5442C8.92005 18.7707 9.10976 18.9452 9.34781 19.0676C9.58549 19.1843 9.85607 19.2327 10.1595 19.2128C10.4688 19.1925 10.7307 19.1092 10.9454 18.9629C11.1654 18.8104 11.3279 18.6129 11.4327 18.3702C11.5429 18.1215 11.5875 17.8368 11.5665 17.5161C11.5455 17.1954 11.4641 16.919 11.3224 16.6867C11.1863 16.4541 10.9995 16.2795 10.7618 16.1628ZM9.68338 16.9495C9.77086 16.8805 9.87759 16.8418 10.0036 16.8336C10.1353 16.825 10.2461 16.8493 10.3361 16.9067C10.4315 16.9579 10.5061 17.0422 10.5597 17.1594C10.6131 17.2709 10.6452 17.4097 10.656 17.5758C10.6666 17.7361 10.6529 17.8779 10.6149 18.0012C10.5766 18.1187 10.5137 18.2119 10.4262 18.2809C10.3441 18.3438 10.2372 18.3796 10.1055 18.3882C9.97952 18.3965 9.86884 18.375 9.77347 18.3237C9.67773 18.2667 9.60319 18.1825 9.54988 18.071C9.49619 17.9537 9.46408 17.8149 9.45357 17.6546C9.44269 17.4886 9.45639 17.3468 9.49469 17.2292C9.53262 17.106 9.59551 17.0127 9.68338 16.9495ZM15.1187 18.5426C14.8864 18.4198 14.6185 18.3684 14.315 18.3883C14.0115 18.4082 13.7498 18.4943 13.5297 18.6468C13.3093 18.7935 13.144 18.9912 13.0338 19.24C12.9289 19.4826 12.887 19.7643 12.9081 20.085C12.9291 20.4056 13.0076 20.6823 13.1436 20.9149C13.2854 21.1471 13.4751 21.3216 13.7127 21.4382C13.9504 21.5549 14.221 21.6033 14.5245 21.5834C14.828 21.5635 15.087 21.4804 15.3017 21.3341C15.5221 21.1874 15.6874 20.9896 15.7977 20.7409C15.9079 20.4921 15.9524 20.2074 15.9314 19.8867C15.9104 19.5661 15.8292 19.2925 15.6878 19.066C15.5461 18.8337 15.3564 18.6593 15.1187 18.5426ZM14.0403 19.3293C14.1278 19.2603 14.2374 19.2215 14.3691 19.2128C14.5008 19.2042 14.6116 19.2286 14.7016 19.2859C14.797 19.3372 14.8714 19.4186 14.9247 19.5301C14.978 19.6416 15.0101 19.7804 15.021 19.9464C15.0315 20.1068 15.0178 20.2486 14.9799 20.3718C14.9419 20.4951 14.8792 20.5912 14.7917 20.6602C14.7096 20.7231 14.6027 20.7588 14.471 20.7675C14.3393 20.7761 14.2257 20.7548 14.1304 20.7035C14.0404 20.6462 13.9685 20.5589 13.9148 20.4416C13.8611 20.3244 13.829 20.1856 13.8185 20.0253C13.8076 19.8592 13.8213 19.7174 13.8596 19.5999C13.8979 19.4824 13.9581 19.3922 14.0403 19.3293Z"/>
								</mask>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5456 13.9707C17.5796 14.4903 17.1806 14.9398 16.655 14.9743C16.1293 15.0087 15.675 14.6151 15.641 14.0956C15.6069 13.5761 16.0059 13.1263 16.5316 13.0919C17.0572 13.0574 17.5115 13.4512 17.5456 13.9707ZM6.7533 16.546L3.80369 19.8698C3.10814 20.6536 3.18625 21.8451 3.97818 22.5313C4.78087 23.2269 5.18658 23.5786 5.55909 23.9015C6.25854 24.5078 6.84092 25.0126 9.71431 27.5021C10.5062 28.1884 11.7118 28.1093 12.4074 27.3255C18.0733 20.9408 18.2589 20.7317 19.3084 19.5495C19.6957 19.1132 20.2007 18.5443 21.1423 17.4835C21.3088 17.2949 21.3931 17.0493 21.3767 16.799L21.0021 11.0853C20.934 10.0463 20.0124 9.04611 18.9611 9.11504L13.1788 9.49413C12.9265 9.51067 12.6981 9.73179 12.5306 9.92046C11.8723 10.7121 11.5735 11.0782 11.2683 11.4389C10.6765 12.1387 10.0611 12.8185 6.7533 16.546ZM13.4944 15.8715L10.0439 21.7909L10.9887 21.729L14.4392 15.8096L13.4944 15.8715ZM10.7618 16.1628C10.5299 16.0457 10.2593 15.9973 9.95007 16.0176C9.64659 16.0375 9.38464 16.1208 9.16424 16.2675C8.94383 16.4143 8.77852 16.612 8.66831 16.8607C8.56383 17.1091 8.5221 17.3936 8.54312 17.7143C8.56415 18.035 8.64267 18.3116 8.77868 18.5442C8.92005 18.7707 9.10976 18.9452 9.34781 19.0676C9.58549 19.1843 9.85607 19.2327 10.1595 19.2128C10.4688 19.1925 10.7307 19.1092 10.9454 18.9629C11.1654 18.8104 11.3279 18.6129 11.4327 18.3702C11.5429 18.1215 11.5875 17.8368 11.5665 17.5161C11.5455 17.1954 11.4641 16.919 11.3224 16.6867C11.1863 16.4541 10.9995 16.2795 10.7618 16.1628ZM9.68338 16.9495C9.77086 16.8805 9.87759 16.8418 10.0036 16.8336C10.1353 16.825 10.2461 16.8493 10.3361 16.9067C10.4315 16.9579 10.5061 17.0422 10.5597 17.1594C10.6131 17.2709 10.6452 17.4097 10.656 17.5758C10.6666 17.7361 10.6529 17.8779 10.6149 18.0012C10.5766 18.1187 10.5137 18.2119 10.4262 18.2809C10.3441 18.3438 10.2372 18.3796 10.1055 18.3882C9.97952 18.3965 9.86884 18.375 9.77347 18.3237C9.67773 18.2667 9.60319 18.1825 9.54988 18.071C9.49619 17.9537 9.46408 17.8149 9.45357 17.6546C9.44269 17.4886 9.45639 17.3468 9.49469 17.2292C9.53262 17.106 9.59551 17.0127 9.68338 16.9495ZM15.1187 18.5426C14.8864 18.4198 14.6185 18.3684 14.315 18.3883C14.0115 18.4082 13.7498 18.4943 13.5297 18.6468C13.3093 18.7935 13.144 18.9912 13.0338 19.24C12.9289 19.4826 12.887 19.7643 12.9081 20.085C12.9291 20.4056 13.0076 20.6823 13.1436 20.9149C13.2854 21.1471 13.4751 21.3216 13.7127 21.4382C13.9504 21.5549 14.221 21.6033 14.5245 21.5834C14.828 21.5635 15.087 21.4804 15.3017 21.3341C15.5221 21.1874 15.6874 20.9896 15.7977 20.7409C15.9079 20.4921 15.9524 20.2074 15.9314 19.8867C15.9104 19.5661 15.8292 19.2925 15.6878 19.066C15.5461 18.8337 15.3564 18.6593 15.1187 18.5426ZM14.0403 19.3293C14.1278 19.2603 14.2374 19.2215 14.3691 19.2128C14.5008 19.2042 14.6116 19.2286 14.7016 19.2859C14.797 19.3372 14.8714 19.4186 14.9247 19.5301C14.978 19.6416 15.0101 19.7804 15.021 19.9464C15.0315 20.1068 15.0178 20.2486 14.9799 20.3718C14.9419 20.4951 14.8792 20.5912 14.7917 20.6602C14.7096 20.7231 14.6027 20.7588 14.471 20.7675C14.3393 20.7761 14.2257 20.7548 14.1304 20.7035C14.0404 20.6462 13.9685 20.5589 13.9148 20.4416C13.8611 20.3244 13.829 20.1856 13.8185 20.0253C13.8076 19.8592 13.8213 19.7174 13.8596 19.5999C13.8979 19.4824 13.9581 19.3922 14.0403 19.3293Z" fill="url(#paint0_linear_7107_17)"/>
								<path d="M3.80369 19.8698L4.45531 20.4481L4.45531 20.4481L3.80369 19.8698ZM6.7533 16.546L7.40493 17.1243L7.40492 17.1243L6.7533 16.546ZM3.97818 22.5313L3.40763 23.1897L3.40763 23.1897L3.97818 22.5313ZM5.55909 23.9015L4.98846 24.5598L4.98846 24.5598L5.55909 23.9015ZM9.71431 27.5021L10.2848 26.8436L10.2849 26.8437L9.71431 27.5021ZM12.4074 27.3255L11.7558 26.7473L11.7558 26.7473L12.4074 27.3255ZM19.3084 19.5495L19.9599 20.1279L19.9599 20.1279L19.3084 19.5495ZM21.1423 17.4835L21.7955 18.0601L21.7939 18.0619L21.1423 17.4835ZM21.3767 16.799L20.5074 16.856L21.3767 16.799ZM21.0021 11.0853L21.8714 11.0283L21.0021 11.0853ZM12.5306 9.92046L11.8608 9.36344L11.8697 9.35268L11.879 9.34221L12.5306 9.92046ZM11.2683 11.4389L11.9335 12.0015L11.9335 12.0015L11.2683 11.4389ZM10.0439 21.7909L10.1009 22.6603L8.46629 22.7674L9.29125 21.3522L10.0439 21.7909ZM13.4944 15.8715L12.7418 15.4328L12.9751 15.0325L13.4374 15.0022L13.4944 15.8715ZM10.9887 21.729L11.7414 22.1677L11.508 22.568L11.0457 22.5983L10.9887 21.729ZM14.4392 15.8096L14.3822 14.9402L16.0169 14.8331L15.1919 16.2483L14.4392 15.8096ZM10.7618 16.1628L10.3779 16.9449L10.3693 16.9406L10.7618 16.1628ZM8.66831 16.8607L7.86527 16.5229L7.86845 16.5154L7.87178 16.5079L8.66831 16.8607ZM8.77868 18.5442L8.03961 19.0055L8.03295 18.9948L8.02661 18.984L8.77868 18.5442ZM9.34781 19.0676L8.96388 19.8496L8.95661 19.8461L8.94941 19.8424L9.34781 19.0676ZM10.9454 18.9629L11.4415 19.679L11.4361 19.6827L10.9454 18.9629ZM11.4327 18.3702L10.633 18.0246L10.6362 18.0173L11.4327 18.3702ZM11.3224 16.6867L10.5787 17.1406L10.5744 17.1336L10.5703 17.1265L11.3224 16.6867ZM9.68338 16.9495L10.2228 17.6335L10.2079 17.6453L10.1925 17.6565L9.68338 16.9495ZM10.3361 16.9067L9.92373 17.6741L9.89527 17.6588L9.86802 17.6414L10.3361 16.9067ZM10.5597 17.1594L9.77375 17.5352L9.77065 17.5287L9.76765 17.5222L10.5597 17.1594ZM10.6149 18.0012L11.4476 18.2574L11.4455 18.2643L11.4433 18.2711L10.6149 18.0012ZM10.4262 18.2809L10.9658 18.9651L10.9559 18.9726L10.4262 18.2809ZM9.77347 18.3237L9.36105 19.0911L9.34429 19.0821L9.32794 19.0724L9.77347 18.3237ZM9.54988 18.071L8.76389 18.4468L8.76078 18.4403L8.75778 18.4337L9.54988 18.071ZM9.49469 17.2292L10.3274 17.4855L10.3252 17.4923L10.323 17.4992L9.49469 17.2292ZM15.1187 18.5426L14.7348 19.3246L14.7231 19.3189L14.7116 19.3129L15.1187 18.5426ZM13.5297 18.6468L14.0259 19.3629L14.0192 19.3675L14.0125 19.372L13.5297 18.6468ZM13.0338 19.24L12.234 18.8944L12.2373 18.8871L13.0338 19.24ZM13.1436 20.9149L12.4 21.3687L12.3957 21.3617L12.3915 21.3546L13.1436 20.9149ZM13.7127 21.4382L13.3288 22.2203L13.3288 22.2203L13.7127 21.4382ZM15.3017 21.3341L14.811 20.6142L14.819 20.6088L15.3017 21.3341ZM15.6878 19.066L14.9487 19.5273L14.9442 19.5199L15.6878 19.066ZM14.0403 19.3293L14.5798 20.0134L14.5699 20.021L14.0403 19.3293ZM14.7016 19.2859L14.2892 20.0533L14.2608 20.038L14.2335 20.0207L14.7016 19.2859ZM14.9247 19.5301L15.7107 19.1543L15.7107 19.1543L14.9247 19.5301ZM14.9799 20.3718L15.8125 20.628L15.8125 20.628L14.9799 20.3718ZM14.7917 20.6602L15.3313 21.3443L15.3214 21.3519L14.7917 20.6602ZM14.1304 20.7035L13.718 21.4709L13.6895 21.4556L13.6622 21.4383L14.1304 20.7035ZM13.9148 20.4416L13.1227 20.8044L13.1227 20.8044L13.9148 20.4416ZM13.8596 19.5999L14.6879 19.8698L14.6879 19.8698L13.8596 19.5999ZM16.598 14.105C16.6532 14.1013 16.6782 14.0575 16.6762 14.0277L18.4149 13.9138C18.4811 14.923 17.708 15.7783 16.712 15.8436L16.598 14.105ZM16.5103 14.0386C16.5123 14.0683 16.5427 14.1086 16.598 14.105L16.712 15.8436C15.7159 15.9089 14.8378 15.1619 14.7716 14.1526L16.5103 14.0386ZM16.5885 13.9612C16.5336 13.9648 16.5083 14.0086 16.5103 14.0386L14.7716 14.1526C14.7055 13.1436 15.4782 12.2878 16.4746 12.2225L16.5885 13.9612ZM16.6762 14.0277C16.6742 13.9977 16.6435 13.9576 16.5885 13.9612L16.4746 12.2225C17.4709 12.1572 18.3487 12.9047 18.4149 13.9138L16.6762 14.0277ZM3.15207 19.2915L6.10168 15.9677L7.40492 17.1243L4.45531 20.4481L3.15207 19.2915ZM3.40763 23.1897C2.24906 22.1857 2.13449 20.4382 3.15207 19.2915L4.45531 20.4481C4.08179 20.869 4.12344 21.5044 4.54873 21.873L3.40763 23.1897ZM4.98846 24.5598C4.61597 24.2369 4.21028 23.8853 3.40763 23.1897L4.54873 21.8729C5.35145 22.5686 5.7572 22.9203 6.12973 23.2432L4.98846 24.5598ZM9.14384 28.1605C6.27042 25.6711 5.68799 25.1662 4.98846 24.5598L6.12973 23.2432C6.8291 23.8494 7.41142 24.3542 10.2848 26.8436L9.14384 28.1605ZM13.059 27.9038C12.0468 29.0445 10.2963 29.1592 9.14377 28.1605L10.2849 26.8437C10.7162 27.2175 11.3769 27.1742 11.7558 26.7473L13.059 27.9038ZM19.9599 20.1279C18.9104 21.31 18.7249 21.519 13.059 27.9038L11.7558 26.7473C17.4216 20.3626 17.6073 20.1534 18.6568 18.9712L19.9599 20.1279ZM21.7939 18.0619C20.8522 19.1227 20.3472 19.6916 19.9599 20.1279L18.6568 18.9712C19.0442 18.5348 19.5492 17.966 20.4908 16.9052L21.7939 18.0619ZM22.246 16.742C22.2777 17.2254 22.1145 17.6987 21.7955 18.0601L20.4892 16.907C20.5031 16.8912 20.5085 16.8732 20.5074 16.856L22.246 16.742ZM21.8714 11.0283L22.246 16.742L20.5074 16.856L20.1328 11.1423L21.8714 11.0283ZM18.9041 8.2457C19.7319 8.19143 20.4593 8.56024 20.9672 9.06946C21.4729 9.57654 21.8224 10.2799 21.8714 11.0283L20.1328 11.1423C20.1137 10.8516 19.9684 10.5354 19.7335 10.2999C19.5007 10.0665 19.2417 9.96972 19.0181 9.98437L18.9041 8.2457ZM13.1218 8.62479L18.9041 8.2457L19.0181 9.98437L13.2358 10.3635L13.1218 8.62479ZM11.879 9.34221C11.9759 9.23298 12.1224 9.07703 12.3053 8.94195C12.4834 8.81039 12.7631 8.64831 13.1218 8.62479L13.2358 10.3635C13.2913 10.3598 13.3286 10.346 13.3434 10.3395C13.3573 10.3335 13.3564 10.3318 13.3405 10.3435C13.325 10.3549 13.303 10.3734 13.2742 10.4014C13.2457 10.429 13.2154 10.4613 13.1823 10.4987L11.879 9.34221ZM10.6032 10.8763C10.9054 10.5189 11.1963 10.1625 11.8608 9.36344L13.2005 10.4775C12.5484 11.2617 12.2415 11.6374 11.9335 12.0015L10.6032 10.8763ZM6.10168 15.9677C9.41791 12.2308 10.0202 11.5655 10.6032 10.8763L11.9335 12.0015C11.3328 12.7118 10.7043 13.4063 7.40493 17.1243L6.10168 15.9677ZM9.29125 21.3522L12.7418 15.4328L14.2471 16.3102L10.7966 22.2297L9.29125 21.3522ZM11.0457 22.5983L10.1009 22.6603L9.98692 20.9216L10.9317 20.8596L11.0457 22.5983ZM15.1919 16.2483L11.7414 22.1677L10.2361 21.2902L13.6866 15.3708L15.1919 16.2483ZM13.4374 15.0022L14.3822 14.9402L14.4962 16.6789L13.5514 16.7408L13.4374 15.0022ZM9.89308 15.1483C10.3275 15.1198 10.7588 15.1854 11.1543 15.385L10.3693 16.9406C10.3009 16.9061 10.191 16.8749 10.0071 16.887L9.89308 15.1483ZM8.68149 15.5423C9.04661 15.2993 9.46044 15.1766 9.89308 15.1483L10.0071 16.887C9.83274 16.8984 9.72268 16.9424 9.64698 16.9928L8.68149 15.5423ZM7.87178 16.5079C8.04712 16.1121 8.31926 15.7834 8.68149 15.5423L9.64698 16.9928C9.56839 17.0451 9.50992 17.1119 9.46484 17.2136L7.87178 16.5079ZM7.67379 17.7713C7.64561 17.3415 7.69917 16.9178 7.86527 16.5229L9.47136 17.1985C9.42849 17.3005 9.3986 17.4458 9.41246 17.6573L7.67379 17.7713ZM8.02661 18.984C7.81039 18.6142 7.70197 18.2011 7.67379 17.7713L9.41246 17.6573C9.42633 17.8688 9.47495 18.009 9.53075 18.1045L8.02661 18.984ZM8.94941 19.8424C8.57197 19.6483 8.2644 19.3657 8.03961 19.0055L9.51776 18.083C9.5757 18.1758 9.64754 18.2421 9.74621 18.2928L8.94941 19.8424ZM10.2165 20.0821C9.78391 20.1105 9.35761 20.0429 8.96388 19.8496L9.73174 18.2856C9.81336 18.3256 9.92823 18.3549 10.1026 18.3434L10.2165 20.0821ZM11.4361 19.6827C11.07 19.9323 10.651 20.0536 10.2165 20.0821L10.1026 18.3434C10.2865 18.3314 10.3914 18.2861 10.4547 18.243L11.4361 19.6827ZM12.2325 18.7158C12.0622 19.1099 11.7936 19.4351 11.4415 19.679L10.4492 18.2467C10.5372 18.1858 10.5936 18.1158 10.633 18.0246L12.2325 18.7158ZM12.4358 17.4591C12.4644 17.8949 12.406 18.3242 12.2293 18.7231L10.6362 18.0173C10.6799 17.9187 10.7106 17.7786 10.6972 17.5731L12.4358 17.4591ZM12.066 16.2329C12.2933 16.6053 12.4073 17.0233 12.4358 17.4591L10.6972 17.5731C10.6837 17.3675 10.6349 17.2327 10.5787 17.1406L12.066 16.2329ZM11.1457 15.3808C11.54 15.5743 11.8536 15.8694 12.0744 16.247L10.5703 17.1265C10.5191 17.0389 10.459 16.9847 10.3779 16.9448L11.1457 15.3808ZM10.0606 17.7029C10.0703 17.7023 10.0937 17.6995 10.1255 17.688C10.1582 17.6761 10.192 17.6579 10.2228 17.6335L9.14391 16.2654C9.3877 16.0731 9.66898 15.9825 9.94657 15.9643L10.0606 17.7029ZM9.86802 17.6414C9.96805 17.7051 10.0518 17.7035 10.0606 17.7029L9.94657 15.9643C10.2188 15.9464 10.5242 15.9935 10.8043 16.1719L9.86802 17.6414ZM9.76765 17.5222C9.7714 17.5303 9.78388 17.5548 9.81106 17.5855C9.83928 17.6174 9.87728 17.6491 9.92373 17.6741L10.7486 16.1393C11.0414 16.2967 11.2347 16.5408 11.3518 16.7967L9.76765 17.5222ZM9.78671 17.6328C9.78385 17.5891 9.77888 17.5602 9.77502 17.5435C9.77117 17.5268 9.76921 17.5257 9.77375 17.5352L11.3457 16.7836C11.4603 17.0232 11.5096 17.2781 11.5254 17.5188L9.78671 17.6328ZM9.78226 17.7449C9.78239 17.7445 9.79193 17.7124 9.78671 17.6328L11.5254 17.5188C11.5412 17.7598 11.5233 18.0113 11.4476 18.2574L9.78226 17.7449ZM9.88678 17.5968C9.85908 17.6187 9.83519 17.6448 9.81674 17.6721C9.7987 17.6989 9.79008 17.7205 9.7866 17.7312L11.4433 18.2711C11.3577 18.5336 11.2028 18.778 10.9657 18.965L9.88678 17.5968ZM10.0485 17.5189C10.0557 17.5184 9.98422 17.5221 9.8966 17.5892L10.9559 18.9726C10.704 19.1655 10.4187 19.2408 10.1625 19.2576L10.0485 17.5189ZM10.1859 17.5563C10.1532 17.5388 10.1213 17.5283 10.0941 17.5231C10.0678 17.518 10.0514 17.5187 10.0485 17.5189L10.1625 19.2576C9.9011 19.2747 9.62275 19.2318 9.36105 19.0911L10.1859 17.5563ZM10.3359 17.6952C10.331 17.6851 10.3197 17.6647 10.2983 17.6406C10.2764 17.6158 10.2493 17.5931 10.219 17.5751L9.32794 19.0724C9.06844 18.918 8.88296 18.6958 8.76389 18.4468L10.3359 17.6952ZM10.3229 17.5976C10.3281 17.6772 10.3418 17.7078 10.342 17.7082L8.75778 18.4337C8.65059 18.1996 8.60004 17.9527 8.58424 17.7116L10.3229 17.5976ZM10.323 17.4992C10.3263 17.4892 10.3245 17.4906 10.3228 17.5076C10.3212 17.5246 10.32 17.5539 10.3229 17.5976L8.58424 17.7116C8.56846 17.471 8.58408 17.2118 8.66637 16.9593L10.323 17.4992ZM10.1925 17.6565C10.2353 17.6256 10.2688 17.5893 10.2926 17.554C10.3155 17.52 10.3247 17.4941 10.3274 17.4855L8.66202 16.973C8.74479 16.704 8.90448 16.4368 9.1743 16.2425L10.1925 17.6565ZM14.258 17.5189C14.6966 17.4902 15.1297 17.563 15.5258 17.7724L14.7116 19.3129C14.6431 19.2766 14.5404 19.2466 14.372 19.2576L14.258 17.5189ZM13.0336 17.9307C13.4003 17.6766 13.8189 17.5477 14.258 17.5189L14.372 19.2576C14.2042 19.2686 14.0992 19.3121 14.0259 19.3629L13.0336 17.9307ZM12.2373 18.8871C12.4126 18.4913 12.6848 18.1627 13.047 17.9216L14.0125 19.372C13.9339 19.4243 13.8754 19.4911 13.8303 19.5929L12.2373 18.8871ZM12.0387 20.142C12.0106 19.7128 12.0639 19.2883 12.2341 18.8944L13.8335 19.5856C13.794 19.677 13.7635 19.8158 13.7774 20.028L12.0387 20.142ZM12.3915 21.3546C12.1753 20.9848 12.0669 20.5718 12.0387 20.142L13.7774 20.028C13.7913 20.2394 13.8399 20.3797 13.8957 20.4751L12.3915 21.3546ZM13.3288 22.2203C12.9382 22.0285 12.6255 21.7382 12.4 21.3687L13.8873 20.461C13.9452 20.556 14.0119 20.6146 14.0967 20.6562L13.3288 22.2203ZM14.5815 22.4528C14.1488 22.4811 13.7225 22.4136 13.3288 22.2203L14.0967 20.6562C14.1783 20.6963 14.2932 20.7255 14.4675 20.7141L14.5815 22.4528ZM15.7924 22.0539C15.4286 22.3019 15.0135 22.4244 14.5815 22.4528L14.4675 20.7141C14.6424 20.7026 14.7455 20.6589 14.811 20.6142L15.7924 22.0539ZM16.5942 21.0938C16.4188 21.4895 16.1467 21.8182 15.7845 22.0593L14.819 20.6088C14.8976 20.5565 14.956 20.4897 15.0011 20.388L16.5942 21.0938ZM16.8008 19.8297C16.8293 20.2655 16.7709 20.6949 16.5942 21.0938L15.0011 20.388C15.0448 20.2894 15.0756 20.1493 15.0621 19.9437L16.8008 19.8297ZM16.4269 18.6047C16.6584 18.9757 16.7722 19.3947 16.8008 19.8297L15.0621 19.9437C15.0486 19.7375 15 19.6093 14.9488 19.5272L16.4269 18.6047ZM15.5026 17.7606C15.8933 17.9523 16.206 18.2426 16.4315 18.6121L14.9442 19.5199C14.8862 19.4249 14.8195 19.3663 14.7348 19.3246L15.5026 17.7606ZM14.4261 20.0822C14.4294 20.0819 14.449 20.0802 14.4789 20.0696C14.51 20.0586 14.5455 20.0404 14.5797 20.0134L13.5008 18.6452C13.7507 18.4481 14.0377 18.3615 14.3121 18.3435L14.4261 20.0822ZM14.2335 20.0207C14.3335 20.0844 14.4173 20.0827 14.4261 20.0822L14.3121 18.3435C14.5842 18.3256 14.8897 18.3727 15.1698 18.5512L14.2335 20.0207ZM14.1387 19.9059C14.1445 19.9181 14.1586 19.9433 14.1857 19.973C14.2136 20.0035 14.2488 20.0316 14.2892 20.0533L15.1141 18.5185C15.3949 18.6694 15.5893 18.9005 15.7107 19.1543L14.1387 19.9059ZM14.1516 20.0034C14.1488 19.9597 14.1438 19.9308 14.1399 19.9141C14.1361 19.8975 14.1341 19.8964 14.1387 19.9058L15.7107 19.1543C15.8252 19.3939 15.8745 19.6488 15.8903 19.8894L14.1516 20.0034ZM14.1472 20.1156C14.1473 20.1151 14.1569 20.083 14.1516 20.0034L15.8903 19.8894C15.9061 20.1305 15.8882 20.382 15.8125 20.628L14.1472 20.1156ZM14.2523 19.9761C14.2195 20.0019 14.1935 20.0316 14.1747 20.0603C14.1566 20.0882 14.1492 20.1089 14.1472 20.1156L15.8125 20.628C15.731 20.8929 15.5785 21.1492 15.3312 21.3442L14.2523 19.9761ZM14.414 19.8981C14.4212 19.8977 14.3497 19.9014 14.2621 19.9685L15.3214 21.3519C15.0695 21.5448 14.7842 21.62 14.528 21.6368L14.414 19.8981ZM14.5428 19.9361C14.4657 19.8947 14.4094 19.8984 14.414 19.8981L14.528 21.6368C14.2692 21.6538 13.9858 21.6149 13.718 21.4709L14.5428 19.9361ZM14.7069 20.0789C14.7054 20.0756 14.6771 20.0189 14.5985 19.9688L13.6622 21.4383C13.4036 21.2735 13.2316 21.0422 13.1227 20.8044L14.7069 20.0789ZM14.6878 19.9683C14.6931 20.0479 14.7067 20.0785 14.7069 20.0789L13.1227 20.8044C13.0155 20.5703 12.965 20.3233 12.9492 20.0823L14.6878 19.9683ZM14.6879 19.8698C14.6912 19.8598 14.6894 19.8612 14.6878 19.8782C14.6861 19.8953 14.685 19.9246 14.6878 19.9683L12.9492 20.0823C12.9334 19.8416 12.949 19.5825 13.0313 19.3299L14.6879 19.8698ZM14.5699 20.021C14.6084 19.9915 14.6377 19.9584 14.6581 19.9278C14.6778 19.8982 14.6858 19.8764 14.6879 19.8698L13.0313 19.33C13.1134 19.0782 13.2631 18.8271 13.5106 18.6376L14.5699 20.021Z" fill="#F1AF9E" mask="url(#path-1-outside-1_7107_17)"/>
								<path d="M20.5 8.99998C21.5 6.5 24.5 7.50004 24 3C23.6994 0.294899 20.5 -1.5 17 -2" stroke="#F1AF9E" stroke-width="0.435601"/>
								</g>
								<defs>
								<linearGradient id="paint0_linear_7107_17" x1="11.7367" y1="9.58868" x2="12.9336" y2="27.8447" gradientUnits="userSpaceOnUse">
								<stop stop-color="#1C1B1B"/>
								<stop offset="1" stop-color="#5B3C2D"/>
								</linearGradient>
								<clipPath id="clip0_7107_17">
								<rect width="33.2796" height="31.4873" fill="white" transform="matrix(-0.997858 0.0654205 0.0654205 0.997858 33.3125 -3.77209)"/>
								</clipPath>
								</defs>
							</svg>
						
							<p class="Badge__Text">
								{{ settings.cart_black_week_badge_text }} <s class="Badge__Savings" data-js-black-week-badge-savings>{{ black_week_savings |  money_with_currency }}</s>!
							</p>
						</div>
					{%- endunless -%}
				{% endif %}

				{% comment %}
					end: Black Week Badge
				{% endcomment %}

				<div class="Drawer__Container">
					<input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
					<input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'cart-items' %}
        </div>
      
        {%- assign upsell_item = null -%}
            
        {%- for line_item in section.settings.upsell_items -%}
          {%- if upsell_item == null -%}
            {%- if line_item.available -%}
              {%- assign upsell_item_found = false -%}
      
              {%- for cart_line_item in cart.items -%}
            	{%- if cart_line_item.product.title == line_item.title -%}
                  {%- assign upsell_item_found = true -%}
            	{%- endif -%}
              {%- endfor -%}
      
              {%- if upsell_item_found == false -%}
                {%- assign upsell_item = line_item -%}
      		  {%- endif -%}
      
            {%- endif -%}
          {%- else -%}
          {%- endif -%}
        {%- endfor -%}
      
        {%- if upsell_item -%}
          <!-- Upsell items -->
          <div class="CartUpsells__Container">
            <p class="CartUpsells__Title">
              {{ section.settings.upsell_title }}
            </p>
            <div class="CartUpsells__Items">
              <div class="Drawer__Container">
                {% render 'cart-upsell-item', line_item: upsell_item: upsell_item %}
              </div>
            </div>
          </div>
          <!-- /Upsell items -->
        {%- endif -%}
      {%- endif -%}
    </div>

		{%- unless cart.item_count == 0 -%}
			<div class="Drawer__Footer" data-drawer-animated-bottom>
				<div class="Drawer__Footer__Inner">
					{%- if contains_free_shipping_variant -%}
						{%- assign delivery_cost = 0 -%}
						{%- assign delivery_cost_price = 0 | money -%}
					{%- else -%}
						{%- assign delivery_cost = threshold_in_cents | divided_by: 10 -%}
						{%- assign delivery_cost_price = threshold_in_cents | divided_by: 10 | money -%}

						{% comment %}Set free delivery if a product in the "0% Steuer" collection{% endcomment %}
						{%- assign only_0_tax_items = true -%}

						{%- for line_item in cart.items -%}
							{%- for line_item_product_collection in line_item.product.collections -%}
								{%- unless line_item_product_collection.title == '0% Steuer' -%}
									{%- assign only_0_tax_items = false -%}
								{%- endunless -%}
							{%- endfor -%}
						{%- endfor -%}

						{%- for line_item in cart.items -%}
							{%- for line_item_product_collection in line_item.product.collections -%}
								{%- if line_item_product_collection.title == '0% Steuer' and only_0_tax_items == true -%}
									{%- assign delivery_cost = 0 -%}
									{%- assign delivery_cost_price = 0 | money -%}
								{%- endif -%}
							{%- endfor -%}
						{%- endfor -%}
						{% comment %}End: Set free delivery if a product in the "0% Steuer" collection{% endcomment %}
					{%- endif -%}

					<!-- Subtotal -->
					<div class="Drawer__Footer__Subtotal">
						<small class="Drawer__Footer__SubtotalLabel">{{ 'cart.general.subtotal' | t }}</small>
						<span class="Drawer__Footer__SubtotalPrice" data-price="{{ cart.total_price | money }}">
							<s class="Drawer__Footer__SubtotalPrice_Compare-at"></s>
							<span class="Drawer__Footer__SubtotalPrice_Value"></span>
						</span>
					</div>
					<!-- /Subtotal -->

					<!-- Delivery -->
					<div class="Drawer__Footer__Delivery">
						<small>{{ 'cart.general.delivery' | t }}</small>

						<span data-freeshipping-text="{{ 'cart.sidebar.free_shipping' | t }}"></span>
					</div>
					<!-- /Delivery -->

					<!-- Total -->
					<div class="Drawer__Footer__Total">
						<small>{{ 'cart.general.total' | t }}</small>
						<span></span>
					</div>
					<!-- /Total -->

					<!-- Scroll button -->
					<span class="CartUpsells__ScrollBtn">
						<img
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAh0lEQVRIie2TQQqAIBBFn13M47TsKOWqTpttRhhE0TIhwg8DguN//y+EoZflZao1dQoyAAPwB4AB7A0fK2+qZAAHnMAS3aV+8iy7RwqSa+BleU1AYvM9ZVySATYB6Sa6QUjuyaR/AgmAZnMNcQrio7NrMdeQ0ERPU/IS5FXzGNLFXEO6mX9TFwuTLBH05pO4AAAAAElFTkSuQmCC"
							alt=""
						>
					</span>
					<!-- /Scroll button -->

					<!-- Cart sidebar coupon -->
					<div class="Drawer__Footer__Coupon">
						<div class="Drawer__Footer__Coupon-title">
							{{ 'cart.sidebar.coupon.title' | t }}
						</div>
						<div class="Drawer__Footer__Coupon-content">
							<div class="Drawer__Footer__Coupon-dcart"></div>
							<div class="Drawer__Footer__Coupon-percentage"></div>
						</div>
					</div>
					<!-- /Cart sidebar coupon -->
				</div>

				{%- if settings.cart_enable_notes or shipping_and_taxes_notice != blank -%}
					{%- if settings.cart_enable_notes -%}
						{%- if cart.note == blank -%}
							<button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.add_note' | t }}</button>
						{%- else -%}
							<button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.edit_note' | t }}</button>
						{%- endif -%}
					{%- endif -%}

					{%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

					{% comment %}
						{%- if shipping_and_taxes_notice != blank -%}
						  <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p>
						{%- endif -%}
					{% endcomment %}

					{%- if cart.cart_level_discount_applications != blank -%}
						{%- for discount_application in cart.cart_level_discount_applications -%}
							<p class="Cart__Discount">
								{%- render 'icon' with 'sale' -%}
								{{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span>
							</p>
						{%- endfor -%}
					{%- endif -%}
				{%- endif -%}

				<button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full" disabled>
					<span>{{- 'cart.general.checkout' | t -}}</span>
				</button>

				{%- if settings.cart_enable_notes -%}
					<div class="Cart__OffscreenNoteContainer" aria-hidden="true">
						{%- if cart.note == blank -%}
							<span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
						{%- else -%}
							<span class="Cart__NoteButton">{{ 'cart.general.edit_note' | t }}</span>
						{%- endif -%}

						<div class="Form__Item">
							<textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3" placeholder="{{ 'cart.general.note_placeholder' | t }}" data-scrollable>{{ cart.note }}</textarea>
						</div>

						<button type="button" class="Button Button--primary Button--full" data-action="toggle-cart-note">{{ 'cart.general.save_note' | t }}</button>
					</div>
				{%- endif -%}

				{%- if section.settings.payment_image -%}
					<!-- Payment image -->
					<div class="CartPayment__Image">
						{%- assign image = section.settings.payment_image -%}
						{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,800', image: image -%}{%- endcapture -%}
						{%- assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
						<img
							class="VariantSelector__Image Image--lazyLoad Image--fadeIn"
							data-src="{{ image_url }}"
							data-widths="[{{ supported_sizes }}]"
							data-sizes="auto"
							alt="{{ image.alt | escape }}"
						>
					</div>
					<!-- /Payment image -->
				{%- endif -%}
			</div>
		{%- endunless -%}
	</form>
</div>

{% schema %}
{
	"name": "Cart sidebar",
	"settings": [
		{
			"type": "header",
			"content": "Free gift"
		},
		{
			"type": "checkbox",
			"id": "enable_gift",
			"label": "Enable gift item",
			"default": false
		},
		{
			"type": "number",
			"id": "gift_min_price",
			"label": "Min pricevalue to get a gift in €",
			"default": 85
		},
		{
			"type": "product",
			"id": "gift_product",
			"label": "Gift product"
		},
		{
			"type": "header",
			"content": "Free delivery"
		},
		{
			"type": "image_picker",
			"id": "message_delivery_icon",
			"label": "Icon"
		},
		{
			"type": "text",
			"id": "message_delivery_text-first",
			"label": "Message before value",
			"default": "Noch"
		},
		{
			"type": "text",
			"id": "message_delivery_text-last",
			"label": "Message after value",
			"default": "bis zum kostenlosen Versand"
		},
		{
			"type": "header",
			"content": "Final"
		},
		{
			"type": "text",
			"id": "message_final_text",
			"label": "Message",
			"default": "Glückwunsch: sie erhalten kostenlosen Versand!"
		},
		{
			"type": "header",
			"content": "Upsell"
		},
		{
			"type": "text",
			"id": "upsell_title",
			"label": "Upsell title"
		},
		{
			"type": "product_list",
			"id": "upsell_items",
			"label": "Upsell products",
			"limit": 2
		},
		{
			"type": "header",
			"content": "Payment"
		},
		{
			"type": "image_picker",
			"id": "payment_image",
			"label": "Payment image"
		}
	]
}
{% endschema %}

{% comment %} Setting for later {% endcomment %}
{% comment %}
	{
		"type": "checkbox",
		"id": "enable_gift_campaign",
		"label": "Enable gift campaign",
		"default": false
	},
{% endcomment %}
