{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="sidebar-cart" class="Drawer Drawer--fromRight" aria-hidden="true" data-section-id="cart" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
      <span class="Drawer__Title Heading u-h4">{{ 'cart.general.title' | t }}</span>

      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.close_cart' | t }}">
        {%- render 'icon' with 'close' -%}
      </button>
  </div>

  <form class="Cart Drawer__Content" action="{{ routes.cart_url }}" method="POST" novalidate>
    <div class="Drawer__Main" data-scrollable>
      {%- if settings.cart_show_free_shipping_threshold -%}
        {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
        {%- assign contains_free_shipping_variant = false -%}

        {%- for line_item in cart.items -%}
          {%- assign has_free_shipping = line_item.variant.metafields.shipping.has_free_shipping -%}
          
          {%- if has_free_shipping -%}
            {%- assign contains_free_shipping_variant = true -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

        <div class="Cart__ShippingNotice Text--subdued">
          <div class="Drawer__Container">
            {%- if cart.total_price >= threshold_in_cents or contains_free_shipping_variant -%}
              <p>{{- 'cart.general.free_shipping' | t -}}</p>
            {%- else -%}
              {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
              <p>{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      
      {%- if cart.item_count == 0 -%}
        <p class="Cart__Empty Heading u-h5">{{ 'cart.general.empty' | t }}</p>
      {%- else -%}
        <div class="Drawer__Container">
          <div class="Cheering">
            <p class="Cheering__Title">{{ 'cart.cheering.title' | t }}</p>
            <p class="Cheering__Text">{{ 'cart.cheering.text' | t }}</p>
          </div>
        </div>

        <div class="Drawer__Container">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'cart-items' %}
        </div>
      {%- endif -%}
    </div>

    {%- unless cart.item_count == 0 -%}

      <!-- Upsell items -->
      {%- assign availableUpsellItemFound = false -%}
      <div class="CartUpsells__Container">
        <p class="CartUpsells__Title">
          {{ section.settings.upsell_title }}
        </p>
        <div class="CartUpsells__Items">
          {%- for line_item in section.settings.upsell_items -%}
            {%- if availableUpsellItemFound == false -%}
              {%- if line_item.available -%}
      			{%- assign availableUpsellItemFound = true -%}
                {%- assign line_item_type = 'upsell' -%}
                <div class="Drawer__Container">
                  <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
                  <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">
                  {% render 'cart-items' with line_item_type %}
                </div>
              {%- endif -%}
            {%- else -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      <!-- /Upsell items -->

      <div class="Drawer__Footer" data-drawer-animated-bottom>
        
        <div class="Drawer__Footer__Inner">
          <div class="Drawer__Footer__Subtotal">
            <small class="Drawer__Footer__SubtotalLabel">{{ 'cart.general.subtotal' | t }}</small> 
            <span class="Drawer__Footer__SubtotalPrice">{{ cart.total_price | money }}</span>
          </div>

          <!-- Cart sidebar coupon -->
          <div class="Drawer__Footer__Coupon">
            <div class="Drawer__Footer__Coupon-title">
              {{ 'cart.sidebar.coupon.title' | t }}
            </div>
            <div class="Drawer__Footer__Coupon-content">
              <div class="Drawer__Footer__Coupon-dcart"></div>
              <div class="Drawer__Footer__Coupon-percentage"></div>
            </div>
          </div>
          <!-- /Cart sidebar coupon -->
        </div>
        
        {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

        {%- if settings.cart_enable_notes or shipping_and_taxes_notice != blank -%}
          {%- if settings.cart_enable_notes -%}
            {%- if cart.note == blank -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.add_note' | t }}</button>
            {%- else -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.edit_note' | t }}</button>
            {%- endif -%}
          {%- endif -%}

          {%- if shipping_and_taxes_notice != blank -%}
            <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p>
          {%- endif -%}

          {%- if cart.cart_level_discount_applications != blank -%}
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <p class="Cart__Discount">{%- render 'icon' with 'sale' -%} {{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span></p>
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}

        <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">
          <span>{{- 'cart.general.checkout' | t -}}</span>
        </button>

        {%- if settings.cart_enable_notes -%}
          <div class="Cart__OffscreenNoteContainer" aria-hidden="true">
            {%- if cart.note == blank -%}
              <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
            {%- else -%}
              <span class="Cart__NoteButton">{{ 'cart.general.edit_note' | t }}</span>
            {%- endif -%}

            <div class="Form__Item">
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3" placeholder="{{ 'cart.general.note_placeholder' | t }}" data-scrollable>{{ cart.note }}</textarea>
            </div>

            <button type="button" class="Button Button--primary Button--full" data-action="toggle-cart-note">{{ 'cart.general.save_note' | t }}</button>
          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}
  </form>
</div>

{% schema %}
{
  "name": "Cart sidebar",
  "settings": [
    {
      "type": "header",
      "content": "Upsell"
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Upsell title"
    },
    {
      "type": "product_list",
      "id": "upsell_items",
      "label": "Upsell products",
      "limit": 2
    }
  ]
}
{% endschema %}