<section class="Section -Secondary Section--spacingNormal">
  <div class="Container">
    <header class="SectionHeader SectionHeader--center">
      <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h2>
      <div class="SectionHeader__SubHeading">{{ section.settings.subtitle }}</div>
    </header>
    <div class="SectionContent">
      <div class="Contact">
        <div
          class="Contact__ImageContainer Image"
          style="--aspect-ratio: {{ section.settings.image.aspect_ratio }}; --min-width: {{ section.settings.image_min_width }}px;"
        >
          <img
            class="Image__Image Image--lazyLoad Image--fadeIn"
            src="{{ section.settings.image | img_url: 'master' }}"
            alt="{{ section.settings.image_alt | escape }}"
            loading="lazy"
          >
        </div>
        <div class="Contact__Content">
          <p class="Contact__CtaTitle Heading u-h3">{{ section.settings.cta_title }}</p>
          <div class="Contact__Buttons">
            {%- for block in section.blocks -%}
              <a
                class="Button"
                href="{{ block.settings.url }}"
                style="--color: {{ block.settings.color }};"
              >
                <img
                  class="Button__Image Image--lazyLoad Image--fadeIn"
                  src="{{ block.settings.image | img_url: 'master' }}"
                  alt="{{ block.settings.image_alt | escape }}"
                  loading="lazy"
                >
                <span class="Button__Text">{{ block.settings.text }}</span>
              </a>
            {%- endfor -%}
          </div>
          <div class="Contact__MicroCopy" style="max-width: 80%; margin: 0 auto;">
            <p>Wir melden uns in der Regel innerhalb von 2-3 Werktagen mit einer Antwort bei dir!</p>

            * Ihre Einwilligung in die Kontaktaufnahme finden Sie <span class="flip" id="flip">hier</span>
          </div>

          {% comment %}
            {{ section.settings['microcopy-html'] }}
                     <div class="Contact__MicroCopy">{{ section.settings.microcopy }}</div>
            <div class="">* Ihre Einwilligung in die Kontaktaufnahme finden Sie hier.</div>
          {% endcomment %}

          
        </div>
        
      </div>
      <div class="panel" id="panel">
              Mit der Kontaktaufnahme per WhatsApp oder E-Mail willige ich freiwillig in die Verarbeitung über WhatsApp
              oder E-Mail, sowie in das Setzen oder Aktivieren der jeweiligen Cookies und externen Verbindungen ein,
              deren Funktionen in der Datenschutzerklärung oder in dort verlinkten Dokumenten bzw. externen Links
              genauer erläutert werden und mir deshalb bekannt sind. In dem ich die Kommunikation starte erteile ich
              auch freiwillig meine ausdrückliche Einwilligung gem. Art. 49 Abs. 1 Unterabs. 1 Buchst. a DS-GVO in
              Datenübermittlungen in Drittländer zu den und durch die in der Datenschutzerklärung genannten Unternehmen
              und Zwecke, insbesondere für solche Übermittlungen an Drittländer für die ein oder kein
              Angemessenheitsbeschluss der EU/EWR vorliegt sowie an Unternehmen oder sonstige Stellen, die einem
              bestehenden Angemessenheitsbeschluss nicht aufgrund einer Selbstzertifizierung oder anderer
              Beitrittskriterien unterfallen, und in denen oder für die erhebliche Risiken und keine geeigneten
              Garantien für den Schutz meiner personenbezogenen Daten bestehen (z.B. wegen § 702 FISA, Executive Order
              EO12333 und dem CloudAct in den USA). Bei Abgabe meiner freiwilligen und ausdrücklichen Einwilligung war
              mir bekannt, dass in Drittländern unter Umständen kein angemessenes Datenschutzniveau gegeben ist und das
              meine Betroffenenrechte gegebenenfalls nicht durchgesetzt werden können. Ich kann die
              datenschutzrechtliche Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen. Durch den Widerruf
              der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
              Verarbeitung nicht berührt. Mit einer einzelnen Handlung (der Kontaktaufnahme), erteile ich mehrere
              Einwilligungen. Dabei handelt es sich sowohl um Einwilligungen nach dem EU/EWR-Datenschutzrecht als auch
              um die des CCPA/CPRA, ePrivacy und Telemedienrechts, und anderer internationaler Rechtsvorschriften, die
              unter anderem zum Speichern und Auslesen von Informationen notwendig und als Rechtsgrundlage für eine
              geplante weitere Verarbeitung der ausgelesenen Daten erforderlich sind. Mit meiner Handlung bestätige ich
              ebenfalls, die Datenschutzerklärung und das Transparenzdokument gelesen und zur Kenntnis genommen zu
              haben.
            </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image alternate Text"
    },
    {
      "type": "range",
      "default": 260,
      "id": "image_min_width",
      "label": "Image min. width",
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "Call to Action Title"
    },
    {
      "type": "richtext",
      "id": "microcopy",
      "label": "Micro Copy"
    },
    {
      "type": "html",
      "id": "microcopy-html",
      "label": "Micro Copy HTML"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "button",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "image_alt",
          "label": "Image alternate Text"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Contact",
      "name": "Contact",
      "settings": {}
    }
  ]
}
{% endschema %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#flip').click(function () {
      $('#panel').slideToggle('slow');
    });
  });
</script>

<style>
  #panel {
    padding: 5px;
    text-align: center;
    background-color:transparent;
    border: solid 1pxrgb(168, 168, 168);
  }


  #flip {
  text-decoration: underline
  }

  #panel {
    display: none;
  }
</style>
