

<style>@import url('https://fonts.googleapis.com/css?family=sans-serif:600,700,400|Inter:400&display=swap');.gps-578431384533795713 .gp-relative{position:relative}.gps-578431384533795713 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578431384533795713 .gp-mb-0{margin-bottom:0}.gps-578431384533795713 .gp-flex{display:flex}.gps-578431384533795713 .gp-grid{display:grid}.gps-578431384533795713 .\!gp-hidden{display:none!important}.gps-578431384533795713 .gp-hidden{display:none}.gps-578431384533795713 .gp-w-max{width:-moz-max-content;width:max-content}.gps-578431384533795713 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-578431384533795713 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-578431384533795713 .gp-max-w-full{max-width:100%}.gps-578431384533795713 .gp-flex-1{flex:1 1 0%}.gps-578431384533795713 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578431384533795713 .gp-flex-col{flex-direction:column}.gps-578431384533795713 .gp-flex-wrap{flex-wrap:wrap}.gps-578431384533795713 .gp-text-center{text-align:center}.gps-578431384533795713 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-578431384533795713 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578431384533795713 .gp-duration-200{transition-duration:.2s}.gps-578431384533795713 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-578431384533795713 .tablet\:\!gp-hidden{display:none!important}.gps-578431384533795713 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-578431384533795713 .mobile\:\!gp-hidden{display:none!important}.gps-578431384533795713 .mobile\:gp-hidden{display:none}}.gps-578431384533795713 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(85, 181, 41, 0.6)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gZe5KS6sEb"}' data-id="gZe5KS6sEb" id="gZe5KS6sEb" data-same-height-subgrid-container class="gZe5KS6sEb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:20px;--pl:0px;--pb:10px;--pr:0px;--mb-tablet:30px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--mb-mobile:20px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(85, 181, 41, 0.6);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMjSjfWJWw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCm8X4jdF_"}' data-id="gCm8X4jdF_" id="gCm8X4jdF_" data-same-height-subgrid-container class="gCm8X4jdF_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwVudxyMsY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcmpjMS9VW"}' data-id="gcmpjMS9VW" id="gcmpjMS9VW" data-same-height-subgrid-container class="gcmpjMS9VW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--cg-mobile:0px;--rg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1000px;--w-mobile:95%;--h:auto;--h-mobile:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7DZHWqMp9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gngS5Cw8Hf"
        class="gngS5Cw8Hf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:30px;--pl-mobile:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836416"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:150%;--w-tablet:150%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:18px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggngS5Cw8Hf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gngS5Cw8Hf">
        .gngS5Cw8Hf {

}
.gngS5Cw8Hf p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gM9im2aQhY gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gD8jCxtRHz ">
      
    {%- liquid
      assign standardEndDate = 1755001730581
      assign typeCountdown = "evergreen"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gD8jCxtRHz"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"evergreen","dateStandard":1754987330581,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":32,"endTime":1754477479955,"startTime":1754382530581},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Day","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"gD8jCxtRHz","builderData":{"uid":"gD8jCxtRHz","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1754987330581,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":32,"endTime":1754477479955,"startTime":1754382530581},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Day","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true},"custom":{"fontSize":{"desktop":"18px","tablet":"18px","mobile":"12px"},"fontWeight":"400","lineHeight":{"desktop":"130%","tablet":"130%","mobile":"130%"},"fontFamily":"sans-serif","textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false},"latestUpdate":"fontSize"},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"},"custom":{"fontSize":{"desktop":"14px","tablet":"14px","mobile":"8px"},"fontWeight":"400","lineHeight":{"desktop":"180%","tablet":"180%","mobile":"180%"},"fontFamily":{"value":"Inter","type":"google"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false},"latestUpdate":"fontSize"},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"bg-2","horizontalGap":"16px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"24px","right":"24px"},"mobile":{"top":"6px","bottom":"6px","left":"10px","right":"10px","link":false}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"rounded"}},"verticalGap":"0px"},"advanced":{"spacing-setting":{"edited":["mobile"],"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"},"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:16px;--jc:center">
          
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:6px;--pb-mobile:6px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD8jCxtRHz-text" id="hour"
        class="gD8jCxtRHz"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836417"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD8jCxtRHz-text"
        class="gD8jCxtRHz"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836417"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:8px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD8jCxtRHz_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:6px;--pb-mobile:6px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD8jCxtRHz-text" id="minute"
        class="gD8jCxtRHz"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836417"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD8jCxtRHz-text"
        class="gD8jCxtRHz"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836418"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:8px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD8jCxtRHz_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:6px;--pb-mobile:6px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD8jCxtRHz-text" id="second"
        class="gD8jCxtRHz"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836418"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD8jCxtRHz-text"
        class="gD8jCxtRHz"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754465836418"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:8px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD8jCxtRHz_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-578431384533795713 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=578431384448664449&sectionId=578431384533795713)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggngS5Cw8Hf_text","label":"ggngS5Cw8Hf_text","default":"<p><strong>Limitiertes Angebot:&nbsp;</strong></p><p>Nur diesen Monat gültig!&nbsp;</p>"},{"type":"html","id":"ggD8jCxtRHz_dayLabel","label":"ggD8jCxtRHz_dayLabel","default":"Day"},{"type":"html","id":"ggD8jCxtRHz_hourLabel","label":"ggD8jCxtRHz_hourLabel","default":"Stunden"},{"type":"html","id":"ggD8jCxtRHz_minuteLabel","label":"ggD8jCxtRHz_minuteLabel","default":"Minuten"},{"type":"html","id":"ggD8jCxtRHz_secondLabel","label":"ggD8jCxtRHz_secondLabel","default":"Sekunden"},{"type":"html","id":"ggD8jCxtRHz_weekLabel","label":"ggD8jCxtRHz_weekLabel","default":"Week"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
