
    
    <style>.gps-589843598187430902 .gp-relative{position:relative}.gps-589843598187430902 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589843598187430902 .gp-mb-0{margin-bottom:0}.gps-589843598187430902 .gp-inline-block{display:inline-block}.gps-589843598187430902 .gp-flex{display:flex}.gps-589843598187430902 .gp-inline-flex{display:inline-flex}.gps-589843598187430902 .gp-grid{display:grid}.gps-589843598187430902 .gp-contents{display:contents}.gps-589843598187430902 .\!gp-hidden{display:none!important}.gps-589843598187430902 .gp-hidden{display:none}.gps-589843598187430902 .gp-h-auto{height:auto}.gps-589843598187430902 .gp-h-full{height:100%}.gps-589843598187430902 .gp-w-full{width:100%}.gps-589843598187430902 .gp-max-w-full{max-width:100%}.gps-589843598187430902 .gp-flex-none{flex:none}.gps-589843598187430902 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589843598187430902 .gp-flex-col{flex-direction:column}.gps-589843598187430902 .gp-items-center{align-items:center}.gps-589843598187430902 .gp-justify-center{justify-content:center}.gps-589843598187430902 .gp-overflow-hidden{overflow:hidden}.gps-589843598187430902 .gp-break-words{overflow-wrap:break-word}.gps-589843598187430902 .gp-text-center{text-align:center}.gps-589843598187430902 .gp-no-underline{text-decoration-line:none}.gps-589843598187430902 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589843598187430902 .gp-duration-200{transition-duration:.2s}.gps-589843598187430902 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589843598187430902 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-589843598187430902 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-589843598187430902 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-589843598187430902 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-589843598187430902 .tablet\:\!gp-hidden{display:none!important}.gps-589843598187430902 .tablet\:gp-hidden{display:none}.gps-589843598187430902 .tablet\:gp-h-auto{height:auto}.gps-589843598187430902 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-589843598187430902 .mobile\:\!gp-hidden{display:none!important}.gps-589843598187430902 .mobile\:gp-hidden{display:none}.gps-589843598187430902 .mobile\:gp-h-auto{height:auto}.gps-589843598187430902 .mobile\:gp-flex-none{flex:none}}.gps-589843598187430902 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-589843598187430902 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#EDF4FC","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gpxG9Rs4la"}' data-id="gpxG9Rs4la" id="gpxG9Rs4la" data-same-height-subgrid-container class="gpxG9Rs4la gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mb:30px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--mb-tablet:30px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--mb-mobile:30px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#EDF4FC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjv6ISiD5U gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(249, 252, 255, 0.2)","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false},"mobile":{"attachment":"scroll","color":"rgba(77, 144, 63, 0.2)","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gheO_T97Ig"}' data-id="gheO_T97Ig" id="gheO_T97Ig" data-same-height-subgrid-container class="gheO_T97Ig gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--mb:49px;--mb-tablet:49px;--mb-mobile:40px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:rgba(249, 252, 255, 0.2);--bgc-mobile:rgba(77, 144, 63, 0.2);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gum_qF_-bu gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gSGZ9CRrrZ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:13px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:40px;--ml-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--mt-mobile:20px;--ml-mobile:0px;--mr-mobile:10px;--pl-mobile:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762408506014 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gSGZ9CRrrZ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-78154898-0686-474a-ab50-a41168cee45f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI3MzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNzM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjczNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI3MzYiIGZpbGw9InVybCgjZy0xMjAwLTczNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "OP_Creatives_28.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSI3MjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODAtNzIwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgwIiBoZWlnaHQ9IjcyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSI3MjAiIGZpbGw9InVybCgjZy0xMDgwLTcyMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODAiIHRvPSIxMDgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "OP_Creatives_28.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSI3MjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODAtNzIwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgwIiBoZWlnaHQ9IjcyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSI3MjAiIGZpbGw9InVybCgjZy0xMDgwLTcyMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODAiIHRvPSIxMDgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "OP_Creatives_28.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giq9iHnEUC"
        class="giq9iHnEUC"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:24px;--pl-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762408506024"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:23px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#423A3A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiq9iHnEUC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnNC2-bx0M"
        class="gnNC2-bx0M"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:24px;--pl-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762408506026"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:23px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnNC2-bx0M_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyjM8VMA0N"
        class="gyjM8VMA0N"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:26px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:26px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pl-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762408506027"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:23px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyjM8VMA0N_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gAB4hwEOR4","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:21px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:12px;--mb-tablet:21px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gyPCiMyBqt"].gp-button-base::before, [data-id="gyPCiMyBqt-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gyPCiMyBqt"]:hover::before, [data-id="gyPCiMyBqt-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gAB4hwEOR4
            target=_self
          ></a>
        <a
          data-id="gyPCiMyBqt" dataId="gyPCiMyBqt" data-state="idle" aria-label="<p>BIS ZU 33% NEUKUNDEN-RABATT AKTIVIEREN</p>"
          
          href="#gAB4hwEOR4" target="_self"
          style="--w:500px;--w-tablet:500px;--w-mobile:100%;--h:60px;--h-tablet:60px;--h-mobile:64px;--pl:8px;--pr:8px;--pt:auto;--pb:auto;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:auto;--pb-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--shadow:6.735557395310443e-16px 11px 11px 0px rgba(96, 77, 62, 0.09);--bgi:;--hvr-bgi:;--hvr-bg:#FF7A21;--bg:#F3841D;--c:#000000;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase"
          class="gyPCiMyBqt gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggyPCiMyBqt_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gyPCiMyBqt">
        button.gyPCiMyBqt {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-589843598187430902 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589838772791673828&sectionId=589843598187430902)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggiq9iHnEUC_text","label":"ggiq9iHnEUC_text","default":"<p><span style=\"font-size:16px;\"><strong>Stufe 1: Sofortwirkung gegen Flöhe &amp; Grasmilben&nbsp;</strong></span></p><p>Geraniol verteilt sich über Haut und Fell und sorgt für ein&nbsp;<strong>unattraktives Umfeld für Flöhe &amp; Grasmilben.</strong> Die kleinen Plagegeister mögen diesen Geruch nicht – sie meiden den Kontakt und suchen das Weite.</p>"},{"type":"html","id":"ggnNC2-bx0M_text","label":"ggnNC2-bx0M_text","default":"<p><span style=\"font-size:16px;\"><strong>Stufe 2: &nbsp;Abwehrbarriere aktivieren</strong></span></p><p>Natürliche Öle wie Schwarzkümmel, Cajeput, Patchouli und Nelke&nbsp;<strong>stören die Orientierung von Flöhen &amp; Grasmilben</strong> und verstärken den natürlichen Repellent-Effekt. So wird dein Hund für sie deutlich unattraktiver.</p>"},{"type":"html","id":"ggyjM8VMA0N_text","label":"ggyjM8VMA0N_text","default":"<p><span style=\"font-size:16px;\"><strong>Stufe 3: &nbsp;Langzeiteffekt – Neubefall vorbeugen</strong></span></p><p>Die Kombination aus Kokosöl und pflanzlichen Wirkstoffen entfaltet einen&nbsp;<strong>anhaltenden Geruchsschutz,</strong> der die Umgebung für Flöhe &amp; Grasmilben&nbsp;<strong>über Wochen hinweg unattraktiv</strong> macht und so&nbsp;einem <strong>Neubefall effektiv vorbeugt.</strong></p>"},{"type":"html","id":"ggyPCiMyBqt_label","label":"ggyPCiMyBqt_label","default":"<p>BIS ZU 33% NEUKUNDEN-RABATT AKTIVIEREN</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  