
    
    
    <style>.gps-591143888228451274 .gp-relative{position:relative}.gps-591143888228451274 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591143888228451274 .gp-mb-0{margin-bottom:0}.gps-591143888228451274 .gp-inline-block{display:inline-block}.gps-591143888228451274 .gp-flex{display:flex}.gps-591143888228451274 .gp-grid{display:grid}.gps-591143888228451274 .gp-contents{display:contents}.gps-591143888228451274 .\!gp-hidden{display:none!important}.gps-591143888228451274 .gp-hidden{display:none}.gps-591143888228451274 .gp-h-auto{height:auto}.gps-591143888228451274 .gp-h-full{height:100%}.gps-591143888228451274 .gp-w-full{width:100%}.gps-591143888228451274 .gp-max-w-full{max-width:100%}.gps-591143888228451274 .gp-flex-none{flex:none}.gps-591143888228451274 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591143888228451274 .gp-flex-col{flex-direction:column}.gps-591143888228451274 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591143888228451274 .gp-duration-200{transition-duration:.2s}.gps-591143888228451274 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-591143888228451274 .tablet\:\!gp-hidden{display:none!important}.gps-591143888228451274 .tablet\:gp-hidden{display:none}.gps-591143888228451274 .tablet\:gp-h-auto{height:auto}.gps-591143888228451274 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-591143888228451274 .mobile\:\!gp-hidden{display:none!important}.gps-591143888228451274 .mobile\:gp-hidden{display:none}.gps-591143888228451274 .mobile\:gp-h-auto{height:auto}.gps-591143888228451274 .mobile\:gp-flex-none{flex:none}}.gps-591143888228451274 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EDE3F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"ghGiDKZQ-F"}' data-id="ghGiDKZQ-F" id="ghGiDKZQ-F" data-same-height-subgrid-container class="ghGiDKZQ-F gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:20px;--pt:20px;--pl:0px;--pb:20px;--pr:0px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:20px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:20px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDE3F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZVzSqJOiP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gpEfSX58DN"}' data-id="gpEfSX58DN" id="gpEfSX58DN" data-same-height-subgrid-container class="gpEfSX58DN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:0px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gLtmutUEKq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMvZNkFPx0"
        class="gMvZNkFPx0"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762934528319"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:31px;--size-tablet:28px;--size-mobile:26px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMvZNkFPx0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAo7uzH76w"
        class="gAo7uzH76w"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:14px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762934528319"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAo7uzH76w_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gTaQEU-p8Y gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g7lU--MF23"}' data-id="g7lU--MF23" id="g7lU--MF23" data-same-height-subgrid-container class="g7lU--MF23 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPFXEoUXIl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gJ7FeQrDOR"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762934528320 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gJ7FeQrDOR"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "OP_Creatives_31.png" | file_url }}" srcset="{{ "OP_Creatives_31.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "OP_Creatives_31.png" | file_url }}" srcset="{{ "OP_Creatives_31.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "OP_Creatives_31.png" | file_url }}" data-src="{{ "OP_Creatives_31.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:custom"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gJ7FeQrDOR">
        .gJ7FeQrDOR {

}
.gJ7FeQrDOR > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-591143888228451274 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591140696849646248&sectionId=591143888228451274)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMvZNkFPx0_text","label":"ggMvZNkFPx0_text","default":"<strong>Grund 6: Bewährt an Silvester – echte Ergebnisse aus der Praxis</strong>"},{"type":"html","id":"ggAo7uzH76w_text","label":"ggAo7uzH76w_text","default":"<p>Tausende Halter haben das Chill-Out-Bundle bereits im Silvester-Einsatz getestet – mit erstaunlich ähnlichen Erfahrungen:</p><p><strong>Weniger Hecheln, schnellere Beruhigung, ruhigere Nächte.</strong></p><p>&nbsp;</p><p>Viele berichten, dass ihre Hunde schon nach wenigen Tagen <strong>tiefer schlafen</strong>, <strong>aufmerksamer, aber nicht nervös</strong> wirken und <strong>die Silvesternacht erstmals ohne Panik</strong> überstanden haben.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}