
    
    <style>.gps-587534146524611129 .-gp-rotate-90,.gps-587534146524611129 .gp-rotate-180,.gps-587534146524611129 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-587534146524611129 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-587534146524611129 .gp-relative{position:relative}.gps-587534146524611129 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587534146524611129 .gp-mb-0{margin-bottom:0}.gps-587534146524611129 .gp-flex{display:flex}.gps-587534146524611129 .gp-inline-flex{display:inline-flex}.gps-587534146524611129 .gp-grid{display:grid}.gps-587534146524611129 .\!gp-hidden{display:none!important}.gps-587534146524611129 .gp-hidden{display:none}.gps-587534146524611129 .gp-min-h-0{min-height:0}.gps-587534146524611129 .gp-w-full{width:100%}.gps-587534146524611129 .gp-max-w-full{max-width:100%}.gps-587534146524611129 .-gp-rotate-90{--tw-rotate:-90deg}.gps-587534146524611129 .-gp-rotate-90,.gps-587534146524611129 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-587534146524611129 .gp-rotate-180{--tw-rotate:180deg}.gps-587534146524611129 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-587534146524611129 .gp-cursor-pointer{cursor:pointer}.gps-587534146524611129 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-587534146524611129 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587534146524611129 .gp-flex-col{flex-direction:column}.gps-587534146524611129 .gp-items-center{align-items:center}.gps-587534146524611129 .gp-justify-center{justify-content:center}.gps-587534146524611129 .gp-gap-\[16px\]{gap:16px}.gps-587534146524611129 .gp-overflow-hidden{overflow:hidden}.gps-587534146524611129 .gp-overflow-clip{overflow:clip}.gps-587534146524611129 .gp-break-all{word-break:break-all}.gps-587534146524611129 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587534146524611129 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587534146524611129 .gp-duration-200{transition-duration:.2s}.gps-587534146524611129 .gp-duration-500{transition-duration:.5s}.gps-587534146524611129 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-587534146524611129 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-587534146524611129 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-587534146524611129 .tablet\:\!gp-hidden{display:none!important}.gps-587534146524611129 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-587534146524611129 .mobile\:\!gp-hidden{display:none!important}.gps-587534146524611129 .mobile\:gp-hidden{display:none}}.gps-587534146524611129 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-587534146524611129 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-587534146524611129 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(1000px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnr1jbXoWt"}' data-id="gnr1jbXoWt" id="gnr1jbXoWt" data-same-height-subgrid-container class="gnr1jbXoWt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:50px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:40px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:50px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQ-tmsd8KO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5IxE1MVF7"}' data-id="g5IxE1MVF7" id="g5IxE1MVF7" data-same-height-subgrid-container class="g5IxE1MVF7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGAAEUcIOa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDMv3Q1e1-"
        class="gDMv3Q1e1-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:0px;--pl:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482754"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:22px;--size-tablet:26px;--size-mobile:26px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDMv3Q1e1-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZku706xgk"
        class="gZku706xgk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:49px;--ml-mobile:0px;--mb-mobile:24px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482754"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZku706xgk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--ml-mobile:0px;--pt-mobile:0px" class="gokjGnE089 ">
      
    <gp-accordion data-id="gokjGnE089" class="gp-flex gp-flex-col gp-w-full" style="--gg:16px;border-radius:inherit"
      gp-data='{"uid":"gokjGnE089","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"left","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n            <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z\"></path></svg>\n            ","iconExpand":"\n            <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M64 256a16 16 0 0 1 16 -16h352a16 16 0 0 1 0 32h-352A16 16 0 0 1 64 256Z\"></path></svg>\n            ","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gokjGnE089","childListNumber":[],"chidlrenUid":["g7yBrDWVqD","gSsUYfuGAX","g-BQjOiv3B","gUX9NBXB3-","g_VA_pKPfx","gQa2wl2xKw","gPt03pqC3T","gqGH5sKvjy","gv5bIaWlop","gc8QxLskXM"]},"styles":{"bgColor":{"active":"transparent","hover":"#00000000","normal":"transparent"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"gap":"","height":"","width":"1500px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="0" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="g7yBrDWVqD" id="g7yBrDWVqD" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-0" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482755"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="geNd24dBFw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsi5-L0KnC"
        class="gsi5-L0KnC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482756"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsi5-L0KnC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="1" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gSsUYfuGAX" id="gSsUYfuGAX" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-1" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482756"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="gG5Ph-yom5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grwyiDDKTu"
        class="grwyiDDKTu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482756"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrwyiDDKTu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="2" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="g-BQjOiv3B" id="g-BQjOiv3B" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-2" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482757"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="gnQOzksgfT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gArJ3TBNjm"
        class="gArJ3TBNjm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482757"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggArJ3TBNjm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="3" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gUX9NBXB3-" id="gUX9NBXB3-" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-3" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482758"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g35P6TnIR4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbA7lM7KQO"
        class="gbA7lM7KQO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482758"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbA7lM7KQO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="4" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="g_VA_pKPfx" id="g_VA_pKPfx" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-4" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482759"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gvUF4tfCCY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1ZrNbsVYC"
        class="g1ZrNbsVYC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482759"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1ZrNbsVYC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="5" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gQa2wl2xKw" id="gQa2wl2xKw" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-5" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="5"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482759"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g7irUu3uZI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMei7OOR9Z"
        class="gMei7OOR9Z"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482760"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMei7OOR9Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="6" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gPt03pqC3T" id="gPt03pqC3T" data-index="6"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-6" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="6"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482760"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_6 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="6" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="6" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gl3UK6I2su gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbdXsSM_ii"
        class="gbdXsSM_ii"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482760"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbdXsSM_ii_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="7" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gqGH5sKvjy" id="gqGH5sKvjy" data-index="7"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-7" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="7"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482761"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_7 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="7" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="7" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g_Crl8q8Jb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8Ikc0CjwT"
        class="g8Ikc0CjwT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482761"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8Ikc0CjwT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="8" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gv5bIaWlop" id="gv5bIaWlop" data-index="8"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-8" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="8"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482762"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_8 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="8" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="8" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="geFZ3olPGe gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5oP-CTogR"
        class="g5oP-CTogR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482762"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5oP-CTogR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1500px;--w-tablet:1500px;--w-mobile:1500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="9" class="gokjGnE089 gp-overflow-hidden gp-child-item-gokjGnE089 gp-accordion-item">
      <div aria-hidden uid="gc8QxLskXM" id="gc8QxLskXM" data-index="9"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gokjGnE089 gp-accordion-item-gokjGnE089-9" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:;--h-tablet:;--h-mobile:;--fd:row;--jc:;--hvr-bgc:#00000000;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="9"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--jc-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482763"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggokjGnE089_childItem_9 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="9" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="9" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="geFphadV-V gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRRWqxYcif"
        class="gRRWqxYcif"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761298482763"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRRWqxYcif_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-587534146524611129 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587534146356642361&sectionId=587534146524611129)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDMv3Q1e1-_text","label":"ggDMv3Q1e1-_text","default":"<p><strong>11 &nbsp;Fragen beantwortet</strong></p>"},{"type":"html","id":"ggZku706xgk_text","label":"ggZku706xgk_text","default":"<p>Die 11 hufigsten Fragen rund um den G-Snack</p>"},{"type":"html","id":"ggokjGnE089_childItem_0","label":"ggokjGnE089_childItem_0","default":"<p>Fr welche Hunde ist der G-Snack geeignet?</p>"},{"type":"html","id":"ggokjGnE089_childItem_1","label":"ggokjGnE089_childItem_1","default":"<p>Wie wirkt der G-Snack?</p>"},{"type":"html","id":"ggokjGnE089_childItem_2","label":"ggokjGnE089_childItem_2","default":"<p>Wie werden die Drops verwendet?</p>"},{"type":"html","id":"ggokjGnE089_childItem_3","label":"ggokjGnE089_childItem_3","default":"<p>ber welchen Zeitraum fttere ich den G-Snack?</p>"},{"type":"html","id":"ggokjGnE089_childItem_4","label":"ggokjGnE089_childItem_4","default":"<p>Drfen auch trchtige und sugende Hndinnen die G-Snack Drops fressen?</p>"},{"type":"html","id":"ggokjGnE089_childItem_5","label":"ggokjGnE089_childItem_5","default":"<p>Woher wei ich, dass die Ergebnisse echt sind?</p>"},{"type":"html","id":"ggokjGnE089_childItem_6","label":"ggokjGnE089_childItem_6","default":"<p>Wie luft das mit dem Rckgaberecht?</p>"},{"type":"html","id":"ggokjGnE089_childItem_7","label":"ggokjGnE089_childItem_7","default":"<p>Wie schnell wirkt die \"Anti-Giardien\" Formel?</p>"},{"type":"html","id":"ggokjGnE089_childItem_8","label":"ggokjGnE089_childItem_8","default":"<p>Wer steckt hinter Tierliebhaber?</p>"},{"type":"html","id":"ggokjGnE089_childItem_9","label":"ggokjGnE089_childItem_9","default":"<p>Wie lange braucht das Paket bis zu meiner Haustr?</p>"},{"type":"html","id":"ggsi5-L0KnC_text","label":"ggsi5-L0KnC_text","default":"<p>Fr Hunde mit empfindlichem Magen-Darm-Trakt, wiederkehrendem Durchfall, Schleim im Kot, Blhbauch oder Anzeichen eines Giardien-Befalls. Auch ideal bei gereizter Darmflora oder generellen Verdauungsproblemen.</p>"},{"type":"html","id":"ggrwyiDDKTu_text","label":"ggrwyiDDKTu_text","default":"<p>Die pflanzliche Anti-Giardien-Formel kombiniert natrliche Wirkstoffe, die ein parasitenfeindliches Darmmilieu schaffen, Schleimhute beruhigen und die Abwehrkrfte strken.<br>So wird der Darm entlastet, die Verdauung reguliert und Giardien verlieren ihren Halt.</p>"},{"type":"html","id":"ggArJ3TBNjm_text","label":"ggArJ3TBNjm_text","default":"<p>Fttere deinem Hund 1 Drop pro 5kg Krpergewicht am Tag als Kur ber 4 Wochen. Bei Bedarf wiederhole diese Anwendung bitte vierteljhrlich. Die Angaben sind Richtwerte. Bitte ausreichend Trinkwasser bereitstellen.&nbsp;</p>"},{"type":"html","id":"ggbA7lM7KQO_text","label":"ggbA7lM7KQO_text","default":"<p>Die Drops sollten mindestens 4 Wochen gegeben werden. Fr Rckfragen stehen wir euch natrlich gern persnlich zur Verfgung.</p>"},{"type":"html","id":"gg1ZrNbsVYC_text","label":"gg1ZrNbsVYC_text","default":"<p>Hier bitte immer Rcksprache mit dem Arzt halten.</p>"},{"type":"html","id":"ggMei7OOR9Z_text","label":"ggMei7OOR9Z_text","default":"<p><span style=\"color:#000000;\">Du hast recht... im Internetdschungel ist das heutzutage nicht so einfach. Zum Glck gibt es anerkannte und unabhngige Bewertungsplattformen wie trustpilot. Hier haben bereits mehr als 14.000 Kunden die Produkte von Tierliebhaber bewertet. Hier geht's zu den trustpilot Bewertungen - https://de.trustpilot.com/review/tierliebhaber.de</span></p>"},{"type":"html","id":"ggbdXsSM_ii_text","label":"ggbdXsSM_ii_text","default":"<p><span style=\"color:#000000;\">Ganz einfach... Du bestellst den G-Snack und testest diesen bei deinem Hund 30 Tage lang aus. Bist du mit dem Ergebnis nicht zufrieden, dann hast du nochmal weitere 30 Tage in denen du das Paket einfach wieder zurck schicken kannst - &nbsp;bekommst dein Geld zurck.</span></p>"},{"type":"html","id":"gg8Ikc0CjwT_text","label":"gg8Ikc0CjwT_text","default":"<p>Das hngt natrlich vom Zustand deines Hundes ab. Wie lange hat er schon die Beschwerden und wie akut sind sie? Daher gibt es hier keine pauschale Antwort. Je nachdem wie der Zustand ist, knnen erste Resultate schon nach wenigen Wochen sichtbar werden. Sind die Beschwerden noch im Anfangsstadium, berichten viele Hundehalter von tollen Ergebnisse schon nach wenigen Tagen.</p>"},{"type":"html","id":"gg5oP-CTogR_text","label":"gg5oP-CTogR_text","default":"<p><span style=\"color:#000000;\">Ein junges Familienunternehmen aus Leipzig, auf das bereits mehrs als 300.000 glckliche Kunden vertrauen. Ein Zufall war es, der die Grnder dazu brachte hauseigene Rezepturen fr ihren kranken Hund herzustellen. Dass Jahre spter daraus eine erfolgreiche Unternehmensstory entsteht, htte keiner damit gerechnet :)</span></p>"},{"type":"html","id":"ggRRWqxYcif_text","label":"ggRRWqxYcif_text","default":"<p><span style=\"color:#000000;\">Unsere fleiigen Mitarbeiter im Lager geben jeden Tag vollgas um unsere Kunden glcklich zu machen. Du kannst dir also sicher sein, dass du dein Paket (an normalen Tagen) innerhalb 2-3 Tagen bereits in den Hnden hltst.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  