
    
    <style>.gps-581598922846241507 .gp-pointer-events-none{pointer-events:none}.gps-581598922846241507 .gp-absolute{position:absolute}.gps-581598922846241507 .gp-relative{position:relative}.gps-581598922846241507 .gp-inset-0{inset:0}.gps-581598922846241507 .gp-z-1{z-index:1}.gps-581598922846241507 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-581598922846241507 .gp-mb-0{margin-bottom:0}.gps-581598922846241507 .gp-flex{display:flex}.gps-581598922846241507 .gp-grid{display:grid}.gps-581598922846241507 .\!gp-hidden{display:none!important}.gps-581598922846241507 .gp-hidden{display:none}.gps-581598922846241507 .gp-w-max{width:-moz-max-content;width:max-content}.gps-581598922846241507 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-581598922846241507 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-581598922846241507 .gp-max-w-full{max-width:100%}.gps-581598922846241507 .gp-flex-1{flex:1 1 0%}.gps-581598922846241507 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-581598922846241507 .gp-flex-col{flex-direction:column}.gps-581598922846241507 .gp-flex-wrap{flex-wrap:wrap}.gps-581598922846241507 .gp-text-center{text-align:center}.gps-581598922846241507 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-581598922846241507 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-581598922846241507 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581598922846241507 .gp-duration-200{transition-duration:.2s}.gps-581598922846241507 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-581598922846241507 .tablet\:\!gp-hidden{display:none!important}.gps-581598922846241507 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-581598922846241507 .mobile\:\!gp-hidden{display:none!important}.gps-581598922846241507 .mobile\:gp-hidden{display:none}}.gps-581598922846241507 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--top:0px;--z:99999;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#8A91E2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gL3DYA385l"}' data-id="gL3DYA385l" id="gL3DYA385l" data-same-height-subgrid-container class="gL3DYA385l gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:16px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:auto;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:0px;--ml-tablet:auto;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#8A91E2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3T3_-LwS3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtg5ib1iVe"}' data-id="gtg5ib1iVe" id="gtg5ib1iVe" data-same-height-subgrid-container class="gtg5ib1iVe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:12px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="go7OvwJvot gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3RhNhcf7R"}' data-id="g3RhNhcf7R" id="g3RhNhcf7R" data-same-height-subgrid-container class="g3RhNhcf7R gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pl:32px;--pr:32px;--ml-mobile:auto;--mr-mobile:auto;--pl-mobile:20px;--pr-mobile:20px;--ml-tablet:auto;--mr-tablet:auto;--pl-tablet:48px;--pr-tablet:48px;--cg:8px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfFyWqQf_v gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAfw1al0iq"}' data-id="gAfw1al0iq" id="gAfw1al0iq" data-same-height-subgrid-container class="gAfw1al0iq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--mt-mobile:0px;--mb-mobile:14px;--pb-mobile:0px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gJjxVTndWi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxNKk3bdIM"
        class="gxNKk3bdIM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575068"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxNKk3bdIM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gdsanhBF2K gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gmLtMGM2wk ">
      
    {%- liquid
      assign standardEndDate = 1747724302972
      assign typeCountdown = "standard"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gmLtMGM2wk"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"standard","dateStandard":1747709902972,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1747115902972,"hours":3,"mins":0,"startTime":1747105102972},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gmLtMGM2wk","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0}}}},"label":"Countdown Timer","settings":{"behaviour":"standard","dateStandard":1747709902972,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1747115902972,"hours":3,"mins":0,"startTime":1747105102972},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"10px","right":"10px","top":"4px"},"mobile":{"bottom":"4px","left":"8px","right":"8px","top":"4px"}},"labelTypo":{"attrs":{"color":"#999999"},"custom":{"fontSize":{"desktop":"11px","mobile":"12px","tablet":"11px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"100%","mobile":"130%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#242424"},"custom":{"fontSize":{"desktop":"14px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"150%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gmLtMGM2wk","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLtMGM2wk-text" id="hour"
        class="gmLtMGM2wk"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575072"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLtMGM2wk-text"
        class="gmLtMGM2wk"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575072"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:11px;--size-tablet:11px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmLtMGM2wk_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLtMGM2wk-text" id="minute"
        class="gmLtMGM2wk"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575073"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLtMGM2wk-text"
        class="gmLtMGM2wk"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575073"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:11px;--size-tablet:11px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmLtMGM2wk_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLtMGM2wk-text" id="second"
        class="gmLtMGM2wk"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575073"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLtMGM2wk-text"
        class="gmLtMGM2wk"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575074"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:11px;--size-tablet:11px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmLtMGM2wk_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNfRGDFUk4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0kO2txVgi"
        class="g0kO2txVgi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575076"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0kO2txVgi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#CCEFF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gcJ7uIZhlw"}' data-id="gcJ7uIZhlw" id="gcJ7uIZhlw" data-same-height-subgrid-container class="gcJ7uIZhlw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#CCEFF7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI3hmn9l_q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpx4uSJTbW"
        class="gpx4uSJTbW"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:8px;--pb:8px;--mt-mobile:0px;--pt-mobile:4px;--pb-mobile:4px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189575086"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpx4uSJTbW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-581598922846241507 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=581598797520438004&sectionId=581598922846241507)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxNKk3bdIM_text","label":"ggxNKk3bdIM_text","default":"<p>Advertorial</p>"},{"type":"html","id":"ggmLtMGM2wk_dayLabel","label":"ggmLtMGM2wk_dayLabel","default":"Days"},{"type":"html","id":"ggmLtMGM2wk_hourLabel","label":"ggmLtMGM2wk_hourLabel","default":"HRS"},{"type":"html","id":"ggmLtMGM2wk_minuteLabel","label":"ggmLtMGM2wk_minuteLabel","default":"MIN"},{"type":"html","id":"ggmLtMGM2wk_secondLabel","label":"ggmLtMGM2wk_secondLabel","default":"SEC"},{"type":"html","id":"ggmLtMGM2wk_weekLabel","label":"ggmLtMGM2wk_weekLabel","default":"Weeks"},{"type":"html","id":"gg0kO2txVgi_text","label":"gg0kO2txVgi_text","default":"<p>Limited time: 30% OFF + FREESHIPPING</p>"},{"type":"html","id":"ggpx4uSJTbW_text","label":"ggpx4uSJTbW_text","default":"<p>🎁&nbsp;LIMITED TIME - HAIR DAY SALE 🎁</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  