
    
    <style>.gps-550289962126279737 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-550289962126279737 .gp-relative{position:relative}.gps-550289962126279737 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550289962126279737 .gp-mb-0{margin-bottom:0}.gps-550289962126279737 .gp-inline-block{display:inline-block}.gps-550289962126279737 .gp-flex{display:flex}.gps-550289962126279737 .gp-grid{display:grid}.gps-550289962126279737 .\!gp-hidden{display:none!important}.gps-550289962126279737 .gp-hidden{display:none}.gps-550289962126279737 .gp-h-auto{height:auto}.gps-550289962126279737 .gp-h-full{height:100%}.gps-550289962126279737 .gp-w-full{width:100%}.gps-550289962126279737 .gp-max-w-full{max-width:100%}.gps-550289962126279737 .gp-flex-none{flex:none}.gps-550289962126279737 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-550289962126279737 .gp-flex-col{flex-direction:column}.gps-550289962126279737 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550289962126279737 .gp-duration-200{transition-duration:.2s}.gps-550289962126279737 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550289962126279737 .tablet\:\!gp-hidden{display:none!important}.gps-550289962126279737 .tablet\:gp-hidden{display:none}.gps-550289962126279737 .tablet\:gp-h-auto{height:auto}.gps-550289962126279737 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-550289962126279737 .mobile\:\!gp-hidden{display:none!important}.gps-550289962126279737 .mobile\:gp-hidden{display:none}.gps-550289962126279737 .mobile\:gp-h-auto{height:auto}.gps-550289962126279737 .mobile\:gp-flex-none{flex:none}}.gps-550289962126279737 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(247, 246, 241)","type":"color"}},"uid":"gnL8lukXau"}' data-id="gnL8lukXau" id="gnL8lukXau" data-same-height-subgrid-container class="gnL8lukXau gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_FUNNEL_PAGE;--mt:0px;--ml:1px;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:1px;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(247, 246, 241);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:0"
      class="gexh8pEtQ3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gviCEHo6R5"}' data-id="gviCEHo6R5" id="gviCEHo6R5" data-same-height-subgrid-container class="gviCEHo6R5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:135px;--pl:0px;--ml-mobile:auto;--mb-mobile:0px;--pl-mobile:10px;--ml-tablet:50px;--pl-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gauYxpqWMa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBcKizog-k"
        class="gBcKizog-k"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:150px;--mb:10px;--ml-mobile:0px;--mb-mobile:5px;--ml-tablet:0px;--mb-tablet:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759729436443"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:35px;--size-tablet:32px;--size-mobile:17px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBcKizog-k_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-Ti50WiFv"
        class="g-Ti50WiFv"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:150px;--mb:10px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--ml-tablet:0px;--mb-tablet:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759729436443"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:18px;--size-tablet:15px;--size-mobile:12px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-Ti50WiFv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:1"
      class="gwbb7Q1GPs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g1S5FRck8M"
      style="--pageType:GP_FUNNEL_PAGE;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:120px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:1px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-tablet:right;--ta-mobile:right"
      class="gp-group/image gp-relative force-publish-1759729436444 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1S5FRck8M"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-tablet:right;--jc-mobile:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="3240" height="3240" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzI0MCIgaGVpZ2h0PSIzMjQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMjQwLTMyNDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMyNDAiIGhlaWdodD0iMzI0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzI0MCIgaGVpZ2h0PSIzMjQwIiBmaWxsPSJ1cmwoI2ctMzI0MC0zMjQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzI0MCIgdG89IjMyNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_534104955091420133-73421da3-64c9-4c76-bbf5-db32edb38bc4.webp" | file_url }}" data-src="{{ "gempages_534104955091420133-73421da3-64c9-4c76-bbf5-db32edb38bc4.webp" | file_url }}" data-srcset="{{ 'gempages_534104955091420133-73421da3-64c9-4c76-bbf5-db32edb38bc4.webp' | file_url }} 768w, {{ 'gempages_534104955091420133-73421da3-64c9-4c76-bbf5-db32edb38bc4.webp' | file_url }} 1024w, {{ 'gempages_534104955091420133-73421da3-64c9-4c76-bbf5-db32edb38bc4.webp' | file_url }} 1440w"
      id=""
      style="--w:120px;--w-tablet:120px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gnL8lukXau">
        .gnL8lukXau {

}
.needsclick.kl-private-reset-css-Xuajs1,#superchat-widget{
display:none !important;
}
      </style>
    
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-550289962126279737 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=536946033729471697&sectionId=550289962126279737)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggBcKizog-k_text","label":"ggBcKizog-k_text","default":"TIERISCH GUTE QUALITÄT"},{"type":"html","id":"gg-Ti50WiFv_text","label":"gg-Ti50WiFv_text","default":"Entwickelt und hergestellt in Deutschland. Jetzt einfach risikolos testen und Geld-zurück-Garantie nutzen."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  