

<style>.gps-552292143624880936 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-552292143624880936 .gp-relative{position:relative}.gps-552292143624880936 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552292143624880936 .gp-mb-0{margin-bottom:0}.gps-552292143624880936 .gp-inline-block{display:inline-block}.gps-552292143624880936 .gp-flex{display:flex}.gps-552292143624880936 .gp-grid{display:grid}.gps-552292143624880936 .\!gp-hidden{display:none!important}.gps-552292143624880936 .gp-hidden{display:none}.gps-552292143624880936 .gp-h-auto{height:auto}.gps-552292143624880936 .gp-h-full{height:100%}.gps-552292143624880936 .gp-w-full{width:100%}.gps-552292143624880936 .gp-max-w-full{max-width:100%}.gps-552292143624880936 .gp-flex-none{flex:none}.gps-552292143624880936 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-552292143624880936 .gp-flex-col{flex-direction:column}.gps-552292143624880936 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552292143624880936 .gp-duration-200{transition-duration:.2s}.gps-552292143624880936 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552292143624880936 .tablet\:\!gp-hidden{display:none!important}.gps-552292143624880936 .tablet\:gp-hidden{display:none}.gps-552292143624880936 .tablet\:gp-h-auto{height:auto}.gps-552292143624880936 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-552292143624880936 .mobile\:\!gp-hidden{display:none!important}.gps-552292143624880936 .mobile\:gp-hidden{display:none}.gps-552292143624880936 .mobile\:gp-h-auto{height:auto}.gps-552292143624880936 .mobile\:gp-flex-none{flex:none}}.gps-552292143624880936 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(247, 246, 241)","type":"color"}},"uid":"gwurW1MHZY"}' data-id="gwurW1MHZY" id="gwurW1MHZY" data-same-height-subgrid-container class="gwurW1MHZY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:1px;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:1px;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(247, 246, 241);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:0"
      class="gxhRac_lLX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYnDcuCvYR"}' data-id="gYnDcuCvYR" id="gYnDcuCvYR" data-same-height-subgrid-container class="gYnDcuCvYR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:50px;--pl:100px;--ml-mobile:auto;--mb-mobile:0px;--pl-mobile:10px;--ml-tablet:50px;--pl-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfbX1-VkcG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvaLhNDZso"
        class="gvaLhNDZso"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:150px;--mb:10px;--ml-mobile:0px;--mb-mobile:5px;--ml-tablet:0px;--mb-tablet:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754393691911"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:35px;--size-tablet:32px;--size-mobile:17px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvaLhNDZso_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ2B41ltAl"
        class="gZ2B41ltAl"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:150px;--mb:10px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--ml-tablet:0px;--mb-tablet:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754393691912"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:18px;--size-tablet:15px;--size-mobile:12px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ2B41ltAl_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:1"
      class="gqKwlAjv0M gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gl-YdlYsyc"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:45px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:1px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-tablet:right;--ta-mobile:right"
      class="gp-group/image gp-relative force-publish-1754393691913 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gl-YdlYsyc"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-tablet:right;--jc-mobile:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1080" height="1080" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" base-src="{{ "gempages_534104955091420133-571063b9-08ff-495a-b663-b9b37472d5f8.png" | file_url }}" data-src="{{ "gempages_534104955091420133-571063b9-08ff-495a-b663-b9b37472d5f8.png" | file_url }}" data-srcset="{{ 'gempages_534104955091420133-571063b9-08ff-495a-b663-b9b37472d5f8.png' | file_img_url: '768x' }} 768w, {{ 'gempages_534104955091420133-571063b9-08ff-495a-b663-b9b37472d5f8.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_534104955091420133-571063b9-08ff-495a-b663-b9b37472d5f8.png' | file_img_url: 'master' }} 1440w"
      id=""
      style="--w:120px;--w-tablet:120px;--w-mobile:90px;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-552292143624880936 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=552292088176182217&sectionId=552292143624880936)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvaLhNDZso_text","label":"ggvaLhNDZso_text","default":"TIERISCH GUTE QUALITÄT"},{"type":"html","id":"ggZ2B41ltAl_text","label":"ggZ2B41ltAl_text","default":"Entwickelt und hergestellt in Deutschland. Jetzt einfach risikolos testen und Geld-zurück-Garantie nutzen."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
