
    
    <style>.gps-586552540087452363 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-586552540087452363 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-586552540087452363 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-586552540087452363 .gp-relative{position:relative}.gps-586552540087452363 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586552540087452363 .gp-mb-0{margin-bottom:0}.gps-586552540087452363 .gp-flex{display:flex}.gps-586552540087452363 .gp-grid{display:grid}.gps-586552540087452363 .\!gp-hidden{display:none!important}.gps-586552540087452363 .gp-hidden{display:none}.gps-586552540087452363 .gp-w-max{width:-moz-max-content;width:max-content}.gps-586552540087452363 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-586552540087452363 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-586552540087452363 .gp-max-w-full{max-width:100%}.gps-586552540087452363 .gp-flex-1{flex:1 1 0%}.gps-586552540087452363 .gp-cursor-pointer{cursor:pointer}.gps-586552540087452363 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586552540087452363 .gp-flex-col{flex-direction:column}.gps-586552540087452363 .gp-flex-wrap{flex-wrap:wrap}.gps-586552540087452363 .gp-text-center{text-align:center}.gps-586552540087452363 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-586552540087452363 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-586552540087452363 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586552540087452363 .gp-duration-200{transition-duration:.2s}.gps-586552540087452363 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-586552540087452363 .tablet\:\!gp-hidden{display:none!important}.gps-586552540087452363 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-586552540087452363 .mobile\:\!gp-hidden{display:none!important}.gps-586552540087452363 .mobile\:gp-hidden{display:none}}.gps-586552540087452363 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(42, 82, 122, 0.8)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gitGewezjf"}' data-id="gitGewezjf" id="gitGewezjf" data-same-height-subgrid-container class="gitGewezjf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(42, 82, 122, 0.8);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtrYbguGCL gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gcLRATmg4I gp-cursor-pointer gp-custom-code">
      <div>
    <div id="floating-cta" style="
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
">
  <a href="#angebot" onclick="scrollToOffer()" style="
    background-color: #1E3A56;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 24px 80px;
    border-radius: 9999px;
    display: inline-block;
    pointer-events: auto;
  " class="responsive-cta">
    JETZT SONDER-RABATT NUTZEN
  </a>
</div>

<style>
  @media screen and (max-width: 768px) {
    .responsive-cta {
      font-size: 16px !important;
      padding: 14px 28px !important;
    }
  }
</style>


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "sg4r29ksdh");
</script>
    </div>
    </div>
  
      <style id="custom-css-gcLRATmg4I">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}


      </style>
    
      <script id="custom-js-gcLRATmg4I">
        try {
          document.addEventListener("DOMContentLoaded", function () {
  const floatingCTA = document.getElementById("floating-cta");

  function handleScroll() {
    const scrollDepth = window.scrollY / (document.body.scrollHeight - window.innerHeight);
    if (scrollDepth > 0.2) {
      floatingCTA.style.opacity = "1";
      floatingCTA.style.pointerEvents = "auto";
      floatingCTA.style.transform = "translateY(0)";
    } else {
      floatingCTA.style.opacity = "0";
      floatingCTA.style.pointerEvents = "none";
      floatingCTA.style.transform = "translateY(30px)";
    }
  }

  window.addEventListener("scroll", handleScroll);
});

// Smooth scroll zur richtigen Offer-Section
function scrollToOffer() {
  const isMobile = window.innerWidth <= 768;
  const target = isMobile
    ? document.querySelector(".offer-section2")
    : document.querySelector(".offer-section1");

  if (target) {
    target.scrollIntoView({ behavior: "smooth" });
  }
}

        } catch(err){}
      </script>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g82jbpem5e"
        class="g82jbpem5e"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:20px;--pt:20px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:15px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363552"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:30px;--size-tablet:46px;--size-mobile:23px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg82jbpem5e_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:42px;--mb-mobile:18px" class="gWxeaCe6F6 ">
      
    {%- liquid
      assign standardEndDate = 1751891550502
      assign typeCountdown = "evergreen"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gWxeaCe6F6"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"autoHideWhenTimeout":false,"behaviour":"evergreen","dateStandard":1751877150502,"dayLabel":"","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Stunden","loopAfterFinish":true,"minuteLabel":"Minuten","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Sekunden","timeZone":"UTC-4","timerDaily":{"format":"am","hours":8,"mins":17},"timerEverygreen":{"days":0,"endTime":1751794674358,"hours":3,"mins":17,"startTime":1751272350502},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gWxeaCe6F6","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"42px"}},"mobile":{"margin":{"bottom":"18px"}}}},"label":"Countdown Timer","settings":{"autoHideWhenTimeout":false,"behaviour":"evergreen","dateStandard":1751877150502,"dayLabel":"","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Stunden","loopAfterFinish":true,"minuteLabel":"Minuten","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Sekunden","timeZone":"UTC-4","timerDaily":{"format":"am","hours":8,"mins":17},"timerEverygreen":{"days":0,"endTime":1751794674358,"hours":3,"mins":17,"startTime":1751272350502},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#ffffff","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"20px","itemPadding":{"desktop":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"labelTypo":{"attrs":{"color":"rgba(58, 58, 58, 0.9)"},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"text-2"},"custom":{"fontSize":{"desktop":"26px","mobile":"16px","tablet":"18px"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"8px","bbrr":"8px","btlr":"8px","btrr":"8px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gWxeaCe6F6","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:20px;--jc:center">
          
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#ffffff" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxeaCe6F6-text" id="hour"
        class="gWxeaCe6F6"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363553"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:26px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxeaCe6F6-text"
        class="gWxeaCe6F6"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363553"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:rgba(58, 58, 58, 0.9);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWxeaCe6F6_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#ffffff" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxeaCe6F6-text" id="minute"
        class="gWxeaCe6F6"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363553"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:26px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxeaCe6F6-text"
        class="gWxeaCe6F6"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363554"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:rgba(58, 58, 58, 0.9);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWxeaCe6F6_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#ffffff" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxeaCe6F6-text" id="second"
        class="gWxeaCe6F6"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363554"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:26px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxeaCe6F6-text"
        class="gWxeaCe6F6"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759142363554"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:rgba(58, 58, 58, 0.9);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWxeaCe6F6_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-586552540087452363 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586552539969749707&sectionId=586552540087452363)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg82jbpem5e_text","label":"gg82jbpem5e_text","default":"<strong>Neukunden Angebot: Nur für kurze Zeit -33% sparen&nbsp;</strong>"},{"type":"html","id":"ggWxeaCe6F6_hourLabel","label":"ggWxeaCe6F6_hourLabel","default":"Stunden"},{"type":"html","id":"ggWxeaCe6F6_minuteLabel","label":"ggWxeaCe6F6_minuteLabel","default":"Minuten"},{"type":"html","id":"ggWxeaCe6F6_secondLabel","label":"ggWxeaCe6F6_secondLabel","default":"Sekunden"},{"type":"html","id":"ggWxeaCe6F6_weekLabel","label":"ggWxeaCe6F6_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  