
    
    
    <style>.gps-592819216575890121 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-592819216575890121 .gp-relative{position:relative}.gps-592819216575890121 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592819216575890121 .gp-mb-0{margin-bottom:0}.gps-592819216575890121 .gp-block{display:block}.gps-592819216575890121 .gp-inline-block{display:inline-block}.gps-592819216575890121 .gp-flex{display:flex}.gps-592819216575890121 .gp-inline-flex{display:inline-flex}.gps-592819216575890121 .gp-grid{display:grid}.gps-592819216575890121 .gp-contents{display:contents}.gps-592819216575890121 .\!gp-hidden{display:none!important}.gps-592819216575890121 .gp-hidden{display:none}.gps-592819216575890121 .gp-h-auto{height:auto}.gps-592819216575890121 .gp-h-full{height:100%}.gps-592819216575890121 .gp-w-full{width:100%}.gps-592819216575890121 .gp-max-w-full{max-width:100%}.gps-592819216575890121 .gp-flex-none{flex:none}.gps-592819216575890121 .gp-shrink-0{flex-shrink:0}.gps-592819216575890121 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592819216575890121 .gp-flex-col{flex-direction:column}.gps-592819216575890121 .gp-items-center{align-items:center}.gps-592819216575890121 .gp-justify-start{justify-content:flex-start}.gps-592819216575890121 .gp-justify-center{justify-content:center}.gps-592819216575890121 .gp-overflow-hidden{overflow:hidden}.gps-592819216575890121 .gp-border{border-width:1px}.gps-592819216575890121 .gp-border-transparent{border-color:transparent}.gps-592819216575890121 .gp-text-left{text-align:left}.gps-592819216575890121 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592819216575890121 .gp-duration-200{transition-duration:.2s}.gps-592819216575890121 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-592819216575890121 .tablet\:gp-block{display:block}.gps-592819216575890121 .tablet\:\!gp-hidden{display:none!important}.gps-592819216575890121 .tablet\:gp-hidden{display:none}.gps-592819216575890121 .tablet\:gp-h-auto{height:auto}.gps-592819216575890121 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592819216575890121 .mobile\:gp-block{display:block}.gps-592819216575890121 .mobile\:\!gp-hidden{display:none!important}.gps-592819216575890121 .mobile\:gp-hidden{display:none}.gps-592819216575890121 .mobile\:gp-h-auto{height:auto}.gps-592819216575890121 .mobile\:gp-flex-none{flex:none}}.gps-592819216575890121 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-592819216575890121 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-592819216575890121 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-592819216575890121 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-592819216575890121 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-592819216575890121 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-592819216575890121 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(900px + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(95% + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guDbVQ7N78"}' data-id="guDbVQ7N78" id="guDbVQ7N78" data-same-height-subgrid-container class="guDbVQ7N78 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:22px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:900px;--w-mobile:95%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyEZZ_uh1J gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gm1AR3pIgg"}' data-id="gm1AR3pIgg" id="gm1AR3pIgg" data-same-height-subgrid-container class="gm1AR3pIgg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--mb:10px;--pt:10px;--pb:9px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:9px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:10px;--pt-tablet:10px;--pb-tablet:9px;--cg:100px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-mobile:100%;--h:auto;--h-mobile:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnGNRST18B gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZn4k7U5Ll"
        class="gZn4k7U5Ll"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:3px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762877792029"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:27px;--size-tablet:27px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#3A3A3A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZn4k7U5Ll_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gUChfWQqZX ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gUChfWQqZX"
      data-id="gUChfWQqZX"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--ml:0px;--mr:0px;--ml-mobile:0px;--mr-mobile:0px;--ml-tablet:10px;--mr-tablet:80px;--jc:left"
      className="gUChfWQqZX"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":32,"mobile":22,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px;--rg-mobile:1px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gUChfWQqZX"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:rgba(21, 21, 21, 0.8);--w:100%;--h:100%;--size-desktop:32px;--size-tablet:16px;--size-mobile:22px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817710017806696">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762877792030"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:200%;--c:#3A3A3A;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUChfWQqZX_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gUChfWQqZX"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:rgba(21, 21, 21, 0.8);--w:100%;--h:100%;--size-desktop:32px;--size-tablet:16px;--size-mobile:22px"
                        >
                          <svg height="20" width="20" data-name="bowl-food-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817666416247144">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,104h-8.37a88,88,0,0,0-175.26,0H32a8,8,0,0,0-8,8,104.35,104.35,0,0,0,56,92.28V208a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16v-3.72A104.35,104.35,0,0,0,232,112,8,8,0,0,0,224,104Zm-24.46,0H148.12a71.84,71.84,0,0,1,41.27-29.57A71.45,71.45,0,0,1,199.54,104ZM173.48,56.23q2.75,2.25,5.27,4.75a87.92,87.92,0,0,0-49.15,43H100.1A72.26,72.26,0,0,1,168,56C169.83,56,171.66,56.09,173.48,56.23ZM128,40a71.87,71.87,0,0,1,19,2.57A88.36,88.36,0,0,0,83.33,104H56.46A72.08,72.08,0,0,1,128,40Zm36.66,152A8,8,0,0,0,160,199.3V208H96v-8.7A8,8,0,0,0,91.34,192a88.29,88.29,0,0,1-51-72H215.63A88.29,88.29,0,0,1,164.66,192Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762877792030"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:200%;--c:#3A3A3A;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUChfWQqZX_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gUChfWQqZX"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:rgba(21, 21, 21, 0.8);--w:100%;--h:100%;--size-desktop:32px;--size-tablet:16px;--size-mobile:22px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817684217397608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762877792031"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:200%;--c:#3A3A3A;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUChfWQqZX_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--ml:0px;--mb:25px;--mr:0px;--pt:12px;--pb:12px;--ml-mobile:0px;--mb-mobile:7px;--mr-mobile:0px;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px" class="gR5ZDfeZnV ">
      
    <div data-id="gR5ZDfeZnV" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#ADADAD" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ADADAD;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#ADADAD;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#ADADAD;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"uid":"gLUqc9JCZL"}' data-id="gLUqc9JCZL" id="gLUqc9JCZL" data-same-height-subgrid-container class="gLUqc9JCZL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--cg-mobile:2px;--rg:16px;--rg-tablet:16px;--rg-mobile:2px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfC5VhJPh4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gwYsG_CcYF"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:19px;--pt:0px;--pl:0px;--pr:0px;--mt-mobile:10px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:40px;--ml-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762877792034 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwYsG_CcYF"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-06c3e169-b9ff-4eeb-b268-01acedafcc3a_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzNiIgaGVpZ2h0PSIyOTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzYtMjkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDM2IiBoZWlnaHQ9IjI5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzNiIgaGVpZ2h0PSIyOTIiIGZpbGw9InVybCgjZy0xMDM2LTI5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzYiIHRvPSIxMDM2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-06c3e169-b9ff-4eeb-b268-01acedafcc3a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzNiIgaGVpZ2h0PSIyOTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzYtMjkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDM2IiBoZWlnaHQ9IjI5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzNiIgaGVpZ2h0PSIyOTIiIGZpbGw9InVybCgjZy0xMDM2LTI5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzYiIHRvPSIxMDM2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_534104955091420133-06c3e169-b9ff-4eeb-b268-01acedafcc3a.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzNiIgaGVpZ2h0PSIyOTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzYtMjkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDM2IiBoZWlnaHQ9IjI5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzNiIgaGVpZ2h0PSIyOTIiIGZpbGw9InVybCgjZy0xMDM2LTI5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzYiIHRvPSIxMDM2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_534104955091420133-06c3e169-b9ff-4eeb-b268-01acedafcc3a.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gohv7_Jo3p gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gDZvrpimSR"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:19px;--pt:0px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:40px;--ml-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762877792035 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gDZvrpimSR"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-cf87bae1-41fd-473b-ab17-b3447772f5a0_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTE4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgZmlsbD0idXJsKCNnLTYxMi0xODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-cf87bae1-41fd-473b-ab17-b3447772f5a0_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTE4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgZmlsbD0idXJsKCNnLTYxMi0xODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-cf87bae1-41fd-473b-ab17-b3447772f5a0.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTE4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjE4NCIgZmlsbD0idXJsKCNnLTYxMi0xODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-cf87bae1-41fd-473b-ab17-b3447772f5a0.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gmNQ-Qq4Rl"}' data-id="gmNQ-Qq4Rl" id="gmNQ-Qq4Rl" data-same-height-subgrid-container class="gmNQ-Qq4Rl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:11px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaaSeGZ8TW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gotNBFxsoM"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:19px;--pt:0px;--pl:0px;--pr:0px;--mt-mobile:10px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:40px;--ml-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762877792038 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gotNBFxsoM"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-3f52ee18-87ea-4a93-85d1-d75388dd30c7_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzNCIgaGVpZ2h0PSIzMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzQtMzMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDM0IiBoZWlnaHQ9IjMzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzNCIgaGVpZ2h0PSIzMzIiIGZpbGw9InVybCgjZy0xMDM0LTMzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzQiIHRvPSIxMDM0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-3f52ee18-87ea-4a93-85d1-d75388dd30c7.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzNCIgaGVpZ2h0PSIzMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzQtMzMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDM0IiBoZWlnaHQ9IjMzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzNCIgaGVpZ2h0PSIzMzIiIGZpbGw9InVybCgjZy0xMDM0LTMzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzQiIHRvPSIxMDM0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_534104955091420133-3f52ee18-87ea-4a93-85d1-d75388dd30c7.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzNCIgaGVpZ2h0PSIzMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzQtMzMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDM0IiBoZWlnaHQ9IjMzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzNCIgaGVpZ2h0PSIzMzIiIGZpbGw9InVybCgjZy0xMDM0LTMzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzQiIHRvPSIxMDM0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_534104955091420133-3f52ee18-87ea-4a93-85d1-d75388dd30c7.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gNS1g2plYs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ghTBRoBVQ3"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:19px;--pt:0px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:40px;--ml-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762877792039 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ghTBRoBVQ3"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-c0168420-0023-42fb-9357-abaaee1a4411_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1OCIgaGVpZ2h0PSIzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNTgtMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDU4IiBoZWlnaHQ9IjMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA1OCIgaGVpZ2h0PSIzMzQiIGZpbGw9InVybCgjZy0xMDU4LTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNTgiIHRvPSIxMDU4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-c0168420-0023-42fb-9357-abaaee1a4411.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1OCIgaGVpZ2h0PSIzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNTgtMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDU4IiBoZWlnaHQ9IjMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA1OCIgaGVpZ2h0PSIzMzQiIGZpbGw9InVybCgjZy0xMDU4LTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNTgiIHRvPSIxMDU4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_534104955091420133-c0168420-0023-42fb-9357-abaaee1a4411.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1OCIgaGVpZ2h0PSIzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNTgtMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDU4IiBoZWlnaHQ9IjMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA1OCIgaGVpZ2h0PSIzMzQiIGZpbGw9InVybCgjZy0xMDU4LTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNTgiIHRvPSIxMDU4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_534104955091420133-c0168420-0023-42fb-9357-abaaee1a4411.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--mb-mobile:28px;--mb-tablet:28px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDOT6bfZPG gp-custom-code">
      <div>
    <section class="tlh-flavor-section" aria-label="Diese 8 Premium-Sorten sind im Probierpaket enthalten" tabindex="0">
  <div class="tlh-flavor-head">
    <span class="h-chip">
      <i class="dot dot-pulse" aria-hidden="true"></i>
      <span class="chip-text">
        <span>Diese 8 Sorten sind im</span>
        <span class="em">PROBIER-PAKET</span>
        <span>enthalten</span>
      </span>
    </span>
    <div class="tlh-flavor-ctr">
      <button class="tlh-nav prev" aria-label="Zur vorherigen Sorte" type="button">‹</button>
      <div class="tlh-count" aria-live="polite">
        <span class="tlh-count-num">1</span><span class="tlh-count-total">/8</span>
      </div>
      <button class="tlh-nav next" aria-label="Zur nächsten Sorte" type="button">›</button>
    </div>
  </div>

  <div class="tlh-flavor-viewport" dir="ltr">
    <ul class="tlh-flavor-track js-free" role="list" data-flavors="8">
      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-a3d341ed-4d6e-4985-9b61-31421a4d772c.webp" alt="Ente mit Reis">
          </picture>
          <figcaption class="tlh-info">
            <h4>Ente mit Reis</h4>
            <ul class="tlh-bullets">
              <li>Zart & saftig – hohe Akzeptanz</li>
              <li>Reis: magenfreundliche Energie</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-d1e55ac2-1c82-4af8-96a9-1e17ee2e2446.webp" alt="Huhn mit Gemüse">
          </picture>
          <figcaption class="tlh-info">
            <h4>Huhn mit Gemüse</h4>
            <ul class="tlh-bullets">
              <li>Extra mager – sanft zum Bauch</li>
              <li>Gemüse: Darmbalance & Vitamine</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-2f3e8075-d3f0-4d62-9914-b77de206732b.webp" alt="Pferd mit Kartoffel">
          </picture>
          <figcaption class="tlh-info">
            <h4>Pferd mit Kartoffel</h4>
            <ul class="tlh-bullets">
              <li>Sehr verträglich – beliebt bei Sensibelchen</li>
              <li>Kartoffel: sanfte, sättigende Energie</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-01058916-2c90-4400-8dbe-ccd0d791d20e.webp" alt="Kaninchen mit Gemüse">
          </picture>
          <figcaption class="tlh-info">
            <h4>Kaninchen mit Gemüse</h4>
            <ul class="tlh-bullets">
              <li>Fein & leicht – gute Bekömmlichkeit</li>
              <li>Gemüse: Ballaststoffe für die Verdauung</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-143e9992-97ab-41a5-a6d7-dca210869770.webp" alt="Lamm mit Apfel">
          </picture>
          <figcaption class="tlh-info">
            <h4>Lamm mit Apfel</h4>
            <ul class="tlh-bullets">
              <li>Saftig & nährstoffreich</li>
              <li>Apfel: natürliche Antioxidantien</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-30159ed5-8b17-4d02-bd09-2893883e85a8.webp" alt="Ziege mit Pastinake">
          </picture>
          <figcaption class="tlh-info">
            <h4>Ziege mit Pastinake</h4>
            <ul class="tlh-bullets">
              <li>Aromatisch & gut verträglich</li>
              <li>Pastinake: mild & sättigend</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img class="img-rind" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-f8794758-f193-48af-bc9b-40301157e145.webp" alt="Rind mit Gemüse">
          </picture>
          <figcaption class="tlh-info">
            <h4>Rind mit Gemüse</h4>
            <ul class="tlh-bullets">
              <li>Kräftiger Geschmack – hohe Akzeptanz</li>
              <li>Gemüse: ausgewogen & bunt</li>
            </ul>
          </figcaption>
        </figure>
      </li>

      
      <li class="tlh-slide">
        <figure class="tlh-card">
          <picture class="tlh-media">
            <img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-c3915329-7199-42d3-9b18-177b8fcbf4c6.webp" alt="Pute mit Reis">
          </picture>
          <figcaption class="tlh-info">
            <h4>Pute mit Reis</h4>
            <ul class="tlh-bullets">
              <li>Sehr mager – sanft zum Bauch</li>
              <li>Reis: schonend bei empfindlichem Magen</li>
            </ul>
          </figcaption>
        </figure>
      </li>
    </ul>

    <div class="tlh-peek-hint" aria-hidden="true">
      Weiter wischen <span class="tlh-peek-arrow">→</span>
    </div>
  </div>
</section>
    </div>
    </div>
  
      <style id="custom-css-gDOT6bfZPG">
        /* === Flavor Slider (free scroll, endless) === */
:root{
  --ink:#0f1f1c; --muted:#5b6f6b; --bd:#e9eceb; --chip:#f1f7f5;
  --ok:#33cc7a;
  --card-bg:#fff; --shadow:0 6px 24px rgba(15,31,28,.06), 0 2px 8px rgba(15,31,28,.05);
  --radius:18px;
}

.tlh-flavor-section{margin:16px 0 8px;color:var(--ink);font-family:inherit}
.tlh-flavor-head{display:flex;align-items:center;justify-content:space-between;margin:0 4px 10px;gap:10px;flex-wrap:wrap}

/* Chip – enger, mobil entspannter */
.h-chip{
  display:inline-flex;align-items:center;gap:10px;font-weight:800;font-size:14px;
  padding:8px 12px;border:1px solid var(--bd);border-radius:999px;background:#fff;
  box-shadow:0 1px 2px rgba(0,0,0,.04); line-height:1.25; max-width:100%;
}
.h-chip .chip-text{display:flex;align-items:center;gap:.5ch;flex-wrap:wrap}
.h-chip .em{
  text-transform:uppercase; font-size:1.16em; letter-spacing:.2px;
  padding-inline:.15ch; white-space:nowrap; /* kein Umbruch von PROBIER-PAKET */
}
@media (max-width:600px){
  .h-chip{font-size:13.5px; padding:8px 10px}
  .h-chip .chip-text{gap:.4ch}
  .h-chip .em{font-size:1.12em; letter-spacing:.15px; padding-inline:.1ch}
}

/* Signalpunkt fix rund */
.dot{
  width:12px;height:12px;border-radius:999px;flex:0 0 12px;
  background:radial-gradient(circle at 50% 50%, #5bffb1 0%, #33cc7a 45%, #25a561 100%);
  box-shadow:0 0 0 4px rgba(51,204,122,.12)
}
.dot-pulse{position:relative}
.dot-pulse::after{
  content:"";position:absolute;inset:-6px;border-radius:999px;
  box-shadow:0 0 0 0 rgba(51,204,122,.22);animation:pulse 2.2s ease-out infinite
}
@keyframes pulse{
  0%{box-shadow:0 0 0 0 rgba(51,204,122,.22)}
  70%{box-shadow:0 0 0 10px rgba(51,204,122,0)}
  100%{box-shadow:0 0 0 0 rgba(51,204,122,0)}
}

/* Counter/Buttons */
.tlh-flavor-ctr{display:flex;align-items:center;gap:10px}
.tlh-count{display:inline-flex;align-items:center;gap:4px;font-weight:700}
.tlh-count .tlh-count-num{
  display:inline-flex;align-items:center;justify-content:center;width:26px;height:26px;
  border-radius:999px;background:#fff;border:1px solid var(--bd);box-shadow:0 1px 1px rgba(0,0,0,.04);
  font-size:13px;font-weight:800
}
.tlh-count .tlh-count-total{font-size:13px;color:var(--muted)}
.tlh-nav{width:34px;height:34px;border-radius:999px;border:1px solid var(--bd);background:#fff;
  display:grid;place-items:center;cursor:pointer;font-size:18px;color:var(--ink);
  transition:transform .15s ease, box-shadow .15s ease}
.tlh-nav:hover{transform:translateY(-1px);box-shadow:0 6px 14px rgba(0,0,0,.06)}

/* Track */
.tlh-flavor-viewport{position:relative}
.tlh-flavor-track{
  display:flex;gap:12px;overflow-x:auto; /* frei scrollen */
  -webkit-overflow-scrolling:touch; overscroll-behavior-x:contain;
  padding:4px 8px 6px;margin:0;list-style:none
}
.tlh-slide{flex:0 0 84%;max-width:520px}
@media (min-width:860px){.tlh-slide{flex-basis:46%}}
@media (min-width:1200px){.tlh-slide{flex-basis:31%}}

/* Karten */
.tlh-card{margin:0;background:var(--card-bg);border:1px solid var(--bd);border-radius:var(--radius);
  box-shadow:var(--shadow);overflow:hidden;display:grid;grid-template-rows:auto 1fr;min-height:376px}
.tlh-media{display:block;width:100%;background:#fff;aspect-ratio:16/11}

/* Bilder tiefer (noch mehr Dose/Fleisch) */
.tlh-media img{width:100%;height:100%;object-fit:cover;object-position:center 88%}
.tlh-media .img-rind{object-position:center 86%}

/* Caption kompakt */
.tlh-info{padding:8px 12px 8px;display:flex;flex-direction:column;gap:6px;min-height:98px}
.tlh-info h4{font-size:16px;margin:0;font-weight:800}

/* Bullets */
.tlh-bullets{margin:0;padding:0;list-style:none;display:grid;gap:5px}
.tlh-bullets li{font-size:14px;color:var(--ink);background:var(--chip);border:1px solid #e6efec;border-radius:12px;padding:6px 9px;display:inline-block;width:max-content;max-width:100%}
@media (max-width:600px){.tlh-bullets li{font-size:13px;padding:6px 8px}}

.tlh-peek-hint{position:absolute;right:8px;bottom:8px;font-size:12px;color:var(--muted);
  background:#fff;border:1px solid var(--bd);padding:4px 8px;border-radius:999px;box-shadow:0 1px 4px rgba(0,0,0,.05);display:none;align-items:center;gap:6px}
.tlh-peek-arrow{display:inline-block;animation:peek 1.8s ease-in-out infinite}
@keyframes peek{0%,60%,100%{transform:translateX(0)}30%{transform:translateX(6px)}}

.tlh-flavor-track::-webkit-scrollbar{height:8px}
.tlh-flavor-track::-webkit-scrollbar-thumb{background:#e9efed;border-radius:999px}

      </style>
    
      <script id="custom-js-gDOT6bfZPG">
        try {
          /* TLH Flavor Slider – MULTI INSTANCE SAFE (free scroll, endless) */
(function(){
  function enhanceSection(sec){
    if (!sec || sec.dataset.tlhInit === '1') return;
    sec.dataset.tlhInit = '1';

    const track   = sec.querySelector('.tlh-flavor-track');
    const btnPrev = sec.querySelector('.tlh-nav.prev');
    const btnNext = sec.querySelector('.tlh-nav.next');
    const countEl = sec.querySelector('.tlh-count-num');
    const peek    = sec.querySelector('.tlh-peek-hint');

    if (!track || track.dataset.tlhBuilt === '1') return;

    // --- Originals (vor dem Klonen) ---
    const originals = Array.from(track.children);
    const N = originals.length;

    // Absicherung: nicht doppelt initialisieren
    if (N === 0) return;
    track.dataset.tlhBuilt = '1';

    // --- Triple-Belt für Endlos-Scroll ---
    const prefix = originals.map(n => n.cloneNode(true));
    const suffix = originals.map(n => n.cloneNode(true));
    prefix.forEach(n => track.insertBefore(n, track.firstChild));
    suffix.forEach(n => track.appendChild(n));

    const all = Array.from(track.children); // 3N
    let step = 0;

    function measureStep(){
      const a = all[N], b = all[N+1];
      step = Math.max(1, Math.round(b.offsetLeft - a.offsetLeft));
    }
    function setScrollX(px){ track.scrollLeft = px; }

    function logicalIndexFromX(x){
      const approx = Math.round(x / step) - N;      // 0..N-1 ungefähr
      return ((approx % N) + N) % N;
    }
    function updateCounterFromX(x){
      if (countEl) countEl.textContent = logicalIndexFromX(x) + 1;
    }

    function normalizeIfNeeded(){
      const x = track.scrollLeft;
      const leftEdge  = (N - 4) * step;             // großzügige Puffer
      const rightEdge = (2*N + 4) * step;
      if (x < leftEdge)  setScrollX(x + N*step);
      if (x > rightEdge) setScrollX(x - N*step);
    }

    function ready(){
      measureStep();
      setScrollX(N * step);                         // mittleres Band
      updateCounterFromX(track.scrollLeft);
      // kleiner Peek-Hinweis mobil
      setTimeout(()=>{
        if (peek && window.innerWidth < 860){
          peek.style.display='inline-flex';
          setTimeout(()=>peek.style.display='none', 1600);
        }
      }, 400);
    }

    if (document.readyState === 'complete') ready();
    else window.addEventListener('load', ready);

    function go(dir){
      normalizeIfNeeded();
      const currentDomIndex = Math.round(track.scrollLeft / step);
      const target = currentDomIndex + dir;
      track.scrollTo({ left: target * step, behavior: 'smooth' });
      updateCounterFromX(target * step);
    }
    btnNext && btnNext.addEventListener('click', ()=>go(+1));
    btnPrev && btnPrev.addEventListener('click', ()=>go(-1));

    // Live-Update + Endlos-Normalisierung
    track.addEventListener('scroll', ()=>{
      normalizeIfNeeded();
      updateCounterFromX(track.scrollLeft);
    }, {passive:true});

    // Desktop Drag (pro Instanz)
    let dragging=false, sx=0, sl=0;
    track.addEventListener('pointerdown', e=>{
      dragging=true; track.setPointerCapture(e.pointerId);
      sx=e.clientX; sl=track.scrollLeft;
    });
    track.addEventListener('pointermove', e=>{
      if(!dragging) return;
      setScrollX(sl - (e.clientX - sx));
    });
    track.addEventListener('pointerup', ()=>{ dragging=false; });

    // Resize nur für diese Sektion
    const onResize = ()=>{
      const li = logicalIndexFromX(track.scrollLeft);
      measureStep();
      setScrollX((N + li) * step);
      updateCounterFromX(track.scrollLeft);
    };
    window.addEventListener('resize', onResize);
  }

  // Alle vorhandenen Sektionen initialisieren
  document.querySelectorAll('.tlh-flavor-section').forEach(enhanceSection);

  // Optional: falls Builder nachträglich Sektionen einfügt
  const mo = new MutationObserver(() => {
    document.querySelectorAll('.tlh-flavor-section:not([data-tlh-init])')
      .forEach(enhanceSection);
  });
  mo.observe(document.documentElement, { childList:true, subtree:true });
})();

        } catch(err){}
      </script>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--ml:0px;--mb:25px;--mr:0px;--pt:12px;--pb:12px;--ml-mobile:0px;--mb-mobile:7px;--mr-mobile:0px;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px" class="ggkTs79v2y ">
      
    <div data-id="ggkTs79v2y" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#ADADAD" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ADADAD;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#ADADAD;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#ADADAD;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-592819216575890121 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592819216424370889&sectionId=592819216575890121)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZn4k7U5Ll_text","label":"ggZn4k7U5Ll_text","default":"<span style=\"color:#3A3A3A;\"><strong>In 3 Schritten selbst überzeugen:</strong></span>"},{"type":"html","id":"ggUChfWQqZX_childItem_0","label":"ggUChfWQqZX_childItem_0","default":"<p><strong>Heute noch bestellen</strong> und in 2-3 Tagen erhalten</p>"},{"type":"html","id":"ggUChfWQqZX_childItem_1","label":"ggUChfWQqZX_childItem_1","default":"<p><strong>Einfach</strong> servierfertiges Futter in den Napf geben&nbsp;</p>"},{"type":"html","id":"ggUChfWQqZX_childItem_2","label":"ggUChfWQqZX_childItem_2","default":"<p><strong>Kein Risiko</strong> durch 60-Tage Geld-zurück Garantie</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}