
    
    <style>.gps-578720609089880969 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-578720609089880969 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-578720609089880969 .gp-relative{position:relative}.gps-578720609089880969 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578720609089880969 .gp-mb-0{margin-bottom:0}.gps-578720609089880969 .gp-flex{display:flex}.gps-578720609089880969 .gp-grid{display:grid}.gps-578720609089880969 .\!gp-hidden{display:none!important}.gps-578720609089880969 .gp-hidden{display:none}.gps-578720609089880969 .gp-w-max{width:-moz-max-content;width:max-content}.gps-578720609089880969 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-578720609089880969 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-578720609089880969 .gp-max-w-full{max-width:100%}.gps-578720609089880969 .gp-flex-1{flex:1 1 0%}.gps-578720609089880969 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578720609089880969 .gp-flex-col{flex-direction:column}.gps-578720609089880969 .gp-flex-wrap{flex-wrap:wrap}.gps-578720609089880969 .gp-text-center{text-align:center}.gps-578720609089880969 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-578720609089880969 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578720609089880969 .gp-duration-200{transition-duration:.2s}.gps-578720609089880969 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-578720609089880969 .tablet\:\!gp-hidden{display:none!important}.gps-578720609089880969 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-578720609089880969 .mobile\:\!gp-hidden{display:none!important}.gps-578720609089880969 .mobile\:gp-hidden{display:none}}.gps-578720609089880969 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#262222","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gnaVFdHj8t"}' data-id="gnaVFdHj8t" id="gnaVFdHj8t" data-same-height-subgrid-container class="gnaVFdHj8t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#262222;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guxuGAMIm0 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gqu2nNV9bX gp-custom-code">
      <div>
    <div id="floating-cta" style="
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
">
  <a href="#angebot" onclick="scrollToOffer()" style="
    background-color: #F3841D;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 24px 80px;
    border-radius: 9999px;
    display: inline-block;
    pointer-events: auto;
  " class="responsive-cta">
    JETZT SONDER-RABATT NUTZEN
  </a>
</div>

<style>
  @media screen and (max-width: 768px) {
    .responsive-cta {
      font-size: 16px !important;
      padding: 14px 28px !important;
    }
  }
</style>
<meta http-equiv="delegate-ch" content="sec-ch-ua https://auctiolinscideos.com; sec-ch-ua-mobile https://auctiolinscideos.com; sec-ch-ua-arch https://auctiolinscideos.com; sec-ch-ua-model https://auctiolinscideos.com; sec-ch-ua-platform https://auctiolinscideos.com; sec-ch-ua-platform-version https://auctiolinscideos.com; sec-ch-ua-bitness https://auctiolinscideos.com; sec-ch-ua-full-version-list https://auctiolinscideos.com; sec-ch-ua-full-version https://auctiolinscideos.com"><style>.dtpcnt{opacity: 0;}</style>
    </div>
    </div>
  
      <style id="custom-css-gqu2nNV9bX">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

img[src="https://rdrct.li/media/ee0b9e08"] {
  display: none !important;
}

      </style>
    
      <script id="custom-js-gqu2nNV9bX">
        try {
          document.addEventListener("DOMContentLoaded", function () {
  const floatingCTA = document.getElementById("floating-cta");

  function handleScroll() {
    const scrollDepth = window.scrollY / (document.body.scrollHeight - window.innerHeight);
    if (scrollDepth > 0.2) {
      floatingCTA.style.opacity = "1";
      floatingCTA.style.pointerEvents = "auto";
      floatingCTA.style.transform = "translateY(0)";
    } else {
      floatingCTA.style.opacity = "0";
      floatingCTA.style.pointerEvents = "none";
      floatingCTA.style.transform = "translateY(30px)";
    }
  }

  window.addEventListener("scroll", handleScroll);
});

// Smooth scroll zur richtigen Offer-Section
function scrollToOffer() {
  const isMobile = window.innerWidth <= 768;
  const target = isMobile
    ? document.querySelector(".offer-section2")
    : document.querySelector(".offer-section1");

  if (target) {
    target.scrollIntoView({ behavior: "smooth" });
  }
}

        } catch(err){}
      </script>
    
    

    

    
    <gp-row gp-data='{"uid":"g5QYx9qA3t"}' data-id="g5QYx9qA3t" id="g5QYx9qA3t" data-same-height-subgrid-container class="g5QYx9qA3t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:10px;--pl:0px;--pb:10px;--pr:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:1000px;--w-mobile:95%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gl_iBKqTbX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gT_uJKuxnE"
        class="gT_uJKuxnE"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353284"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggT_uJKuxnE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZUK-8vasu"
        class="gZUK-8vasu"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353285"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZUK-8vasu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gECogy8IQg gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="g02IW63boV ">
      
    <gp-countdown-timer
        data-id="g02IW63boV"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"g02IW63boV","builderData":{"uid":"g02IW63boV","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true},"custom":{"fontSize":{"desktop":"18px","tablet":"18px","mobile":"14px"},"fontWeight":"700","lineHeight":{"desktop":"130%","tablet":"130%","mobile":"130%"},"fontFamily":"sans-serif","letterSpacing":{},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"},"custom":{"fontSize":{"desktop":"12px","tablet":"14px","mobile":"8px"}}},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"bg-2","verticalGap":"3px","horizontalGap":"7px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"24px","right":"24px"},"mobile":{"top":"4px","left":"4px","right":"4px","bottom":"4px","linked":false,"link":false}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"5px","bblr":"5px","bbrr":"5px","btlr":"5px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"edited":["mobile","desktop"],"desktop":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"mobile":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:7px;--jc:center">
          
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02IW63boV-text" id="hour"
        class="g02IW63boV"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353286"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02IW63boV-text"
        class="g02IW63boV"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353286"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg02IW63boV_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02IW63boV-text" id="minute"
        class="g02IW63boV"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353286"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02IW63boV-text"
        class="g02IW63boV"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353286"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg02IW63boV_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02IW63boV-text" id="second"
        class="g02IW63boV"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353286"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02IW63boV-text"
        class="g02IW63boV"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353286"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg02IW63boV_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g-RBhio5rt"}' data-id="g-RBhio5rt" id="g-RBhio5rt" data-same-height-subgrid-container class="g-RBhio5rt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:10px;--pl:0px;--pb:10px;--pr:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:1000px;--w-mobile:95%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gczYzyzvmk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg0wXFfHdl"
        class="gg0wXFfHdl"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353288"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg0wXFfHdl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvU2N6WJ1x"
        class="gvU2N6WJ1x"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353288"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvU2N6WJ1x_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ggYbtMLKuj gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="goZQEbSmLN ">
      
    <gp-countdown-timer
        data-id="goZQEbSmLN"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"goZQEbSmLN","builderData":{"uid":"goZQEbSmLN","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true},"custom":{"fontSize":{"desktop":"20px","tablet":"18px","mobile":"14px"},"fontWeight":"700","lineHeight":{"desktop":"130%","tablet":"130%","mobile":"130%"},"fontFamily":"sans-serif","letterSpacing":{},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"},"custom":{"fontSize":{"desktop":"12px","tablet":"14px","mobile":"8px"}}},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"bg-2","verticalGap":"3px","horizontalGap":"7px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"10px","right":"10px","link":false},"mobile":{"top":"4px","left":"4px","right":"4px","bottom":"4px","linked":false,"link":false}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"5px","bblr":"5px","bbrr":"5px","btlr":"5px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"edited":["mobile","desktop"],"desktop":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"mobile":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:7px;--jc:center">
          
          
          
          
    <div style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZQEbSmLN-text" id="hour"
        class="goZQEbSmLN"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353289"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZQEbSmLN-text"
        class="goZQEbSmLN"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353289"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoZQEbSmLN_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZQEbSmLN-text" id="minute"
        class="goZQEbSmLN"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353290"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZQEbSmLN-text"
        class="goZQEbSmLN"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353290"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoZQEbSmLN_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZQEbSmLN-text" id="second"
        class="goZQEbSmLN"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353290"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZQEbSmLN-text"
        class="goZQEbSmLN"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762502353290"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoZQEbSmLN_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-578720609089880969 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=575823645293675459&sectionId=578720609089880969)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggT_uJKuxnE_text","label":"ggT_uJKuxnE_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>✨ EARLY BLACK WEEK SALE&nbsp;</strong></span></p>"},{"type":"html","id":"ggZUK-8vasu_text","label":"ggZUK-8vasu_text","default":"<p><span style=\"color:#FFFFFF;\">Bis zu 33% Neukunden Rabatt!</span></p>"},{"type":"html","id":"gg02IW63boV_dayLabel","label":"gg02IW63boV_dayLabel","default":"Tage"},{"type":"html","id":"gg02IW63boV_hourLabel","label":"gg02IW63boV_hourLabel","default":"Stunden"},{"type":"html","id":"gg02IW63boV_minuteLabel","label":"gg02IW63boV_minuteLabel","default":"Minuten"},{"type":"html","id":"gg02IW63boV_secondLabel","label":"gg02IW63boV_secondLabel","default":"Sekunden"},{"type":"html","id":"gg02IW63boV_weekLabel","label":"gg02IW63boV_weekLabel","default":"Week"},{"type":"html","id":"ggg0wXFfHdl_text","label":"ggg0wXFfHdl_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>✨ EARLY BLACK WEEK SALE&nbsp;</strong></span></p>"},{"type":"html","id":"ggvU2N6WJ1x_text","label":"ggvU2N6WJ1x_text","default":"<p><span style=\"color:#FFFFFF;\">Jetzt bis zu 33% Neukunden Rabatt sichern!</span></p>"},{"type":"html","id":"ggoZQEbSmLN_dayLabel","label":"ggoZQEbSmLN_dayLabel","default":"Tage"},{"type":"html","id":"ggoZQEbSmLN_hourLabel","label":"ggoZQEbSmLN_hourLabel","default":"Stunden"},{"type":"html","id":"ggoZQEbSmLN_minuteLabel","label":"ggoZQEbSmLN_minuteLabel","default":"Minuten"},{"type":"html","id":"ggoZQEbSmLN_secondLabel","label":"ggoZQEbSmLN_secondLabel","default":"Sekunden"},{"type":"html","id":"ggoZQEbSmLN_weekLabel","label":"ggoZQEbSmLN_weekLabel","default":"Week"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  