

<style>.gps-537072144572482708 .gp-rotate-0,.gps-537072144572482708 .gp-rotate-180,.gps-537072144572482708 .mobile\:gp-rotate-0,.gps-537072144572482708 .mobile\:gp-rotate-180,.gps-537072144572482708 .tablet\:gp-rotate-0,.gps-537072144572482708 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-537072144572482708 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-537072144572482708 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-537072144572482708 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-537072144572482708 .gp-static{position:static}.gps-537072144572482708 .\!gp-relative{position:relative!important}.gps-537072144572482708 .gp-relative{position:relative}.gps-537072144572482708 .gp-left-0{left:0}.gps-537072144572482708 .gp-right-0{right:0}.gps-537072144572482708 .gp-z-1{z-index:1}.gps-537072144572482708 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-537072144572482708 .gp-my-0{margin-bottom:0;margin-top:0}.gps-537072144572482708 .gp-mb-0{margin-bottom:0}.gps-537072144572482708 .gp-block{display:block}.gps-537072144572482708 .\!gp-inline{display:inline!important}.gps-537072144572482708 .\!gp-flex{display:flex!important}.gps-537072144572482708 .gp-flex{display:flex}.gps-537072144572482708 .gp-inline-flex{display:inline-flex}.gps-537072144572482708 .gp-grid{display:grid}.gps-537072144572482708 .\!gp-hidden{display:none!important}.gps-537072144572482708 .gp-hidden{display:none}.gps-537072144572482708 .gp-aspect-square{aspect-ratio:1/1}.gps-537072144572482708 .gp-h-full{height:100%}.gps-537072144572482708 .\!gp-min-h-full{min-height:100%!important}.gps-537072144572482708 .gp-w-\[12px\]{width:12px}.gps-537072144572482708 .gp-w-full{width:100%}.gps-537072144572482708 .gp-max-w-full{max-width:100%}.gps-537072144572482708 .gp-shrink-0{flex-shrink:0}.gps-537072144572482708 .gp-rotate-0{--tw-rotate:0deg}.gps-537072144572482708 .gp-rotate-0,.gps-537072144572482708 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-537072144572482708 .gp-rotate-180{--tw-rotate:180deg}.gps-537072144572482708 .gp-cursor-pointer{cursor:pointer}.gps-537072144572482708 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-537072144572482708 .\!gp-flex-row{flex-direction:row!important}.gps-537072144572482708 .gp-flex-row{flex-direction:row}.gps-537072144572482708 .gp-flex-col{flex-direction:column}.gps-537072144572482708 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-537072144572482708 .gp-items-center{align-items:center}.gps-537072144572482708 .gp-justify-center{justify-content:center}.gps-537072144572482708 .gp-justify-between{justify-content:space-between}.gps-537072144572482708 .gp-gap-2{gap:8px}.gps-537072144572482708 .gp-gap-y-0{row-gap:0}.gps-537072144572482708 .gp-overflow-hidden{overflow:hidden}.gps-537072144572482708 .gp-break-words{overflow-wrap:break-word}.gps-537072144572482708 .gp-rounded-full{border-radius:9999px}.gps-537072144572482708 .gp-rounded-none{border-radius:0}.gps-537072144572482708 .gp-text-center{text-align:center}.gps-537072144572482708 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-537072144572482708 .gp-no-underline{text-decoration-line:none}.gps-537072144572482708 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-537072144572482708 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-537072144572482708 .gp-duration-200{transition-duration:.2s}.gps-537072144572482708 .gp-duration-300{transition-duration:.3s}.gps-537072144572482708 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-537072144572482708 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-537072144572482708 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-537072144572482708 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-537072144572482708 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-537072144572482708 .tablet\:gp-static{position:static}.gps-537072144572482708 .tablet\:\!gp-relative{position:relative!important}.gps-537072144572482708 .tablet\:gp-left-0{left:0}.gps-537072144572482708 .tablet\:gp-right-0{right:0}.gps-537072144572482708 .tablet\:gp-block{display:block}.gps-537072144572482708 .tablet\:\!gp-flex{display:flex!important}.gps-537072144572482708 .tablet\:\!gp-hidden{display:none!important}.gps-537072144572482708 .tablet\:gp-hidden{display:none}.gps-537072144572482708 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-537072144572482708 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-537072144572482708 .tablet\:gp-rotate-0,.gps-537072144572482708 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-537072144572482708 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-537072144572482708 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-537072144572482708 .tablet\:gp-flex-row{flex-direction:row}.gps-537072144572482708 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-537072144572482708 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-537072144572482708 .mobile\:gp-static{position:static}.gps-537072144572482708 .mobile\:\!gp-relative{position:relative!important}.gps-537072144572482708 .mobile\:gp-left-0{left:0}.gps-537072144572482708 .mobile\:gp-right-0{right:0}.gps-537072144572482708 .mobile\:gp-block{display:block}.gps-537072144572482708 .mobile\:\!gp-flex{display:flex!important}.gps-537072144572482708 .mobile\:\!gp-hidden{display:none!important}.gps-537072144572482708 .mobile\:gp-hidden{display:none}.gps-537072144572482708 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-537072144572482708 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-537072144572482708 .mobile\:gp-rotate-0,.gps-537072144572482708 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-537072144572482708 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-537072144572482708 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-537072144572482708 .mobile\:gp-flex-row{flex-direction:row}.gps-537072144572482708 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-537072144572482708 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-537072144572482708 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-537072144572482708 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-537072144572482708 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-537072144572482708 .\[\&_p\]\:gp-inline p{display:inline}.gps-537072144572482708 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-537072144572482708 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-537072144572482708 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gaK5sgCqy6" data-id="gaK5sgCqy6"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaK5sgCqy6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLMw-1ewRJ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gjuxa4nk81">
    <div
      parentTag="Col"
        class="gjuxa4nk81 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:10px;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:32px;--size-tablet:16px;--size-mobile:23px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjuxa4nk81_text }}</div>
      </div>
    </div>
    </gp-text>
    
    <gp-carousel data-id="gBvprdBWBS"  id="gp-root-carousel-gBvprdBWBS-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gBvprdBWBS-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"},"mobile":{"customShapeValue":"","gap":"","height":"10px","padding":{"linked":true},"shape":"","shapeLinked":true,"shapeValue":"1/1","width":"10px"}},"arrowCustom":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817669971509608\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\" /></svg>","arrowCustomColor":"#000000","arrowGapToEachSide":"10","arrowIconSize":{"desktop":40},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":"15"},"dotSize":{"desktop":12,"mobile":9},"dotStyle":{"desktop":"outside"},"enableDrag":{"desktop":false,"mobile":true},"itemNumber":{"desktop":2,"mobile":2,"tablet":1},"label":true,"loop":{"desktop":false,"mobile":true},"navigationStyle":{"desktop":"outside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":true,"mobile":true},"sneakPeakOffsetCenter":{"desktop":19},"sneakPeakOffsetForward":{"desktop":33,"mobile":63},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"gap":"","height":"Auto","shapeLinked":false,"width":"default"},"mobile":{"customShapeValue":"","gap":"","height":"","shape":"","shapeLinked":false,"shapeValue":"","width":"100%"}},"spacing":{"desktop":"5"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gBvprdBWBS"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:20px;--ml:0px;--mr:0px;--pl:150px;--pr:150px;--mt-mobile:20px;--ml-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:10px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gBvprdBWBS-{{section.id}} gp-carousel-arrow-gBvprdBWBS gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-flex mobile:!gp-relative "
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:32px;--w-mobile:10px;--h:32px;--h-mobile:10px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:40px;--h-tablet:40px;--h-mobile:40px"
  >
    <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817669971509608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-gBvprdBWBS {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gBvprdBWBS::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gBvprdBWBS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gBvprdBWBS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gBvprdBWBS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gBvprdBWBS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gBvprdBWBS-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:5px;--cg-tablet:5px;--cg:5px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1.67 - 2.0059880239520957px);--minw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--minw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--maxw:calc(100% / 1.67 - 2.0059880239520957px);--maxw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--maxw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gBvprdBWBS gwgrZf84NQ"
      data-index="0"
    >
      <div
    
     data-id="gR6RtydXaH"
    role="presentation"
    class="gp-group/image gR6RtydXaH"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:1/1;--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:1/1;--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1.67 - 2.0059880239520957px);--minw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--minw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--maxw:calc(100% / 1.67 - 2.0059880239520957px);--maxw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--maxw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gBvprdBWBS gXvlegIYXQ"
      data-index="1"
    >
      <div
    
     data-id="g82KWpWjD3"
    role="presentation"
    class="gp-group/image g82KWpWjD3"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-77e27a93-91fe-49d8-81ac-c5619d1003db_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-77e27a93-91fe-49d8-81ac-c5619d1003db.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:2025/2025;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-8114b311-38a8-4580-8f05-9fda79de06b7_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-77e27a93-91fe-49d8-81ac-c5619d1003db_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-77e27a93-91fe-49d8-81ac-c5619d1003db.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:2025/2025;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1.67 - 2.0059880239520957px);--minw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--minw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--maxw:calc(100% / 1.67 - 2.0059880239520957px);--maxw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--maxw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gBvprdBWBS ggc5kFPY1U"
      data-index="2"
    >
      <div
    
     data-id="gtvFmGzlEM"
    role="presentation"
    class="gp-group/image gtvFmGzlEM"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-f28037b9-849d-4e2a-acfe-6b203b71c231_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-f28037b9-849d-4e2a-acfe-6b203b71c231_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-f28037b9-849d-4e2a-acfe-6b203b71c231.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:2025/2025;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-f28037b9-849d-4e2a-acfe-6b203b71c231_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-f28037b9-849d-4e2a-acfe-6b203b71c231_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-f28037b9-849d-4e2a-acfe-6b203b71c231.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:2025/2025;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1.67 - 2.0059880239520957px);--minw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--minw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--maxw:calc(100% / 1.67 - 2.0059880239520957px);--maxw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--maxw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gBvprdBWBS g5bzAjXxqb"
      data-index="3"
    >
      <div
    
     data-id="gUhsbDBIrt"
    role="presentation"
    class="gp-group/image gUhsbDBIrt"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-f7c81f7d-ed57-410e-abe3-7466f61bee1b_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-f7c81f7d-ed57-410e-abe3-7466f61bee1b_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-f7c81f7d-ed57-410e-abe3-7466f61bee1b.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:2025/2025;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-f7c81f7d-ed57-410e-abe3-7466f61bee1b_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-f7c81f7d-ed57-410e-abe3-7466f61bee1b_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-f7c81f7d-ed57-410e-abe3-7466f61bee1b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2025/2025;--aspect-tablet:2025/2025;--aspect-mobile:2025/2025;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1.67 - 2.0059880239520957px);--minw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--minw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--maxw:calc(100% / 1.67 - 2.0059880239520957px);--maxw-tablet:calc(100% / 0.6699999999999999 - -2.4626865671641798px);--maxw-mobile:calc(100% / 1.37 - 1.3503649635036499px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gBvprdBWBS gAB9dcPvmE"
      data-index="4"
    >
      <div
    
     data-id="gwUeu3z5qs"
    role="presentation"
    class="gp-group/image gwUeu3z5qs"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-a69ad7f7-668e-45ee-a3b3-f84478c18e95_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-a69ad7f7-668e-45ee-a3b3-f84478c18e95_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-a69ad7f7-668e-45ee-a3b3-f84478c18e95.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-a69ad7f7-668e-45ee-a3b3-f84478c18e95_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-a69ad7f7-668e-45ee-a3b3-f84478c18e95_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-a69ad7f7-668e-45ee-a3b3-f84478c18e95.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gBvprdBWBS-{{section.id}} gp-carousel-arrow-gBvprdBWBS gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-flex mobile:!gp-relative "
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:32px;--w-mobile:10px;--h:32px;--h-mobile:10px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:40px;--h-tablet:40px;--h-mobile:40px"
  >
    <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817669971509608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-gBvprdBWBS {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gBvprdBWBS::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gBvprdBWBS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gBvprdBWBS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gBvprdBWBS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gBvprdBWBS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gBvprdBWBS-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--mt:15px;--mt-tablet:15px;--mt-mobile:15px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
  <gp-text data-id="gqq0pPImtx">
    <div
      parentTag="Col"
        class="gqq0pPImtx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:40px;--ml:10px;--mb:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:32px;--size-tablet:16px;--size-mobile:23px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqq0pPImtx_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gWEA8K9Oyq" data-id="gWEA8K9Oyq"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:20px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:900px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWEA8K9Oyq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPIc3Bn7OZ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gw6EU6AS46"
    role="presentation"
    class="gp-group/image gw6EU6AS46"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-fdb2e99c-47bb-4b1e-8f9b-1103a5829a69_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-fdb2e99c-47bb-4b1e-8f9b-1103a5829a69_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-fdb2e99c-47bb-4b1e-8f9b-1103a5829a69.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1336/368;--aspect-tablet:1336/368;--aspect-mobile:1336/368;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-fdb2e99c-47bb-4b1e-8f9b-1103a5829a69_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-fdb2e99c-47bb-4b1e-8f9b-1103a5829a69_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-fdb2e99c-47bb-4b1e-8f9b-1103a5829a69.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1336/368;--aspect-tablet:1336/368;--aspect-mobile:1336/368;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gvrp93RvMl"
    role="presentation"
    class="gp-group/image gvrp93RvMl"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-e685fb45-73e5-4b7e-a509-c9df38da6290_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-e685fb45-73e5-4b7e-a509-c9df38da6290_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-e685fb45-73e5-4b7e-a509-c9df38da6290.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1920/2560;--aspect-tablet:1920/2560;--aspect-mobile:1920/2560;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-e685fb45-73e5-4b7e-a509-c9df38da6290_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-e685fb45-73e5-4b7e-a509-c9df38da6290_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-e685fb45-73e5-4b7e-a509-c9df38da6290.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1920/2560;--aspect-tablet:1920/2560;--aspect-mobile:1920/2560;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gRzkk8fhrT"
    role="presentation"
    class="gp-group/image gRzkk8fhrT"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-bc32f6d9-ceec-4381-ba9a-f9bfb6ec3c9b_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-bc32f6d9-ceec-4381-ba9a-f9bfb6ec3c9b_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-bc32f6d9-ceec-4381-ba9a-f9bfb6ec3c9b.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:968/306;--aspect-tablet:968/306;--aspect-mobile:968/306;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-bc32f6d9-ceec-4381-ba9a-f9bfb6ec3c9b_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-bc32f6d9-ceec-4381-ba9a-f9bfb6ec3c9b_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-bc32f6d9-ceec-4381-ba9a-f9bfb6ec3c9b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:968/306;--aspect-tablet:968/306;--aspect-mobile:968/306;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gVYu4Ulmwr"
    role="presentation"
    class="gp-group/image gVYu4Ulmwr"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-fb1b58e3-4ee2-4e72-97ed-b64ab5ba5e89_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-fb1b58e3-4ee2-4e72-97ed-b64ab5ba5e89_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-fb1b58e3-4ee2-4e72-97ed-b64ab5ba5e89.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:924/232;--aspect-tablet:924/232;--aspect-mobile:924/232;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-fb1b58e3-4ee2-4e72-97ed-b64ab5ba5e89_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-fb1b58e3-4ee2-4e72-97ed-b64ab5ba5e89_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-fb1b58e3-4ee2-4e72-97ed-b64ab5ba5e89.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:924/232;--aspect-tablet:924/232;--aspect-mobile:924/232;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gry6H-ja8h"
    role="presentation"
    class="gp-group/image gry6H-ja8h"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-0b7e5b0d-a1d6-437a-8d6a-78b7aac2eced_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-0b7e5b0d-a1d6-437a-8d6a-78b7aac2eced_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-0b7e5b0d-a1d6-437a-8d6a-78b7aac2eced.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1020/768;--aspect-tablet:1020/768;--aspect-mobile:1020/768;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-0b7e5b0d-a1d6-437a-8d6a-78b7aac2eced_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-0b7e5b0d-a1d6-437a-8d6a-78b7aac2eced_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-0b7e5b0d-a1d6-437a-8d6a-78b7aac2eced.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1020/768;--aspect-tablet:1020/768;--aspect-mobile:1020/768;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTHoXzqTnF gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gcXq3QYkej"
    role="presentation"
    class="gp-group/image gcXq3QYkej"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-b06bf5e7-2fca-45d4-9625-2736184195ed_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-b06bf5e7-2fca-45d4-9625-2736184195ed_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-b06bf5e7-2fca-45d4-9625-2736184195ed.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:375/497;--aspect-tablet:375/497;--aspect-mobile:375/497;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-b06bf5e7-2fca-45d4-9625-2736184195ed_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-b06bf5e7-2fca-45d4-9625-2736184195ed_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-b06bf5e7-2fca-45d4-9625-2736184195ed.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:375/497;--aspect-tablet:375/497;--aspect-mobile:375/497;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gbfAJfSSEW"
    role="presentation"
    class="gp-group/image gbfAJfSSEW"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-a9d07f3e-cef0-43cf-8532-694ce417b5c9_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-a9d07f3e-cef0-43cf-8532-694ce417b5c9_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-a9d07f3e-cef0-43cf-8532-694ce417b5c9.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1008/410;--aspect-tablet:1008/410;--aspect-mobile:1008/410;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-a9d07f3e-cef0-43cf-8532-694ce417b5c9_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-a9d07f3e-cef0-43cf-8532-694ce417b5c9_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-a9d07f3e-cef0-43cf-8532-694ce417b5c9.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1008/410;--aspect-tablet:1008/410;--aspect-mobile:1008/410;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gTe_0_Hp0i"
    role="presentation"
    class="gp-group/image gTe_0_Hp0i"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-75c28d27-4b9b-4779-a219-85beb865e69b_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-75c28d27-4b9b-4779-a219-85beb865e69b_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-75c28d27-4b9b-4779-a219-85beb865e69b.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1028/394;--aspect-tablet:1028/394;--aspect-mobile:1028/394;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-75c28d27-4b9b-4779-a219-85beb865e69b_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-75c28d27-4b9b-4779-a219-85beb865e69b_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-75c28d27-4b9b-4779-a219-85beb865e69b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1028/394;--aspect-tablet:1028/394;--aspect-mobile:1028/394;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="g7MQgbN6Ut"
    role="presentation"
    class="gp-group/image g7MQgbN6Ut"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-bd4b4697-8155-41b8-a31f-6f8ae06abe1a_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_534104955091420133-bd4b4697-8155-41b8-a31f-6f8ae06abe1a_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_534104955091420133-bd4b4697-8155-41b8-a31f-6f8ae06abe1a.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1006/274;--aspect-tablet:1006/274;--aspect-mobile:1006/274;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-bd4b4697-8155-41b8-a31f-6f8ae06abe1a_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_534104955091420133-bd4b4697-8155-41b8-a31f-6f8ae06abe1a_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_534104955091420133-bd4b4697-8155-41b8-a31f-6f8ae06abe1a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1006/274;--aspect-tablet:1006/274;--aspect-mobile:1006/274;--objf:cover;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--mt:40px;--ml:350px;--mr:300px;--pt:0px;--pl:0px;--pb:0px;--pr:30px;--mt-mobile:30px;--ml-mobile:20px;--mb-mobile:0px;--mr-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    
  >
    <style>
    .gTE_RPnOXz.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gTE_RPnOXz:hover::before {
      
      
    }

    .gTE_RPnOXz:hover .gp-button-icon {
      color: #ffffff;
    }

     .gTE_RPnOXz .gp-button-icon {
      color: rgb(45, 45, 44);
    }

    .gTE_RPnOXz:hover .gp-button-price {
      color: #ffffff;
    }

    .gTE_RPnOXz .gp-button-price {
      color: rgb(45, 45, 44);
    }

    .gTE_RPnOXz .gp-product-dot-price {
       color: rgb(45, 45, 44);
    }

    .gTE_RPnOXz:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <button
      type="button" data-id="gTE_RPnOXz" aria-label="<p>&gt;&gt; JETZT ZUM ANGEBOT</p>"
      
      data-state="idle"
      class="gTE_RPnOXz gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-subheading-3"
      style="--hvr-bg:#3c96ee;--bg:rgb(232, 159, 66);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:60px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#ffffff;--c:rgb(45, 45, 44);--size:32px;--size-tablet:32px;--size-mobile:23px;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-subheading-3
        "
        style="--size:32px;--size-tablet:32px;--size-mobile:23px"
      >
        {{ section.settings.ggTE_RPnOXz_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 19",
    "tag": "section",
    "class": "gps-537072144572482708 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=537072144102720660&sectionId=537072144572482708)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggjuxa4nk81_text","label":"ggjuxa4nk81_text","default":"<p>Produktbildergalerie</p>"},{"type":"html","id":"ggqq0pPImtx_text","label":"ggqq0pPImtx_text","default":"<p>Erfahrungen glcklicher Kunden</p>"},{"type":"html","id":"ggTE_RPnOXz_label","label":"ggTE_RPnOXz_label","default":"<p>&gt;&gt; JETZT ZUM ANGEBOT</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
