
    
    <style>.gps-591140696951554728 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-591140696951554728 .gp-relative{position:relative}.gps-591140696951554728 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591140696951554728 .gp-mb-0{margin-bottom:0}.gps-591140696951554728 .gp-flex{display:flex}.gps-591140696951554728 .gp-grid{display:grid}.gps-591140696951554728 .\!gp-hidden{display:none!important}.gps-591140696951554728 .gp-hidden{display:none}.gps-591140696951554728 .gp-w-max{width:-moz-max-content;width:max-content}.gps-591140696951554728 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-591140696951554728 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-591140696951554728 .gp-max-w-full{max-width:100%}.gps-591140696951554728 .gp-flex-1{flex:1 1 0%}.gps-591140696951554728 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591140696951554728 .gp-flex-col{flex-direction:column}.gps-591140696951554728 .gp-flex-wrap{flex-wrap:wrap}.gps-591140696951554728 .gp-text-center{text-align:center}.gps-591140696951554728 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-591140696951554728 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-591140696951554728 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591140696951554728 .gp-duration-200{transition-duration:.2s}.gps-591140696951554728 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-591140696951554728 .tablet\:\!gp-hidden{display:none!important}.gps-591140696951554728 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-591140696951554728 .mobile\:\!gp-hidden{display:none!important}.gps-591140696951554728 .mobile\:gp-hidden{display:none}}.gps-591140696951554728 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EDE3F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gZe5KS6sEb"}' data-id="gZe5KS6sEb" id="gZe5KS6sEb" data-same-height-subgrid-container class="gZe5KS6sEb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:var(--g-s-2xl);--pb:10px;--mb-mobile:30px;--pt-mobile:20px;--pb-mobile:10px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDE3F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMjSjfWJWw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCm8X4jdF_"}' data-id="gCm8X4jdF_" id="gCm8X4jdF_" data-same-height-subgrid-container class="gCm8X4jdF_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwVudxyMsY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcmpjMS9VW"}' data-id="gcmpjMS9VW" id="gcmpjMS9VW" data-same-height-subgrid-container class="gcmpjMS9VW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1000px;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g7DZHWqMp9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gngS5Cw8Hf"
        class="gngS5Cw8Hf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:30px;--pl-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470662"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:150%;--w-tablet:150%;--w-mobile:150%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:24px;--size-tablet:17px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggngS5Cw8Hf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gngS5Cw8Hf">
        .gngS5Cw8Hf {

}
.gngS5Cw8Hf p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gM9im2aQhY gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="ghanN21W2X ">
      
    {%- liquid
      assign standardEndDate = 1723542206689
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="ghanN21W2X"
        gp-href
        class="gp-flex"
        style="--jc:right;--jc-mobile:center"
        gp-data='{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Stunden","loopAfterFinish":true,"minuteLabel":"Minuten","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Sekunden","timeZone":"UTC-7","timerDaily":{"format":"pm","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1752384460351,"hours":3,"mins":55,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"ghanN21W2X","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"edited":["desktop"],"desktop":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"},"margin":{"top":"0px"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"},"margin":{"top":"0px"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"},"margin":{"top":"0px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Stunden","loopAfterFinish":true,"minuteLabel":"Minuten","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Sekunden","timeZone":"UTC-7","timerDaily":{"format":"pm","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1752384460351,"hours":3,"mins":55,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"},"mobile":{"bottom":"4px","left":"7.5px","right":"7.5px","top":"4px"}},"labelTypo":{"attrs":{"color":"#999999"},"custom":{"fontSize":{"desktop":"13px","mobile":"7px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":{"desktop":"normal"},"lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"type":"subheading-3","attrs":{"bold":true,"color":"#242424"}},"roundedState":{"normal":{"bblr":"5px","bbrr":"5px","btlr":"5px","btrr":"5px","radiusType":"custom"}},"textAlign":{"desktop":"right","mobile":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"ghanN21W2X","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:right;--jc-mobile:center">
          
          
          
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:7.5px;--pr-mobile:7.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghanN21W2X-text" id="hour"
        class="ghanN21W2X"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470663"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghanN21W2X-text"
        class="ghanN21W2X"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470663"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:7px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghanN21W2X_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:7.5px;--pr-mobile:7.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghanN21W2X-text" id="minute"
        class="ghanN21W2X"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470663"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghanN21W2X-text"
        class="ghanN21W2X"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470663"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:7px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghanN21W2X_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:7.5px;--pr-mobile:7.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghanN21W2X-text" id="second"
        class="ghanN21W2X"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470663"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghanN21W2X-text"
        class="ghanN21W2X"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761877470664"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:7px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghanN21W2X_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-591140696951554728 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591140696849646248&sectionId=591140696951554728)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggngS5Cw8Hf_text","label":"ggngS5Cw8Hf_text","default":"<p><strong>Limitiertes Angebot:&nbsp;</strong></p><p>Bis zu -30% sparen + kostenloser Versand</p>"},{"type":"html","id":"gghanN21W2X_dayLabel","label":"gghanN21W2X_dayLabel","default":"Days"},{"type":"html","id":"gghanN21W2X_hourLabel","label":"gghanN21W2X_hourLabel","default":"Stunden"},{"type":"html","id":"gghanN21W2X_minuteLabel","label":"gghanN21W2X_minuteLabel","default":"Minuten"},{"type":"html","id":"gghanN21W2X_secondLabel","label":"gghanN21W2X_secondLabel","default":"Sekunden"},{"type":"html","id":"gghanN21W2X_weekLabel","label":"gghanN21W2X_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  