

<style>@import url('https://fonts.googleapis.com/css?family=sans-serif:400&display=swap');.gps-574921498989429989 .gp-relative{position:relative}.gps-574921498989429989 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574921498989429989 .gp-mb-0{margin-bottom:0}.gps-574921498989429989 .gp-flex{display:flex}.gps-574921498989429989 .gp-grid{display:grid}.gps-574921498989429989 .gp-contents{display:contents}.gps-574921498989429989 .\!gp-hidden{display:none!important}.gps-574921498989429989 .gp-hidden{display:none}.gps-574921498989429989 .gp-h-auto{height:auto}.gps-574921498989429989 .gp-h-full{height:100%}.gps-574921498989429989 .gp-w-full{width:100%}.gps-574921498989429989 .gp-max-w-full{max-width:100%}.gps-574921498989429989 .gp-flex-none{flex:none}.gps-574921498989429989 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574921498989429989 .gp-flex-col{flex-direction:column}.gps-574921498989429989 .gp-gap-y-0{row-gap:0}.gps-574921498989429989 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574921498989429989 .gp-duration-200{transition-duration:.2s}.gps-574921498989429989 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574921498989429989 .tablet\:\!gp-hidden{display:none!important}.gps-574921498989429989 .tablet\:gp-hidden{display:none}.gps-574921498989429989 .tablet\:gp-h-auto{height:auto}.gps-574921498989429989 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-574921498989429989 .mobile\:\!gp-hidden{display:none!important}.gps-574921498989429989 .mobile\:gp-hidden{display:none}.gps-574921498989429989 .mobile\:gp-h-auto{height:auto}.gps-574921498989429989 .mobile\:gp-flex-none{flex:none}}.gps-574921498989429989 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-574921498989429989 .\[\&_p\]\:gp-inline p{display:inline}.gps-574921498989429989 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-574921498989429989 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g42VK0T83-" data-id="g42VK0T83-"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g42VK0T83- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g6uQiN6euq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gdalb-OE8x" data-id="gdalb-OE8x"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdalb-OE8x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzrlf5fZKR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbUEY_vkgC" data-id="gbUEY_vkgC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbUEY_vkgC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtIsQPyosz gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g67Cc11xzh">
    <div
      parentTag="Col"
        class="g67Cc11xzh "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:30px;--pl:0px;--mb-mobile:20px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:35px;--size-tablet:28px;--size-mobile:28px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg67Cc11xzh_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="g0PHaegp2p"
    role="presentation"
    class="gp-group/image g0PHaegp2p gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb-mobile:14px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-4819b9fc-b7ad-405a-83a0-d6fd7abb9bd6.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-4819b9fc-b7ad-405a-83a0-d6fd7abb9bd6.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-4819b9fc-b7ad-405a-83a0-d6fd7abb9bd6.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:15px;--bblr:15px;--bbrr:15px;--btlr:15px;--radiusType:custom"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g0PHaegp2p">
        .g0PHaegp2p {

}
.g0PHaegp2p > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmFZ90i6gt gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmxt4cMDGD">
    <div
      parentTag="Col"
        class="gmxt4cMDGD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:30px;--pl:0px;--mb-mobile:0px;--pl-mobile:0px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:normal;--size:22px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden"
        >{{ section.settings.ggmxt4cMDGD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 18",
    "tag": "section",
    "class": "gps-574921498989429989 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=574499147273470820&sectionId=574921498989429989)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg67Cc11xzh_text","label":"gg67Cc11xzh_text","default":"9. Begeisterte Bewertungen und 90 Tage Geld-zurück-Garantie"},{"type":"html","id":"ggmxt4cMDGD_text","label":"ggmxt4cMDGD_text","default":"<p>Die Umstellung auf unsere Gras- &amp; Kotfresser Drops fällt leicht – dank spürbarer Ergebnisse und mittlerweile tausenden positiver Rückmeldungen von Hundehaltern. Solltest du dennoch nicht zufrieden sein, kannst du die Drops innerhalb von 90 Tagen problemlos zurückgeben und erhältst dein Geld zurück. Teste sie für 60 Tage und erhalte nochmal 30 Tage Zeit.&nbsp;</p><p>&nbsp;</p><p>So gehst du beim Ausprobieren kein Risiko ein!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
