

<style>.gps-545917513637037222 .-gp-translate-x-1\/2,.gps-545917513637037222 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-545917513637037222 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-545917513637037222 .gp-visible{visibility:visible}.gps-545917513637037222 .gp-invisible{visibility:hidden}.gps-545917513637037222 .gp-absolute{position:absolute}.gps-545917513637037222 .gp-relative{position:relative}.gps-545917513637037222 .gp-inset-0{inset:0}.gps-545917513637037222 .gp-left-1\/2{left:50%}.gps-545917513637037222 .gp-top-1\/2{top:50%}.gps-545917513637037222 .gp-z-1{z-index:1}.gps-545917513637037222 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545917513637037222 .gp-mb-0{margin-bottom:0}.gps-545917513637037222 .gp-block{display:block}.gps-545917513637037222 .gp-flex{display:flex}.gps-545917513637037222 .gp-inline-flex{display:inline-flex}.gps-545917513637037222 .gp-grid{display:grid}.gps-545917513637037222 .gp-contents{display:contents}.gps-545917513637037222 .\!gp-hidden{display:none!important}.gps-545917513637037222 .gp-hidden{display:none}.gps-545917513637037222 .gp-h-full{height:100%}.gps-545917513637037222 .gp-w-\[68px\]{width:68px}.gps-545917513637037222 .gp-w-full{width:100%}.gps-545917513637037222 .gp-w-max{width:-moz-max-content;width:max-content}.gps-545917513637037222 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-545917513637037222 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-545917513637037222 .\!gp-max-w-none{max-width:none!important}.gps-545917513637037222 .gp-max-w-full{max-width:100%}.gps-545917513637037222 .gp-flex-1{flex:1 1 0%}.gps-545917513637037222 .gp-flex-none{flex:none}.gps-545917513637037222 .gp-shrink-0{flex-shrink:0}.gps-545917513637037222 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-545917513637037222 .-gp-translate-x-1\/2,.gps-545917513637037222 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-545917513637037222 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-545917513637037222 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-545917513637037222 .gp-flex-col{flex-direction:column}.gps-545917513637037222 .gp-flex-wrap{flex-wrap:wrap}.gps-545917513637037222 .gp-items-center{align-items:center}.gps-545917513637037222 .gp-justify-start{justify-content:flex-start}.gps-545917513637037222 .gp-justify-center{justify-content:center}.gps-545917513637037222 .gp-gap-y-0{row-gap:0}.gps-545917513637037222 .gp-overflow-hidden{overflow:hidden}.gps-545917513637037222 .gp-break-words{overflow-wrap:break-word}.gps-545917513637037222 .gp-rounded-none{border-radius:0}.gps-545917513637037222 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-545917513637037222 .gp-bg-cover{background-size:cover}.gps-545917513637037222 .gp-bg-center{background-position:50%}.gps-545917513637037222 .gp-text-left{text-align:left}.gps-545917513637037222 .gp-text-center{text-align:center}.gps-545917513637037222 .gp-leading-\[0\]{line-height:0}.gps-545917513637037222 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-545917513637037222 .gp-no-underline{text-decoration-line:none}.gps-545917513637037222 .gp-opacity-100{opacity:1}.gps-545917513637037222 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545917513637037222 .gp-duration-200{transition-duration:.2s}.gps-545917513637037222 .gp-duration-300{transition-duration:.3s}.gps-545917513637037222 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545917513637037222 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-545917513637037222 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-545917513637037222 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-545917513637037222 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-545917513637037222 .tablet\:gp-block{display:block}.gps-545917513637037222 .tablet\:\!gp-hidden{display:none!important}.gps-545917513637037222 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545917513637037222 .mobile\:gp-block{display:block}.gps-545917513637037222 .mobile\:\!gp-hidden{display:none!important}.gps-545917513637037222 .mobile\:gp-hidden{display:none}}.gps-545917513637037222 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-545917513637037222 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-545917513637037222 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-545917513637037222 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-545917513637037222 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-545917513637037222 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-545917513637037222 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-545917513637037222 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-545917513637037222 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-545917513637037222 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-545917513637037222 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545917513637037222 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-545917513637037222 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-545917513637037222 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-545917513637037222 .\[\&_p\]\:gp-inline p{display:inline}.gps-545917513637037222 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-545917513637037222 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545917513637037222 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="glyiLqZDvT" data-id="glyiLqZDvT"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:0px;--pb:12px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F3F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glyiLqZDvT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHsz8DYLKT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gDD5kyorrc" data-id="gDD5kyorrc"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#AAAAAA;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:48px;--pt:13px;--pl:20px;--pb:12px;--pr:20px;--mb-mobile:21px;--pt-mobile:8px;--pl-mobile:20px;--pb-mobile:8px;--pr-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDD5kyorrc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guTJUzTwYc gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gYhNnWdkjp"
    role="presentation"
    class="gp-group/image gYhNnWdkjp"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-6934739d-d4a9-4ddc-a007-f599f61af2aa_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-6934739d-d4a9-4ddc-a007-f599f61af2aa_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-6934739d-d4a9-4ddc-a007-f599f61af2aa.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:113px;--w-tablet:113px;--w-mobile:113px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gYhNnWdkjp">
        .gYhNnWdkjp {

}
.gYhNnWdkjp > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ggI_qcp4bB" data-id="ggI_qcp4bB"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:relative;--pl:20px;--pr:20px;--pl-tablet:20px;--pr-tablet:20px;--cg:62px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggI_qcp4bB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUn68slhFr gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gijyIc-r95">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gijyIc-r95 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:12px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggijyIc-r95_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1z2pjHtd2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1z2pjHtd2 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:9px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1z2pjHtd2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1z2pjHtd2">
        .g1z2pjHtd2 {

}
.g1z2pjHtd2 p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:12px;--pt:12px;--pb:12px;--mb-mobile:9px;--pt-mobile:12px;--pb-mobile:12px" class="gTbpk63SHp ">
      
    <div
    data-id="gTbpk63SHp"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#AAAAAA"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#AAAAAA;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#AAAAAA;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#AAAAAA;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      
      data-id="gN5W0msFKB"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gN5W0msFKB"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:24px;--mb-mobile:21px;--aspect:16/9"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=1&state=1&mute=1&&controls=1"}'>
      
          <link rel="preconnect" href="https://www.youtube-nocookie.com" />
          <link rel="preconnect" href="https://www.google.com" />
        
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article "
        data-title="Video"
        style="--bgi:url('{{ 'gempages_534104955091420133-d6e68d21-bc25-4b6e-b0af-b204515d60f9.png' | file_url }}');--aspect:16/9"
      >
        
  <img
      id="gp-video-gN5W0msFKB"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="{{ 'gempages_534104955091420133-d6e68d21-bc25-4b6e-b0af-b204515d60f9.png' | file_url }}" data-srcset="{{ 'gempages_534104955091420133-d6e68d21-bc25-4b6e-b0af-b204515d60f9.png' | file_url }} 768w,{{ 'gempages_534104955091420133-d6e68d21-bc25-4b6e-b0af-b204515d60f9.png' | file_url }} 1024w,{{ 'gempages_534104955091420133-d6e68d21-bc25-4b6e-b0af-b204515d60f9.png' | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gN5W0msFKB">
        .gN5W0msFKB[data-component-label="Video"] {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWeHH6J00Q">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWeHH6J00Q "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWeHH6J00Q_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gWeHH6J00Q">
        .gWeHH6J00Q {

}
.gWeHH6J00Q p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQqJE7fPqO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQqJE7fPqO "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQqJE7fPqO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gQqJE7fPqO">
        .gQqJE7fPqO {

}
.gQqJE7fPqO p {

}
      </style>
    <div
    
     data-id="gRqMw-GGoJ"
    role="presentation"
    class="gp-group/image gRqMw-GGoJ"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:24px;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-fd099555-b237-44b4-bcb8-15e693461bc5_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-fd099555-b237-44b4-bcb8-15e693461bc5_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-fd099555-b237-44b4-bcb8-15e693461bc5.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gRqMw-GGoJ">
        .gRqMw-GGoJ {

}
.gRqMw-GGoJ > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqsSZ0cqys">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqsSZ0cqys "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqsSZ0cqys_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqsSZ0cqys">
        .gqsSZ0cqys {

}
.gqsSZ0cqys p {

}
      </style>
    <div
    
     data-id="gl2y9InDRl"
    role="presentation"
    class="gp-group/image gl2y9InDRl"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-2a398495-7814-4e9d-9a03-0ddefa7ac406_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-2a398495-7814-4e9d-9a03-0ddefa7ac406_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-2a398495-7814-4e9d-9a03-0ddefa7ac406.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gl2y9InDRl">
        .gl2y9InDRl {

}
.gl2y9InDRl > figure > img {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcbUZQ44Uq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gy9_KPRlsX" data-id="gy9_KPRlsX"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:sticky;--right:0px;--mr:auto;--pr:0px;--top:32px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:348px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gy9_KPRlsX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIveNFUm8E gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3FuBLAdLi" data-id="g3FuBLAdLi"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#AAAAAA;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:32px;--mr:-1px;--pt:15px;--pl:15px;--pb:15px;--pr:16px;--mb-mobile:28px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3FuBLAdLi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXdy8lOPWp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXHQxInRRe">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXHQxInRRe "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXHQxInRRe_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gXHQxInRRe">
        .gXHQxInRRe {

}
.gXHQxInRRe p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:22px;--mb-mobile:10px" class="gAr04Tdu6Y ">
      
    <gp-countdown-timer
      data-id="gAr04Tdu6Y"
     class="gp-flex "
     gp-data='{"behaviour":"evergreen","dateStandard":"2024-07-15T08:00:00.000Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1721193814555,"hours":2,"mins":47,"startTime":1720838885105},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gAr04Tdu6Y","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%","mobile":"100%","tablet":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"22px"}},"mobile":{"link":false,"margin":{"bottom":"10px"}}}},"label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":"2024-07-15T08:00:00.000Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1721193814555,"hours":2,"mins":47,"startTime":1720838885105},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"8px","itemPadding":{"custom":{"desktop":{"horizontal":"19px","vertical":"0px"},"tablet":{"horizontal":"5px","vertical":"0px"}}},"labelTypo":{"attrs":{"color":"#C6C6CF"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontWeight":"400","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#161723"},"custom":{"fontSize":{"desktop":"23px","mobile":"20px","tablet":"18px"},"fontStyle":"normal","fontWeight":"700","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gAr04Tdu6Y","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:19px;--pr:19px;--pt:0px;--pb:0px;--pl-tablet:5px;--pr-tablet:5px;--pt-tablet:0px;--pb-tablet:0px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      id="day"
        class="gAr04Tdu6Y "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#161723;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      
        class="gAr04Tdu6Y "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C6C6CF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAr04Tdu6Y_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:19px;--pr:19px;--pt:0px;--pb:0px;--pl-tablet:5px;--pr-tablet:5px;--pt-tablet:0px;--pb-tablet:0px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      id="hour"
        class="gAr04Tdu6Y "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#161723;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      
        class="gAr04Tdu6Y "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C6C6CF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAr04Tdu6Y_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:19px;--pr:19px;--pt:0px;--pb:0px;--pl-tablet:5px;--pr-tablet:5px;--pt-tablet:0px;--pb-tablet:0px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      id="minute"
        class="gAr04Tdu6Y "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#161723;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      
        class="gAr04Tdu6Y "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C6C6CF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAr04Tdu6Y_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:19px;--pr:19px;--pt:0px;--pb:0px;--pl-tablet:5px;--pr-tablet:5px;--pt-tablet:0px;--pb-tablet:0px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      id="second"
        class="gAr04Tdu6Y "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#161723;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr04Tdu6Y-text">
    <div
      
        class="gAr04Tdu6Y "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C6C6CF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAr04Tdu6Y_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div
    
     data-id="gA9X95Cnt5"
    role="presentation"
    class="gp-group/image gA9X95Cnt5"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:22px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-8735263c-3677-4167-badc-9e3d17f25df2_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-8735263c-3677-4167-badc-9e3d17f25df2_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-8735263c-3677-4167-badc-9e3d17f25df2.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gA9X95Cnt5">
        .gA9X95Cnt5 {

}
.gA9X95Cnt5 > figure > img {

}
      </style>
    <div gp-el-wrapper  class="g-dYoYKMSZ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g-dYoYKMSZ"
      data-id="g-dYoYKMSZ"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:22px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-dYoYKMSZ"
            style="--cg:12px;--cg-mobile:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#ED8F4B;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424153">
                {{ section.settings.gg-dYoYKMSZ_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-dYoYKMSZ"
            style="--cg:12px;--cg-mobile:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#ED8F4B;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424153">
                {{ section.settings.gg-dYoYKMSZ_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-dYoYKMSZ"
            style="--cg:12px;--cg-mobile:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#ED8F4B;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424153">
                {{ section.settings.gg-dYoYKMSZ_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-dYoYKMSZ"
            style="--cg:12px;--cg-mobile:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#ED8F4B;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424153">
                {{ section.settings.gg-dYoYKMSZ_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:10px;--ta:right"
    
  >
    <style>
    .gZ68-9PK4p.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gZ68-9PK4p:hover::before {
      
      
    }

    .gZ68-9PK4p:hover .gp-button-icon {
      color: undefined;
    }

     .gZ68-9PK4p .gp-button-icon {
      color: #FFFFFF;
    }

    .gZ68-9PK4p:hover .gp-button-price {
      color: undefined;
    }

    .gZ68-9PK4p .gp-button-price {
      color: #FFFFFF;
    }

    .gZ68-9PK4p .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gZ68-9PK4p:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gZ68-9PK4p" aria-label="<p>CHECK AVAILABILITY</p>"
      
      data-state="idle"
      class="gZ68-9PK4p gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#DC640D;--bg:#ED8F4B;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:12px;--pb:12px;--pl-tablet:5px;--pr-tablet:5px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--c:#FFFFFF;--size:16px;--size-tablet:14px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px"
      >
        {{ section.settings.ggZ68-9PK4p_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gZ68-9PK4p">
        button.gZ68-9PK4p {

}
      </style>
    <div gp-el-wrapper  class="gnkE97tccj ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gnkE97tccj"
      data-id="gnkE97tccj"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":14,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:center">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gnkE97tccj"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:14px"
              >
               <svg data-id="522505647074313079" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<g clip-path="url(#clip0_1325_3922)">
<path d="M5.83801 2.09C4.88559 2.35248 3.93965 2.6379 3.00101 2.946C2.91529 2.97376 2.8391 3.02504 2.78111 3.09399C2.72312 3.16295 2.68567 3.2468 2.67301 3.336C2.11901 7.493 3.39901 10.526 4.92601 12.524C5.57252 13.3784 6.34341 14.1311 7.21301 14.757C7.55901 15.001 7.86501 15.177 8.10601 15.29C8.22601 15.347 8.32401 15.385 8.39901 15.408C8.43181 15.4195 8.46562 15.4279 8.50001 15.433C8.53398 15.4275 8.56743 15.4191 8.60001 15.408C8.67601 15.385 8.77401 15.347 8.89401 15.29C9.13401 15.177 9.44101 15 9.78701 14.757C10.6566 14.1311 11.4275 13.3784 12.074 12.524C13.601 10.527 14.881 7.493 14.327 3.336C14.3145 3.24676 14.277 3.16285 14.219 3.09388C14.161 3.02491 14.0848 2.97366 13.999 2.946C13.348 2.733 12.249 2.386 11.162 2.091C10.052 1.79 9.03101 1.567 8.50001 1.567C7.97001 1.567 6.94801 1.79 5.83801 2.091V2.09ZM5.57201 1.06C6.65701 0.765 7.81001 0.5 8.50001 0.5C9.19001 0.5 10.343 0.765 11.428 1.06C12.538 1.36 13.657 1.715 14.315 1.93C14.5901 2.02085 14.834 2.18747 15.0187 2.4107C15.2034 2.63394 15.3213 2.90474 15.359 3.192C15.955 7.669 14.572 10.987 12.894 13.182C12.1824 14.121 11.334 14.9479 10.377 15.635C10.0461 15.8728 9.69549 16.0819 9.32901 16.26C9.04901 16.392 8.74801 16.5 8.50001 16.5C8.25201 16.5 7.95201 16.392 7.67101 16.26C7.30452 16.0819 6.95391 15.8728 6.62301 15.635C5.66603 14.9478 4.81759 14.121 4.10601 13.182C2.42801 10.987 1.04501 7.669 1.64101 3.192C1.67869 2.90474 1.79665 2.63394 1.98132 2.4107C2.166 2.18747 2.4099 2.02085 2.68501 1.93C3.6402 1.61681 4.60281 1.32672 5.57201 1.06Z" fill="#424153"/>
<path d="M11.3546 5.64687C11.4012 5.69331 11.4381 5.74849 11.4633 5.80923C11.4885 5.86998 11.5015 5.9351 11.5015 6.00087C11.5015 6.06663 11.4885 6.13175 11.4633 6.1925C11.4381 6.25324 11.4012 6.30842 11.3546 6.35487L8.35461 9.35487C8.30817 9.40143 8.25299 9.43837 8.19225 9.46358C8.1315 9.48878 8.06638 9.50176 8.00061 9.50176C7.93484 9.50176 7.86972 9.48878 7.80898 9.46358C7.74823 9.43837 7.69306 9.40143 7.64661 9.35487L6.14661 7.85487C6.10012 7.80838 6.06325 7.75319 6.03809 7.69245C6.01293 7.63171 5.99998 7.56661 5.99998 7.50087C5.99998 7.43512 6.01293 7.37002 6.03809 7.30928C6.06325 7.24854 6.10012 7.19335 6.14661 7.14687C6.1931 7.10038 6.24829 7.0635 6.30903 7.03834C6.36977 7.01318 6.43487 7.00023 6.50061 7.00023C6.56636 7.00023 6.63146 7.01318 6.6922 7.03834C6.75294 7.0635 6.80812 7.10038 6.85461 7.14687L8.00061 8.29387L10.6466 5.64687C10.6931 5.6003 10.7482 5.56336 10.809 5.53815C10.8697 5.51295 10.9348 5.49997 11.0006 5.49997C11.0664 5.49997 11.1315 5.51295 11.1922 5.53815C11.253 5.56336 11.3082 5.6003 11.3546 5.64687Z" fill="#424153"/>
</g>
<defs>
<clipPath id="clip0_1325_3922">
<rect width="16" height="16" fill="white" transform="translate(0.5 0.5)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424153">
                {{ section.settings.ggnkE97tccj_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gWP4kHF25N" data-id="gWP4kHF25N"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#AAAAAA;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--mr:auto;--pt:15px;--pl:15px;--pb:15px;--pr:16px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:349px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWP4kHF25N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geiexdBotV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBtzxO13Hf"
    role="presentation"
    class="gp-group/image gBtzxO13Hf"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:10px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_534104955091420133-74b01378-1491-428e-9537-74a75c97691f_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-74b01378-1491-428e-9537-74a75c97691f_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-74b01378-1491-428e-9537-74a75c97691f.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gBtzxO13Hf">
        .gBtzxO13Hf {

}
.gBtzxO13Hf > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvcBYOMav-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gvcBYOMav- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvcBYOMav-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gvcBYOMav-">
        .gvcBYOMav- {

}
.gvcBYOMav- p {

}
      </style>
    
    
    <div
    data-id="gHZlOuil_5"
      
      data-id="gHZlOuil_5"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:12px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:center">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gmcROX92ne ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gK3d-QEh4A"
    >
      <div 
      data-id="gK3d-QEh4A"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g4JjzJXlpx ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g9E0HBFh7P"
    >
      <div 
      data-id="g9E0HBFh7P"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="guv5kRYfzR ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] grC8YzbhMR"
    >
      <div 
      data-id="grC8YzbhMR"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gSBhLuaJW7 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gCURnoyUo2"
    >
      <div 
      data-id="gCURnoyUo2"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gZ5g3HBuXC ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gO-0B8a2kD"
    >
      <div 
      data-id="gO-0B8a2kD"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gV7H9JVFTv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gV7H9JVFTv "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggV7H9JVFTv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gV7H9JVFTv">
        .gV7H9JVFTv {

}
.gV7H9JVFTv p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gn13gTZ4M6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gn13gTZ4M6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggn13gTZ4M6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gn13gTZ4M6">
        .gn13gTZ4M6 {

}
.gn13gTZ4M6 p {

}
      </style>
    <div gp-el-wrapper  class="gXCqYNsNie ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gXCqYNsNie"
      data-id="gXCqYNsNie"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":14,"mobile":14,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:center">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gXCqYNsNie"
            style="--cg:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00B878;--w:100%;--h:100%;--size-desktop:14px;--size-tablet:16px;--size-mobile:14px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757">
                {{ section.settings.ggXCqYNsNie_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-545917513637037222 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=545917493101724531&sectionId=545917513637037222)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggijyIc-r95_text","label":"ggijyIc-r95_text","default":"How the GEM Cafe Transformed My Mornings"},{"type":"html","id":"gg1z2pjHtd2_text","label":"gg1z2pjHtd2_text","default":"<p>As a coffee enthusiast, the GEM Cafe has transformed my daily routine. This machine brews exceptional coffee with advanced technology, while its sleek design seamlessly integrates into my kitchen. The intuitive controls allow me to customize each cup to perfection. If you're seeking to elevate your morning coffee experience, the GEM Cafe is a must-have investment.</p>"},{"type":"html","id":"ggWeHH6J00Q_text","label":"ggWeHH6J00Q_text","default":"<p>Prior to the GEM Cafe, my daily coffee experience was often frustrating. I would visit local cafes, only to be let down by inconsistent quality and orders that didn't match my preferences.</p>"},{"type":"html","id":"ggQqJE7fPqO_text","label":"ggQqJE7fPqO_text","default":"<p>On days when the weather was particularly unpleasant - bitterly cold in the winter or sweltering hot in the summer - the prospect of venturing out for a cup of coffee felt like an arduous chore.&nbsp;<br><br>I found myself begrudgingly settling for subpar instant coffee at home, wishing I could somehow recreate the rich, smooth flavors I craved from my favorite cafe.&nbsp;<br><br>The entire disjointed process left me longing for a better solution to start my day on the right foot.</p>"},{"type":"html","id":"ggqsSZ0cqys_text","label":"ggqsSZ0cqys_text","default":"<p>It wasn't until I discovered and invested in the <strong>GEM Cafe</strong> that I was truly able to take control of my coffee experience and elevate my mornings.&nbsp;<br><br>This remarkable machine has eliminated the need to compromise, allowing me to brew cafe-quality beverages from the comfort of my own kitchen, no matter the weather conditions outside.<br><br>The GEM Cafe's advanced extraction technology ensures that every cup is bursting with robust, flavorful notes.&nbsp;<br><br>Its intuitive control panel enables me to fine-tune the temperature, strength, and volume to my exact preferences, resulting in a consistently exceptional brew.&nbsp;<br><br>I no longer have to worry about barista inconsistencies or weather-related obstacles - I can simply enjoy a perfectly crafted cup of coffee whenever the mood strikes.</p>"},{"type":"html","id":"ggXHQxInRRe_text","label":"ggXHQxInRRe_text","default":"<p>Hurry up! Sale <span style=\"color:#EA3335;\">30%</span>. Sale ends in:</p>"},{"type":"html","id":"ggAr04Tdu6Y_dayLabel","label":"ggAr04Tdu6Y_dayLabel","default":"Days"},{"type":"html","id":"ggAr04Tdu6Y_hourLabel","label":"ggAr04Tdu6Y_hourLabel","default":"Hrs"},{"type":"html","id":"ggAr04Tdu6Y_minuteLabel","label":"ggAr04Tdu6Y_minuteLabel","default":"Mins"},{"type":"html","id":"ggAr04Tdu6Y_secondLabel","label":"ggAr04Tdu6Y_secondLabel","default":"Secs"},{"type":"html","id":"ggAr04Tdu6Y_weekLabel","label":"ggAr04Tdu6Y_weekLabel","default":"Weeks"},{"type":"html","id":"gg-dYoYKMSZ_childItem_0","label":"gg-dYoYKMSZ_childItem_0","default":"<p>Caf-Quality Brewing</p>"},{"type":"html","id":"gg-dYoYKMSZ_childItem_1","label":"gg-dYoYKMSZ_childItem_1","default":"<p>Unparalleled Convenience</p>"},{"type":"html","id":"gg-dYoYKMSZ_childItem_2","label":"gg-dYoYKMSZ_childItem_2","default":"<p>Customizable Settings</p>"},{"type":"html","id":"gg-dYoYKMSZ_childItem_3","label":"gg-dYoYKMSZ_childItem_3","default":"<p>Durable Construction</p>"},{"type":"html","id":"ggZ68-9PK4p_label","label":"ggZ68-9PK4p_label","default":"<p>CHECK AVAILABILITY</p>"},{"type":"html","id":"ggnkE97tccj_childItem_0","label":"ggnkE97tccj_childItem_0","default":"<p>60-day money back guarantee</p>"},{"type":"html","id":"ggvcBYOMav-_text","label":"ggvcBYOMav-_text","default":"<p>Lorem ipsum dolor sit amet consectetur</p>"},{"type":"html","id":"ggV7H9JVFTv_text","label":"ggV7H9JVFTv_text","default":"<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>"},{"type":"html","id":"ggn13gTZ4M6_text","label":"ggn13gTZ4M6_text","default":"<p>-Alisa G.</p>"},{"type":"html","id":"ggXCqYNsNie_childItem_0","label":"ggXCqYNsNie_childItem_0","default":"<p>Verified Customer</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
