
    
    <style>.gps-590405557999895208 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-590405557999895208 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-590405557999895208 .gp-relative{position:relative}.gps-590405557999895208 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590405557999895208 .gp-mb-0{margin-bottom:0}.gps-590405557999895208 .gp-flex{display:flex}.gps-590405557999895208 .gp-grid{display:grid}.gps-590405557999895208 .\!gp-hidden{display:none!important}.gps-590405557999895208 .gp-hidden{display:none}.gps-590405557999895208 .gp-w-max{width:-moz-max-content;width:max-content}.gps-590405557999895208 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-590405557999895208 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-590405557999895208 .gp-max-w-full{max-width:100%}.gps-590405557999895208 .gp-flex-1{flex:1 1 0%}.gps-590405557999895208 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590405557999895208 .gp-flex-col{flex-direction:column}.gps-590405557999895208 .gp-flex-wrap{flex-wrap:wrap}.gps-590405557999895208 .gp-text-center{text-align:center}.gps-590405557999895208 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-590405557999895208 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590405557999895208 .gp-duration-200{transition-duration:.2s}.gps-590405557999895208 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590405557999895208 .tablet\:\!gp-hidden{display:none!important}.gps-590405557999895208 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590405557999895208 .mobile\:\!gp-hidden{display:none!important}.gps-590405557999895208 .mobile\:gp-hidden{display:none}}.gps-590405557999895208 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#262222","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gYTl4iD5d2"}' data-id="gYTl4iD5d2" id="gYTl4iD5d2" data-same-height-subgrid-container class="gYTl4iD5d2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:38px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#262222;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCNMUiKv8K gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gITtQSdkbt"}' data-id="gITtQSdkbt" id="gITtQSdkbt" data-same-height-subgrid-container class="gITtQSdkbt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:10px;--pl:0px;--pb:10px;--pr:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:1000px;--w-mobile:95%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gcxTOcWb5h gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQDgacmMmg"
        class="gQDgacmMmg"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625495"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQDgacmMmg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA5oJgI-is"
        class="gA5oJgI-is"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625496"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA5oJgI-is_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gInE0tKGyW gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gx2lWMRM6H ">
      
    <gp-countdown-timer
        data-id="gx2lWMRM6H"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"gx2lWMRM6H","builderData":{"uid":"gx2lWMRM6H","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true},"custom":{"fontSize":{"desktop":"18px","tablet":"18px","mobile":"14px"},"fontWeight":"700","lineHeight":{"desktop":"130%","tablet":"130%","mobile":"130%"},"fontFamily":"sans-serif","letterSpacing":{},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"},"custom":{"fontSize":{"desktop":"12px","tablet":"14px","mobile":"8px"}}},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"bg-2","verticalGap":"3px","horizontalGap":"7px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"24px","right":"24px"},"mobile":{"top":"4px","left":"4px","right":"4px","bottom":"4px","linked":false,"link":false}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"5px","bblr":"5px","bbrr":"5px","btlr":"5px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"edited":["mobile","desktop"],"desktop":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"mobile":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:7px;--jc:center">
          
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2lWMRM6H-text" id="hour"
        class="gx2lWMRM6H"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625498"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2lWMRM6H-text"
        class="gx2lWMRM6H"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625499"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx2lWMRM6H_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2lWMRM6H-text" id="minute"
        class="gx2lWMRM6H"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625499"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2lWMRM6H-text"
        class="gx2lWMRM6H"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625499"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx2lWMRM6H_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2lWMRM6H-text" id="second"
        class="gx2lWMRM6H"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625500"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2lWMRM6H-text"
        class="gx2lWMRM6H"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625500"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx2lWMRM6H_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="goCPLskQAH gp-custom-code">
      <div>
    
    </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"uid":"gg1jdSuCYV"}' data-id="gg1jdSuCYV" id="gg1jdSuCYV" data-same-height-subgrid-container class="gg1jdSuCYV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:10px;--pl:0px;--pb:10px;--pr:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:1000px;--w-mobile:95%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzew8tryb0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7DDAV0M8B"
        class="g7DDAV0M8B"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625505"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7DDAV0M8B_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g92ueC8xWX"
        class="g92ueC8xWX"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625506"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg92ueC8xWX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gYxZ228pfv gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="goqiWayX5l ">
      
    <gp-countdown-timer
        data-id="goqiWayX5l"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"goqiWayX5l","builderData":{"uid":"goqiWayX5l","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1761718962578,"timeZone":"UTC-4","timerDaily":{"hours":2,"mins":32,"format":"pm"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1761124962578,"startTime":1761114162578},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Tage","enableHour":true,"hourLabel":"Stunden","enableMinute":true,"minuteLabel":"Minuten","enableSecond":true,"secondLabel":"Sekunden","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true},"custom":{"fontSize":{"desktop":"20px","tablet":"18px","mobile":"14px"},"fontWeight":"700","lineHeight":{"desktop":"130%","tablet":"130%","mobile":"130%"},"fontFamily":"sans-serif","letterSpacing":{},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"},"custom":{"fontSize":{"desktop":"12px","tablet":"14px","mobile":"8px"}}},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"bg-2","verticalGap":"3px","horizontalGap":"7px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"10px","right":"10px","link":false},"mobile":{"top":"4px","left":"4px","right":"4px","bottom":"4px","linked":false,"link":false}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"5px","bblr":"5px","bbrr":"5px","btlr":"5px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"edited":["mobile","desktop"],"desktop":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"mobile":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:7px;--jc:center">
          
          
          
          
    <div style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqiWayX5l-text" id="hour"
        class="goqiWayX5l"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625508"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqiWayX5l-text"
        class="goqiWayX5l"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625509"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoqiWayX5l_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqiWayX5l-text" id="minute"
        class="goqiWayX5l"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625509"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqiWayX5l-text"
        class="goqiWayX5l"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625509"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoqiWayX5l_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqiWayX5l-text" id="second"
        class="goqiWayX5l"
        style="--mb:3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625509"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqiWayX5l-text"
        class="goqiWayX5l"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762524625510"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:12px;--size-tablet:14px;--size-mobile:8px;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoqiWayX5l_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-590405557999895208 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589574536505066002&sectionId=590405557999895208)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQDgacmMmg_text","label":"ggQDgacmMmg_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>✨ EARLY BLACK WEEK SALE&nbsp;</strong></span></p>"},{"type":"html","id":"ggA5oJgI-is_text","label":"ggA5oJgI-is_text","default":"<p><span style=\"color:#FFFFFF;\">Bis zu 25% Neukunden Rabatt!</span></p>"},{"type":"html","id":"ggx2lWMRM6H_dayLabel","label":"ggx2lWMRM6H_dayLabel","default":"Tage"},{"type":"html","id":"ggx2lWMRM6H_hourLabel","label":"ggx2lWMRM6H_hourLabel","default":"Stunden"},{"type":"html","id":"ggx2lWMRM6H_minuteLabel","label":"ggx2lWMRM6H_minuteLabel","default":"Minuten"},{"type":"html","id":"ggx2lWMRM6H_secondLabel","label":"ggx2lWMRM6H_secondLabel","default":"Sekunden"},{"type":"html","id":"ggx2lWMRM6H_weekLabel","label":"ggx2lWMRM6H_weekLabel","default":"Week"},{"type":"html","id":"gg7DDAV0M8B_text","label":"gg7DDAV0M8B_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>✨ EARLY BLACK WEEK SALE&nbsp;</strong></span></p>"},{"type":"html","id":"gg92ueC8xWX_text","label":"gg92ueC8xWX_text","default":"<p><span style=\"color:#FFFFFF;\">Jetzt bis zu 25% Neukunden Rabatt sichern!</span></p>"},{"type":"html","id":"ggoqiWayX5l_dayLabel","label":"ggoqiWayX5l_dayLabel","default":"Tage"},{"type":"html","id":"ggoqiWayX5l_hourLabel","label":"ggoqiWayX5l_hourLabel","default":"Stunden"},{"type":"html","id":"ggoqiWayX5l_minuteLabel","label":"ggoqiWayX5l_minuteLabel","default":"Minuten"},{"type":"html","id":"ggoqiWayX5l_secondLabel","label":"ggoqiWayX5l_secondLabel","default":"Sekunden"},{"type":"html","id":"ggoqiWayX5l_weekLabel","label":"ggoqiWayX5l_weekLabel","default":"Week"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  