
    
    <style>.gps-591767747059909462 .-gp-rotate-90,.gps-591767747059909462 .gp-rotate-180,.gps-591767747059909462 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-591767747059909462 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-591767747059909462 .gp-relative{position:relative}.gps-591767747059909462 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591767747059909462 .gp-mb-0{margin-bottom:0}.gps-591767747059909462 .gp-flex{display:flex}.gps-591767747059909462 .gp-inline-flex{display:inline-flex}.gps-591767747059909462 .gp-grid{display:grid}.gps-591767747059909462 .\!gp-hidden{display:none!important}.gps-591767747059909462 .gp-hidden{display:none}.gps-591767747059909462 .gp-min-h-0{min-height:0}.gps-591767747059909462 .gp-w-full{width:100%}.gps-591767747059909462 .gp-max-w-full{max-width:100%}.gps-591767747059909462 .-gp-rotate-90{--tw-rotate:-90deg}.gps-591767747059909462 .-gp-rotate-90,.gps-591767747059909462 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591767747059909462 .gp-rotate-180{--tw-rotate:180deg}.gps-591767747059909462 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591767747059909462 .gp-cursor-pointer{cursor:pointer}.gps-591767747059909462 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-591767747059909462 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591767747059909462 .gp-flex-col{flex-direction:column}.gps-591767747059909462 .gp-items-center{align-items:center}.gps-591767747059909462 .gp-justify-center{justify-content:center}.gps-591767747059909462 .gp-gap-\[16px\]{gap:16px}.gps-591767747059909462 .gp-overflow-hidden{overflow:hidden}.gps-591767747059909462 .gp-overflow-clip{overflow:clip}.gps-591767747059909462 .gp-break-all{word-break:break-all}.gps-591767747059909462 .gp-text-\[var\(--icon-expand-active-color\)\]{color:var(--icon-expand-active-color)}.gps-591767747059909462 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591767747059909462 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591767747059909462 .gp-duration-200{transition-duration:.2s}.gps-591767747059909462 .gp-duration-500{transition-duration:.5s}.gps-591767747059909462 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-591767747059909462 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-591767747059909462 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-591767747059909462 .tablet\:\!gp-hidden{display:none!important}.gps-591767747059909462 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-591767747059909462 .mobile\:\!gp-hidden{display:none!important}.gps-591767747059909462 .mobile\:gp-hidden{display:none}}.gps-591767747059909462 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-591767747059909462 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-591767747059909462 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRVIjJciO7"}' data-id="gRVIjJciO7" id="gRVIjJciO7" data-same-height-subgrid-container class="gRVIjJciO7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geSQ9bcw7A gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFXfnJw2B8"}' data-id="gFXfnJw2B8" id="gFXfnJw2B8" data-same-height-subgrid-container class="gFXfnJw2B8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdOqR7CTuP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4XX7amoao"
        class="g4XX7amoao"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703037"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4XX7amoao_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="gJ9CqVaw1c ">
      
    <gp-accordion data-id="gJ9CqVaw1c" class="gp-flex gp-flex-col gp-w-full" style="--gg:16px;--gg-mobile:14px;border-radius:inherit"
      gp-data='{"uid":"gJ9CqVaw1c","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gJ9CqVaw1c","childListNumber":["0"],"chidlrenUid":["g5_BirS5Tf","gWHpgSCAeI","gjDxmDF4Ar","g3wNvarfYL","gnUb-qcIeu","g9a1zmWwyR"]},"styles":{"bgColor":{"normal":"#FAFBFC"},"color":{"normal":"#242424"},"headerBorder":{"normal":{"border":"solid","borderLabel":"None","borderType":"none","borderWidth":"0","color":"transparent","isCustom":true,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"32px"},"mobile":{"horizontal":"28px","vertical":"28px"},"tablet":{"horizontal":"32px","vertical":"32px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"gap":"14px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"28px","right":"28px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center;--jc-tablet:left;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="0" class="gJ9CqVaw1c gp-overflow-hidden gp-child-item-gJ9CqVaw1c gp-accordion-item">
      <div aria-hidden uid="g5_BirS5Tf" id="g5_BirS5Tf" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gJ9CqVaw1c gp-accordion-item-gJ9CqVaw1c-0" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="0"
            class="-gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703038"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ9CqVaw1c_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g99wDGQePv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-lSL6en2R"}' data-id="g-lSL6en2R" id="g-lSL6en2R" data-same-height-subgrid-container class="g-lSL6en2R gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfs1UbFapa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFrLO5tDty"
        class="gFrLO5tDty"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703038"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFrLO5tDty_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-tablet:left;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="1" class="gJ9CqVaw1c gp-overflow-hidden gp-child-item-gJ9CqVaw1c gp-accordion-item">
      <div aria-hidden uid="gWHpgSCAeI" id="gWHpgSCAeI" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gJ9CqVaw1c gp-accordion-item-gJ9CqVaw1c-1" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="1"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703039"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ9CqVaw1c_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gEozxC2Wbm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsze7zzACY"}' data-id="gsze7zzACY" id="gsze7zzACY" data-same-height-subgrid-container class="gsze7zzACY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHY1Xrc4O4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLtoIrczo1"
        class="gLtoIrczo1"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703040"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLtoIrczo1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-tablet:left;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="2" class="gJ9CqVaw1c gp-overflow-hidden gp-child-item-gJ9CqVaw1c gp-accordion-item">
      <div aria-hidden uid="gjDxmDF4Ar" id="gjDxmDF4Ar" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gJ9CqVaw1c gp-accordion-item-gJ9CqVaw1c-2" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="2"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703040"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ9CqVaw1c_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g7jhGxloaZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gEb13jTjnK"}' data-id="gEb13jTjnK" id="gEb13jTjnK" data-same-height-subgrid-container class="gEb13jTjnK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvWrfyJ9GS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDOWQz0-K9"
        class="gDOWQz0-K9"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703041"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDOWQz0-K9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-tablet:left;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="3" class="gJ9CqVaw1c gp-overflow-hidden gp-child-item-gJ9CqVaw1c gp-accordion-item">
      <div aria-hidden uid="g3wNvarfYL" id="g3wNvarfYL" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gJ9CqVaw1c gp-accordion-item-gJ9CqVaw1c-3" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="3"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703041"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ9CqVaw1c_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gmcH8IDBEV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcTDjZzOVC"}' data-id="gcTDjZzOVC" id="gcTDjZzOVC" data-same-height-subgrid-container class="gcTDjZzOVC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxKJuZccLd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKQ525CLfB"
        class="gKQ525CLfB"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703042"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKQ525CLfB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-tablet:left;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="4" class="gJ9CqVaw1c gp-overflow-hidden gp-child-item-gJ9CqVaw1c gp-accordion-item">
      <div aria-hidden uid="gnUb-qcIeu" id="gnUb-qcIeu" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gJ9CqVaw1c gp-accordion-item-gJ9CqVaw1c-4" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="4"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703043"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ9CqVaw1c_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g62838cH1_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gchMGwmucq"}' data-id="gchMGwmucq" id="gchMGwmucq" data-same-height-subgrid-container class="gchMGwmucq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwnCnKgRwD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdcMQDNgKh"
        class="gdcMQDNgKh"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703044"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdcMQDNgKh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center;--jc-tablet:left;--jc-mobile:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="5" class="gJ9CqVaw1c gp-overflow-hidden gp-child-item-gJ9CqVaw1c gp-accordion-item">
      <div aria-hidden uid="g9a1zmWwyR" id="g9a1zmWwyR" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gJ9CqVaw1c gp-accordion-item-gJ9CqVaw1c-5" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px"
            data-index="5"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703045"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ9CqVaw1c_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g4cEQsNAGZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwGJeY2k0l"}' data-id="gwGJeY2k0l" id="gwGJeY2k0l" data-same-height-subgrid-container class="gwGJeY2k0l gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQAbglWEWR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEQEFeeX_m"
        class="gEQEFeeX_m"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762250703046"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEQEFeeX_m_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-591767747059909462 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591767746941813590&sectionId=591767747059909462)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4XX7amoao_text","label":"gg4XX7amoao_text","default":"<strong>Häufige Fragen (FAQ)</strong>"},{"type":"html","id":"ggJ9CqVaw1c_childItem_0","label":"ggJ9CqVaw1c_childItem_0","default":"<p><strong>Kann das wirklich helfen – nur mit Kräutern?</strong></p>"},{"type":"html","id":"ggJ9CqVaw1c_childItem_1","label":"ggJ9CqVaw1c_childItem_1","default":"<p><strong>Muss ich trotzdem Medikamente geben?</strong></p>"},{"type":"html","id":"ggJ9CqVaw1c_childItem_2","label":"ggJ9CqVaw1c_childItem_2","default":"<p><strong>Was, wenn mein Hund wählerisch ist?</strong></p>"},{"type":"html","id":"ggJ9CqVaw1c_childItem_3","label":"ggJ9CqVaw1c_childItem_3","default":"<p><strong>Wie lange sollte ich die Gras &amp; Kotfresser Drops geben?</strong></p>"},{"type":"html","id":"ggJ9CqVaw1c_childItem_4","label":"ggJ9CqVaw1c_childItem_4","default":"<p><strong>Gibt es Nebenwirkungen?</strong></p>"},{"type":"html","id":"ggJ9CqVaw1c_childItem_5","label":"ggJ9CqVaw1c_childItem_5","default":"<p>Kann ich die Drops auch vorbeugend geben?</p>"},{"type":"html","id":"ggFrLO5tDty_text","label":"ggFrLO5tDty_text","default":"<p>Ja – wenn man versteht, wie sie wirken. Die Inhaltsstoffe in den Gras- &amp; Kotfresser Drops sind gezielt auf den empfindlichen Hundemagen abgestimmt.<br>Huminsäuren binden überschüssige Säure, während Melisse, Fenchel und Anis den Magen beruhigen und Krämpfe lösen. So wird die Ursache der Beschwerden direkt im Verdauungssystem reguliert – ganz ohne Chemie oder künstliche Zusätze.</p>"},{"type":"html","id":"ggLtoIrczo1_text","label":"ggLtoIrczo1_text","default":"<p>Das hängt von der Ursache und der Schwere der Beschwerden ab. Bei akuten oder chronischen Magenproblemen kann der Tierarzt in bestimmten Fällen eine kurzfristige medikamentöse Behandlung empfehlen. <strong>Doch genau hier setzen die Gras- &amp; Kotfresser Drops an:</strong><br>Sie können <strong>vor, während oder nach</strong> einer solchen Behandlung eingesetzt werden, um den empfindlichen Magen zusätzlich zu beruhigen, das Säuregleichgewicht zu stabilisieren und die natürliche Verdauungsfunktion wieder aufzubauen. So wird der Magen langfristig widerstandsfähiger – und das Risiko, dass dein Hund erneut unter Übersäuerung, Erbrechen oder Grasfressen leidet, sinkt deutlich.</p>"},{"type":"html","id":"ggDOWQz0-K9_text","label":"ggDOWQz0-K9_text","default":"<p>Kein Problem. Die Drops sind so konzipiert, dass <strong>selbst mäkelige Hunde ihn gerne fressen</strong>. Viele Hunde, die sonst alles Bittere verweigern, akzeptieren diesen Snack freiwillig, weil er aussieht und schmeckt wie ein normaler Hundeleckerli. Du musst nichts ins Futter mischen oder mit Leberwurst überdecken.</p>"},{"type":"html","id":"ggKQ525CLfB_text","label":"ggKQ525CLfB_text","default":"<p>Am besten <strong>4 Wochen lang täglich</strong>, konsequent als Kur. Tierheilpraktiker und Tierärzte empfehlen, den Magen-Darm-Trakt über diesen Zeitraum gezielt zu stabilisieren, statt nur kurzfristig Symptome zu bekämpfen. Die Drops wirken nicht wie ein schnelles Medikament, sondern regulieren das <strong>Säuregleichgewicht im Magen</strong> und bringen die Verdauung nachhaltig ins Gleichgewicht – das braucht etwas Zeit. Viele Hundehalter wiederholen die Kur <strong>alle paar Monate</strong>, um den empfindlichen Hundemagen dauerhaft zu stärken und Rückfälle von Gras- oder Kotfressen zu verhindern.</p>"},{"type":"html","id":"ggdcMQDNgKh_text","label":"ggdcMQDNgKh_text","default":"<p>Nein, es sind <strong>keine Nebenwirkungen</strong> bekannt. Die Gras &amp; Kotfresser Drops sind rein natürlich und frei von Chemie! Dadurch treten selbst bei empfindlichen Hunden keinerlei unerwünschte Reaktionen auf. Im Gegenteil: Häufig normalisiert sich die Verdauung schonend (kein Sodbrennen, kein Erbrechen von schleimigen Grasgemisch) und der Hund wird insgesamt vitaler. Sollte dein Hund andere Medikamente bekommen, kannst du die Drops problemlos begleitend geben - es sind <strong>keine Wechselwirkungen</strong> zu befürchten (im Zweifel frag gern deinen Tierarzt).</p>"},{"type":"html","id":"ggEQEFeeX_m_text","label":"ggEQEFeeX_m_text","default":"<p>Ja – gerade Hunde mit empfindlichem Magen profitieren von einer regelmäßigen Anwendung.<br>Viele Tierheilpraktiker empfehlen, die Drops<strong> 2- bis 3-mal im Jahr als Kur</strong> zu geben, um <strong>Übersäuerung, Magendruck und Grasfressen langfristig zu verhindern.</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  