

<style>.gps-558511137152173160 .-gp-rotate-90,.gps-558511137152173160 .gp-rotate-180,.gps-558511137152173160 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558511137152173160 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-558511137152173160 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-558511137152173160 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-558511137152173160 .gp-relative{position:relative}.gps-558511137152173160 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558511137152173160 .gp-mb-0{margin-bottom:0}.gps-558511137152173160 .gp-flex{display:flex}.gps-558511137152173160 .gp-inline-flex{display:inline-flex}.gps-558511137152173160 .gp-grid{display:grid}.gps-558511137152173160 .gp-contents{display:contents}.gps-558511137152173160 .\!gp-hidden{display:none!important}.gps-558511137152173160 .gp-hidden{display:none}.gps-558511137152173160 .gp-h-full{height:100%}.gps-558511137152173160 .gp-min-h-0{min-height:0}.gps-558511137152173160 .gp-w-full{width:100%}.gps-558511137152173160 .gp-max-w-full{max-width:100%}.gps-558511137152173160 .-gp-rotate-90{--tw-rotate:-90deg}.gps-558511137152173160 .-gp-rotate-90,.gps-558511137152173160 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558511137152173160 .gp-rotate-180{--tw-rotate:180deg}.gps-558511137152173160 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558511137152173160 .gp-cursor-pointer{cursor:pointer}.gps-558511137152173160 .gp-flex-col{flex-direction:column}.gps-558511137152173160 .gp-items-center{align-items:center}.gps-558511137152173160 .gp-justify-center{justify-content:center}.gps-558511137152173160 .gp-gap-y-0{row-gap:0}.gps-558511137152173160 .gp-overflow-hidden{overflow:hidden}.gps-558511137152173160 .gp-overflow-clip{overflow:clip}.gps-558511137152173160 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558511137152173160 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558511137152173160 .gp-duration-200{transition-duration:.2s}.gps-558511137152173160 .gp-duration-500{transition-duration:.5s}.gps-558511137152173160 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558511137152173160 .tablet\:\!gp-hidden{display:none!important}.gps-558511137152173160 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558511137152173160 .mobile\:\!gp-hidden{display:none!important}.gps-558511137152173160 .mobile\:gp-hidden{display:none}}.gps-558511137152173160 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-558511137152173160 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-558511137152173160 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558511137152173160 .\[\&_p\]\:gp-inline p{display:inline}.gps-558511137152173160 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558511137152173160 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(1500px + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gNVwD-SGxO" data-id="gNVwD-SGxO"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:10px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:10px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:30px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:30px;--pr-tablet:0px;--d:grid;--d-tablet:grid;--d-mobile:none;--cg:5px;--cg-tablet:32px;--pc:center;--pc-mobile:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url()"
        class="gNVwD-SGxO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gArmZ2yTg9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gENoTjEcxg" data-id="gENoTjEcxg"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 8fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gENoTjEcxg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gfoOPNfnmt gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gA737tTpFi gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gxWthscfMK" data-id="gxWthscfMK"
        style="--mb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxWthscfMK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPXkDv-jIv gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gETDbITP80">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gETDbITP80 "
        style="--ta:left;--mt:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:31px;--size-tablet:41px;--size-mobile:36px;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggETDbITP80_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFrhHIZWa0">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFrhHIZWa0 "
        style="--ta:left;--mt:0px;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:17px;--size-tablet:14px;--size-mobile:12px;--c:#4D4D4D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFrhHIZWa0_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-mobile:0px" class="gb65IUOhdm ">
      
    <gp-accordion
      data-id="gb65IUOhdm"
     uid="gb65IUOhdm"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:1px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"left","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817558491496808\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817562042171752\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M216.49,168.49a12,12,0,0,1-17,0L128,97,56.49,168.49a12,12,0,0,1-17-17l80-80a12,12,0,0,1,17,0l80,80A12,12,0,0,1,216.49,168.49Z\" /></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gb65IUOhdm","childListNumber":[],"chidlrenUid":["g5ZK6rxArW","gXM6OAIdTr","gvi1oaDs55","g1jO5MLec_","g-8RSRv41Y","gwiTYLRtWS","gkCYeRRugH","gImCepOXUg","gsxCpbRwXY","gz_VT2rVIy"]},"styles":{"bgColor":{"active":"transparent","hover":"#00000000","normal":"#EDEDED"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#00000000","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"1px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"custom"},"gap":""}},"widthHeightSize":{"desktop":{"gap":"","height":"Auto","width":"100%"}}},"uid":"gb65IUOhdm"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g5ZK6rxArW"
        id="g5ZK6rxArW"
        data-index="0"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-0:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="0"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g5ZK6rxArW"
        data-index="0"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g5ZK6rxArW"
        data-index="0"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gVIbtoNJYY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmGrIMHyTK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmGrIMHyTK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmGrIMHyTK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gXM6OAIdTr"
        id="gXM6OAIdTr"
        data-index="1"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-1:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="1"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gXM6OAIdTr"
        data-index="1"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gXM6OAIdTr"
        data-index="1"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gY0fZE05S9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g27gDVjU86">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g27gDVjU86 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg27gDVjU86_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gvi1oaDs55"
        id="gvi1oaDs55"
        data-index="2"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-2:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="2"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gvi1oaDs55"
        data-index="2"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gvi1oaDs55"
        data-index="2"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gvS_syPrCM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4Kr-CZeBo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4Kr-CZeBo "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4Kr-CZeBo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gAnrsv5Wlp"
    role="presentation"
    class="gp-group/image gAnrsv5Wlp"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-a19c6791-e6f5-468b-aa6d-e5a08a0d1df9.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNzQtMjI2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDc0IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIGZpbGw9InVybCgjZy0xMDc0LTIyNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNzQiIHRvPSIxMDc0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-a19c6791-e6f5-468b-aa6d-e5a08a0d1df9.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNzQtMjI2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDc0IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIGZpbGw9InVybCgjZy0xMDc0LTIyNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNzQiIHRvPSIxMDc0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNzQtMjI2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDc0IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIGZpbGw9InVybCgjZy0xMDc0LTIyNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNzQiIHRvPSIxMDc0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-a19c6791-e6f5-468b-aa6d-e5a08a0d1df9.png"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g1jO5MLec_"
        id="g1jO5MLec_"
        data-index="3"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-3:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="3"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g1jO5MLec_"
        data-index="3"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g1jO5MLec_"
        data-index="3"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gEGwFPIPPa gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gltbt0HRev">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gltbt0HRev "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggltbt0HRev_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g-8RSRv41Y"
        id="g-8RSRv41Y"
        data-index="4"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-4:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="4"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g-8RSRv41Y"
        data-index="4"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g-8RSRv41Y"
        data-index="4"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gUQtZwSvvT gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghM_o3NOjd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghM_o3NOjd "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghM_o3NOjd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="g6FcOunMMt"
    role="presentation"
    class="gp-group/image g6FcOunMMt"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-56142e4b-bbf9-476d-b783-a9b256581e28.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNzQtMjI2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDc0IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIGZpbGw9InVybCgjZy0xMDc0LTIyNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNzQiIHRvPSIxMDc0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-56142e4b-bbf9-476d-b783-a9b256581e28.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNzQtMjI2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDc0IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIGZpbGw9InVybCgjZy0xMDc0LTIyNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNzQiIHRvPSIxMDc0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNzQtMjI2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDc0IiBoZWlnaHQ9IjIyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA3NCIgaGVpZ2h0PSIyMjYiIGZpbGw9InVybCgjZy0xMDc0LTIyNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNzQiIHRvPSIxMDc0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-56142e4b-bbf9-476d-b783-a9b256581e28.png"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gwiTYLRtWS"
        id="gwiTYLRtWS"
        data-index="5"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-5:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="5"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gwiTYLRtWS"
        data-index="5"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gwiTYLRtWS"
        data-index="5"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gF3YUOTeE0 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUUBgxM-UL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUUBgxM-UL "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUUBgxM-UL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="6"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gkCYeRRugH"
        id="gkCYeRRugH"
        data-index="6"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-6:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="6"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_6 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gkCYeRRugH"
        data-index="6"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gkCYeRRugH"
        data-index="6"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gQsFWG2NE0 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHiocvz_dW">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHiocvz_dW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHiocvz_dW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="7"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gImCepOXUg"
        id="gImCepOXUg"
        data-index="7"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-7:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="7"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_7 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gImCepOXUg"
        data-index="7"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gImCepOXUg"
        data-index="7"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gdSkSyF0LO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzfkiKMara">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzfkiKMara "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzfkiKMara_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="8"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gsxCpbRwXY"
        id="gsxCpbRwXY"
        data-index="8"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-8:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="8"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_8 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gsxCpbRwXY"
        data-index="8"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gsxCpbRwXY"
        data-index="8"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gaHkCeABAN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqz8Fo03Rx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqz8Fo03Rx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqz8Fo03Rx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bg:transparent;--shadow:none">
    <div
      data-index="9"
      class="gb65IUOhdm gp-accordion-item gp-overflow-hidden gp-child-item-gb65IUOhdm"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gz_VT2rVIy"
        id="gz_VT2rVIy"
        data-index="9"
        class="gb65IUOhdm gp-accordion-item-gb65IUOhdm-9 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:#EDEDED;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00000000;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gb65IUOhdm-9:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="9"
            class="gb65IUOhdm gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb65IUOhdm_childItem_9 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gz_VT2rVIy"
        data-index="9"
        data-show="false"
        class="gb65IUOhdm gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gz_VT2rVIy"
        data-index="9"
        class="gb65IUOhdm gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gWKwgrBRpg gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmEtaPOrZs">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmEtaPOrZs "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmEtaPOrZs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div
    
     data-id="g4ETRUvAcn"
    role="presentation"
    class="gp-group/image g4ETRUvAcn"
    style="--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto h-full gp-flex"
        href="https://tierliebhaber-animagus.myshopify.com/cart/53649054957836:1?channel=buy_button" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-e80c0cee-d92f-4fa5-ab9e-7c002a4449d2_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcwMCIgaGVpZ2h0PSI2MDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzAwLTYwNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3MDAiIGhlaWdodD0iNjA1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjcwMCIgaGVpZ2h0PSI2MDUwIiBmaWxsPSJ1cmwoI2ctMjcwMC02MDUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjcwMCIgdG89IjI3MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-9e9a9fcd-93c2-4b99-ba46-7687daf6ba6b_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIzNjA4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTM2MDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMzYwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIzNjA4IiBmaWxsPSJ1cmwoI2ctMTc1NS0zNjA4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIzNjA4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTM2MDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMzYwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIzNjA4IiBmaWxsPSJ1cmwoI2ctMTc1NS0zNjA4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_534104955091420133-9e9a9fcd-93c2-4b99-ba46-7687daf6ba6b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g2Y4EtwtP7 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 19",
    "tag": "section",
    "class": "gps-558511137152173160 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=558511137033815144&sectionId=558511137152173160)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggETDbITP80_text","label":"ggETDbITP80_text","default":"<strong>10 Fragen beantwortet</strong>"},{"type":"html","id":"ggFrhHIZWa0_text","label":"ggFrhHIZWa0_text","default":"Die hufigsten Fragen rund um das Dentalspray von Tierliebhaber"},{"type":"html","id":"ggb65IUOhdm_childItem_0","label":"ggb65IUOhdm_childItem_0","default":"<p>Wie wirkt der Z-Spot?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_1","label":"ggb65IUOhdm_childItem_1","default":"<p>Ist der Z-Spot sicher?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_2","label":"ggb65IUOhdm_childItem_2","default":"<p>Ist das Zeckenschutz Bundle auch fr Welpen geeignet?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_3","label":"ggb65IUOhdm_childItem_3","default":"<p>Woher wei ich, dass die Ergebnisse echt sind?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_4","label":"ggb65IUOhdm_childItem_4","default":"<p>Wie wird der Z-Spot angewendet?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_5","label":"ggb65IUOhdm_childItem_5","default":"<p>Ist der Z-Spot auch fr Katzen geeignet?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_6","label":"ggb65IUOhdm_childItem_6","default":"<p>Wie luft das mit dem Rckgaberecht?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_7","label":"ggb65IUOhdm_childItem_7","default":"<p>Wie schnell wirkt die Formel?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_8","label":"ggb65IUOhdm_childItem_8","default":"<p>Wer steckt hinter Tierliebhaber?</p>"},{"type":"html","id":"ggb65IUOhdm_childItem_9","label":"ggb65IUOhdm_childItem_9","default":"<p>Wie lange braucht das Paket bis zu meiner Haustr?</p>"},{"type":"html","id":"ggmGrIMHyTK_text","label":"ggmGrIMHyTK_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Die enthaltenen therischen le und pflanzliche Wirkstoffe schrecken Zecken durch ihren Geruch ab. Anders als bei chemischen Zeckenschutz Tabletten werden die Zecken nicht gettet, sondern natrlich abgeschreckt (weil eben KEINE Chemie in die Blutbahn deines Hundes kommt)</span></p>"},{"type":"html","id":"gg27gDVjU86_text","label":"gg27gDVjU86_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Das Familienunternehmen setzt auf \"made in germany\". Daher werden alle Tierliebhaber Produkte nicht nur im hauseigenen Team entwickelt, sondern auch in Deutschland hergestellt. Denn nur so kann ein zertifizierter Qualittsstandard und damit hchste Ernhrungssicherheit ausgestellt werden.</span></p>"},{"type":"html","id":"gg4Kr-CZeBo_text","label":"gg4Kr-CZeBo_text","default":"<p><span style=\"color:#000000;\">Du kannst den Z-Snack gerne auch schon deinem Welpen fttern. Starte hier am besten zunchst mit einer Kugel am Tag, damit sich dein Welpe an das neue Leckerli gewhnen kann. Du kannst dann nach 3-4 Tagen auf die fr sein Gewicht vorgesehene Menge erhhen. Beim Z-Spot empfehlen wir die Anwendung bei Welpen ab 3 Monaten.</span></p>"},{"type":"html","id":"ggltbt0HRev_text","label":"ggltbt0HRev_text","default":"<p><span style=\"color:#000000;\">Du hast recht... im Internetdschungel ist das heutzutage nicht so einfach. Zum Glck gibt es anerkannte und unabhngige Bewertungsplattformen wie trustpilot. Hier haben bereits mehr als 13.000 Kunden die Produkte von Tierliebhaber bewertet. Hier geht's zu den trustpilot Bewertungen - https://de.trustpilot.com/review/tierliebhaber.de</span></p>"},{"type":"html","id":"gghM_o3NOjd_text","label":"gghM_o3NOjd_text","default":"<p><span style=\"color:#000000;\">Die ersten 3 Tage tglich die in der Tabelle aufgefhrte Anzahl Tropfen auf Kopfdecke, Hals, Nacken und Rutenansatz geben. Danach einmal wchentlich wiederholen. Bei Bedarf kann das Intervall auf 2 mal pro Woche verkrzt werden. Bitte nicht an Stellen applizieren, die der Hund mit der Zunge erreichen kann.</span></p>"},{"type":"html","id":"ggUUBgxM-UL_text","label":"ggUUBgxM-UL_text","default":"<p><span style=\"color:#000000;\">Der Z-Spot ist leider nicht fr Katzen geeignet, da diesen ein bestimmtes Enzym fehlt, das fr die Verstoffwechselung einiger therischer le notwendig ist. Leider haben wir aktuell kein vergleichbares Produkt fr Katzen im Sortiment.</span></p>"},{"type":"html","id":"ggHiocvz_dW_text","label":"ggHiocvz_dW_text","default":"<p><span style=\"color:#000000;\">Ganz einfach: Du bestellst das Zeckenschutz Bundle und testest es bei deinem Hund 60 Tage lang aus. Bist du mit dem Ergebnis nicht zufrieden, hast du danach 30 Tage Zeit das Paket wieder zurckzuschicken - und bekommst dein Geld zurck.</span></p>"},{"type":"html","id":"ggzfkiKMara_text","label":"ggzfkiKMara_text","default":"<p><span style=\"color:#000000;\">Die Formel beginnt direkt ab dem ersten Tag zu wirken  schon nach 13 Tagen wirst du merken, dass sich weniger Zecken festsetzen. Nach etwa einer Woche ist der Schutz dann vollstndig aufgebaut, da sich die natrlichen le nach und nach im Fell verteilen.</span></p>"},{"type":"html","id":"ggqz8Fo03Rx_text","label":"ggqz8Fo03Rx_text","default":"<p><span style=\"color:#000000;\">Ein junges Familienunternehmen aus Leipzig, auf das bereits mehrs als 300.000 glckliche Kunden vertrauen. Ein Zufall war es, der die Grnder dazu brachte hauseigene Rezepturen fr ihren kranken Hund herzustellen. Dass Jahre spter daraus eine erfolgreiche Unternehmensstory entsteht, htte keiner damit gerechnet :)</span></p>"},{"type":"html","id":"ggmEtaPOrZs_text","label":"ggmEtaPOrZs_text","default":"<p><span style=\"color:#000000;\">Unsere fleiigen Mitarbeiter im Lager geben jeden Tag vollgas um unsere Kunden glcklich zu machen. Du kannst dir also sicher sein, dass du dein Paket (an normalen Tagen) innerhalb 2-3 Tagen bereits in den Hnden hltst.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
