

<style>@import url('https://fonts.googleapis.com/css?family=Inter:600,700,400|sans-serif:400&display=swap');.gps-579581481799058225 .gp-relative{position:relative}.gps-579581481799058225 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-579581481799058225 .gp-mb-0{margin-bottom:0}.gps-579581481799058225 .gp-inline-block{display:inline-block}.gps-579581481799058225 .gp-flex{display:flex}.gps-579581481799058225 .gp-grid{display:grid}.gps-579581481799058225 .gp-contents{display:contents}.gps-579581481799058225 .\!gp-hidden{display:none!important}.gps-579581481799058225 .gp-hidden{display:none}.gps-579581481799058225 .gp-h-auto{height:auto}.gps-579581481799058225 .gp-h-full{height:100%}.gps-579581481799058225 .gp-w-full{width:100%}.gps-579581481799058225 .gp-max-w-full{max-width:100%}.gps-579581481799058225 .gp-flex-none{flex:none}.gps-579581481799058225 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-579581481799058225 .gp-flex-col{flex-direction:column}.gps-579581481799058225 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-579581481799058225 .gp-duration-200{transition-duration:.2s}.gps-579581481799058225 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-579581481799058225 .tablet\:\!gp-hidden{display:none!important}.gps-579581481799058225 .tablet\:gp-hidden{display:none}.gps-579581481799058225 .tablet\:gp-h-auto{height:auto}.gps-579581481799058225 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-579581481799058225 .mobile\:\!gp-hidden{display:none!important}.gps-579581481799058225 .mobile\:gp-hidden{display:none}.gps-579581481799058225 .mobile\:gp-h-auto{height:auto}.gps-579581481799058225 .mobile\:gp-flex-none{flex:none}}.gps-579581481799058225 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(1000px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxGBuUUy2F"}' data-id="gxGBuUUy2F" id="gxGBuUUy2F" data-same-height-subgrid-container class="gxGBuUUy2F gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:0px;--pb:32px;--pr:0px;--pt-mobile:32px;--pl-mobile:0px;--pb-mobile:32px;--pr-mobile:0px;--pt-tablet:32px;--pl-tablet:0px;--pb-tablet:32px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geZlg1AZID gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guqVsBvCsq"}' data-id="guqVsBvCsq" id="guqVsBvCsq" data-same-height-subgrid-container class="guqVsBvCsq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCvmU1pzQv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gULBdIikmt"}' data-id="gULBdIikmt" id="gULBdIikmt" data-same-height-subgrid-container class="gULBdIikmt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--pt-tablet:32px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:62px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ggCY_MBWu8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDAFlra2fg"
        class="gDAFlra2fg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754987742702"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--ls:normal;--size:24px;--size-tablet:24px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDAFlra2fg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5UO7Dt00a"
        class="g5UO7Dt00a"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:35px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754987742702"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5UO7Dt00a_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g5iezo9B_A gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gmVd6lZGqb"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:21px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1754987742702 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gmVd6lZGqb"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-798d60b4-1726-44f2-b65b-e809e8993ea3.png" | file_url }}" srcset="{{ "gempages_534104955091420133-798d60b4-1726-44f2-b65b-e809e8993ea3.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-798d60b4-1726-44f2-b65b-e809e8993ea3.png" | file_url }}" srcset="{{ "gempages_534104955091420133-798d60b4-1726-44f2-b65b-e809e8993ea3.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_534104955091420133-798d60b4-1726-44f2-b65b-e809e8993ea3.png" | file_url }}" data-src="{{ "gempages_534104955091420133-798d60b4-1726-44f2-b65b-e809e8993ea3.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--objf-mobile:contain;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gmVd6lZGqb">
        .gmVd6lZGqb {

}
.gmVd6lZGqb > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKWekeWcXo"}' data-id="gKWekeWcXo" id="gKWekeWcXo" data-same-height-subgrid-container class="gKWekeWcXo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4GAElNesB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gisejQ2jQi"
        class="gisejQ2jQi"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pl:0px;--mb-mobile:20px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754987742703"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:35px;--size-tablet:28px;--size-mobile:27px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggisejQ2jQi_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gQUB3ktLOv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gII-07DgSP"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1754987742703 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gII-07DgSP"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}" srcset="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}" srcset="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}" data-src="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:custom"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gII-07DgSP">
        .gII-07DgSP {

}
.gII-07DgSP > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glHVwgQlic"
        class="glHVwgQlic"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754987742704"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:normal;--size:22px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglHVwgQlic_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-579581481799058225 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=579581481714713393&sectionId=579581481799058225)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDAFlra2fg_text","label":"ggDAFlra2fg_text","default":"<strong>3. Getreidefrei und ohne Zuckerzusätze</strong>"},{"type":"html","id":"gg5UO7Dt00a_text","label":"gg5UO7Dt00a_text","default":"<p>Getreide, Zucker und Soja belasten Verdauung und Stoffwechsel deines Hundes - häufige Ursache für Allergien, Zahnprobleme und Übergewicht.</p><p><br><i><strong>👉&nbsp;Besser:</strong></i> Rein natürliche Zutaten, die leicht verdaulich sind und Magen-Darm-Probleme vermeiden.</p>"},{"type":"html","id":"ggisejQ2jQi_text","label":"ggisejQ2jQi_text","default":"<strong>1. NEUE innovative, natürliche Formel – entwickelt für das Wohlbefinden deines Hundes</strong>"},{"type":"html","id":"gglHVwgQlic_text","label":"gglHVwgQlic_text","default":"<p>Tierliebhaber hat die perfekten Gras- &amp; Kotfresser Drops entwickelt, die gezielt auf die Bedürfnisse deines Hundes eingehen. Die einzigartige Kombination aus natürlichen Kräutern, wertvollen Pflanzenstoffen und funktionalen Zutaten unterstützt die Verdauung, beruhigt den Magen und hilft deinem Hund, sich rundum wohlzufühlen – ganz ohne Chemie oder Kompromisse.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
