

<style>.gps-536946410931684561 .-gp-rotate-90,.gps-536946410931684561 .gp-rotate-180,.gps-536946410931684561 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-536946410931684561 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-536946410931684561 .gp-relative{position:relative}.gps-536946410931684561 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-536946410931684561 .gp-mb-0{margin-bottom:0}.gps-536946410931684561 .gp-flex{display:flex}.gps-536946410931684561 .gp-inline-flex{display:inline-flex}.gps-536946410931684561 .gp-grid{display:grid}.gps-536946410931684561 .\!gp-hidden{display:none!important}.gps-536946410931684561 .gp-hidden{display:none}.gps-536946410931684561 .gp-min-h-0{min-height:0}.gps-536946410931684561 .gp-w-full{width:100%}.gps-536946410931684561 .gp-max-w-full{max-width:100%}.gps-536946410931684561 .-gp-rotate-90{--tw-rotate:-90deg}.gps-536946410931684561 .-gp-rotate-90,.gps-536946410931684561 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-536946410931684561 .gp-rotate-180{--tw-rotate:180deg}.gps-536946410931684561 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-536946410931684561 .gp-cursor-pointer{cursor:pointer}.gps-536946410931684561 .gp-flex-col{flex-direction:column}.gps-536946410931684561 .gp-items-center{align-items:center}.gps-536946410931684561 .gp-justify-center{justify-content:center}.gps-536946410931684561 .gp-gap-y-0{row-gap:0}.gps-536946410931684561 .gp-overflow-hidden{overflow:hidden}.gps-536946410931684561 .gp-overflow-clip{overflow:clip}.gps-536946410931684561 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536946410931684561 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536946410931684561 .gp-duration-200{transition-duration:.2s}.gps-536946410931684561 .gp-duration-500{transition-duration:.5s}.gps-536946410931684561 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-536946410931684561 .tablet\:\!gp-hidden{display:none!important}.gps-536946410931684561 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-536946410931684561 .mobile\:\!gp-hidden{display:none!important}.gps-536946410931684561 .mobile\:gp-hidden{display:none}}.gps-536946410931684561 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-536946410931684561 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-536946410931684561 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-536946410931684561 .\[\&_p\]\:gp-inline p{display:inline}.gps-536946410931684561 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-536946410931684561 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g5hKvJd3Tt" data-id="g5hKvJd3Tt"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mr:auto;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:200px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--cg:32px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5hKvJd3Tt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJKaMEO77_ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:180px;--ml-mobile:0px" class="ghh0wIZXzy ">
      
    <gp-accordion
      data-id="ghh0wIZXzy"
     uid="ghh0wIZXzy"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-mobile:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"left","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n            <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z\"></path></svg>\n            ","iconExpand":"\n            <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M64 256a16 16 0 0 1 16 -16h352a16 16 0 0 1 0 32h-352A16 16 0 0 1 64 256Z\"></path></svg>\n            ","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"ghh0wIZXzy","childListNumber":[],"chidlrenUid":["gM9aBFbcSu","gg2EIzfh4Y","gGf_0wQkgp","guzrTe1049","gB35Kqmz9G","gFf1m-E34o","gG_aN7pLeF","gkM3JWZanf","gag5-v2-W8","gtbRuRf0vw","gv13eK1HWF","g6jujDzfbE"]},"styles":{"bgColor":{"active":"transparent","hover":"#00000000","normal":"transparent"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"custom"},"shape":"","shapeValue":"","customShapeValue":"","width":"","height":""}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"gap":"","height":"48px","width":"800px"},"mobile":{"gap":"","height":"48px","width":"default","shape":"","shapeValue":"","customShapeValue":""}}},"uid":"ghh0wIZXzy"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gM9aBFbcSu"
        id="gM9aBFbcSu"
        data-index="0"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-0:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-0:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="0"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gM9aBFbcSu"
        data-index="0"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gM9aBFbcSu"
        data-index="0"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gcK1uytapL gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gVqff4Suax">
    <div
      parentTag="Col"
        class="gVqff4Suax "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVqff4Suax_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gg2EIzfh4Y"
        id="gg2EIzfh4Y"
        data-index="1"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-1:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-1:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="1"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gg2EIzfh4Y"
        data-index="1"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gg2EIzfh4Y"
        data-index="1"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gjb2KJC2YW gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gN5gluSlql">
    <div
      parentTag="Col"
        class="gN5gluSlql "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN5gluSlql_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gGf_0wQkgp"
        id="gGf_0wQkgp"
        data-index="2"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-2:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-2:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="2"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gGf_0wQkgp"
        data-index="2"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gGf_0wQkgp"
        data-index="2"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gWQT0NcTy2 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g-tQCUNM4A">
    <div
      parentTag="Col"
        class="g-tQCUNM4A "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-tQCUNM4A_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="guzrTe1049"
        id="guzrTe1049"
        data-index="3"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-3:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-3:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="3"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="guzrTe1049"
        data-index="3"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="guzrTe1049"
        data-index="3"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g1gT45IXuY gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="glZPjaghb1">
    <div
      parentTag="Col"
        class="glZPjaghb1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglZPjaghb1_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gB35Kqmz9G"
        id="gB35Kqmz9G"
        data-index="4"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-4:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-4:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="4"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gB35Kqmz9G"
        data-index="4"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gB35Kqmz9G"
        data-index="4"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gwf5CI-j9l gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gcdQqKIxje">
    <div
      parentTag="Col"
        class="gcdQqKIxje "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcdQqKIxje_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gFf1m-E34o"
        id="gFf1m-E34o"
        data-index="5"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-5:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-5:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="5"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gFf1m-E34o"
        data-index="5"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gFf1m-E34o"
        data-index="5"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="giP0Tx8VOJ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gUZy1qeq_r">
    <div
      parentTag="Col"
        class="gUZy1qeq_r "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUZy1qeq_r_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-6:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-6:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-6:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-6:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="6"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gG_aN7pLeF"
        id="gG_aN7pLeF"
        data-index="6"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-6:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-6:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="6"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_6 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gG_aN7pLeF"
        data-index="6"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gG_aN7pLeF"
        data-index="6"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gaSA9dz9Mx gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gjJUXEc5nM">
    <div
      parentTag="Col"
        class="gjJUXEc5nM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjJUXEc5nM_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-7:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-7:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-7:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-7:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="7"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gkM3JWZanf"
        id="gkM3JWZanf"
        data-index="7"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-7:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-7:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="7"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_7 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gkM3JWZanf"
        data-index="7"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gkM3JWZanf"
        data-index="7"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gEqb34it7Q gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gYuuh9lI8l">
    <div
      parentTag="Col"
        class="gYuuh9lI8l "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYuuh9lI8l_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-8:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-8:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-8:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-8:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="8"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gag5-v2-W8"
        id="gag5-v2-W8"
        data-index="8"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-8:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-8:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="8"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_8 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gag5-v2-W8"
        data-index="8"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gag5-v2-W8"
        data-index="8"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="guaNCWA1HT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gyGbHHH_pl">
    <div
      parentTag="Col"
        class="gyGbHHH_pl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyGbHHH_pl_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-9:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-9:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-9:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-9:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="9"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gtbRuRf0vw"
        id="gtbRuRf0vw"
        data-index="9"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-9 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-9:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-9:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="9"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_9 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gtbRuRf0vw"
        data-index="9"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gtbRuRf0vw"
        data-index="9"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="glIzYPhjLN gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gWBauqXOlN">
    <div
      parentTag="Col"
        class="gWBauqXOlN "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWBauqXOlN_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-10:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-10:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-10:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-10:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="10"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gv13eK1HWF"
        id="gv13eK1HWF"
        data-index="10"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-10 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-10:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-10:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="10"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_10 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gv13eK1HWF"
        data-index="10"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gv13eK1HWF"
        data-index="10"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g7EGLDJQc8 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="guKuE-PwoH">
    <div
      parentTag="Col"
        class="guKuE-PwoH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguKuE-PwoH_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left;--jc-mobile:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-11:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-11:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-11:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-ghh0wIZXzy-11:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w);--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="11"
      class="ghh0wIZXzy gp-accordion-item gp-overflow-hidden gp-child-item-ghh0wIZXzy"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g6jujDzfbE"
        id="g6jujDzfbE"
        data-index="11"
        class="ghh0wIZXzy gp-accordion-item-ghh0wIZXzy-11 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:48px;--h-tablet:48px;--h-mobile:48px;--fd:row;--jc:;gap:16px;--hvr-bgc:#00000000;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-11:hover .gp-collapsible-icon, .ghh0wIZXzy.gp-accordion-item-ghh0wIZXzy-11:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="11"
            class="ghh0wIZXzy gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:center;--jc-mobile:center">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0wIZXzy_childItem_11 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g6jujDzfbE"
        data-index="11"
        data-show="false"
        class="ghh0wIZXzy gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g6jujDzfbE"
        data-index="11"
        class="ghh0wIZXzy gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:24px;--pr-mobile:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gKYDEKNPT4 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g6Jr65EdEa">
    <div
      parentTag="Col"
        class="g6Jr65EdEa "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6Jr65EdEa_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 21",
    "tag": "section",
    "class": "gps-536946410931684561 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=536946410780624081&sectionId=536946410931684561)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gghh0wIZXzy_childItem_0","label":"gghh0wIZXzy_childItem_0","default":"<p>Wie wirken die Chillout Drops?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_1","label":"gghh0wIZXzy_childItem_1","default":"<p>Wofr werden die Chillout Drops verwendet?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_2","label":"gghh0wIZXzy_childItem_2","default":"<p>Wie werden die Chillout Drops verwendet?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_3","label":"gghh0wIZXzy_childItem_3","default":"<p>Wie viele Chillout Drops bekommt mein Hund tglich?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_4","label":"gghh0wIZXzy_childItem_4","default":"<p>Sind die Chillout Drops auch fr Welpen geeignet?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_5","label":"gghh0wIZXzy_childItem_5","default":"<p>Mein Hund verweigert die Chillout Drops. Was kann ich tun?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_6","label":"gghh0wIZXzy_childItem_6","default":"<p>Kann ich die <span style=\"color:#000000;\">Chillout Drops auch langfristig fttern?</span></p>"},{"type":"html","id":"gghh0wIZXzy_childItem_7","label":"gghh0wIZXzy_childItem_7","default":"<p>Woher wei ich, dass die Ergebnisse echt sind?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_8","label":"gghh0wIZXzy_childItem_8","default":"<p>Wie luft das mit dem Rckgaberecht?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_9","label":"gghh0wIZXzy_childItem_9","default":"<p>Wie schnell wirkt die \"Anti-Stress\" Formel?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_10","label":"gghh0wIZXzy_childItem_10","default":"<p>Wer steckt hinter Tierliebhaber?</p>"},{"type":"html","id":"gghh0wIZXzy_childItem_11","label":"gghh0wIZXzy_childItem_11","default":"<p>Wie lange braucht das Paket bis zu meiner Haustr?</p>"},{"type":"html","id":"ggVqff4Suax_text","label":"ggVqff4Suax_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Die Chillout Drops enthalten eine 100% natrliche Chillout-Formel, die unter anderem aus Baldrian und Johanniskraut besteht. Sie knnen deinen Hund auf schonende und sanfte Weise dabei untersttzen sich besser zu entspannen und zu beruhigen, ohne ihn dabei antriebslos oder lethargisch zu machen.</span></p>"},{"type":"html","id":"ggN5gluSlql_text","label":"ggN5gluSlql_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Die Chillout Drops knnen fr jede erdenkliche Situation, in der dein Hund gestresst sein knnte, eine tolle Untersttzung bieten. Beispiele sind Silvester, Autofahrten, Tierarztbesuche, Umzge, Verluste, Tierschutz, Training und vieles mehr.</span></p>"},{"type":"html","id":"gg-tQCUNM4A_text","label":"gg-tQCUNM4A_text","default":"<p><span style=\"color:#000000;\">Damit die Chillout-Formel gleichzeitig aktiv und sanft auf deinen Hund wirken kann, wird mit der Ftterung der Chillout-Drops 4-5 Tage vor der Stresssituation begonnen. So kann die Chillout-Formel aktiv arbeiten und sich aufbauen. Mit Ruhe und Geduld zur Entspannung.</span></p>"},{"type":"html","id":"gglZPjaghb1_text","label":"gglZPjaghb1_text","default":"<p><span style=\"color:#000000;\">Fttere deinem Hund 2 Drops pro 5kg Krpergewicht am Tag. Die praktische Drops-Form eignet sich optimal als tgliche Belohnung fr deinen Hund.</span></p>"},{"type":"html","id":"ggcdQqKIxje_text","label":"ggcdQqKIxje_text","default":"<p><span style=\"color:#000000;\">Ja die Chillout Drops sind auch super fr Welpen geeignet.</span></p>"},{"type":"html","id":"ggUZy1qeq_r_text","label":"ggUZy1qeq_r_text","default":"<p><span style=\"color:#000000;\">Sollte dein Hund eher whlerisch sein und die Chillout Drops nicht essen, kannst du diese auch ganz einfach zerkleinern und unter das Futter mischen oder einfach ein wenig mit der Lieblingsleckerei o.. tricksen. Der Effekt bleibt der gleiche und davon unberhrt.</span></p>"},{"type":"html","id":"ggjJUXEc5nM_text","label":"ggjJUXEc5nM_text","default":"<p>Ja, das kannst du und macht in manchen Situationen sogar Sinn. Bitte arbeite hier in Zyklen. Heit: Gebe die Drops drei Wochen lang tglich und mache dann fr 3-4 Tage Pause, um einen Gewhnungseffekt zu vermeiden. Dann beginne wieder einen neuen Zyklus.</p>"},{"type":"html","id":"ggYuuh9lI8l_text","label":"ggYuuh9lI8l_text","default":"<p><span style=\"color:#000000;\">Du hast recht... im Internetdschungel ist das heutzutage nicht so einfach. Zum Glck gibt es anerkannte und unabhngige Bewertungsplattformen wie trustpilot. Hier haben bereits mehr als 12.000 Kunden die Produkte von Tierliebhaber bewertet. Hier geht's zu den trustpilot Bewertungen - https://de.trustpilot.com/review/tierliebhaber.de</span></p>"},{"type":"html","id":"ggyGbHHH_pl_text","label":"ggyGbHHH_pl_text","default":"<p><span style=\"color:#000000;\">Ganz einfach... Du bestellst die Chillout Drops und testest es bei deinem Hund 30 Tage lang aus. Bist du mit dem Ergebnis nicht zufrieden, schickst du die Packung einfach wieder zurck und bekommst dein Geld zurck.</span></p>"},{"type":"html","id":"ggWBauqXOlN_text","label":"ggWBauqXOlN_text","default":"<p>Das ist natrlich individuell von Hund zu Hund unterschiedlich. Gerade in Vorbereitung auf Silvester hast du die beste Wirkung, wenn du ca. 3 Wochen vorher mit der Ftterung der Drops beginnst. Allerdings berichten die meisten Hundehalter schon nach 3-4 Tagen von sprbaren Ergebnisse. Deshalb nutzen viele die Drops auch kurz vor anstehenden Reisen, Tierarztbesuchen oder hnlichem. Der Extremfall Silvester braucht hierfr einfach etwas mehr Zeit, um den greren Stress auch bestmglich abfedern zu knnen.</p>"},{"type":"html","id":"gguKuE-PwoH_text","label":"gguKuE-PwoH_text","default":"<p><span style=\"color:#000000;\">Ein junges Familienunternehmen aus Leipzig, auf das bereits mehrs als 300.000 glckliche Kunden vertrauen. Ein Zufall war es, der die Grnder dazu brachte hauseigene Rezepturen fr ihren kranken Hund herzustellen. Dass Jahre spter daraus eine erfolgreiche Unternehmensstory entsteht, htte keiner damit gerechnet :)</span></p>"},{"type":"html","id":"gg6Jr65EdEa_text","label":"gg6Jr65EdEa_text","default":"<p><span style=\"color:#000000;\">Unsere fleiigen Mitarbeiter im Lager geben jeden Tag vollgas um unsere Kunden glcklich zu machen. Du kannst dir also sicher sein, dass du dein Paket (an normalen Tagen) innerhalb 2-3 Tagen bereits in den Hnden hltst.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
