

<style>.gps-553179444861600918 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-553179444861600918 .gp-relative{position:relative}.gps-553179444861600918 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553179444861600918 .gp-mb-0{margin-bottom:0}.gps-553179444861600918 .\!gp-inline{display:inline!important}.gps-553179444861600918 .gp-flex{display:flex}.gps-553179444861600918 .gp-grid{display:grid}.gps-553179444861600918 .\!gp-hidden{display:none!important}.gps-553179444861600918 .gp-hidden{display:none}.gps-553179444861600918 .gp-h-full{height:100%}.gps-553179444861600918 .gp-w-full{width:100%}.gps-553179444861600918 .gp-max-w-full{max-width:100%}.gps-553179444861600918 .gp-flex-col{flex-direction:column}.gps-553179444861600918 .gp-gap-y-0{row-gap:0}.gps-553179444861600918 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553179444861600918 .gp-duration-200{transition-duration:.2s}.gps-553179444861600918 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-553179444861600918 .tablet\:\!gp-hidden{display:none!important}.gps-553179444861600918 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553179444861600918 .mobile\:\!gp-hidden{display:none!important}.gps-553179444861600918 .mobile\:gp-hidden{display:none}}.gps-553179444861600918 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553179444861600918 .\[\&_p\]\:gp-inline p{display:inline}.gps-553179444861600918 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-553179444861600918 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2l74ae63297d" data-id="i2l74ae63297d"
        style="--mt:0px;--ml:1px;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:1px;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(247, 246, 241);--bgi:url()"
        class="i2l74ae63297d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="c-i2l532928df9b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gdDvS4VrSJ" data-id="gdDvS4VrSJ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:50px;--pl:280px;--ml-mobile:auto;--mb-mobile:0px;--pl-mobile:10px;--ml-tablet:50px;--pl-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdDvS4VrSJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7kyIeDH2R gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAi6rxNMoR">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAi6rxNMoR "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:150px;--mb:10px;--ml-mobile:0px;--mb-mobile:5px;--ml-tablet:0px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:35px;--size-tablet:32px;--size-mobile:17px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAi6rxNMoR_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gL_0ci7vxV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gL_0ci7vxV "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:150px;--mb:10px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--ml-tablet:0px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:18px;--size-tablet:15px;--size-mobile:12px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggL_0ci7vxV_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="go-pGBWjd6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="pgBgdgeLkjGO"
    role="presentation"
    class="gp-group/image pgBgdgeLkjGO"
    style="--mt:0px;--ml:0px;--mr:45px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:1px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-tablet:right;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center;--jc-tablet:right;--jc-mobile:right"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png" | file_url }}" data-srcset="{{ 'gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png' | file_img_url: '768x' }} 768w, {{ 'gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1200" height="1200" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:90px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    
      <style id="custom-css-i2l74ae63297d">
        .i2l74ae63297d {

}
.needsclick.kl-private-reset-css-Xuajs1,#superchat-widget{
display:none !important;
}
#CybotCookiebotDialog{
display: none !important;
}
      </style>
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-553179444861600918 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=553179444743767190&sectionId=553179444861600918)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggAi6rxNMoR_text","label":"ggAi6rxNMoR_text","default":"TIERISCH GUTE QUALITÄT"},{"type":"html","id":"ggL_0ci7vxV_text","label":"ggL_0ci7vxV_text","default":"Entwickelt und hergestellt in Deutschland. Jetzt einfach risikolos testen und Geld-zurück-Garantie nutzen."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
