

<style>.gps-572868351144821632 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-572868351144821632 .gp-relative{position:relative}.gps-572868351144821632 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-572868351144821632 .gp-mb-0{margin-bottom:0}.gps-572868351144821632 .\!gp-inline{display:inline!important}.gps-572868351144821632 .gp-flex{display:flex}.gps-572868351144821632 .gp-grid{display:grid}.gps-572868351144821632 .\!gp-hidden{display:none!important}.gps-572868351144821632 .gp-hidden{display:none}.gps-572868351144821632 .gp-h-auto{height:auto}.gps-572868351144821632 .gp-h-full{height:100%}.gps-572868351144821632 .gp-w-full{width:100%}.gps-572868351144821632 .gp-max-w-full{max-width:100%}.gps-572868351144821632 .gp-flex-none{flex:none}.gps-572868351144821632 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-572868351144821632 .gp-flex-col{flex-direction:column}.gps-572868351144821632 .gp-gap-y-0{row-gap:0}.gps-572868351144821632 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572868351144821632 .gp-duration-200{transition-duration:.2s}.gps-572868351144821632 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-572868351144821632 .tablet\:\!gp-hidden{display:none!important}.gps-572868351144821632 .tablet\:gp-hidden{display:none}.gps-572868351144821632 .tablet\:gp-h-auto{height:auto}.gps-572868351144821632 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-572868351144821632 .mobile\:\!gp-hidden{display:none!important}.gps-572868351144821632 .mobile\:gp-hidden{display:none}.gps-572868351144821632 .mobile\:gp-h-auto{height:auto}.gps-572868351144821632 .mobile\:gp-flex-none{flex:none}}.gps-572868351144821632 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-572868351144821632 .\[\&_p\]\:gp-inline p{display:inline}.gps-572868351144821632 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-572868351144821632 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gF3GWN2KIO" data-id="gF3GWN2KIO"
        style="--mt:0px;--ml:1px;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:1px;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(247, 246, 241);--bgi:url()"
        class="gF3GWN2KIO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gmSXrGF1Po gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g05Bokf3Yt" data-id="g05Bokf3Yt"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g05Bokf3Yt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="goTZKvDkQ7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJLIUCBJtl">
    <div
      parentTag="Col"
        class="gJLIUCBJtl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mb:10px;--ml-mobile:0px;--mb-mobile:5px;--ml-tablet:0px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:35px;--size-tablet:32px;--size-mobile:17px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJLIUCBJtl_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVXLXD7zmx">
    <div
      parentTag="Col"
        class="gVXLXD7zmx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mb:10px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--ml-tablet:0px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:18px;--size-tablet:15px;--size-mobile:12px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVXLXD7zmx_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRPAVMoWx2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBpLqWnFtn"
    role="presentation"
    class="gp-group/image gBpLqWnFtn gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:1px;--mr-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right;--ta-tablet:right;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:right;--jc-tablet:right;--jc-mobile:right"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png" | file_url }}" data-srcset="{{ 'gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png' | file_img_url: '768x' }} 768w, {{ 'gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_534104955091420133-ffc725aa-d0a4-4f5b-a68e-e8ca393e6e42.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1200" height="1200" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:90px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
      <style id="custom-css-gF3GWN2KIO">
        .gF3GWN2KIO {

}
.needsclick.kl-private-reset-css-Xuajs1,#superchat-widget{
display:none !important;
}
#CybotCookiebotDialog{
display: none !important;
}
      </style>
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-572868351144821632 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=572868351043306368&sectionId=572868351144821632)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJLIUCBJtl_text","label":"ggJLIUCBJtl_text","default":"TIERISCH GUTE QUALITÄT"},{"type":"html","id":"ggVXLXD7zmx_text","label":"ggVXLXD7zmx_text","default":"Entwickelt und hergestellt in Deutschland. Jetzt einfach risikolos testen und Geld-zurück-Garantie nutzen."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
