
    
    <style>@import url('https://fonts.googleapis.com/css?family=sans-serif:400,700&display=swap');.gps-582649226463281816 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-582649226463281816 .gp-relative{position:relative}.gps-582649226463281816 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582649226463281816 .gp-mb-0{margin-bottom:0}.gps-582649226463281816 .gp-inline-block{display:inline-block}.gps-582649226463281816 .gp-flex{display:flex}.gps-582649226463281816 .gp-grid{display:grid}.gps-582649226463281816 .gp-contents{display:contents}.gps-582649226463281816 .\!gp-hidden{display:none!important}.gps-582649226463281816 .gp-hidden{display:none}.gps-582649226463281816 .gp-h-auto{height:auto}.gps-582649226463281816 .gp-h-full{height:100%}.gps-582649226463281816 .gp-w-full{width:100%}.gps-582649226463281816 .gp-max-w-full{max-width:100%}.gps-582649226463281816 .gp-flex-none{flex:none}.gps-582649226463281816 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582649226463281816 .gp-flex-col{flex-direction:column}.gps-582649226463281816 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582649226463281816 .gp-duration-200{transition-duration:.2s}.gps-582649226463281816 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582649226463281816 .tablet\:\!gp-hidden{display:none!important}.gps-582649226463281816 .tablet\:gp-hidden{display:none}.gps-582649226463281816 .tablet\:gp-h-auto{height:auto}.gps-582649226463281816 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-582649226463281816 .mobile\:\!gp-hidden{display:none!important}.gps-582649226463281816 .mobile\:gp-hidden{display:none}.gps-582649226463281816 .mobile\:gp-h-auto{height:auto}.gps-582649226463281816 .mobile\:gp-flex-none{flex:none}}.gps-582649226463281816 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"goBETZxSv9"}' data-id="goBETZxSv9" id="goBETZxSv9" data-same-height-subgrid-container class="goBETZxSv9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpVnDLSOwt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F9EDD6","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gZNtD73Pha"}' data-id="gZNtD73Pha" id="gZNtD73Pha" data-same-height-subgrid-container class="gZNtD73Pha gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:1px 1px 1px 1px;--bc:#121212;--bc-mobile:rgba(18, 18, 18, 0.5);--shadow:2.8284271247461903px 2.82842712474619px 4px 0px rgba(18, 18, 18, 0.6);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--mb:36px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:36px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:36px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:900px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:93%;--h:auto;--of-mobile:hidden;--bgc:#F9EDD6;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaQS0RZGKz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gT73HlW1_Z"
        class="gT73HlW1_Z"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:20px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:30px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:24px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406960"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:97%;--tdt:auto;--b:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgba(21, 21, 21, 0.9);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggT73HlW1_Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSUr24QJKZ"
        class="gSUr24QJKZ"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:3px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406961"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:95%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:rgba(21, 21, 21, 0.9);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pl-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSUr24QJKZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grms6tldvF"
        class="grms6tldvF"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:18px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:18px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406961"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:95%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#423A3A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pl-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrms6tldvF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJpy0k8F5y"
        class="gJpy0k8F5y"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:3px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406961"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:95%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:rgba(21, 21, 21, 0.9);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pl-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJpy0k8F5y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ_uj3CRRV"
        class="gZ_uj3CRRV"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:18px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:18px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406962"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:95%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#423A3A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pl-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ_uj3CRRV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gO81-ejISE"
        class="gO81-ejISE"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:3px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406962"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:95%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:rgba(21, 21, 21, 0.9);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pl-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO81-ejISE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH4pM-nMK3"
        class="gH4pM-nMK3"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406962"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:95%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--c:#423A3A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pl-mobile:20px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH4pM-nMK3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g8LUpwZQim"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:40px;--ml-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--mt-mobile:20px;--ml-mobile:0px;--mr-mobile:10px;--pl-mobile:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756817406962 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8LUpwZQim"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-243d7005-090e-4336-b46d-f9a5e5ab995e.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-97f8d614-c2ab-4350-adfc-0f876567f8c2.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_534104955091420133-97f8d614-c2ab-4350-adfc-0f876567f8c2.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_534104955091420133-97f8d614-c2ab-4350-adfc-0f876567f8c2.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:650px;--w-tablet:650px;--w-mobile:650px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gzn9a0PyAR"}' data-id="gzn9a0PyAR" id="gzn9a0PyAR" data-same-height-subgrid-container class="gzn9a0PyAR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--mt:0px;--mb:26px;--pt:10px;--pb:10px;--cg:8px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g-8NUU-Rwc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_RXXvye15"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:20px;--pl:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756817406963 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_RXXvye15"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_534104955091420133-1915c8c7-9779-4c9b-9b36-be7be5e6fcde.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDI4NCIgaGVpZ2h0PSI1NzEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00Mjg0LTU3MTIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQyODQiIGhlaWdodD0iNTcxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDI4NCIgaGVpZ2h0PSI1NzEyIiBmaWxsPSJ1cmwoI2ctNDI4NC01NzEyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDI4NCIgdG89IjQyODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_534104955091420133-1915c8c7-9779-4c9b-9b36-be7be5e6fcde.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDI4NCIgaGVpZ2h0PSI1NzEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00Mjg0LTU3MTIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQyODQiIGhlaWdodD0iNTcxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDI4NCIgaGVpZ2h0PSI1NzEyIiBmaWxsPSJ1cmwoI2ctNDI4NC01NzEyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDI4NCIgdG89IjQyODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_534104955091420133-1915c8c7-9779-4c9b-9b36-be7be5e6fcde.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDI4NCIgaGVpZ2h0PSI1NzEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00Mjg0LTU3MTIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQyODQiIGhlaWdodD0iNTcxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDI4NCIgaGVpZ2h0PSI1NzEyIiBmaWxsPSJ1cmwoI2ctNDI4NC01NzEyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDI4NCIgdG89IjQyODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_534104955091420133-1915c8c7-9779-4c9b-9b36-be7be5e6fcde.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gIKF0_2UBa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfR9rOXw9R"
        class="gfR9rOXw9R"
        style="--ta:left;--ml:20px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-tablet:20px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ml-mobile:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406964"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfR9rOXw9R_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXNisEitAa"
        class="gXNisEitAa"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:20px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-tablet:20px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:34px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756817406964"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--fs:italic;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXNisEitAa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-582649226463281816 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=579894360150114837&sectionId=582649226463281816)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggT73HlW1_Z_text","label":"ggT73HlW1_Z_text","default":"<p><strong>Das Geheimnis des Tierliebhaber Nassfutters – Die 3-Stufen-Wirkweise für eine gesunde Verdauung</strong></p>"},{"type":"html","id":"ggSUr24QJKZ_text","label":"ggSUr24QJKZ_text","default":"<p><strong>Stufe 1: Sofortige Entlastung für Magen &amp; Darm</strong></p>"},{"type":"html","id":"ggrms6tldvF_text","label":"ggrms6tldvF_text","default":"<p>Moor bindet überschüssige Magensäure, bevor sie in die Speiseröhre aufsteigen kann. Das lindert das brennende Gefühl – und der Zwang, hektisch Gras zu fressen, lässt deutlich nach.</p>"},{"type":"html","id":"ggJpy0k8F5y_text","label":"ggJpy0k8F5y_text","default":"<p><strong>Stufe 2: Sanfte Beruhigung &amp; Schutz der Verdauungsorgane</strong></p>"},{"type":"html","id":"ggZ_uj3CRRV_text","label":"ggZ_uj3CRRV_text","default":"<p>Ausgewählte pflanzliche Bestandteile wie Kamille, Löwenzahn oder Fenchel wirken beruhigend auf Magen und Darm – und unterstützen eine gesunde Schleimhautbarriere. So können Reizungen abklingen und der Verdauungstrakt regenerieren.</p>"},{"type":"html","id":"ggO81-ejISE_text","label":"ggO81-ejISE_text","default":"<p><strong>Stufe 3: Nachhaltige Stärkung &amp; Aufbau der Darmgesundheit</strong></p>"},{"type":"html","id":"ggH4pM-nMK3_text","label":"ggH4pM-nMK3_text","default":"<p>Natürliche Präbiotika aus Topinambur oder Inulin unterstützen gezielt die gesunde Darmflora. Die verbesserte Nährstoffaufnahme sorgt für mehr Energie, ein gestärktes Immunsystem – und einen sichtbar zufriedeneren Hund mit stabilem Appetit.</p>"},{"type":"html","id":"ggfR9rOXw9R_text","label":"ggfR9rOXw9R_text","default":"<p><span style=\"color:#423A3A;font-size:16px;\"><strong>Tierärztin Christina Pfülb</strong></span></p>"},{"type":"html","id":"ggXNisEitAa_text","label":"ggXNisEitAa_text","default":"<p><span style=\"color:#423A3A;font-size:16px;\">„Diese dreistufige Wirkung ist der Grund, warum wir mit dem Nassfutter nicht nur Symptome lindern – sondern den gesamten Magen-Darm-Trakt unserer Hunde nachhaltig stärken.“</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  