
    
    <style>.gps-581598922812687116 .gp-relative{position:relative}.gps-581598922812687116 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-581598922812687116 .gp-mb-0{margin-bottom:0}.gps-581598922812687116 .gp-flex{display:flex}.gps-581598922812687116 .gp-inline-flex{display:inline-flex}.gps-581598922812687116 .gp-grid{display:grid}.gps-581598922812687116 .\!gp-hidden{display:none!important}.gps-581598922812687116 .gp-hidden{display:none}.gps-581598922812687116 .gp-max-w-full{max-width:100%}.gps-581598922812687116 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-581598922812687116 .gp-flex-col{flex-direction:column}.gps-581598922812687116 .gp-items-center{align-items:center}.gps-581598922812687116 .gp-justify-center{justify-content:center}.gps-581598922812687116 .gp-overflow-hidden{overflow:hidden}.gps-581598922812687116 .gp-leading-\[0\]{line-height:0}.gps-581598922812687116 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-581598922812687116 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581598922812687116 .gp-duration-200{transition-duration:.2s}.gps-581598922812687116 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-581598922812687116 .tablet\:\!gp-hidden{display:none!important}.gps-581598922812687116 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-581598922812687116 .mobile\:\!gp-hidden{display:none!important}.gps-581598922812687116 .mobile\:gp-hidden{display:none}}.gps-581598922812687116 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-581598922812687116 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-581598922812687116 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-581598922812687116 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-581598922812687116 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gd67XvIVy4"}' data-id="gd67XvIVy4" id="gd67XvIVy4" data-same-height-subgrid-container class="gd67XvIVy4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:222px;--pb:var(--g-s-2xl);--pr:222px;--ml-mobile:auto;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pt-tablet:var(--g-s-2xl);--pl-tablet:48px;--pb-tablet:var(--g-s-2xl);--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-tablet:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8FRYdrNXH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggB-LcxTIo"}' data-id="ggB-LcxTIo" id="ggB-LcxTIo" data-same-height-subgrid-container class="ggB-LcxTIo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:0px;--cg-tablet:0px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:821px;--w-tablet:800px;--w-mobile:var(--g-ct-w, 100%);--h:auto;--h-mobile:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="g2SeTNphit gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqOOE-EdnW"}' data-id="gqOOE-EdnW" id="gqOOE-EdnW" data-same-height-subgrid-container class="gqOOE-EdnW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb-mobile:16px;--cg:54px;--cg-mobile:24px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gQhsOaRGJj gp-relative gp-flex gp-flex-col"
    >
      
    <div id="grHmU7-g-w" class="gp-leading-[0] grHmU7-g-w" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="grHmU7-g-w" class="icon-wrapper gp-inline-flex gp-overflow-hidden grHmU7-g-w " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:60px;--w-tablet:60px;--w-mobile:60px;--h:60px;--h-tablet:60px;--h-mobile:60px;--minw:60px;--minw-tablet:60px;--minw-mobile:60px;--height-desktop:60px;--height-tablet:60px;--height-mobile:60px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="567395338625746147" xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60" fill="none">
<g clip-path="url(#clip0_748_18419)">
<path d="M33.1496 52.9638C37.1817 51.4499 39.9356 47.0716 39.5545 42.7826C39.3071 40 37.9334 37.5051 36.8675 34.9752C35.7963 32.4336 35.3896 29.8474 35.1603 27.1137C34.7696 22.453 35.4183 17.7393 37.1541 13.3908C39.2105 8.23858 42.7533 3.41338 47.2132 0.0723608C47.3629 -0.0401741 47.5126 -0.152709 47.6676 -0.257812C42.8637 1.54699 38.34 4.11406 34.466 7.49224C31.2142 10.3268 28.456 13.7029 26.2892 17.4314C24.2264 20.9816 22.8484 24.7791 21.7612 28.7231C20.5955 32.9517 19.6018 37.2822 19.6114 41.6922C19.6167 43.9716 19.9044 46.2977 20.9013 48.3467C23.0076 52.6782 28.7002 54.6327 33.1485 52.9627L33.1496 52.9638Z" fill="#7982C5"/>
<path d="M53.8569 39.38H46.0835C46.3064 40.4703 46.4221 41.5989 46.4221 42.7518C46.4221 52.1209 38.8005 59.7425 29.4315 59.7425C20.0624 59.7425 12.4408 52.1209 12.4408 42.7518C12.4408 41.5989 12.5565 40.4703 12.7763 39.38H6.19727V36.8438H16.2405C15.8753 37.6517 15.5844 38.501 15.3731 39.38C15.1151 40.4608 14.975 41.5904 14.975 42.7518C14.975 50.7216 21.4595 57.2062 29.4325 57.2062C37.4055 57.2062 43.8869 50.7216 43.8869 42.7518C43.8869 41.5904 43.7468 40.4619 43.4888 39.38C43.2775 38.501 42.9866 37.6517 42.6214 36.8438H53.859V39.38H53.8569Z" fill="#7982C5"/>
<path d="M19.0917 30.5324C19.5586 28.9909 18.6874 27.3628 17.1459 26.8959C15.6044 26.429 13.9763 27.3002 13.5094 28.8417C13.0425 30.3832 13.9137 32.0113 15.4552 32.4782C16.9967 32.945 18.6248 32.0739 19.0917 30.5324Z" fill="#7982C5"/>
<path d="M45.4195 30.7139C46.5399 30.7139 47.4483 29.8055 47.4483 28.6851C47.4483 27.5646 46.5399 26.6562 45.4195 26.6562C44.299 26.6562 43.3906 27.5646 43.3906 28.6851C43.3906 29.8055 44.299 30.7139 45.4195 30.7139Z" fill="#7982C5"/>
<path d="M41.7428 35.0657C42.5478 35.0657 43.2004 34.4131 43.2004 33.608C43.2004 32.803 42.5478 32.1504 41.7428 32.1504C40.9378 32.1504 40.2852 32.803 40.2852 33.608C40.2852 34.4131 40.9378 35.0657 41.7428 35.0657Z" fill="#7982C5"/>
<path d="M11.5544 34.024C11.6337 33.2228 11.0485 32.5091 10.2473 32.4299C9.44622 32.3506 8.73253 32.9358 8.65327 33.7369C8.57402 34.5381 9.15921 35.2518 9.96033 35.331C10.7615 35.4103 11.4751 34.8251 11.5544 34.024Z" fill="#7982C5"/>
<path d="M19.61 22.6888C20.2403 22.6888 20.7513 22.1778 20.7513 21.5475C20.7513 20.9172 20.2403 20.4062 19.61 20.4062C18.9797 20.4062 18.4688 20.9172 18.4688 21.5475C18.4688 22.1778 18.9797 22.6888 19.61 22.6888Z" fill="#7982C5"/>
<path d="M42.3029 23.7404C42.3953 22.6238 41.565 21.6436 40.4483 21.5512C39.3316 21.4588 38.3515 22.2892 38.2591 23.4058C38.1667 24.5225 38.997 25.5026 40.1137 25.595C41.2304 25.6874 42.2105 24.8571 42.3029 23.7404Z" fill="#7982C5"/>
</g>
<defs>
<clipPath id="clip0_748_18419">
<rect width="60" height="60" fill="white" transform="translate(0.199219)"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwi4Z6R92L"
        class="gwi4Z6R92L"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189579558"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwi4Z6R92L_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gAWGXLsdB_ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gytvpT4eyh" class="gp-leading-[0] gytvpT4eyh" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gytvpT4eyh" class="icon-wrapper gp-inline-flex gp-overflow-hidden gytvpT4eyh " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:60px;--w-tablet:60px;--w-mobile:60px;--h:60px;--h-tablet:60px;--h-mobile:60px;--minw:60px;--minw-tablet:60px;--minw-mobile:60px;--height-desktop:60px;--height-tablet:60px;--height-mobile:60px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="567395384612094796" xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60" fill="none">
<path d="M40.3272 44.7164C40.6642 48.5176 38.2237 52.398 34.6502 53.74C30.7085 55.2203 25.6641 53.4882 23.7967 49.6495C22.9135 47.8321 22.6586 45.7702 22.6524 43.751C22.6513 42.9624 22.6846 42.1759 22.7502 41.3926C22.7533 41.3947 22.7585 41.3978 22.7616 41.4019C24.8193 43.1299 27.4825 44.3262 30.4609 44.862C31.4513 45.0399 32.4219 45.1304 33.3478 45.1304C35.3857 45.1304 37.2031 44.7049 38.7459 43.8664C39.2047 43.6168 39.6312 43.3328 40.0234 43.0175C40.1691 43.5731 40.2752 44.1369 40.3272 44.7164Z" fill="#7982C5"/>
<path d="M37.9432 37.789C38.1918 38.3788 38.4592 38.9676 38.7224 39.5585C38.3146 40.086 37.7778 40.5447 37.1349 40.8943C36.0914 41.4602 34.8191 41.7484 33.3523 41.7484C32.6199 41.7484 31.847 41.6766 31.0553 41.5351C28.6543 41.1023 26.5352 40.1609 24.9258 38.8105C24.3339 38.3133 23.8075 37.7536 23.3633 37.1523C23.692 35.5013 24.1102 33.867 24.5565 32.2483C25.0923 30.305 25.7081 28.4023 26.4624 26.5547C27.2051 27.7365 28.0967 28.7955 29.1141 29.6829C31.1874 31.4899 33.9099 32.6155 36.6459 32.808C36.879 34.512 37.2576 36.1598 37.9442 37.789H37.9432Z" fill="#7982C5"/>
<path d="M47.5202 6.57227C47.3829 6.66589 47.2507 6.76472 47.1165 6.86459C43.1644 9.82531 40.0248 14.102 38.2022 18.6679C36.8414 22.077 36.2339 25.7389 36.3525 29.3987C34.5195 29.1615 32.7291 28.3646 31.334 27.1495C30.0243 26.0073 28.984 24.4843 28.2891 22.749C28.3827 22.5816 28.4763 22.4151 28.5731 22.2487C30.4935 18.9436 32.9372 15.9527 35.8198 13.4404C39.2539 10.4464 43.2622 8.17122 47.5202 6.57227Z" fill="#7982C5"/>
<path d="M56.0787 41.6963H46.1126C46.3092 42.6627 46.4111 43.6625 46.4111 44.6851C46.4111 52.9878 39.6564 59.7425 31.3537 59.7425C23.051 59.7425 16.2963 52.9878 16.2963 44.6851C16.2963 43.6625 16.3983 42.6627 16.5949 41.6963H6.00977V39.4492H19.6648C19.3423 40.166 19.0843 40.9181 18.8971 41.6963C18.6672 42.6554 18.5444 43.6562 18.5444 44.6851C18.5444 51.7488 24.2911 57.4954 31.3548 57.4954C38.4185 57.4954 44.1651 51.7488 44.1651 44.6851C44.1651 43.6562 44.0424 42.6554 43.8125 41.6963C43.6262 40.9171 43.3672 40.166 43.0447 39.4492H56.0798V41.6963H56.0787Z" fill="#7982C5"/>
<path d="M33.3462 43.9975C32.4879 43.9975 31.5891 43.9143 30.6591 43.7468C27.8721 43.2454 25.391 42.1343 23.482 40.5323C21.3348 38.7304 19.8961 36.2389 19.534 33.6974C19.0628 30.3841 20.4963 26.9968 23.1855 25.0702C23.4373 24.8892 23.7889 24.9474 23.9699 25.1992C24.1509 25.4509 24.0927 25.8025 23.8409 25.9836C21.4877 27.6699 20.2342 30.6358 20.6472 33.5393C20.9707 35.8103 22.2669 38.0459 24.205 39.6719C25.9631 41.1481 28.2643 42.1749 30.8578 42.641C32.7147 42.9749 35.4039 43.1143 37.6718 41.8815C40.025 40.603 41.2224 38.0865 40.5826 35.7614C40.5004 35.4618 40.6762 35.1528 40.9758 35.0706C41.2754 34.9885 41.5844 35.1643 41.6666 35.4639C42.4447 38.2946 41.0226 41.3395 38.2086 42.8688C36.8312 43.6168 35.1802 43.9965 33.3462 43.9965V43.9975Z" fill="#7982C5"/>
<path d="M43.4071 24.6391C42.7653 23.5488 41.8415 22.6885 40.9489 21.8573C40.8407 21.7564 40.7325 21.6555 40.6253 21.5556C40.3996 21.3434 40.0438 21.3538 39.8316 21.5806C39.6194 21.8063 39.6298 22.1621 39.8566 22.3743C39.9647 22.4763 40.074 22.5782 40.1843 22.6802C41.0186 23.4573 41.881 24.2615 42.4407 25.2102C43.0493 26.2443 43.197 27.3793 42.8339 28.2458C42.5811 28.8492 42.0568 29.3912 41.3567 29.7709C40.2831 30.3535 38.7986 30.6448 37.1778 30.5917C34.7975 30.5137 32.3986 29.567 30.5937 27.9941C27.8514 25.6035 26.1963 21.7221 26.1651 17.6097C26.1391 14.2194 27.1066 10.6251 29.1143 6.66466L31.894 8.26881V0.742188L25.3765 4.50498L28.1406 6.10081C26.0309 10.2475 25.0145 14.028 25.0415 17.617C25.0748 22.0456 26.8746 26.2412 29.855 28.8398C31.8514 30.5803 34.5063 31.6268 37.1403 31.7132C37.2735 31.7173 37.4118 31.7205 37.5564 31.7205C38.809 31.7205 40.4589 31.5342 41.8914 30.7582C42.8162 30.2567 43.5195 29.5181 43.8701 28.6786C44.3684 27.4874 44.1957 25.9769 43.4082 24.6391H43.4071Z" fill="#7982C5"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcQfiG1Iwf"
        class="gcQfiG1Iwf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189579560"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcQfiG1Iwf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gV-jCT2l7H gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g_EtHWP2Nq" class="gp-leading-[0] g_EtHWP2Nq" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="g_EtHWP2Nq" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_EtHWP2Nq " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:60px;--w-tablet:60px;--w-mobile:60px;--h:60px;--h-tablet:60px;--h-mobile:60px;--minw:60px;--minw-tablet:60px;--minw-mobile:60px;--height-desktop:60px;--height-tablet:60px;--height-mobile:60px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="567395422746707171" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
<path d="M33.7035 53.0751C37.6677 51.5871 40.377 47.2814 40.0016 43.0633C39.7587 40.3267 38.4085 37.8736 37.3592 35.3865C36.3066 32.8873 35.9061 30.3444 35.6807 27.656C35.2966 23.0724 35.9345 18.4385 37.6415 14.1624C39.6635 9.09634 43.1463 4.35192 47.533 1.06607C47.6807 0.955555 47.8273 0.845041 47.9805 0.742188C43.2569 2.51697 38.809 5.04126 34.999 8.36213C31.8007 11.1501 29.0893 14.4688 26.9589 18.1354C24.9303 21.627 23.5756 25.3615 22.5066 29.2393C21.3599 33.3972 20.3828 37.6558 20.3927 41.9921C20.3981 44.233 20.6815 46.521 21.6619 48.5364C23.7332 52.7961 29.3311 54.7175 33.7046 53.0751H33.7035Z" fill="#7982C5"/>
<path d="M59.1612 39.7202H46.4249C46.6426 40.7925 46.7564 41.902 46.7564 43.0367C46.7564 52.2498 39.2612 59.7439 30.0492 59.7439C20.8372 59.7439 13.342 52.2498 13.342 43.0367C13.342 41.902 13.4558 40.7925 13.6735 39.7202H1.00391V37.2266H17.0787C16.7209 38.0209 16.4342 38.8558 16.2274 39.7202C15.9713 40.7849 15.8357 41.8944 15.8357 43.0367C15.8357 50.8744 22.2115 57.2503 30.0492 57.2503C37.8869 57.2503 44.2627 50.8744 44.2627 43.0367C44.2627 41.8944 44.1271 40.7849 43.871 39.7202C43.6642 38.8558 43.3775 38.022 43.0197 37.2266H59.1623V39.7202H59.1612Z" fill="#7982C5"/>
<path d="M18.7029 26.3286C16.1436 26.344 14.0417 28.2883 13.778 30.782H13.7222C13.4705 28.3945 11.5327 26.5103 9.12109 26.3407V26.3155C11.7078 26.135 13.7506 23.9783 13.7506 21.3457C13.7506 24.0877 15.9653 26.3111 18.7029 26.3276V26.3286Z" fill="#7982C5"/>
<path d="M30.634 6.65079C28.8307 6.66173 27.3492 8.03166 27.1643 9.78893H27.1249C26.9476 8.10716 25.5821 6.77881 23.8828 6.65954V6.64204C25.7057 6.51511 27.1446 4.99528 27.1446 3.14062C27.1446 5.07187 28.7049 6.63985 30.634 6.65079Z" fill="#7982C5"/>
<path d="M22.6208 17.3583C21.6973 17.3638 20.938 18.0662 20.8428 18.9657H20.8231C20.7323 18.1034 20.0331 17.424 19.1621 17.3627V17.3539C20.0955 17.2883 20.8329 16.5103 20.8329 15.5605C20.8329 16.5508 21.6328 17.3528 22.6208 17.3583Z" fill="#7982C5"/>
<path d="M53.271 27.534C50.0935 27.5526 47.4828 29.9675 47.1567 33.064H47.0878C46.7748 30.0999 44.3687 27.7594 41.375 27.5504V27.5198C44.5865 27.2954 47.1228 24.618 47.1228 21.3496C47.1228 24.7536 49.8725 27.5154 53.2721 27.5351L53.271 27.534Z" fill="#7982C5"/>
<path d="M51.1059 8.8656C49.4383 8.87545 48.0684 10.1436 47.8966 11.7685H47.8605C47.6964 10.2126 46.4337 8.98487 44.8613 8.87436V8.85795C46.5475 8.73977 47.878 7.33483 47.878 5.61914C47.878 7.40595 49.3212 8.85576 51.1059 8.8656Z" fill="#7982C5"/>
<path d="M44.415 16.6369C43.7235 16.6412 43.1556 17.1665 43.0845 17.8394H43.0692C43.0013 17.1949 42.4772 16.685 41.8262 16.6402V16.6336C42.5254 16.5843 43.0768 16.0022 43.0768 15.291C43.0768 16.0318 43.6754 16.6325 44.415 16.6369Z" fill="#7982C5"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqnaxYcAQp"
        class="gqnaxYcAQp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189579561"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqnaxYcAQp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gVskIl-bE0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJn-6UTfco"}' data-id="gJn-6UTfco" id="gJn-6UTfco" data-same-height-subgrid-container class="gJn-6UTfco gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:54px;--cg-tablet:54px;--cg-mobile:24px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center;--pc-tablet:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center;--jc-mobile:center"
      class="geeZSqvHrc gp-relative gp-flex gp-flex-col"
    >
      
    <div id="giadwP8Rds" class="gp-leading-[0] giadwP8Rds" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="giadwP8Rds" class="icon-wrapper gp-inline-flex gp-overflow-hidden giadwP8Rds " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:60px;--w-tablet:60px;--w-mobile:60px;--h:60px;--h-tablet:60px;--h-mobile:60px;--minw:60px;--minw-tablet:60px;--minw-mobile:60px;--height-desktop:60px;--height-tablet:60px;--height-mobile:60px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="567395460411556684" xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60" fill="none">
<path d="M54.9881 9.48543L54.7917 8.36582L30.6036 0.742188L29.1813 1.19089L6.41558 8.36582L6.21914 9.48543C4.49411 19.3161 4.64869 28.0625 6.67751 35.4822C8.3274 41.5097 11.2064 46.6751 15.2318 50.8336C19.5299 55.2723 24.1844 57.5846 27.1503 58.7127H27.1525C28.9333 59.389 30.1055 59.6381 30.229 59.6638L30.6047 59.7422L30.9804 59.6638C31.3078 59.5962 39.0967 57.9356 45.9754 50.8326C50.003 46.674 52.8798 41.5086 54.5297 35.4812C56.5596 28.0615 56.7131 19.315 54.9892 9.48436L54.9881 9.48543ZM43.4227 48.0942C38.1564 53.6074 32.1451 55.4967 30.6036 55.91V46.8039H30.6015C20.4026 46.8039 12.1049 38.5072 12.1049 28.3073C12.1049 18.1074 20.4026 9.81069 30.6015 9.81069H30.6036V4.66135L51.4951 11.2459C54.1057 27.3605 51.392 39.7535 43.4227 48.0942Z" fill="#7982C5"/>
<path d="M46.5599 22.0181C46.2196 22.178 45.8385 22.2607 45.4413 22.2607C43.9428 22.2607 42.7287 21.0488 42.7287 19.5502C42.7287 18.6636 43.156 17.8757 43.8204 17.3786C40.6731 13.5808 35.9198 11.1602 30.6041 11.1602C29.2967 11.1602 28.0225 11.3072 26.7977 11.5831C27.0982 12.02 27.2743 12.5471 27.2743 13.1203C27.2743 13.2759 27.2614 13.4273 27.2367 13.5743C27.0209 14.855 25.9067 15.8307 24.5617 15.8307C24.0003 15.8307 23.4796 15.659 23.0449 15.3649C22.4352 14.9505 22.0026 14.2978 21.8866 13.5411C19.9448 14.6886 18.2519 16.2075 16.9015 17.998C17.2107 18.4371 17.3943 18.9738 17.3943 19.5502C17.3943 21.0488 16.1802 22.2607 14.6816 22.2607C14.6419 22.2607 14.599 22.2607 14.5571 22.2585C13.8465 24.1382 13.459 26.1766 13.459 28.301C13.459 33.9205 16.1651 38.912 20.3409 42.039C20.7735 41.747 21.2941 41.5785 21.8534 41.5785C23.3498 41.5785 24.5617 42.7947 24.5617 44.2911V44.3534C26.4413 45.0597 28.4755 45.4472 30.6041 45.4472C30.9476 45.4472 31.2879 45.4386 31.6239 45.4182C31.4124 45.093 31.2901 44.7054 31.2901 44.2911C31.2901 43.1511 32.2121 42.229 33.3521 42.229C34.4921 42.229 35.4143 43.1511 35.4143 44.2911C35.4143 44.4586 35.3917 44.6249 35.3541 44.7806C42.513 42.7206 47.7471 36.1211 47.7471 28.301C47.7471 26.0843 47.3263 23.9621 46.5599 22.0181ZM36.7131 15.0761C36.8666 15.0761 36.989 15.2006 36.989 15.3541C36.989 15.5076 36.8666 15.63 36.7131 15.63C36.5596 15.63 36.4372 15.5055 36.4372 15.3541C36.4372 15.2028 36.5596 15.0761 36.7131 15.0761ZM28.205 22.2768C28.3585 22.2768 28.4808 22.4035 28.4808 22.557C28.4808 22.7105 28.3585 22.8328 28.205 22.8328C28.0515 22.8328 27.9291 22.7062 27.9291 22.557C27.9291 22.4078 28.0515 22.2768 28.205 22.2768ZM26.8374 19.5502C26.9909 19.5502 27.1133 19.6769 27.1133 19.8283C27.1133 19.9796 26.9909 20.1063 26.8374 20.1063C26.6839 20.1063 26.5615 19.9818 26.5615 19.8283C26.5615 19.6748 26.6839 19.5502 26.8374 19.5502ZM26.4187 34.0901C26.4187 34.5646 26.0334 34.9499 25.5589 34.9499C25.0845 34.9499 24.6991 34.5646 24.6991 34.0901C24.6991 33.6156 25.0845 33.2303 25.5589 33.2303C26.0334 33.2303 26.4187 33.6135 26.4187 34.0901ZM25.283 21.2098C25.4365 21.2098 25.5589 21.3365 25.5589 21.49C25.5589 21.6435 25.4365 21.7658 25.283 21.7658C25.1295 21.7658 25.0071 21.6392 25.0071 21.49C25.0071 21.3408 25.1295 21.2098 25.283 21.2098ZM24.1162 16.5328C24.2697 16.5328 24.3921 16.6551 24.3921 16.8086C24.3921 16.9622 24.2697 17.0845 24.1162 17.0845C23.9627 17.0845 23.8403 16.9622 23.8403 16.8086C23.8403 16.6551 23.9627 16.5328 24.1162 16.5328ZM24.7002 26.0564C25.1746 26.0564 25.56 26.4418 25.56 26.9162C25.56 27.3907 25.1746 27.7782 24.7002 27.7782C24.2257 27.7782 23.8403 27.3907 23.8403 26.9162C23.8403 26.4418 24.2257 26.0564 24.7002 26.0564ZM23.2413 24.5289C23.2413 24.6803 23.1189 24.8048 22.9654 24.8048C22.8119 24.8048 22.6896 24.6803 22.6896 24.5289C22.6896 24.3775 22.8119 24.2509 22.9654 24.2509C23.1189 24.2509 23.2413 24.3754 23.2413 24.5289ZM21.0053 22.2768C20.1519 22.2768 19.4574 21.5866 19.4574 20.7289C19.4574 19.8712 20.1519 19.1788 21.0053 19.1788C21.8587 19.1788 22.5576 19.8712 22.5576 20.7289C22.5576 21.5866 21.863 22.2768 21.0053 22.2768ZM22.4062 29.6761C22.4062 29.8296 22.2838 29.9563 22.1303 29.9563C21.9768 29.9563 21.8544 29.8296 21.8544 29.6761C21.8544 29.5226 21.9768 29.4002 22.1303 29.4002C22.2838 29.4002 22.4062 29.5226 22.4062 29.6761ZM17.3953 30.1463C17.0593 30.1463 16.7845 29.8725 16.7845 29.5355C16.7845 29.1984 17.0583 28.9279 17.3953 28.9279C17.7324 28.9279 18.0029 29.1995 18.0029 29.5355C18.0029 29.8715 17.7313 30.1463 17.3953 30.1463ZM17.7249 25.7805C17.7249 25.627 17.8515 25.5047 18.0029 25.5047C18.1542 25.5047 18.2809 25.627 18.2809 25.7805C18.2809 25.934 18.1542 26.0564 18.0029 26.0564C17.8515 26.0564 17.7249 25.934 17.7249 25.7805ZM20.1079 37.6604C18.6073 37.6604 17.3953 36.4485 17.3953 34.9499C17.3953 34.3756 17.5735 33.8432 17.8784 33.4063V33.4042C18.3679 32.7 19.1837 32.2416 20.1079 32.2416C21.6043 32.2416 22.8184 33.4536 22.8184 34.9499C22.8184 36.1705 22.0122 37.202 20.9055 37.5402C20.6543 37.6185 20.387 37.6604 20.1079 37.6604ZM29.0551 43.8478C28.1975 43.8478 27.5029 43.1554 27.5029 42.2977C27.5029 41.8522 27.6897 41.4486 27.9924 41.1663C28.2683 40.9054 28.6451 40.7455 29.0551 40.7455C29.579 40.7455 30.0416 41.0063 30.3229 41.4046C30.5011 41.6558 30.6063 41.9639 30.6063 42.2977C30.6063 43.1554 29.9117 43.8478 29.0562 43.8478H29.0551ZM29.331 29.8113C29.331 29.9648 29.2065 30.0872 29.0551 30.0872C28.9038 30.0872 28.7771 29.9648 28.7771 29.8113C28.7771 29.6578 28.9016 29.5355 29.0551 29.5355C29.2087 29.5355 29.331 29.6578 29.331 29.8113ZM29.2065 25.0828C29.2065 24.9293 29.331 24.8048 29.4845 24.8048C29.638 24.8048 29.7625 24.9293 29.7625 25.0828C29.7625 25.2363 29.638 25.3587 29.4845 25.3587C29.331 25.3587 29.2065 25.2341 29.2065 25.0828ZM30.9197 38.0436C30.8124 38.0436 30.7083 38.035 30.6052 38.0168C29.6144 37.8676 28.8565 37.012 28.8565 35.9815C28.8565 34.951 29.6133 34.0901 30.6052 33.9441C30.7072 33.9259 30.8124 33.9151 30.9197 33.9151C32.0576 33.9151 32.9818 34.8415 32.9818 35.9815C32.9818 37.1215 32.0576 38.0436 30.9197 38.0436ZM31.9824 27.526C31.9824 27.3725 32.1069 27.2501 32.2605 27.2501C32.414 27.2501 32.5385 27.3725 32.5385 27.526C32.5385 27.6795 32.4161 27.8018 32.2605 27.8018C32.1048 27.8018 31.9824 27.6795 31.9824 27.526ZM32.8154 32.5175C32.6619 32.5175 32.5396 32.393 32.5396 32.2416C32.5396 32.0903 32.6619 31.9636 32.8154 31.9636C32.9689 31.9636 33.0935 32.0881 33.0935 32.2416C33.0935 32.3951 32.9689 32.5175 32.8154 32.5175ZM30.9197 19.2432C30.8124 19.2432 30.7083 19.2389 30.6052 19.225C29.2559 19.0693 28.206 17.924 28.206 16.5317C28.206 15.1394 29.2548 13.993 30.6052 13.8363C30.7072 13.8255 30.8124 13.818 30.9197 13.818C32.4161 13.818 33.6302 15.0321 33.6302 16.5306C33.6302 18.0292 32.4161 19.2411 30.9197 19.2411V19.2432ZM33.6302 22.0428C33.4767 22.0428 33.3543 21.9204 33.3543 21.7669C33.3543 21.6134 33.4767 21.491 33.6302 21.491C33.7837 21.491 33.9061 21.6134 33.9061 21.7669C33.9061 21.9204 33.7837 22.0428 33.6302 22.0428ZM34.6253 25.6356C34.4718 25.6356 34.3494 25.5132 34.3494 25.3597C34.3494 25.2062 34.4718 25.0839 34.6253 25.0839C34.7788 25.0839 34.9011 25.2062 34.9011 25.3597C34.9011 25.5132 34.7788 25.6356 34.6253 25.6356ZM35.4143 28.6488C35.4143 28.4974 35.5366 28.3708 35.6901 28.3708C35.8436 28.3708 35.966 28.4974 35.966 28.6488C35.966 28.8001 35.8436 28.9268 35.6901 28.9268C35.5366 28.9268 35.4143 28.8001 35.4143 28.6488ZM35.9671 33.5062C35.8136 33.5062 35.6912 33.3838 35.6912 33.2303C35.6912 33.0768 35.8136 32.9523 35.9671 32.9523C36.1206 32.9523 36.243 33.0768 36.243 33.2303C36.243 33.3838 36.1206 33.5062 35.9671 33.5062ZM35.9671 21.1067C35.9671 19.6103 37.1811 18.3963 38.6775 18.3963C40.1739 18.3963 41.3901 19.6103 41.3901 21.1067C41.3901 22.6031 40.1761 23.8193 38.6775 23.8193C37.179 23.8193 35.9671 22.6031 35.9671 21.1067ZM37.4216 26.0553C37.4216 25.9018 37.5461 25.7795 37.6975 25.7795C37.8488 25.7795 37.9755 25.9018 37.9755 26.0553C37.9755 26.2088 37.851 26.3312 37.6975 26.3312C37.544 26.3312 37.4216 26.2088 37.4216 26.0553ZM38.3061 38.648C37.9701 38.648 37.6985 38.3785 37.6985 38.0425C37.6985 37.7066 37.9701 37.4318 38.3061 37.4318C38.6421 37.4318 38.9137 37.7055 38.9137 38.0425C38.9137 38.3796 38.6421 38.648 38.3061 38.648ZM40.1771 32.2062C39.0371 32.2062 38.115 31.282 38.115 30.1441C38.115 29.0063 39.0371 28.082 40.1771 28.082C41.3171 28.082 42.2392 29.0041 42.2392 30.1441C42.2392 31.2841 41.315 32.2062 40.1771 32.2062ZM43.8301 35.2269C43.6766 35.2269 43.5499 35.1024 43.5499 34.9489C43.5499 34.7954 43.6766 34.673 43.8301 34.673C43.9836 34.673 44.106 34.7954 44.106 34.9489C44.106 35.1024 43.9793 35.2269 43.8301 35.2269ZM44.106 25.3576C43.9525 25.3576 43.8301 25.2331 43.8301 25.0817C43.8301 24.9304 43.9525 24.8037 44.106 24.8037C44.2595 24.8037 44.3818 24.9282 44.3818 25.0817C44.3818 25.2352 44.2595 25.3576 44.106 25.3576ZM45.1644 29.6739C45.0152 29.6739 44.8885 29.5516 44.8885 29.3981C44.8885 29.2446 45.0152 29.1222 45.1644 29.1222C45.3136 29.1222 45.4446 29.2446 45.4446 29.3981C45.4446 29.5516 45.3179 29.6739 45.1644 29.6739Z" fill="#7982C5"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEwRt_wStZ"
        class="gEwRt_wStZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189579564"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEwRt_wStZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center;--jc-mobile:center"
      class="gIlUfc7KiS gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g2lLNe3d0l" class="gp-leading-[0] g2lLNe3d0l" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="g2lLNe3d0l" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2lLNe3d0l " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:60px;--w-tablet:60px;--w-mobile:60px;--h:60px;--h-tablet:60px;--h-mobile:60px;--minw:60px;--minw-tablet:60px;--minw-mobile:60px;--height-desktop:60px;--height-tablet:60px;--height-mobile:60px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="567395478665168099" xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60" fill="none">
<path d="M17.6933 42.9209C18.1688 42.9946 18.6442 42.9946 19.1188 42.9946C20.1426 42.9946 21.2032 42.9209 22.2261 42.8103C24.0543 42.5892 25.6633 42.1478 27.6371 41.2281C29.3925 40.4919 32.7191 39.2036 36.1922 39.0571H37.9108C39.0811 39.0571 40.1409 39.094 41.1278 39.2045C41.7498 37.6583 42.0787 36.0024 42.0787 34.3096C42.0787 31.9911 41.4936 29.6348 40.2146 27.4269L28.4056 6.74219L16.523 27.4269C13.5254 32.6905 14.4026 38.7632 17.6564 42.9228C17.6564 42.9473 17.6687 42.9473 17.6933 42.9228V42.9209ZM21.0567 38.6148C21.8243 38.6148 22.4095 39.2036 22.4095 39.9768C22.4095 40.7499 21.8243 41.3387 21.0567 41.3387C20.2891 41.3387 19.704 40.713 19.704 39.9768C19.704 39.2036 20.3251 38.6148 21.0567 38.6148ZM19.046 39.4616C19.046 39.8293 18.7539 40.1242 18.3881 40.1242C18.0222 40.1242 17.7301 39.8293 17.7301 39.4616C17.7301 39.094 18.0222 38.7991 18.3881 38.7991C18.7539 38.7991 19.046 39.093 19.046 39.4616ZM18.0591 36.9957C18.3512 36.9957 18.5715 37.2169 18.5715 37.5108C18.5715 37.7689 18.3521 37.9891 18.0591 37.9891C17.8029 37.9891 17.5836 37.7679 17.5836 37.5108C17.5836 37.2169 17.8029 36.9957 18.0591 36.9957Z" fill="#7982C5"/>
<path d="M15.2839 46.8626C17.8098 47.5703 20.33 47.6339 22.8872 47.5518C25.4434 47.4551 28.1627 46.6119 30.3679 45.6563C32.5242 44.6685 34.4335 44.0686 36.6598 43.8456C38.8558 43.5738 41.1659 43.5618 43.3222 43.8336C45.4859 44.0833 47.5998 45.0002 50.0657 45.6388C52.5252 46.2332 55.0501 46.2442 57.4275 45.8139C55.0381 45.3716 52.7436 44.839 50.6923 43.8152C48.6577 42.8679 46.5115 41.4469 43.9415 40.8314C41.4157 40.12 38.8945 40.0619 36.3373 40.1393C33.7829 40.2435 31.059 41.0737 28.8557 42.0367C26.6994 43.031 24.7891 43.6263 22.5647 43.8566C20.3687 44.1266 18.0586 44.1442 15.9014 43.8723C13.7368 43.6226 11.6229 42.7066 9.15878 42.0662C6.70116 41.4681 4.17628 41.4571 1.79883 41.8847C4.18826 42.3233 6.48369 42.8568 8.53493 43.8797C10.5705 44.8279 12.7167 46.2498 15.2858 46.8635L15.2839 46.8626Z" fill="#7982C5"/>
<path d="M45.5274 45.9915C43.0016 45.2802 40.4804 45.2221 37.9233 45.2995C35.3689 45.4036 32.6449 46.2339 30.4417 47.1969C28.2854 48.1911 26.3751 48.7864 24.1506 49.0168C21.9547 49.2868 19.6445 49.3043 17.4873 49.0325C15.3227 48.7827 13.2088 47.8668 10.7447 47.2263C8.28712 46.6283 5.76222 46.6172 3.38477 47.0448C5.7742 47.4834 8.06965 48.017 10.1209 49.0398C12.1555 49.9881 14.3026 51.4099 16.8717 52.0236C19.3976 52.7313 21.9178 52.7949 24.475 52.7129C27.0312 52.6162 29.7505 51.773 31.9557 50.8174C34.112 49.8296 36.0213 49.2297 38.2476 49.0067C40.4435 48.7348 42.7537 48.7228 44.91 48.9947C47.0737 49.2444 49.1876 50.1613 51.6535 50.7999C54.113 51.3943 56.6369 51.4053 59.0153 50.975C56.6259 50.5327 54.3314 50 52.2801 48.9763C50.2455 48.029 48.0993 46.608 45.5293 45.9925L45.5274 45.9915Z" fill="#7982C5"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyJ2HyWGlx"
        class="gyJ2HyWGlx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756189579565"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyJ2HyWGlx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-581598922812687116 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=581598797520438004&sectionId=581598922812687116)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwi4Z6R92L_text","label":"ggwi4Z6R92L_text","default":"<p>Hair Growth</p>"},{"type":"html","id":"ggcQfiG1Iwf_text","label":"ggcQfiG1Iwf_text","default":"<p>Root Strength</p>"},{"type":"html","id":"ggqnaxYcAQp_text","label":"ggqnaxYcAQp_text","default":"<p>Shine Boost</p>"},{"type":"html","id":"ggEwRt_wStZ_text","label":"ggEwRt_wStZ_text","default":"<p>DHT Defense</p>"},{"type":"html","id":"ggyJ2HyWGlx_text","label":"ggyJ2HyWGlx_text","default":"<p>Scalp Balance</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  