<link rel="stylesheet" href="{{ 'polaroid-slider.css' | asset_url }}">
<script type="text/javascript" src="{{ 'swiper-polaroid-slider.js' | asset_url }}" defer></script>

<section class="section-polaroid-slider" style="background-color: {{ section.settings.background-color }}">
    <div class="headline-wrapper">
      <h2 class="headline">
          {{ section.settings.slider-headline }}
      </h2>
      <h3 class="subline">
        {{ section.settings.slider-subline }}
      </h3>
    </div>
    
    <div class="slider-container">
      <!-- Navigation Arrows -->
      <div class="swiper-button-prev"></div>
      
      <div class="slider-wrapper">
        <div class="slider swiper">
          <div class="swiper-wrapper">
            {%- for slider in section.blocks -%}
              <div class="swiper-slide">
                <div class="polaroid">
                  <div class="image">
                    <img src="{{ slider.settings.image | img_url: '350x' }}" alt="" {% if forloop.index >= 4 and forloop.index < forloop.length %} loading="lazy"{% endif %}>
                  </div>
                  <div class="headlines">
                    <h2>{{ slider.settings.item-headline }}</h2>
                    <h3>{{ slider.settings.item-subline }}</h3>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
      
      <div class="swiper-button-next"></div>
    </div>
</section>

{% schema %}
{
  "name": "Polaroid Slider",
  "settings": [
    {
      "type": "color",
      "id": "background-color",
      "label": "Background color",
      "default": "#F2F8F5"
    },
    {
      "type": "text",
      "id": "slider-headline",
      "label": "Headline",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "slider-subline",
      "label": "Subline",
      "default": "Subline"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Polaroid item",
      "settings": [	
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "item-headline",
          "label": "Item Headline",
          "default": "Headline"
        },
        {
          "type": "text",
          "id": "item-subline",
          "label": "Item Subline",
          "default": "Subline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Polaroid Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}