{{ "bs-slideshow.css" |  asset_url | stylesheet_tag }}

{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "setGallerySize": {% if section.settings.show_fullscreen %}false{% else %}true{% endif %},
  "adaptiveHeight": {% if section.settings.show_fullscreen %}false{% else %}true{% endif %},
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Slideshow--versionB">
    <img class="Slideshow--versionB__background" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Dental-Spray-5.jpg?v=1714417937" alt="Dog and owner">
    <div class="Slideshow--versionB__content">
      <svg class="Slideshow--versionB__content__background--mobile" xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="0 0 375 354" fill="none">
      <path d="M456.219 173.202C456.219 230.435 465.54 363.222 420.439 401.949C371.261 444.178 139.704 458 62.0647 458C-86.7772 458 -102.984 336.269 -102.984 216.628C-102.984 96.9878 -109.984 10.9999 166.518 -7.62939e-05C244.767 -7.62939e-05 323.685 7.39172 372.919 50.2017C434.091 100.698 456.219 116.458 456.219 173.202Z" fill="#F2F8F5"/>
      </svg>
      <svg class="Slideshow--versionB__content__background--desktop" xmlns="http://www.w3.org/2000/svg" width="1440" height="369" viewBox="0 0 1440 369" fill="none">
      <path d="M792 108C459.5 -54.5003 100 -15.0001 -25.5 108V381.5L1489 425V47.5001C1361.83 195.333 1124.5 270.5 792 108Z" fill="#F2F8F5"/>
      </svg>
      <img class="Slideshow--verisonB__comparison-image" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Vorher_Nachher_TLH_2.png?v=1722515107" alt="before and after">
      <div class="Slideshow--versionB__content-box">
        <div class="Slideshow--verisonB__testimonials">
          {% render 'bs-icon-profile-bubbles' %}
          <span>
            <strong>11.000+ Hundebesitzer</strong> berichten von sichtbaren Verbesserungen <br/> und hervorragender Wirkung
          </span>
        </div>
        <h2 class="Slideshow--versionB__title">
          Kinderleichte Zahnpflege für Hunde!
        </h2>
        <p class="Slideshow--versionB__description">
          Einfach aufs Futter sprühen und Zahnbelag selbst entfernen… 100% natürlich dank probiotischen Mikroorganismen!
        </p>
        <a href="https://tierliebhaber.de/collections/zahnpflege/products/dentalspray" class="Slideshow--versionB__cta-button Button Button--primary">Zum Dentalspray</a>
      </div>
    </div>
  </div>

  <span id="section-{{ section.id }}-end" class="Anchor"></span>
</section>

<style>
  #section-{{ section.id }} .Heading,
   #section-{{ section.id }} .flickity-page-dots {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .Button {
    box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.1);
    text-transform: none;
    border-radius: 8px;
  }

  #section-{{ section.id }} .Button::before {
    display: none;
  }
</style>

{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section--slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_fullscreen",
      "label": "Show full-screen images",
      "info": "If enabled, images will be resized to fit the entire screen.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show bottom arrow",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text",
      "default": "#363636"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 800px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped."
        },
        {
          "type": "checkbox",
          "id": "apply_overlay",
          "label": "Apply overlay on image",
          "info": "This can improve text visibility.",
          "default": true
        },
        {
          "type": "range",
          "id": "content_offset_mobile_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Content Offset Left (mobile)"
        },
        {
          "type": "range",
          "id": "content_offset_mobile_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Content Offset Top (mobile)"
        },
        {
          "type": "range",
          "id": "content_offset_desktop_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Content Offset Left (desktop)"
        },
        {
          "type": "range",
          "id": "content_offset_desktop_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Content Offset Top (desktop)"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "middleLeft",
              "label": "Middle left"
            },
            {
              "value": "middleCenter",
              "label": "Middle center"
            },
            {
              "value": "middleRight",
              "label": "Middle right"
            },
            {
              "value": "bottomLeft",
              "label": "Bottom left"
            },
            {
              "value": "bottomCenter",
              "label": "Bottom center"
            },
            {
              "value": "bottomRight",
              "label": "Bottom right"
            }
          ],
          "default": "middleCenter"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Slide title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Tell your story"
        },
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_2_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "select",
          "id": "button_font",
          "label": "Button Font",
          "options": [
            {
              "value": "Poppins",
              "label": "Poppins"
            },
            {
              "value": "Sweet Purple",
              "label": "Sweet Purple"
            }
          ],
          "default": "Poppins"
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 60,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 35
        },
        {
          "type": "range",
          "id": "button_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Font Weight",
          "default": 400
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background Color",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
